<form id="custom-url-form" class="grid">
    <div class="form-group grid-row">
        <label for="custom-url-title"><%= translations.title %></label>
        <input type="text"
               id="custom-url-title"
               name="title"
               class="form-element input-bold"
               data-mapper-property="title"
               data-validation-required="true"
               data-validation-min-length="3"/>
    </div>

    <div class="grid-row">
        <span class="content">
            <div data-form="true"
                 id="custom-url-published"
                 data-type="toggler"
                 data-mapper-property="published"></div>
        </span>

        <label for="custom-url-published" style="display: inline;">
            <%= translations.published %>
        </label>
    </div>

    <div class="grid-row">
        <label for="custom-url-base-domain">
            <%= translations.baseDomain %>
        </label>

        <div id="custom-url-base-domain" data-form="true" data-type="husky-select"
             data-mapper-property="baseDomain" data-mapper-return-value="value"></div>
    </div>

    <div class="grid-row">
        <label for="custom-url-input">
            <%= translations.customUrl %>
        </label>

        <div id="custom-url-input" data-form="true" data-type="custom-url" data-mapper-property="domainParts"></div>
    </div>
</form>
