@import 'sulu-admin-bundle/containers/Application/variables.scss';

.overlay {
    width: 1170px;
    padding: $viewPadding;
    display: flex;

    @media (max-width: 1280px) {
        width: 900px;
    }

    @media (max-width: 1024px) {
        width: 630px;
    }

    @media (max-width: 720px) {
        width: 360px;
    }
}
