/*----------------------------------------*/
/* line 2, ../scss/modules/target-group-details.scss */
#target-group-form textarea.small {
  min-height: 3.5em;
  height: 3.5em;
}

/* line 2, ../scss/modules/target-group-conditions.scss */
.condition-list .grid-row {
  line-height: 30px;
}
/* line 5, ../scss/modules/target-group-conditions.scss */
.condition-list .grid-row .remove {
  cursor: pointer;
}
