@import '../../containers/Application/colors.scss';
$titleColor: $black;

.container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

    &:first-child {
        padding-top: 20px;
    }

    &:last-child {
        padding-bottom: 20px;
    }

    &:not(:first-child) {
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }
}

.children {
    padding: 10px 0;
}

.title {
    color: $titleColor;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;

    &:last-child {
        margin-bottom: 0;
    }
}
