/*----------------------------------------*/
/* line 1, ../scss/modules/preview.scss */
.sulu-content-preview {
  width: 100%;
  height: 100%;
  border-left: 1px solid #666;
  overflow: auto;
  background: #999999;
}
/* line 8, ../scss/modules/preview.scss */
.sulu-content-preview iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
/* line 15, ../scss/modules/preview.scss */
.sulu-content-preview.auto .viewport {
  width: 100%;
  height: 100%;
}
/* line 21, ../scss/modules/preview.scss */
.sulu-content-preview.desktop .viewport {
  width: 1024px;
  height: 100%;
}
/* line 27, ../scss/modules/preview.scss */
.sulu-content-preview.smartphone .wrapper {
  position: relative;
  top: 50%;
  margin: -568px auto 0 auto;
  width: 320px;
  height: 568px;
}
/* line 34, ../scss/modules/preview.scss */
.sulu-content-preview.smartphone .viewport {
  position: relative;
  top: 50%;
  width: 640px;
  height: 1136px;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}
/* line 44, ../scss/modules/preview.scss */
.sulu-content-preview.tablet .wrapper {
  position: relative;
  top: 50%;
  margin: -512px auto 0 auto;
  width: 768px;
  height: 1024px;
}
/* line 51, ../scss/modules/preview.scss */
.sulu-content-preview.tablet .viewport {
  width: 1536px;
  height: 2048px;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}

/* line 60, ../scss/modules/preview.scss */
.sulu-preview-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  height: 30px;
  color: #fff;
  font-weight: 100;
}
/* line 69, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right {
  float: right;
  background: #21272E;
  height: 100%;
  border-radius: 0 0 0 3px;
}
/* line 75, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .new-window {
  width: 30px;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  height: 30px;
  font-size: 18px;
  padding-left: 2px;
  line-height: 24px;
}
/* line 86, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions {
  border-right: 1px solid #fff;
}
/* line 88, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .drop-down-trigger {
  color: #fff;
  padding: 5px 10px;
}
/* line 93, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .dropdown-toggle {
  display: inline-block;
}
/* line 95, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .dropdown-toggle::after {
  top: -1px;
  margin-left: 5px;
  margint-right: 0;
  border-top: 6px solid #fff;
}
/* line 103, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .dropdown-menu {
  background: #21272E;
  color: #fff;
  z-index: 105;
  top: 35px;
  left: -5px;
  border: 0;
  width: 100%;
}
/* line 115, ../scss/modules/preview.scss */
.sulu-preview-toolbar .left {
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: #21272E;
  text-align: center;
  line-height: 28px;
  border-radius: 0 0 0 2px;
  font-size: 20px;
  line-height: 32px;
}

@media only screen and (max-width: 780px) {
  /* line 132, ../scss/modules/preview.scss */
  .sulu-preview-toolbar .resolutions {
    display: none;
  }
  /* line 135, ../scss/modules/preview.scss */
  .sulu-preview-toolbar .new-window {
    border-radius: 0 0 0 2px;
  }
}
/* line 1, ../scss/modules/general.scss */
#language-selector {
  width: 95px;
}

/* line 5, ../scss/modules/general.scss */
.sortable-placeholder {
  margin-bottom: 20px;
}

/* smart content extension for internal links */
/* line 11, ../scss/modules/general.scss */
.smart-header .add {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 16px;
  line-height: 15px;
  color: white;
  background-color: #52b6ca;
  padding: 5px 10px;
  border: 0px solid #ccc;
  border-radius: 2px;
}

/* line 27, ../scss/modules/general.scss */
.internal-links-overlay .overlay-header {
  margin-bottom: 1px;
}
/* line 30, ../scss/modules/general.scss */
.internal-links-overlay .overlay-content {
  margin: 0px;
}
/* line 34, ../scss/modules/general.scss */
.internal-links-overlay .overlay-footer {
  margin: 0px;
}

/* line 2, ../scss/modules/seo.scss */
#seo-form .inline-input {
  width: 30px;
}
/* line 6, ../scss/modules/seo.scss */
#seo-form .inline-label {
  display: inline;
  color: black;
  position: relative;
  top: -8px;
  left: -10px;
}

/* line 2, ../scss/modules/resource-locator.scss */
.resource-locator input {
  width: 200px;
}
/* line 5, ../scss/modules/resource-locator.scss */
.resource-locator .show {
  padding-left: 5px;
}
/* line 8, ../scss/modules/resource-locator.scss */
.resource-locator .show .icon {
  font-size: 14px;
  padding-right: 2px;
}
/* line 13, ../scss/modules/resource-locator.scss */
.resource-locator .loader {
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 5px;
}

/* line 20, ../scss/modules/resource-locator.scss */
.resource-locator-history {
  list-style-type: none;
  padding: 0 40px 0 30px;
}
/* line 24, ../scss/modules/resource-locator.scss */
.resource-locator-history::after {
  display: table;
  content: "";
  clear: both;
}
/* line 30, ../scss/modules/resource-locator.scss */
.resource-locator-history li::after {
  clear: both;
}
/* line 37, ../scss/modules/resource-locator.scss */
.resource-locator-history .url,
.resource-locator-history .date,
.resource-locator-history .options-restore,
.resource-locator-history .options-delete {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 45, ../scss/modules/resource-locator.scss */
.resource-locator-history .url,
.resource-locator-history .date {
  float: left;
  width: 45%;
}
/* line 50, ../scss/modules/resource-locator.scss */
.resource-locator-history .options-restore {
  float: left;
  width: 5%;
  text-align: center;
}
/* line 56, ../scss/modules/resource-locator.scss */
.resource-locator-history .options-delete {
  float: right;
  width: 5%;
  text-align: center;
}
/* line 62, ../scss/modules/resource-locator.scss */
.resource-locator-history .url {
  text-align: left;
}
/* line 65, ../scss/modules/resource-locator.scss */
.resource-locator-history .date {
  text-align: center;
}
