/*----------------------------------------*/
/* line 1, ../scss/modules/preview.scss */
.sulu-content-preview {
  width: 100%;
  height: 100%;
  border-left: 1px solid #666;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}
/* line 9, ../scss/modules/preview.scss */
.sulu-content-preview::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
/* line 17, ../scss/modules/preview.scss */
.sulu-content-preview .wrapper {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
}
/* line 24, ../scss/modules/preview.scss */
.sulu-content-preview iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
/* line 31, ../scss/modules/preview.scss */
.sulu-content-preview.auto .wrapper {
  width: 100%;
  height: 100%;
}
/* line 35, ../scss/modules/preview.scss */
.sulu-content-preview.auto .viewport {
  width: 100%;
  height: 100%;
}
/* line 40, ../scss/modules/preview.scss */
.sulu-content-preview.desktop {
  background: #999999;
}
/* line 42, ../scss/modules/preview.scss */
.sulu-content-preview.desktop .wrapper {
  width: 100%;
  height: 100%;
}
/* line 46, ../scss/modules/preview.scss */
.sulu-content-preview.desktop .viewport {
  width: 1024px;
  height: 100%;
}
/* line 51, ../scss/modules/preview.scss */
.sulu-content-preview.smartphone {
  background: #999999;
}
/* line 53, ../scss/modules/preview.scss */
.sulu-content-preview.smartphone .wrapper {
  width: 378px;
  height: 794px;
  background-image: url("../img/smartphone_portrait.png");
  background-size: 378px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 115px;
  padding-left: 30px;
}
/* line 63, ../scss/modules/preview.scss */
.sulu-content-preview.smartphone .viewport {
  width: 320px;
  height: 568px;
}
/* line 68, ../scss/modules/preview.scss */
.sulu-content-preview.tablet {
  background: #999999;
}
/* line 70, ../scss/modules/preview.scss */
.sulu-content-preview.tablet .wrapper {
  width: 836px;
  height: 1282px;
  background-image: url("../img/tablet_portrait.png");
  background-size: 836px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 122px;
  padding-left: 30px;
}
/* line 80, ../scss/modules/preview.scss */
.sulu-content-preview.tablet .viewport {
  width: 768px;
  height: 1024px;
}

/* line 87, ../scss/modules/preview.scss */
.sulu-preview-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  height: 30px;
  color: #fff;
  font-weight: 100;
}
/* line 96, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right {
  background: #21272E;
  height: 100%;
  border-radius: 0 0 0 3px;
}
/* line 101, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .new-window {
  width: 30px;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  height: 30px;
  font-size: 18px;
  padding-left: 2px;
  line-height: 24px;
}
/* line 112, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions {
  border-right: 1px solid #fff;
  min-width: 125px;
}
/* line 115, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .drop-down-trigger {
  color: #fff;
  padding: 5px 10px;
}
/* line 120, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .dropdown-toggle {
  display: inline-block;
}
/* line 122, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .dropdown-toggle::after {
  top: -1px;
  margin-left: 5px;
  margint-right: 0;
  border-top: 6px solid #fff;
}
/* line 130, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .dropdown-menu {
  background: #21272E;
  color: #fff;
  z-index: 105;
  top: 35px;
  left: -5px;
  border: 0;
  width: 100%;
}
/* line 142, ../scss/modules/preview.scss */
.sulu-preview-toolbar .left {
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: #21272E;
  text-align: center;
  line-height: 28px;
  border-radius: 0 0 0 2px;
  font-size: 20px;
  line-height: 32px;
}

@media only screen and (max-width: 780px) {
  /* line 159, ../scss/modules/preview.scss */
  .sulu-preview-toolbar .resolutions {
    display: none;
  }
  /* line 162, ../scss/modules/preview.scss */
  .sulu-preview-toolbar .new-window {
    border-radius: 0 0 0 2px;
  }
}
/* line 1, ../scss/modules/general.scss */
#language-selector {
  width: 95px;
}

/* line 5, ../scss/modules/general.scss */
.sortable-placeholder {
  margin-bottom: 20px;
}

/* smart content extension for internal links */
/* line 11, ../scss/modules/general.scss */
.smart-header .add {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 16px;
  line-height: 15px;
  color: white;
  background-color: #52b6ca;
  padding: 5px 10px;
  border: 0px solid #ccc;
  border-radius: 2px;
}

/* line 29, ../scss/modules/general.scss */
.internal-links-overlay .overlay-header,
.single-internal-overlay .overlay-header,
.overlay-container .overlay-header {
  margin-bottom: 1px;
}
/* line 32, ../scss/modules/general.scss */
.internal-links-overlay .overlay-content,
.single-internal-overlay .overlay-content,
.overlay-container .overlay-content {
  margin: 0px;
}
/* line 36, ../scss/modules/general.scss */
.internal-links-overlay .overlay-footer,
.single-internal-overlay .overlay-footer,
.overlay-container .overlay-footer {
  margin: 0px;
}

/* smart content for column view */
/* line 42, ../scss/modules/general.scss */
.column-navigation-wrapper {
  overflow: inherit;
}

/* line 1, ../scss/modules/seo.scss */
.seo-excerpt {
  background: #fff;
  width: 440px;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 8, ../scss/modules/seo.scss */
.seo-excerpt .title {
  color: #1111BD;
  font-size: 16px;
}
/* line 12, ../scss/modules/seo.scss */
.seo-excerpt .url {
  color: #307F3A;
  font-size: 12px;
  line-height: 15px;
}
/* line 17, ../scss/modules/seo.scss */
.seo-excerpt .description {
  font-size: 14px;
  color: #000;
  line-height: 16px;
}

/* line 2, ../scss/modules/resource-locator.scss */
.resource-locator input {
  width: 200px;
}
/* line 5, ../scss/modules/resource-locator.scss */
.resource-locator .show {
  padding-left: 5px;
}
/* line 8, ../scss/modules/resource-locator.scss */
.resource-locator .show .icon {
  font-size: 14px;
  padding-right: 2px;
}
/* line 13, ../scss/modules/resource-locator.scss */
.resource-locator .loader {
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 5px;
}

/* line 20, ../scss/modules/resource-locator.scss */
.resource-locator-history {
  list-style-type: none;
  padding: 0 40px 0 30px;
}
/* line 24, ../scss/modules/resource-locator.scss */
.resource-locator-history::after {
  display: table;
  content: "";
  clear: both;
}
/* line 30, ../scss/modules/resource-locator.scss */
.resource-locator-history li::after {
  clear: both;
}
/* line 37, ../scss/modules/resource-locator.scss */
.resource-locator-history .url,
.resource-locator-history .date,
.resource-locator-history .options-restore,
.resource-locator-history .options-delete {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 45, ../scss/modules/resource-locator.scss */
.resource-locator-history .url,
.resource-locator-history .date {
  float: left;
  width: 45%;
}
/* line 50, ../scss/modules/resource-locator.scss */
.resource-locator-history .options-restore {
  float: left;
  width: 5%;
  text-align: center;
}
/* line 56, ../scss/modules/resource-locator.scss */
.resource-locator-history .options-delete {
  float: right;
  width: 5%;
  text-align: center;
}
/* line 62, ../scss/modules/resource-locator.scss */
.resource-locator-history .url {
  text-align: left;
}
/* line 65, ../scss/modules/resource-locator.scss */
.resource-locator-history .date {
  text-align: center;
}
