#contact-form, #account-form {
    .image {
        position: relative;
        background-color: $white;
        text-align: center;

        &.no-default {
            .image-default {
                display: none;
            }
        }

        .image-default {
            font-size: 250px;
            color: $grayLighterer;
            position: relative;
            top: 15px;
        }

        #image-content, #image-dropzone {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        #image-content {
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

#contact-form {
    .image {
        #image-content {
            @include background-size(cover);
        }
    }
}

#account-form {
    .image {
        #image-content {
            @include background-size(cover);
        }
    }
}

#image-delete {
    z-index: 100;
    width: 30px;
    position: relative;

    display: none;

    border-radius: $borderRadius;
    font-size: 12px;
    color: white;
    background-color: $highlightColor;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

#image-download {
    z-index: 100;
    width: 30px;
    position: relative;

    display: none;

    border-radius: $borderRadius;
    font-size: 12px;
    color: white;
    background-color: $highlightColor;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.no-default {
    #image-delete {
        display: inline-block;
        left: 150px;
        top: 240px;
    }
    #image-download {
        display: inline-block;
        left: 80px;
        top: 240px;
    }
}
