#contact-form {
  .image {
    position: relative;
    background-color: $white;
    text-align: center;

    .avatar-default {
      font-size: 250px;
      color: $grayLighterer;
      position: relative;
      top: 15px;
    }

    #avatar, #avatar-dropzone {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #avatar {
      @include background-size(cover);
    }
  }
}
