#contact-form, #account-form, #financials-form {
  img.logo {
    padding-top: 30px;
    max-height: 140px;
  }

  .highlight-section .content {
      padding: 20px $contentPaddingRight 0 20px;
  }

  .control-label {
    padding-left: 5px;
    padding-right: 10px;
    cursor: pointer;
  }

  div.remove-email,
  div.remove-phone,
  div.remove-address {
    display: none;
  }

  #phones div:hover > div.remove-phone,
  #addresses div:hover > div.remove-address,
  #emails div:hover > div.remove-email {
    display: block;
  }

  #emails .husky-validate-success label::after,
  #phones .husky-validate-success label::after,
  #addresses .husky-validate-success label::after {
    content: "";
  }

  .m-left-140 {
    margin-left: 140px;
  }

  .bank-account-remove,
  .address-remove {
    display: none;
    padding: 3px;
  }

  .address-row {
    padding-top: 5px;

  }
  .bank-account-row:hover .bank-account-remove,
  .address-row:hover .address-remove {
    display: inline;
  }

}

.dark-divider {
  height: 0;
  margin: 0 0 20px 0;
  border: 0;
  outline: none;
  border-bottom: 1px solid $grayLighter;
}

#contact-options-dropdown {
  display: block;
  cursor: pointer;
}

#contact-edit-form {
  .comma-before {
    &:before {
      content: ',';
      margin-left: -4px; // this is a fix for parent controller dividing child spans 4px when set to display:inline-block;
      margin-right: 4px;
    }
  }

  label {
    line-height: 14px;
    text-overflow: hidden;
    &.hidden {
      display: none;
    }
  }
}

#categories .husky-datagrid .husky-table {
  overflow: auto;
  max-height: 350px;
}

.form-horizontal .form-group .checkbox-container-left {
  text-align: left;
  width: 35px;
}
