#contact-form {
  img.logo {
    padding-top: 30px;
    max-height: 140px;
  }

  .control-label {
    padding-left: 5px;
    padding-right: 10px;
    cursor: pointer;
  }

  div.remove-email,
  div.remove-phone,
  div.remove-address {
    display: none;
  }

  #phones div:hover > div.remove-phone,
  #addresses div:hover > div.remove-address,
  #emails div:hover > div.remove-email {
    display: block;
  }

  #emails .husky-validate-success label::after,
  #phones .husky-validate-success label::after,
  #addresses .husky-validate-success label::after {
    content: "";
  }

  .address-add {
     margin-left:140px;
     height: 30px;
     padding: 3px;
  }

  .address-remove {
    display: none;
    padding: 3px;
  }

  .address-row:hover .address-remove {
    display:inline;
  }

}

.dark-divider {
    height: 0;
    margin:0 0 20px 0;
    border: 0;
    outline:none;
    border-bottom:1px solid #ccc;
}

#contact-options-dropdown {
    display: none;

    &.is-active {
        display: block;
    }
}

#contact-edit-form {
    &:hover {
        #contact-options-dropdown {
            display: block;
        }
    }

    .comma-before {
        &:before {
            content: ',';
            margin-left: -4px; // this is a fix for parent controller dividing child spans 4px when set to display:inline-block;
            margin-right: 4px;
        }
    }

    label {
        line-height:14px;
        text-overflow: hidden;
    }

    .label-container {
        display: block;
        font-size: 11px;
    }
}

.type-value {
    &:before {
        content: '(';
    }
    &:after {
        content: ')';
    }
}
