/*----------------------------------------*/
/* line 1, ../scss/modules/collection.scss */
.list-toolbar-container {
  margin-top: 20px;
}

/* line 5, ../scss/modules/collection.scss */
.children-container {
  margin-top: -10px;
  margin-bottom: 40px;
}

/* line 10, ../scss/modules/collection.scss */
#collections-root.no-content {
  text-align: center;
  height: 210px;
}
/* line 14, ../scss/modules/collection.scss */
#collections-root.no-content .icon {
  display: block;
  left: 50%;
  line-height: 125px;
  font-size: 125px;
  color: #e4e4e4;
}
/* line 21, ../scss/modules/collection.scss */
#collections-root.no-content .text {
  font-weight: bold;
  color: #e4e4e4;
  font-size: 24px;
  margin-top: 20px;
}

/* line 30, ../scss/modules/collection.scss */
.dropzone-container .husky-dropzone {
  display: none;
}
/* line 35, ../scss/modules/collection.scss */
.dropzone-container .husky-overlay-container .husky-dropzone {
  display: block;
}

/* line 42, ../scss/modules/collection.scss */
.sticky-toolbar.fixed .list-toolbar-container.collection {
  width: 92.75%;
}

/* line 48, ../scss/modules/collection.scss */
.toolbar-hidden .collection-header-container {
  top: -60px;
}

/* line 5, ../scss/modules/masonry-decorator.scss */
.masonry-container .empty-list {
  background: none;
}
/* line 9, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-grid {
  margin-bottom: -20px;
  position: relative;
  text-align: center;
}
/* line 15, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-item {
  box-shadow: 0 0 10px -10px rgba(0, 0, 0, 0.2);
  width: 260px;
  background-color: #fff;
  opacity: 1;
  border-radius: 3px;
  border: 1px solid #fff;
  -moz-transition: opacity 100ms, box-shadow 200ms;
  -o-transition: opacity 100ms, box-shadow 200ms;
  -webkit-transition: opacity 100ms, box-shadow 200ms;
  transition: opacity 100ms, box-shadow 200ms;
}
/* line 31, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-item.loading {
  opacity: 0;
}
/* line 35, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-item .action-navigator, .masonry-container .masonry-item .download-navigator, .masonry-container .masonry-item .play-video-navigator {
  cursor: pointer;
  color: #000;
}
/* line 40, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-item .custom-checkbox {
  width: 0;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  -moz-transition: width 80ms, margin 80ms;
  -o-transition: width 80ms, margin 80ms;
  -webkit-transition: width 80ms, margin 80ms;
  transition: width 80ms, margin 80ms;
}
/* line 48, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-item:hover {
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
}
/* line 51, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-item:hover .custom-checkbox {
  width: 15px;
  margin-right: 8px;
}
/* line 56, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-item:hover .masonry-info .icons > *::before {
  color: #000;
}
/* line 61, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-item.selected {
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
}
/* line 63, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-item.selected .custom-checkbox {
  width: 15px;
  margin-right: 8px;
}
/* line 69, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-item.no-image .masonry-image {
  background: #ddd;
}
/* line 74, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-image {
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  background: url("../img/checked.gif") repeat;
  position: relative;
}
/* line 82, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-image .image-icon {
  color: white;
  font-size: 70px;
  margin: 30px;
}
/* line 88, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-image .image {
  position: relative;
  left: 0;
  vertical-align: middle;
  border-radius: 0 0 3px 3px;
  -moz-transition: -moz-transform 200ms;
  -o-transition: -o-transform 200ms;
  -webkit-transition: -webkit-transform 200ms;
  transition: transform 200ms;
}
/* line 97, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-image:hover .image {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 103, ../scss/modules/masonry-decorator.scss */
.masonry-container .edit-hint {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}
/* line 112, ../scss/modules/masonry-decorator.scss */
.masonry-container .edit-hint::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  border-radius: 0 0 3px 3px;
}
/* line 125, ../scss/modules/masonry-decorator.scss */
.masonry-container .edit-hint span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}
/* line 132, ../scss/modules/masonry-decorator.scss */
.masonry-container .edit-hint:hover {
  opacity: 1;
}
/* line 137, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-info {
  height: 80px;
  text-align: left;
  padding: 20px 20px 0 20px;
  position: relative;
}
/* line 143, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-info .main {
  font-size: 0;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 150, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-info .title {
  font-size: 14px;
}
/* line 154, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-info .description {
  font-size: 12px;
  line-height: 12px;
  color: #999;
}
/* line 160, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-info .icons {
  position: absolute;
  bottom: 5px;
  right: 20px;
}
/* line 166, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-info .icons > * {
  display: inline-block;
  margin-left: 5px;
}
/* line 171, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-info .icons > *::before {
  color: transparent;
}
/* line 175, ../scss/modules/masonry-decorator.scss */
.masonry-container .masonry-info .badge {
  margin-top: -11px;
  margin-right: 3px;
}

/* line 1, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay {
  height: 500px;
}
@media (min-width: 900px) {
  /* line 5, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay, .media-selection-overlay .slides .slide, .media-selection-overlay .slides .slide .overlay-footer {
    width: 860px;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay, .media-selection-overlay .slides .slide, .media-selection-overlay .slides .slide .overlay-footer {
    width: 1140px;
  }
}
@media (min-width: 1600px) {
  /* line 15, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay, .media-selection-overlay .slides .slide, .media-selection-overlay .slides .slide .overlay-footer {
    width: 1420px;
  }
}
/* line 21, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .slide.media-selection-overlay {
  height: 429px;
}
/* line 24, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .list-container, .media-selection-overlay .navigation-container {
  height: 328px;
}
@media (min-height: 700px) {
  /* line 1, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay {
    height: 600px;
  }
  /* line 29, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay .slide.media-selection-overlay {
    height: 529px;
  }
  /* line 32, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay .list-container, .media-selection-overlay .navigation-container {
    height: 428px;
  }
}
@media (min-height: 800px) {
  /* line 1, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay {
    height: 700px;
  }
  /* line 38, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay .slide.media-selection-overlay {
    height: 629px;
  }
  /* line 41, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay .list-container, .media-selection-overlay .navigation-container {
    height: 528px;
  }
}
@media (min-height: 900px) {
  /* line 1, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay {
    height: 800px;
  }
  /* line 47, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay .slide.media-selection-overlay {
    height: 729px;
  }
  /* line 50, ../scss/modules/media-selection-overlay.scss */
  .media-selection-overlay .list-container, .media-selection-overlay .navigation-container {
    height: 628px;
  }
}
/* line 56, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay.dropzone-overlay-opened .container .list-container {
  overflow: hidden;
}
/* line 61, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .dropzone-container {
  padding-right: 20px;
}
/* line 64, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .dropzone-container > .husky-dropzone {
  display: none;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* line 69, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .dropzone-container > .husky-dropzone.dropped {
  display: block;
}
/* line 74, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .dropzone-container > div {
  width: 100%;
}
/* line 77, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .dropzone-container .husky-overlay-wrapper {
  position: absolute;
}
/* line 80, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .dropzone-container .husky-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0;
  border: 0;
}
/* line 91, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .dropzone-container .husky-overlay-container .slide {
  width: 100%;
}
/* line 98, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .container .navigation-container {
  float: left;
  width: 250px;
}
/* line 103, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .container .list-container {
  float: right;
  position: relative;
  width: calc(100% - 250px);
  padding: 20px;
  overflow: auto;
}
/* line 111, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .container::before, .media-selection-overlay .container::after {
  content: " ";
  display: table;
}
/* line 116, ../scss/modules/media-selection-overlay.scss */
.media-selection-overlay .container::after {
  clear: both;
}

/* line 6, ../scss/modules/collection-select-overlay.scss */
.collection-select .overlay-header {
  margin-bottom: 0px;
}
/* line 10, ../scss/modules/collection-select-overlay.scss */
.collection-select .overlay-content {
  margin: 0;
}
/* line 14, ../scss/modules/collection-select-overlay.scss */
.collection-select .overlay-footer {
  margin-top: -2px;
}

/* line 1, ../scss/modules/media-edit-overlay.scss */
.media-edit-loader {
  margin: 50px 0;
}

/* line 5, ../scss/modules/media-edit-overlay.scss */
.media-edit-links {
  margin: 20px 0 0;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 11, ../scss/modules/media-edit-overlay.scss */
.media-edit-link {
  color: #999;
  display: block;
  padding: 15px 3px;
  border-bottom: 1px solid #ccc;
}
/* line 17, ../scss/modules/media-edit-overlay.scss */
.media-edit-link .fa-cloud-download {
  display: none;
}
/* line 22, ../scss/modules/media-edit-overlay.scss */
.media-edit-link:hover .fa-cloud-download {
  display: inline-block;
}
/* line 27, ../scss/modules/media-edit-overlay.scss */
.media-edit-link .media-edit-copied {
  color: #999;
}

/* line 32, ../scss/modules/media-edit-overlay.scss */
a.media-edit-link,
.media-edit-link a {
  color: #000;
  text-decoration: none;
}

/* line 39, ../scss/modules/media-edit-overlay.scss */
.active .media-edit-title {
  font-weight: bold;
}

/* line 44, ../scss/modules/media-edit-overlay.scss */
.media-edit-icons {
  float: right;
  color: #000;
  cursor: pointer;
}

/* line 50, ../scss/modules/media-edit-overlay.scss */
.media-edit-created {
  float: right;
  color: #999;
}

/* line 55, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image {
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
  position: relative;
}
/* line 62, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image.icon {
  color: #999;
  font-size: 150px;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
}
/* line 70, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image .file-version-change,
.media-edit-preview-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
}
/* line 79, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image #file-version-change {
  width: 100%;
  height: 100%;
}
/* line 83, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image #file-version-change .dropzone-container {
  width: 150px;
  height: 150px;
}

/* line 91, ../scss/modules/media-edit-overlay.scss */
#media-preview .media-edit-preview-image-container {
  background-color: #ddd;
  width: 250px;
  height: 250px;
}
/* line 97, ../scss/modules/media-edit-overlay.scss */
#media-preview .media-edit-preview-image {
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* line 103, ../scss/modules/media-edit-overlay.scss */
#media-preview #preview-image-change {
  width: 100%;
  height: 100%;
}
/* line 107, ../scss/modules/media-edit-overlay.scss */
#media-preview #preview-image-change .dropzone-container {
  width: 150px;
  height: 150px;
}

/* line 114, ../scss/modules/media-edit-overlay.scss */
.overlay-footer .btn.media-reset-preview-action.hide {
  display: none;
}

/* line 119, ../scss/modules/media-edit-overlay.scss */
#media-info textarea.description {
  height: 90px;
  min-height: 90px;
}
/* line 124, ../scss/modules/media-edit-overlay.scss */
#media-info .media-info-preview {
  text-align: center;
}
/* line 127, ../scss/modules/media-edit-overlay.scss */
#media-info .media-info-preview span.description {
  font-size: 12px;
  color: #999;
}

/* line 1, ../scss/modules/media-play-video-overlay.scss */
.media-play-video-container {
  width: 100%;
  text-align: center;
}
/* line 5, ../scss/modules/media-play-video-overlay.scss */
.media-play-video-container video {
  max-width: 100%;
}
