/* line 6, ../scss/modules/collection-list.scss */
#collections-list-container .toggle-all {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
}
/* line 10, ../scss/modules/collection-list.scss */
#collections-list-container .toggle-all .icon {
  font-size: 14px;
  color: #3E3E3E;
  margin-right: 5px;
}

/* line 1, ../scss/modules/collection.scss */
.datagrid-container {
  margin-top: 20px;
}

/* line 5, ../scss/modules/collection.scss */
.list-toolbar-container {
  margin-top: 20px;
}

/* line 9, ../scss/modules/collection.scss */
#collections-root.no-content {
  text-align: center;
  height: 210px;
}
/* line 13, ../scss/modules/collection.scss */
#collections-root.no-content .icon {
  display: block;
  left: 50%;
  line-height: 125px;
  font-size: 125px;
  color: #e4e4e4;
}
/* line 20, ../scss/modules/collection.scss */
#collections-root.no-content .text {
  font-weight: bold;
  color: #e4e4e4;
  font-size: 24px;
  margin-top: 20px;
}

/* line 6, ../scss/modules/media-selection.scss */
.media-selection-overlay-add .heading {
  width: 100%;
  border-bottom: 2px #ccc solid;
}
/* line 10, ../scss/modules/media-selection.scss */
.media-selection-overlay-add h3 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 15, ../scss/modules/media-selection.scss */
.media-selection-overlay-add .overlay-loader {
  margin: 20px 0;
}

/* line 6, ../scss/modules/collection-select.scss */
.collection-select .overlay-header {
  margin-bottom: 0px;
}
/* line 10, ../scss/modules/collection-select.scss */
.collection-select .overlay-content {
  margin-right: 0px;
  margin-bottom: 1px;
  margin-left: 0px;
}
/* line 16, ../scss/modules/collection-select.scss */
.collection-select .overlay-footer {
  margin-top: -1px;
}

/* line 1, ../scss/modules/media-edit.scss */
.media-edit-loader {
  margin: 50px 0;
}
