/*----------------------------------------*/
/* line 1, ../scss/modules/collection.scss */
.list-toolbar-container {
  margin-top: 20px;
}

/* line 5, ../scss/modules/collection.scss */
#collections-root.no-content {
  text-align: center;
  height: 210px;
}
/* line 9, ../scss/modules/collection.scss */
#collections-root.no-content .icon {
  display: block;
  left: 50%;
  line-height: 125px;
  font-size: 125px;
  color: #e4e4e4;
}
/* line 16, ../scss/modules/collection.scss */
#collections-root.no-content .text {
  font-weight: bold;
  color: #e4e4e4;
  font-size: 24px;
  margin-top: 20px;
}

/* line 25, ../scss/modules/collection.scss */
.dropzone-container .husky-dropzone {
  display: none;
}
/* line 30, ../scss/modules/collection.scss */
.dropzone-container .husky-overlay-container .husky-dropzone {
  display: block;
}

/* line 37, ../scss/modules/collection.scss */
.masonry-container .empty-list {
  background: none;
}
/* line 41, ../scss/modules/collection.scss */
.masonry-container #masonry-grid {
  margin-bottom: -20px;
  position: relative;
  text-align: center;
}
/* line 46, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item {
  width: 190px;
  background-color: #fff;
  border-radius: 3px;
  opacity: 1;
  -moz-transition: opacity 100ms, top 100ms, left 100ms;
  -o-transition: opacity 100ms, top 100ms, left 100ms;
  -webkit-transition: opacity 100ms, top 100ms, left 100ms;
  transition: opacity 100ms, top 100ms, left 100ms;
}
/* line 53, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item.loading {
  opacity: 0;
}
/* line 57, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item .masonry-head {
  background-color: #ddd;
  width: 100%;
}
/* line 61, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item .masonry-head .head-icon {
  color: white;
  font-size: 70px;
  margin: 30px;
}
/* line 67, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item .masonry-head .head-image {
  vertical-align: middle;
}
/* line 72, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item .masonry-info {
  width: 100%;
  height: 45px;
  margin-top: 10px;
}
/* line 77, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item .masonry-info span.description {
  font-size: 12px;
  color: #999;
}
/* line 83, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item .masonry-footer {
  width: 100%;
  height: 15px;
  margin-bottom: 10px;
  padding: 0 10px;
}
/* line 89, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item .masonry-footer .footer-checkbox {
  float: left;
}
/* line 93, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item .masonry-footer .footer-icon {
  position: relative;
  top: 2px;
  font-size: 17px;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}
/* line 103, ../scss/modules/collection.scss */
.masonry-container #masonry-grid .masonry-item .action-navigator, .masonry-container #masonry-grid .masonry-item .download-navigator {
  cursor: pointer;
  color: #000;
}

/* line 112, ../scss/modules/collection.scss */
.sticky-toolbar.fixed .list-toolbar-container.collection {
  width: 92.75%;
}

/* line 118, ../scss/modules/collection.scss */
.toolbar-hidden .collection-header-container {
  top: -60px;
}

/* line 5, ../scss/modules/media-selection.scss */
.media-selection-overlay-container,
.media-selection-overlay {
  width: 900px !important;
  height: 500px !important;
}
@media (max-width: 1024px) {
  /* line 5, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container,
  .media-selection-overlay {
    width: 690px !important;
  }
}
@media (min-width: 1600px) {
  /* line 5, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container,
  .media-selection-overlay {
    width: 1325px !important;
  }
}
@media (min-height: 700px) {
  /* line 5, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container,
  .media-selection-overlay {
    height: 600px !important;
  }
}
@media (min-height: 800px) {
  /* line 5, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container,
  .media-selection-overlay {
    height: 700px !important;
  }
}
@media (min-height: 900px) {
  /* line 5, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container,
  .media-selection-overlay {
    height: 800px !important;
  }
}

/* line 35, ../scss/modules/media-selection.scss */
.media-selection-overlay-container.dropzone-overlay-opened .media-selection-overlay-content {
  overflow: hidden;
}
/* line 40, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .slides {
  margin: 0;
  padding: 0;
}
/* line 45, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .overlay-header {
  display: none;
}
/* line 49, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .overlay-content {
  height: 100%;
  min-height: 400px;
  margin: 0;
  background-color: #f1f1f1;
}
/* line 56, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .overlay-footer {
  display: none;
}
/* line 60, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .data-navigation {
  padding-top: 0;
}
/* line 65, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .husky-thumbnails .item.large {
  margin-right: 24px;
}
@media (max-width: 1024px) {
  /* line 70, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container .husky-thumbnails .item.large:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1600px) {
  /* line 76, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container .husky-thumbnails .item.large:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 1600px) {
  /* line 82, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container .husky-thumbnails .item.large:nth-child(5n) {
    margin-right: 0;
  }
}
/* line 88, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .selected-elements {
  display: none;
}

/* line 93, ../scss/modules/media-selection.scss */
.media-selection-overlay {
  height: 100%;
}

/* line 97, ../scss/modules/media-selection.scss */
.media-selection-overlay-navigation-container {
  width: 250px;
  height: 100%;
}

/* line 102, ../scss/modules/media-selection.scss */
.media-selection-overlay-toolbar-container {
  display: inline-block;
}

/* line 106, ../scss/modules/media-selection.scss */
.media-selection-overlay-content {
  height: 100%;
  padding: 15px 0 10px 20px;
  overflow: hidden;
  position: relative;
}

/* line 113, ../scss/modules/media-selection.scss */
.media-selection-overlay-content-area {
  overflow: auto;
  height: calc(100% - 55px);
}

/* line 118, ../scss/modules/media-selection.scss */
.media-selection-overlay-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
  z-index: 100;
}

/* line 128, ../scss/modules/media-selection.scss */
.media-selection-overlay-add .heading {
  width: 100%;
  border-bottom: 2px #ccc solid;
}
/* line 132, ../scss/modules/media-selection.scss */
.media-selection-overlay-add h3 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 137, ../scss/modules/media-selection.scss */
.media-selection-overlay-add .overlay-loader {
  margin: 20px 0;
}

/* line 142, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container {
  padding-right: 20px;
}
/* line 145, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container > .husky-dropzone {
  display: none;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* line 150, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container > .husky-dropzone.dropped {
  display: block;
}
/* line 155, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container > div {
  width: 100% !important;
}
/* line 158, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .husky-overlay-wrapper {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
/* line 163, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .husky-overlay-container {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 15 !important;
  width: 100% !important;
  padding: 110px 20px !important;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 173, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .husky-overlay-container .slides {
  margin: 0;
  padding: 0;
}
/* line 178, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .husky-overlay-container .slide {
  width: 100% !important;
}
/* line 183, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .husky-overlay-backdrop {
  display: none !important;
}
/* line 187, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .overlay-content {
  height: auto !important;
  background-color: transparent;
}

/* line 193, ../scss/modules/media-selection.scss */
.media-selection-overlay-content-title {
  margin-bottom: 20px !important;
  border-bottom: none !important;
}

/* line 198, ../scss/modules/media-selection.scss */
.media-selection-overlay-datagrid-container {
  padding-right: 20px;
  padding-bottom: 20px;
}

/* line 203, ../scss/modules/media-selection.scss */
.media-selection-overlay-datagrid-header {
  white-space: nowrap;
}

/* line 207, ../scss/modules/media-selection.scss */
.media-selection-overlay-selected-info {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

/* line 6, ../scss/modules/collection-select-overlay.scss */
.collection-select .overlay-header {
  margin-bottom: 0px;
}
/* line 10, ../scss/modules/collection-select-overlay.scss */
.collection-select .overlay-content {
  margin: 0;
}
/* line 14, ../scss/modules/collection-select-overlay.scss */
.collection-select .overlay-footer {
  margin-top: -2px;
}

/* line 1, ../scss/modules/media-edit-overlay.scss */
.media-edit-loader {
  margin: 50px 0;
}

/* line 5, ../scss/modules/media-edit-overlay.scss */
.media-edit-links {
  margin: 20px 0 0;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 11, ../scss/modules/media-edit-overlay.scss */
.media-edit-link {
  color: #999;
  display: block;
  padding: 15px 3px;
  border-bottom: 1px solid #ccc;
}
/* line 17, ../scss/modules/media-edit-overlay.scss */
.media-edit-link .fa-cloud-download {
  display: none;
}
/* line 22, ../scss/modules/media-edit-overlay.scss */
.media-edit-link:hover .fa-cloud-download {
  display: inline-block;
}
/* line 27, ../scss/modules/media-edit-overlay.scss */
.media-edit-link .media-edit-copied {
  color: #999;
}

/* line 32, ../scss/modules/media-edit-overlay.scss */
a.media-edit-link,
.media-edit-link a {
  color: #000;
  text-decoration: none;
}

/* line 39, ../scss/modules/media-edit-overlay.scss */
.active .media-edit-title {
  font-weight: bold;
}

/* line 44, ../scss/modules/media-edit-overlay.scss */
.media-edit-icons {
  float: right;
  color: #000;
  cursor: pointer;
}

/* line 50, ../scss/modules/media-edit-overlay.scss */
.media-edit-created {
  float: right;
  color: #999;
}

/* line 55, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image {
  background-position: center center;
  background-repeat: no-repeat;
  width: 179px;
  height: 179px;
  position: relative;
}
/* line 62, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image.icon {
  color: #999;
  font-size: 150px;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
}
/* line 70, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image .file-version-change,
.media-edit-preview-image img {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
}
/* line 78, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image #file-version-change {
  width: 100%;
  height: 100%;
}
/* line 82, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image #file-version-change .dropzone-container {
  width: 150px;
  height: 150px;
}

/* line 90, ../scss/modules/media-edit-overlay.scss */
#media-preview .media-edit-preview-image-container {
  background-color: #ddd;
  width: 250px;
  height: 250px;
}
/* line 96, ../scss/modules/media-edit-overlay.scss */
#media-preview .media-edit-preview-image {
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* line 102, ../scss/modules/media-edit-overlay.scss */
#media-preview #preview-image-change {
  width: 100%;
  height: 100%;
}
/* line 106, ../scss/modules/media-edit-overlay.scss */
#media-preview #preview-image-change .dropzone-container {
  width: 150px;
  height: 150px;
}

/* line 113, ../scss/modules/media-edit-overlay.scss */
.overlay-footer .btn.media-reset-preview-action.hide {
  display: none;
}

/* line 118, ../scss/modules/media-edit-overlay.scss */
#media-info textarea.description {
  height: 90px;
  min-height: 90px;
}
/* line 123, ../scss/modules/media-edit-overlay.scss */
#media-info .media-info-preview {
  text-align: center;
}
/* line 126, ../scss/modules/media-edit-overlay.scss */
#media-info .media-info-preview span.description {
  font-size: 12px;
  color: #999;
}

/* line 1, ../scss/modules/media-play-video-overlay.scss */
.media-play-video-container {
  width: 100%;
  text-align: center;
}
/* line 5, ../scss/modules/media-play-video-overlay.scss */
.media-play-video-container video {
  max-width: 100%;
}
