/*----------------------------------------*/
/* line 1, ../scss/modules/collection.scss */
.list-toolbar-container {
  margin-top: 20px;
}

/* line 5, ../scss/modules/collection.scss */
#collections-root.no-content {
  text-align: center;
  height: 210px;
}
/* line 9, ../scss/modules/collection.scss */
#collections-root.no-content .icon {
  display: block;
  left: 50%;
  line-height: 125px;
  font-size: 125px;
  color: #e4e4e4;
}
/* line 16, ../scss/modules/collection.scss */
#collections-root.no-content .text {
  font-weight: bold;
  color: #e4e4e4;
  font-size: 24px;
  margin-top: 20px;
}

/* line 25, ../scss/modules/collection.scss */
.dropzone-container .husky-dropzone {
  display: none;
}
/* line 30, ../scss/modules/collection.scss */
.dropzone-container .husky-overlay-container .husky-dropzone {
  display: block;
}

/* line 37, ../scss/modules/collection.scss */
.masonry-container .empty-list {
  background: none;
}
/* line 41, ../scss/modules/collection.scss */
.masonry-container .masonry-grid {
  margin-bottom: -20px;
  position: relative;
  text-align: center;
}
/* line 46, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item {
  width: 190px;
  background-color: #fff;
  border-radius: 3px;
  opacity: 1;
  -moz-transition: opacity 100ms, top 100ms, left 100ms;
  -o-transition: opacity 100ms, top 100ms, left 100ms;
  -webkit-transition: opacity 100ms, top 100ms, left 100ms;
  transition: opacity 100ms, top 100ms, left 100ms;
}
/* line 53, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item.loading {
  opacity: 0;
}
/* line 57, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item .masonry-head {
  background-color: #ddd;
  width: 100%;
}
/* line 61, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item .masonry-head .head-icon {
  color: white;
  font-size: 70px;
  margin: 30px;
}
/* line 67, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item .masonry-head .head-image {
  vertical-align: middle;
}
/* line 72, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item .masonry-info {
  width: 100%;
  height: 45px;
  margin-top: 10px;
}
/* line 77, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item .masonry-info span.description {
  font-size: 12px;
  color: #999;
}
/* line 83, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item .masonry-footer {
  width: 100%;
  height: 15px;
  margin-bottom: 10px;
  padding: 0 10px;
}
/* line 89, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item .masonry-footer .footer-checkbox {
  float: left;
}
/* line 93, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item .masonry-footer .footer-icon {
  position: relative;
  top: 2px;
  font-size: 17px;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}
/* line 103, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item.action-navigator {
  cursor: pointer;
}
/* line 107, ../scss/modules/collection.scss */
.masonry-container .masonry-grid .masonry-item .action-navigator, .masonry-container .masonry-grid .masonry-item .download-navigator {
  cursor: pointer;
  color: #000;
}

/* line 116, ../scss/modules/collection.scss */
.sticky-toolbar.fixed .list-toolbar-container.collection {
  width: 92.75%;
}

/* line 122, ../scss/modules/collection.scss */
.toolbar-hidden .collection-header-container {
  top: -60px;
}

/* line 5, ../scss/modules/media-selection.scss */
.media-selection-overlay-container,
.media-selection-overlay {
  width: 900px !important;
  height: 500px !important;
}
@media (max-width: 1024px) {
  /* line 5, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container,
  .media-selection-overlay {
    width: 690px !important;
  }
}
@media (min-width: 1600px) {
  /* line 5, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container,
  .media-selection-overlay {
    width: 1325px !important;
  }
}
@media (min-height: 700px) {
  /* line 5, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container,
  .media-selection-overlay {
    height: 600px !important;
  }
}
@media (min-height: 800px) {
  /* line 5, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container,
  .media-selection-overlay {
    height: 700px !important;
  }
}
@media (min-height: 900px) {
  /* line 5, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container,
  .media-selection-overlay {
    height: 800px !important;
  }
}

/* line 34, ../scss/modules/media-selection.scss */
.media-selection-overlay-container.dropzone-overlay-opened .media-selection-overlay-content {
  overflow: hidden;
}
/* line 39, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .slides {
  margin: 0;
  padding: 0;
}
/* line 44, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .overlay-header {
  display: none;
}
/* line 48, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .overlay-content {
  height: 100%;
  min-height: 400px;
  margin: 0;
  background-color: #f1f1f1;
}
/* line 55, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .overlay-footer {
  display: none;
}
/* line 59, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .data-navigation {
  padding-top: 0;
}
/* line 64, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .husky-thumbnails .item.large {
  margin-right: 24px;
}
@media (max-width: 1024px) {
  /* line 69, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container .husky-thumbnails .item.large:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1600px) {
  /* line 75, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container .husky-thumbnails .item.large:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 1600px) {
  /* line 81, ../scss/modules/media-selection.scss */
  .media-selection-overlay-container .husky-thumbnails .item.large:nth-child(5n) {
    margin-right: 0;
  }
}
/* line 87, ../scss/modules/media-selection.scss */
.media-selection-overlay-container .selected-elements {
  display: none;
}

/* line 92, ../scss/modules/media-selection.scss */
.media-selection-overlay {
  height: 100%;
}

/* line 96, ../scss/modules/media-selection.scss */
.media-selection-overlay-navigation-container {
  width: 250px;
  height: 100%;
}

/* line 101, ../scss/modules/media-selection.scss */
.media-selection-overlay-toolbar-container {
  display: inline-block;
}

/* line 105, ../scss/modules/media-selection.scss */
.media-selection-overlay-content {
  height: 100%;
  padding: 15px 0 10px 20px;
  overflow: hidden;
  position: relative;
}

/* line 112, ../scss/modules/media-selection.scss */
.media-selection-overlay-content-area {
  overflow: auto;
  height: calc(100% - 55px);
}

/* line 117, ../scss/modules/media-selection.scss */
.media-selection-overlay-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
  z-index: 100;
}

/* line 127, ../scss/modules/media-selection.scss */
.media-selection-overlay-add .heading {
  width: 100%;
  border-bottom: 2px #ccc solid;
}
/* line 131, ../scss/modules/media-selection.scss */
.media-selection-overlay-add h3 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 136, ../scss/modules/media-selection.scss */
.media-selection-overlay-add .overlay-loader {
  margin: 20px 0;
}

/* line 141, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container {
  padding-right: 20px;
}
/* line 144, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container > .husky-dropzone {
  display: none;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* line 149, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container > .husky-dropzone.dropped {
  display: block;
}
/* line 154, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container > div {
  width: 100% !important;
}
/* line 157, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .husky-overlay-wrapper {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
/* line 162, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .husky-overlay-container {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 15 !important;
  width: 100% !important;
  padding: 110px 20px !important;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 172, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .husky-overlay-container .slides {
  margin: 0;
  padding: 0;
}
/* line 177, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .husky-overlay-container .slide {
  width: 100% !important;
}
/* line 182, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .husky-overlay-backdrop {
  display: none !important;
}
/* line 186, ../scss/modules/media-selection.scss */
.media-selection-overlay-dropzone-container .overlay-content {
  height: auto !important;
  background-color: transparent;
}

/* line 192, ../scss/modules/media-selection.scss */
.media-selection-overlay-content-title {
  margin-bottom: 20px !important;
  border-bottom: none !important;
}

/* line 197, ../scss/modules/media-selection.scss */
.media-selection-overlay-datagrid-container {
  padding-right: 20px;
  padding-bottom: 20px;
}

/* line 202, ../scss/modules/media-selection.scss */
.media-selection-overlay-datagrid-header {
  white-space: nowrap;
}

/* line 206, ../scss/modules/media-selection.scss */
.media-selection-overlay-selected-info {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

/* line 4, ../scss/modules/single-media-selection.scss */
.single-media-selection {
  height: 500px;
}
/* line 7, ../scss/modules/single-media-selection.scss */
.single-media-selection, .single-media-selection .slide, .single-media-selection .overlay-footer {
  width: 930px !important;
}
/* line 11, ../scss/modules/single-media-selection.scss */
.single-media-selection .slide {
  height: 429px;
}
/* line 15, ../scss/modules/single-media-selection.scss */
.single-media-selection .list-container, .single-media-selection .navigation-container {
  height: 328px;
}
@media (max-width: 1024px) {
  /* line 20, ../scss/modules/single-media-selection.scss */
  .single-media-selection, .single-media-selection .slide, .single-media-selection .overlay-footer {
    width: 720px !important;
  }
}
@media (min-width: 1600px) {
  /* line 26, ../scss/modules/single-media-selection.scss */
  .single-media-selection, .single-media-selection .slide, .single-media-selection .overlay-footer {
    width: 1360px !important;
  }
}
@media (min-height: 700px) {
  /* line 4, ../scss/modules/single-media-selection.scss */
  .single-media-selection {
    height: 600px;
  }
  /* line 34, ../scss/modules/single-media-selection.scss */
  .single-media-selection .slide {
    height: 529px;
  }
  /* line 38, ../scss/modules/single-media-selection.scss */
  .single-media-selection .list-container, .single-media-selection .navigation-container {
    height: 428px;
  }
}
@media (min-height: 800px) {
  /* line 4, ../scss/modules/single-media-selection.scss */
  .single-media-selection {
    height: 700px;
  }
  /* line 46, ../scss/modules/single-media-selection.scss */
  .single-media-selection .slide {
    height: 629px;
  }
  /* line 50, ../scss/modules/single-media-selection.scss */
  .single-media-selection .list-container, .single-media-selection .navigation-container {
    height: 528px;
  }
}
@media (min-height: 900px) {
  /* line 4, ../scss/modules/single-media-selection.scss */
  .single-media-selection {
    height: 800px;
  }
  /* line 58, ../scss/modules/single-media-selection.scss */
  .single-media-selection .slide {
    height: 729px;
  }
  /* line 62, ../scss/modules/single-media-selection.scss */
  .single-media-selection .list-container, .single-media-selection .navigation-container {
    height: 628px;
  }
}
/* line 69, ../scss/modules/single-media-selection.scss */
.single-media-selection.dropzone-overlay-opened .list-container {
  overflow: hidden;
}
/* line 74, ../scss/modules/single-media-selection.scss */
.single-media-selection .dropzone-container {
  padding-right: 20px;
}
/* line 77, ../scss/modules/single-media-selection.scss */
.single-media-selection .dropzone-container > .husky-dropzone {
  display: none;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* line 82, ../scss/modules/single-media-selection.scss */
.single-media-selection .dropzone-container > .husky-dropzone.dropped {
  display: block;
}
/* line 87, ../scss/modules/single-media-selection.scss */
.single-media-selection .dropzone-container > div {
  width: 100% !important;
}
/* line 90, ../scss/modules/single-media-selection.scss */
.single-media-selection .dropzone-container .husky-overlay-wrapper {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
/* line 95, ../scss/modules/single-media-selection.scss */
.single-media-selection .dropzone-container .husky-overlay-container {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 15 !important;
  width: 100% !important;
  padding: 110px 20px !important;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0;
  border: 0;
}
/* line 107, ../scss/modules/single-media-selection.scss */
.single-media-selection .dropzone-container .husky-overlay-container .slides {
  margin: 0;
  padding: 0;
}
/* line 112, ../scss/modules/single-media-selection.scss */
.single-media-selection .dropzone-container .husky-overlay-container .slide {
  width: 100% !important;
}
/* line 117, ../scss/modules/single-media-selection.scss */
.single-media-selection .dropzone-container .husky-overlay-backdrop {
  display: none !important;
}
/* line 121, ../scss/modules/single-media-selection.scss */
.single-media-selection .dropzone-container .overlay-content {
  height: auto !important;
  background-color: transparent;
}
/* line 127, ../scss/modules/single-media-selection.scss */
.single-media-selection .overlay-content {
  padding: 0px;
  margin: 0px;
}
/* line 133, ../scss/modules/single-media-selection.scss */
.single-media-selection .container .navigation-container {
  float: left;
  width: 250px;
}
/* line 138, ../scss/modules/single-media-selection.scss */
.single-media-selection .container .list-container {
  float: right;
  position: relative;
  width: calc(100% - 250px);
  padding: 20px;
  overflow: auto;
}
/* line 146, ../scss/modules/single-media-selection.scss */
.single-media-selection .container::before, .single-media-selection .container::after {
  content: " ";
  display: table;
}
/* line 151, ../scss/modules/single-media-selection.scss */
.single-media-selection .container::after {
  clear: both;
}

/* line 6, ../scss/modules/collection-select-overlay.scss */
.collection-select .overlay-header {
  margin-bottom: 0px;
}
/* line 10, ../scss/modules/collection-select-overlay.scss */
.collection-select .overlay-content {
  margin: 0;
}
/* line 14, ../scss/modules/collection-select-overlay.scss */
.collection-select .overlay-footer {
  margin-top: -2px;
}

/* line 1, ../scss/modules/media-edit-overlay.scss */
.media-edit-loader {
  margin: 50px 0;
}

/* line 5, ../scss/modules/media-edit-overlay.scss */
.media-edit-links {
  margin: 20px 0 0;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 11, ../scss/modules/media-edit-overlay.scss */
.media-edit-link {
  color: #999;
  display: block;
  padding: 15px 3px;
  border-bottom: 1px solid #ccc;
}
/* line 17, ../scss/modules/media-edit-overlay.scss */
.media-edit-link .fa-cloud-download {
  display: none;
}
/* line 22, ../scss/modules/media-edit-overlay.scss */
.media-edit-link:hover .fa-cloud-download {
  display: inline-block;
}
/* line 27, ../scss/modules/media-edit-overlay.scss */
.media-edit-link .media-edit-copied {
  color: #999;
}

/* line 32, ../scss/modules/media-edit-overlay.scss */
a.media-edit-link,
.media-edit-link a {
  color: #000;
  text-decoration: none;
}

/* line 39, ../scss/modules/media-edit-overlay.scss */
.active .media-edit-title {
  font-weight: bold;
}

/* line 44, ../scss/modules/media-edit-overlay.scss */
.media-edit-icons {
  float: right;
  color: #000;
  cursor: pointer;
}

/* line 50, ../scss/modules/media-edit-overlay.scss */
.media-edit-created {
  float: right;
  color: #999;
}

/* line 55, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image {
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
  position: relative;
}
/* line 62, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image.icon {
  color: #999;
  font-size: 150px;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
}
/* line 70, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image .file-version-change,
.media-edit-preview-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
}
/* line 79, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image #file-version-change {
  width: 100%;
  height: 100%;
}
/* line 83, ../scss/modules/media-edit-overlay.scss */
.media-edit-preview-image #file-version-change .dropzone-container {
  width: 150px;
  height: 150px;
}

/* line 91, ../scss/modules/media-edit-overlay.scss */
#media-preview .media-edit-preview-image-container {
  background-color: #ddd;
  width: 250px;
  height: 250px;
}
/* line 97, ../scss/modules/media-edit-overlay.scss */
#media-preview .media-edit-preview-image {
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* line 103, ../scss/modules/media-edit-overlay.scss */
#media-preview #preview-image-change {
  width: 100%;
  height: 100%;
}
/* line 107, ../scss/modules/media-edit-overlay.scss */
#media-preview #preview-image-change .dropzone-container {
  width: 150px;
  height: 150px;
}

/* line 114, ../scss/modules/media-edit-overlay.scss */
.overlay-footer .btn.media-reset-preview-action.hide {
  display: none;
}

/* line 119, ../scss/modules/media-edit-overlay.scss */
#media-info textarea.description {
  height: 90px;
  min-height: 90px;
}
/* line 124, ../scss/modules/media-edit-overlay.scss */
#media-info .media-info-preview {
  text-align: center;
}
/* line 127, ../scss/modules/media-edit-overlay.scss */
#media-info .media-info-preview span.description {
  font-size: 12px;
  color: #999;
}

/* line 1, ../scss/modules/media-play-video-overlay.scss */
.media-play-video-container {
  width: 100%;
  text-align: center;
}
/* line 5, ../scss/modules/media-play-video-overlay.scss */
.media-play-video-container video {
  max-width: 100%;
}
