@import './variables.scss';
@import '../../containers/Application/colors.scss';

$color: $white;
$activeColor: $shakespeare;
$backgroundColor: $cloudBurst;
$darkBackgroundColor: $ebonyClay;

.navigation {
    width: $navigationWidth;
    background-color: $backgroundColor;
    color: $color;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 60px;
    height: 60px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $darkBackgroundColor;
    border-bottom: 1px solid $backgroundColor;
}

.logo {
    flex: 0 0 auto;
    display: block;
    font-size: 90px;
    line-height: 1;
}

.pin {
    flex: 0 0 auto;
    color: $color;
    cursor: pointer;

    &.active {
        color: $activeColor;
    }
}

.pin-icon {
    display: block;
    line-height: 1;
    font-size: 20px;
}

.items {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
}

.footer {
    flex: 0 0 auto;
    background: $darkBackgroundColor;
    min-height: 60px;
    padding-inline: 20px;
    border-top: 1px solid $backgroundColor;
}
