@import '../../containers/Application/colors.scss';

$navigationWidth: 260px;
$navigationBackgroundColor: $cloudBurst;
$color: $white;
$versionColor: $silver;
$userBackgroundColor: $pickledBluewood;
$buttonColor: $silver;
$pinColor: $shakespeare;
$pinBackgroundColor: $cloudBurst;
$pinActiveColor: $cloudBurst;
$pinActiveBackgroundColor: $shakespeare;
$pinBorderColor: $shakespeare;
