@import '../../containers/Application/colors.scss';

$itemBackgroundColor: $white;
$disabledItemBackgroundColor: $wildSand;

$itemColor: $black;
$disabledItemColor: $gray;

.item {
    display: flex;
    justify-content: space-between;
    color: $itemColor;
    background-color: $itemBackgroundColor;

    &.disabled {
        color: $disabledItemColor;
        background-color: $disabledItemBackgroundColor;

        .drag-handle,
        .content {
            pointer-events: none;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
    overflow: hidden;
    margin: 0 20px 0 22px;
    font-size: 12px;
}

.buttons:not(:empty) {
    margin-right: 10px;
}

.button {
    border: 0;
    padding: 13px 10px 0 0;
    cursor: pointer;
    background-color: transparent;

    &.hidden {
        display: none;
    }
}

.drag-handle {
    display: flex;
    width: 40px;
    border: 0;
    padding: 13px 0 0 20px;

    &.sortable {
        cursor: move;
    }
}

.index {
    padding-left: 2px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
}
