@import '../../containers/Application/colors.scss';

$listElementBackgroundColor: $white;
$listElementBorderBottomColor: $silver;
$listElementDragBoxShadowColor: rgba($black, .1);

.multiItemSelectionClass {
    &.disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.list {
    margin: 0;
    padding: 0;
    max-height: 225px;
    overflow: auto;
}

.list-element {
    list-style: none;
    border-bottom: 1px solid $listElementBorderBottomColor;

    &:last-child {
        border-bottom: 0;
        border-radius: 0 0 3px 3px;
        overflow: hidden;
    }

    &.dragging {
        border-radius: 0;
        box-shadow:
            0 3px 6px $listElementDragBoxShadowColor,
            0 -3px 6px $listElementDragBoxShadowColor;
    }
}
