<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="../TestBundle/Resources/app/bootstrap.php"
>

    <testsuites>
        <testsuite name="SuluSnippetBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>Resources/</directory>
                <directory>Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="Tests/app" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>

</phpunit>
