<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        {% block content %}
            <h1 property="title">Hello Hikaru Sulu</h1>
            <p property="content">This is a fabulous test case!</p>
        {% endblock %}
    </body>
</html>
