<div class="address-item m-bottom-10" data-id="<%= address.id %>">
	<div class="grid-row">
		<div class="m-bottom-10 pull-left">
			<label class="bold drop-down-trigger type-value"
				   data-id="<%= (!!address.addressType)?address.addressType.id :'[Address Type ID]' %>">
				<span class="type-name"><%= (!!address.addressType)?address.addressType.name :'[Address Type]' %></span>
				<span class="dropdown-toggle inline"></span>
			</label>
		</div>
		<div class="remove-address"><span class="icon-remove pull-right"></span></div>
	</div>
	<div class="grid-row">
		<div class="grid-col-6">
			<label>Street</label>
			<input class="form-element streetValue" type="text" value="<%= address.street %>"/>
		</div>
		<div class="grid-col-2">
			<label>Number</label>
			<input class="form-element numberValue" type="text" value="<%= address.number %>"/>
		</div>
		<div class="grid-col-4">
			<label>House, Floor, etc.</label>
			<input class="form-element additionValue" type="text" value="<%= address.addition %>"/>
		</div>
	</div>
	<div class="grid-row">
		<div class="grid-col-2">
			<label>Zip</label>
			<input class="form-element zipValue" type="text" value="<%= address.zip %>"/>
		</div>
		<div class="grid-col-4">
			<label>City</label>
			<input class="form-element cityValue" type="text" value="<%= address.city %>"/>
		</div>
		<div class="grid-col-2">
			<label>State</label>
			<input class="form-element stateValue" type="text" value="<%= address.state %>"/>
		</div>
		<div class="grid-col-4">
			<label>Country</label>
			<select class="form-element countryValue">
				<option value="1">Österreich</option>
				<option value="2">Deutschland</option>
				<option value="3">Schweiz</option>
			</select>
		</div>
	</div>
</div>