@import '../Application/colors.scss';

$itemBackgroundColor: $alabaster;
$itemTextColor: $blueZodiac;
$itemTextActiveColor: $shakespeare;
$itemTextColorDisabled: $silver;
$itemActiveBackgroundColor: $wildSand;

.button-container {
    position: relative;
    display: inline-block;
}

.button {
    position: relative;
    padding: 0 20px;
    border: none;
    height: 60px;
    background: $itemBackgroundColor;
    color: $itemTextColor;
    font-size: 12px;
    cursor: pointer;

    & > * {
        /* IE11 will emulate 3D effect while clicking button without this */
        position: relative;
    }

    &:disabled {
        color: $itemTextColorDisabled;
        cursor: default;
    }

    &:not(:disabled) {
        &:hover,
        &.is-active {
            color: $itemTextActiveColor;
            background-color: $itemActiveBackgroundColor;
        }

        &.is-active {
            z-index: 2;
        }
    }
}

.icon {
    vertical-align: middle;
    font-size: 20px;
}

.value {
    vertical-align: middle;
    padding: 0 0 0 10px;
}

.dropdown-icon {
    padding-left: 10px;
}
