@import '../Application/colors.scss';

$dropdownBackgroundColor: $wildSand;
$optionTextColor: $blueZodiac;
$optionTextColorDisabled: $silver;
$optionTextColorActive: $shakespeare;

.dropdown {
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    box-shadow: 0 0 6px rgba(50, 50, 50, .25);
    background-color: $dropdownBackgroundColor;

    &.is-open {
        display: block;
    }

    &.is-small {
        width: 100%;

        button {
            padding: 0;
            text-align: center;
        }

        .option-selected-icon {
            left: 6px;
        }
    }
}

.option {
    position: relative;
    padding: 10px 0;
    font-size: 12px;
    color: $optionTextColor;

    &.is-selected {
        font-weight: bold;

        button:hover,
        button:active,
        button:focus {
            cursor: inherit;
            color: inherit;
        }
    }

    button {
        display: block;
        overflow: hidden;
        width: 100%;
        padding: 0 20px 0 40px;
        text-align: left;
        border: 0;
        font-weight: inherit;
        background-color: transparent;

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            color: $optionTextColorActive;
        }

        &:disabled {
            cursor: default;
            color: $optionTextColorDisabled;
        }
    }
}

.option-selected-icon {
    position: absolute;
    top: 10px;
    left: 20px;
}
