$itemBorder: 1px #f5f5f5 solid;

.item {
    display: inline-block;
    padding: 0 30px;
    line-height: 60px;
    height: 60px;

    background: #fcfcfc;

    color: #112a46;
    font-size: 14px;
    text-align: center;

    &:first-child {
        border-left: $itemBorder;
    }

    &:last-child {
        border-right: $itemBorder;
    }
}

.icon {
    vertical-align: middle;

    font-size: 20px;
}

.title {
    vertical-align: middle;

    padding: 0 0 0 10px;
}
