@import '../Application/colors.scss';

$itemBackgroundColor: $alabaster;
$itemTextColor: $blueZodiac;
$itemTextActiveColor: $shakespeare;
$itemTextColorDisabled: $silver;
$itemActiveBackgroundColor: $wildSand;

$itemBorder: 1px $wildSand solid;

.container {
    position: relative;
    display: inline-block;

    &.has-dropdown-open {
        .item {
            color: $itemTextActiveColor;
            background-color: $itemActiveBackgroundColor;
        }
    }
}

.item {
    position: relative;
    z-index: 5;
    padding: 0 30px;
    border: none;
    outline: none;
    height: 60px;
    background: $itemBackgroundColor;
    color: $itemTextColor;
    font-size: 12px;
    cursor: pointer;

    & > * {
        /* IE11 will emulate 3D effect while clicking button without this */
        position: relative;
    }

    &:first-child {
        border-left: $itemBorder;
    }

    &:last-child {
        border-right: $itemBorder;
    }

    &:disabled {
        color: $itemTextColorDisabled;
        cursor: default;
    }

    &:not(:disabled) {
        &:hover {
            color: $itemTextActiveColor;
            background-color: $itemActiveBackgroundColor;
        }
    }
}

.icon {
    vertical-align: middle;
    font-size: 20px;
}

.title {
    vertical-align: middle;
    padding: 0 0 0 10px;
}

.dropdown-icon {
    padding-left: 10px;
    margin-right: -12px;
}
