@import '../Application/colors.scss';

$toolbarBackgroundColor: $white;
$shadowColor: $mischka;
$itemsBackgroundColor: $alabaster;
$itemsContainerBorderColor: $gallery;

$itemsContainerBorder: 1px $itemsContainerBorderColor solid;

.toolbar {
    height: 60px;
    margin: 0;
    background: $toolbarBackgroundColor;
    box-shadow: 0 3px 2px $shadowColor;
}

.items {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: $itemsContainerBorder;
    border-right: $itemsContainerBorder;
    vertical-align: top;
    background-color: $itemsBackgroundColor;

    & > li {
        display: inline-block;
    }
}

.controls-left {
    float: left;
}

.controls-right {
    float: right;
}

.icons,
.locale {
    display: inline-block;
}

.icons {
    padding: 0 20px;
    line-height: 60px;
    vertical-align: top;
}

.icon {
    display: inline-block;
    padding: 0 20px 0 0;

    &:last-child {
        padding: 0;
    }
}

.locale {
    border-left: $itemsContainerBorder;
}
