@import '../../containers/Application/colors.scss';

$multiSelectionMainColumnColor: $black;
$multiSelectionColumnColor: $scorpion;
$multiSelectionDisabledColumnColor: $gray;

.item-column {
    color: $multiSelectionColumnColor;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 10px;

    &:first-child {
        color: $multiSelectionMainColumnColor;
        padding-left: 0;
    }

    &.disabled {
        color: $multiSelectionDisabledColumnColor;
    }
}
