@import '../../containers/Application/colors.scss';

$multiSelectionMainColumnColor: $black;
$multiSelectionColumnColor: $scorpion;

.item-column {
    color: $multiSelectionColumnColor;
    display: inline-block;
    height: 40px;
    line-height: 40px;

    &:first-child {
        color: $multiSelectionMainColumnColor;
    }
}
