@import '../../containers/Application/variables.scss';

.tabs-container {
    margin: -$viewPaddingVertical -$viewPaddingHorizontal $viewPaddingVertical;

    &--root-view {
        margin: $viewPaddingVertical 0;
    }

    &--no-gap {
        margin: $viewPaddingVertical 0 0;
    }
}
