@import 'sulu-admin-bundle/containers/Application/colors.scss';

$listToolbarHeight: 30px;
$listHeaderMarginBottom: 40px;
$permissionHintColor: $gray;

.list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &.disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.header-container {
    display: flex;
    flex-grow: 0;
    margin-bottom: $listHeaderMarginBottom;
    align-items: center;

    .toolbar {
        flex-grow: 1;
    }
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > * {
        height: $listToolbarHeight;
        margin-right: 10px;
        width: auto;

        &:last-child {
            margin-right: 0;
        }
    }
}

.permission-hint {
    font-size: 18px;
    font-weight: bold;
    color: $permissionHintColor;
    width: 100%;
    text-align: center;
}

.permission-icon {
    font-size: 32px;
}
