@import 'sulu-admin-bundle/containers/Application/colors.scss';

$listToolbarHeight: 30px;

.list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &.disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;

    & > * {
        height: $listToolbarHeight;
        margin-right: 10px;
        width: auto;

        &:last-child {
            margin-right: 0;
        }
    }
}
