@import '../Button/variables.scss';

.button {
    border-radius: 0;
    border-right: 0;
    width: 34px;

    &:first-child {
        border-top-left-radius: $iconBorderRadius;
        border-bottom-left-radius: $iconBorderRadius;
    }

    &:last-child {
        border-top-right-radius: $iconBorderRadius;
        border-bottom-right-radius: $iconBorderRadius;
        border-right: 1px solid $iconBorderColor;
    }
}
