.edit-form {
    padding: 10px;
}

.title-input {
    margin-bottom: 10px;
}

.description-text-area {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    margin: 10px 0;
}

.media {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.title {
    margin-top: 0;
}

.content {
    flex: 1;
}

.description {
    margin-bottom: 0;
}

.type {
    margin-top: 0;
    width: 50px;
}
