.edit-form {
    padding: 10px;
}

.title-input {
    margin-bottom: 10px;
}

.description-text-area {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
}

.description {
    flex: 1;
}

.type {
    width: 50px;
}
