/*----------------------------------------*/
/* line 2, ../scss/modules/webspace.scss */
#snippet-types .valid {
  background: transparent;
  font-size: larger;
}
/* line 6, ../scss/modules/webspace.scss */
#snippet-types .valid .fa-ban {
  color: #EA524E;
}
