@import '../../../../../../../admin-bundle/Sulu/Bundle/AdminBundle/Resources/public/scss/variables',
        '../../../../../../../admin-bundle/Sulu/Bundle/AdminBundle/Resources/public/js/vendor/husky/scss/variables',
        'modules/preview',
        'modules/general',
        'modules/seo',
        'modules/resource-locator',
        'modules/smart-content',
        'modules/order-table';
