// BODY

body {
    background-color: $backgroundColor;
}

// Control elements
/*----------------------------------------*/
.control-label {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

// font family Helvetica / Arial for user generated content
/*----------------------------------------*/
input, select {
    font-family: Helvetica, Arial;
}

// Utility
/*----------------------------------------*/

.pointer {
    cursor: pointer;
}

.block {
    display: block;
}

// Additional Margins
/*----------------------------------------*/

.m-top-1 {
    margin-top: 1px !important;
}

// List-container
/*----------------------------------------*/

.list-toolbar {
    padding-bottom: 20px;
}


.initial-loader {
    $dimension: 100px;
    width: $dimension;
    height: $dimension;
    @include centerBlock();
    .bouncer {
        background: $grayLighter;
    }
}

.highlight-section {
    $imageWidth: 310px;
    $imageHeight: 270px;
    width: 100%;
    margin-top: -$contentPaddingTop;

    background: $grayLighterer;
    margin-bottom: 30px;
    @include clear-float;

    .image {
        float: left;
        width: $imageWidth;
        height: $imageHeight;
        overflow: hidden;
    }

    .content {
        width: calc(100% - #{$imageWidth});
        float: left;
        @include clear-float;

        &:only-child {
            width: 100%;
        }
    }
}
