$contentWidth : 800px;



// BODY

body {
    background-color: $backgroundColor;
}


.control-label {
  padding-left: 10px;
  cursor: pointer;
}

// Content
/*----------------------------------------*/
#content {

  max-width: $contentWidth;
  margin-left: 300px;
  padding-top: 40px;

  h2.mainheadline {
    margin-top: 35px;
  }

  h1:first-child {
      margin-top: 0;
  }

  .content-tabs-content {
    margin-top: 60px;
  }

}


// tabs content
#edit-toolbar-container {
    z-index:100;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: $backgroundColor;
    padding-top: 40px;
}
#edit-toolbar {
    max-width: $contentWidth;
}

#list-toolbar-container {
    margin-bottom: 18px;
}

#page-functions + #edit-toolbar {
    .edit-toolbar-left {
        margin-left: -50px;
    }
}

// Control elements
/*----------------------------------------*/
.control-label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

// font family Helvetica / Arial for user generated content
/*----------------------------------------*/
input, select {
  font-family: Helvetica, Arial;
}



// Utility
/*----------------------------------------*/

.pointer {
  cursor: pointer;
}

.block {
  display:block;
}


// Additional Margins
/*----------------------------------------*/

.m-top-1 {
  margin-top: 1px !important;
}
