@import "compass/css3/transition";


// BODY

body {
    background-color: $backgroundColor;
}

.control-label {
    padding-left: 10px;
    cursor: pointer;
}

// Content
/*----------------------------------------*/
#content {
    max-width: $contentMaxWidth + $contentPaddingLeft + $contentPaddingRight;
    min-width: $contenMinWidth;
    margin-left: $contentMarginLeft;
    padding-left: $contentPaddingLeft;
    margin-top: $contentMarginTop;
    padding-right: $contentPaddingRight;
    margin-bottom: $contentMarginBottom;
    @include single-transition(margin,  $transitionDuration);

    h2.mainheadline {
        margin-top: 35px;
    }

    h1:first-child {
        margin-top: 0;
    }

    .content-tabs-content {
        padding-top: 80px;
    }
}

// tabs content
#edit-toolbar-container {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: $contentPaddingLeft;
    width: 100%;
    background-color: $backgroundColor;
    padding-top: $contentMarginTop;
}

#page-functions {
    position: relative;
    top: 0px;
    left: 0px;
}

#edit-toolbar {
    max-width: $contentMaxWidth;
}

#list-toolbar-container {
    padding-bottom: 20px;
}

// Control elements
/*----------------------------------------*/
.control-label {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

// font family Helvetica / Arial for user generated content
/*----------------------------------------*/
input, select {
    font-family: Helvetica, Arial;
}

// Utility
/*----------------------------------------*/

.navigation-container {
    z-index: 101;
}

// Utility
/*----------------------------------------*/

.pointer {
    cursor: pointer;
}

.block {
    display: block;
}

// Additional Margins
/*----------------------------------------*/

.m-top-1 {
    margin-top: 1px !important;
}
