// Colors
$breadcrumbColor: $grayLight !default;
$breadcrumbHoverColor: $black !default;
$breadcrumbIconColor: $grayLighter !default;
$breadcrumbSeperatorColor: $black !default;

.sulu-breadcrumb {
    $colorTransitionDuration: 80ms;
    padding-bottom: 5px;

    .breadcrumb {
        cursor: pointer;
        font-size: $smallFontSize;
        color: $breadcrumbColor;

        &, .icon {
            @include transition(color $colorTransitionDuration);
        }

        &:hover, &:hover .icon {
            color: $breadcrumbHoverColor;
        }
    }

    .icon {
        color: $breadcrumbIconColor;
        font-size: 9px;
        margin-right: 5px;
    }

    .separator {
        display: inline-block;
        margin: 0 10px 0 5px;
        font-size: 9px;
        color: $breadcrumbSeperatorColor;
    }
}
