.data-overlay-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: $grayLightMedium2;
    padding-top: 40px;
}

.data-overlay {
    height: 100%;
}

.data-overlay-close {
    position: absolute;
    right: 12px;
    top: 10px;
    padding: 0;
    font-size: 24px;
    background-color: transparent;
}

.data-overlay-content {
    height: 100%;
    overflow: auto;
}
