.sulu-header {
    background-color: $blue;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;

    .toolbar-row {
        @include clear-float;
        .left-container {
            float: left;
            width: 50px;
            height: $tabsHeight
        }
        .toolbar-container {
            float: left;
        }
        .right-container {
            float: right;
        }
        .back {
            display: block;
            height: 100%;
            color: $white;
            text-align: center;
            line-height: $headerHeight;
            cursor: pointer;
        }
    }
    .tabs-row {
        .tabs-container {
            @include single-transition(padding, $shrinkAnimationDuration);
        }
    }

    // add top space to the content-container beneath the header
    & + .page {
        margin-top: $headerHeight;
        padding-bottom: $headerHeight
    }
    &.has-tabs + .page {
        margin-top: $headerHeight + $tabsHeight;
        padding-bottom: $headerHeight + $tabsHeight;
    }
    &.invisible + .page {
        margin-top: 0;
        padding-bottom: 0;
    }
}

.sulu-header-background {
    position: absolute;
    top: 0px;
    left: 0px;
    background: $blue;
    height: $headerHeight;
    width: 100%;
    z-index: -1;

    &.has-tabs {
        height: $headerHeight + $tabsHeight;
        border-bottom: $tabsHeight solid $white;
    }
}

.small-fixed {
    .sulu-header .inner {
        margin-left: $contentPaddingLeftSmall;
        margin-right: $contentPaddingRightSmall;
    }
    .tabs-container {
        padding-left: $contentPaddingLeftSmall;
    }
    .sulu-header .back {
        opacity: 0;
    }
}
