.sulu-header {
    width: 100%;
    height: $headerHeight;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;

    .toolbar-row {
        display: table;
        table-layout: fixed;
        height: $headerHeight;
        width: 100%;
        background: $blue;
        position: relative;
        z-index: 1000;

        .left-container {
            display: table-cell;
            width: 50px;
            background: $blue;
            vertical-align: top;
            position: relative;
            z-index: 500;
            @include single-transition(width, $shrinkAnimationDuration);
        }
        .toolbar-container {
            display: table-cell;
            overflow: auto;
            vertical-align: top;
            width: 100%;
            position: relative;
            z-index: 100;

            .toolbar-wrapper {
                display: inline-block;
                white-space: nowrap;
            }

            &.overflown {
                @include box-shadow(inset -8px 0px 8px -3px rgba(0, 0, 0, 0.08), inset 8px 0px 8px -3px rgba(0, 0, 0, 0.08));
                .husky-toolbar .toolbar-dropdown-menu {
                    margin-top: 0;
                }
            }
        }
        .right-container {
            display: table-cell;
            width: 120px;
            height: $headerHeight;
            vertical-align: top;
            position: relative;
            z-index: 500;
            background: $blue;
        }
        .back {
            color: $white;
            text-align: center;
            line-height: $headerHeight;
            cursor: pointer;
        }
        .language-changer {
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;
            line-height: 30px;
            padding-left: 8px;
            background: $white;
            border-radius: $borderRadius;
            font-size: $smallFontSize;
            position: relative;
            cursor: pointer;
            .dropdown-toggle {
                display: inline-block;
                vertical-align: top;
                padding: 0 8px 0 10px;
            }
            .dropdown-menu {
                right: 0;
                left: auto;
                margin-top: 0;
                display: inline-block;
                min-width: 160px;
                width: auto;
            }
        }
    }
    .tabs-row {
        position: relative;
        top: 0px;
        z-index: 500;
        @include single-transition(top, $tabsHideAnimationDuration, $tabsHideAnimationDelay, ease);

        .tabs {
            padding: 0 50px;
            overflow: auto;
            background: $white;
            @include single-transition(padding, $shrinkAnimationDuration);
        }
    }

    &.tabs-hidden {
        .tabs-row {
            top: (-1) * $tabsHeight;
        }
    }

    // add top space to the content-container beneath the header
    & + .page {
        margin-top: $headerHeight;
        padding-bottom: $headerHeight
    }
    &.has-tabs + .page #content {
        padding-top: $contentPaddingTop + $tabsHeight;
    }
}

.sulu-header-background {
    position: fixed;
    top: 0px;
    left: 0px;
    background: $blue;
    height: $headerHeight;
    width: 100%;
    z-index: -1;
    @include transition(height $tabsHideAnimationDuration ease $tabsHideAnimationDelay, border-bottom-width $tabsHideAnimationDuration ease $tabsHideAnimationDelay);

    &.has-tabs {
        height: $headerHeight + $tabsHeight;
        border-bottom: $tabsHeight solid $white;
    }
    &.tabs-hidden {
      height: $headerHeight;
      border-bottom-width: 0;
    }
}

.small-fixed {
    .sulu-header .inner {
        margin-left: $contentPaddingLeftSmall;
        margin-right: $contentPaddingRightSmall;
    }
    .tabs-row .tabs {
        padding-left: $contentPaddingLeftSmall;
    }
    .sulu-header .left-container {
        width: 0px;
        * {
            display: none;
        }
    }
}
