.sulu-header {
    width: 100%;
    z-index: 120;
    @include single-transition(width, $shrinkAnimationDuration);

    // FIXME this class (and the corresponing element) should be removed, because the toolbar should hold these styles
    .blue-row {
        background: $blue;
        height: $headerHeight;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .toolbar-row {
        display: table;
        table-layout: fixed;
        height: $headerHeight;
        width: 100%;
        position: relative;
        z-index: 10;
        left: -1px;

        & > * {
            display: table-cell;
            vertical-align: top;
        }

        .left-container {
            width: 50px;
            @include single-transition(width, $shrinkAnimationDuration);
        }
        .right-container {
            width: 118px;
            padding-left: 10px;
            height: $headerHeight;
        }
        .back {
            color: $white;
            text-align: center;
            line-height: $headerHeight;
            cursor: pointer;
        }
        .language-changer {
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;
            line-height: 30px;
            padding-left: 8px;
            background: $white;
            border-radius: $borderRadius;
            font-size: $smallFontSize;
            position: relative;
            cursor: pointer;
            .dropdown-toggle {
                display: inline-block;
                vertical-align: top;
                padding: 0 8px 0 10px;
            }
            .dropdown-menu {
                right: 0;
                left: auto;
                margin-top: 0;
                display: inline-block;
                min-width: 160px;
                width: auto;
            }
        }
    }
    .tabs-row {
        // FIXME it shouldn't be necessary to have relative positioning here, and it should be sufficient to only have
        // a height transition, however, this is not possible due to the positioning of underlying elements
        position: relative;
        top: 0;
        max-height: 80px;
        @include single-transition(all, $tabsHideAnimationDuration, $tabsHideAnimationDelay, ease);

        .tabs {
            padding: 0 50px;
            overflow: auto;
            background: $white;
            @include single-transition(padding, $shrinkAnimationDuration);
        }
    }

    &.tabs-hidden {
        .tabs-row {
            max-height: 0;
            top: (-1) * $headerHeight;
        }
    }
}
.fixed {
    .toolbar-row {
        max-width: $contentFixedWidth;
    }
}
.small-fixed {
    .tabs-row .tabs {
        padding-left: $contentPaddingLeftSmall;
    }
    .sulu-header .left-container {
        width: 0px;
        * {
            display: none;
        }
    }
}
