.sulu-header {
    width: 100%;
    height: $headerHeight;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;

    .blue-row {
        background: $blue;
        height: $headerHeight;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 900;
    }
    .toolbar-row {
        display: table;
        table-layout: fixed;
        height: $headerHeight;
        width: 100%;
        position: relative;
        left: -1px;
        z-index: 1000;

        .left-container {
            display: table-cell;
            width: 50px;
            background: $blue;
            vertical-align: top;
            position: relative;
            z-index: 500;
            @include single-transition(width, $shrinkAnimationDuration);
        }
        .toolbar-container {
            display: table-cell;
            vertical-align: top;
            width: 100%;
            position: relative;
            z-index: 100;
        }
        .right-container {
            display: table-cell;
            width: 118px;
            padding-left: 10px;
            height: $headerHeight;
            vertical-align: top;
            position: relative;
            z-index: 500;
            background: $blue;
        }
        .back {
            color: $white;
            text-align: center;
            line-height: $headerHeight;
            cursor: pointer;
        }
        .language-changer {
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;
            line-height: 30px;
            padding-left: 8px;
            background: $white;
            border-radius: $borderRadius;
            font-size: $smallFontSize;
            position: relative;
            cursor: pointer;
            .dropdown-toggle {
                display: inline-block;
                vertical-align: top;
                padding: 0 8px 0 10px;
            }
            .dropdown-menu {
                right: 0;
                left: auto;
                margin-top: 0;
                display: inline-block;
                min-width: 160px;
                width: auto;
            }
        }
    }
    .tabs-row {
        position: relative;
        top: 0px;
        z-index: 500;
        @include single-transition(top, $tabsHideAnimationDuration, $tabsHideAnimationDelay, ease);

        .tabs {
            padding: 0 50px;
            overflow: auto;
            background: $white;
            @include single-transition(padding, $shrinkAnimationDuration);
        }
    }

    &.tabs-hidden {
        .tabs-row {
            top: (-1) * $tabsHeight;
        }
    }

    // add top space to the content-container beneath the header
    & + .wrapper {
        padding-top: $headerHeight;
    }

    &.has-tabs + .wrapper {
        .page::before {
            height: $tabsHeight;
        }
    }

    &.has-label + .wrapper {
        .page::before {
            height: $labelHeight;
        }
    }

    &.has-tabs.has-label + .wrapper {
        .page::before {
            height: $tabsHeight + $labelHeight;
        }
    }
}
.fixed {
    .toolbar-row {
        max-width: $contentFixedWidth + 100px;
    }
}
.small-fixed {
    .tabs-row .tabs {
        padding-left: $contentPaddingLeftSmall;
    }
    .sulu-header .left-container {
        width: 0px;
        * {
            display: none;
        }
    }
}
