
/** header options menu toggle **/
/** ========================== **/
/** only shown when parent has class
    .option-dropdown-toggler
**/
.options-dropdown-container {
  display: none;

  &.is-active {
    display: block;
  }
  span {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.options-dropdown-toggler {
  &:hover {
    .options-dropdown-container {
      display: block;
    }
  }
}
