// Colors
$shrinkBackgroundColor: #21272E !default;
$shrinkTextColor: $white !default;

// Column structure of the admin
/*----------------------------------------*/

#main {
    height: 100%;
    min-width: 50px + $contentMinWidth;
}

.navigation-container {
    float: left;
    height: 100%;
    position: relative;
}

.content-container {
    height: 100%;
    overflow: hidden;
    position: relative;

    &.has-visible-sidebar.has-max-sidebar .content-column {
        float: left;
    }
}

.content-column {
    height: 100%;
    position: relative;
    overflow: hidden;

    .wrapper {
        height: 100%;
        overflow: hidden;
    }

    .page {
        height: 100%;
        overflow: auto;
        &::before {
            display: block;
            content: "";
            width: 100%;
            margin-bottom: $contentPaddingTop;
        }
        &::after {
          display: block;
          content: "";
          width: 100%;
          margin-bottom: $contentPaddingBottom;
        }
    }

    #content {
        @include transition(width $shrinkAnimationDuration, padding-left $shrinkAnimationDuration, padding-right $shrinkAnimationDuration);
        min-width: $contentMinWidth;
        padding: 0 $contentPaddingRight 0 $contentPaddingLeft;

        h2.mainheadline {
            margin-top: 35px;
        }

        h1:first-child {
            margin-top: 0;
        }

        .content-tabs-content {
            padding-top: 80px;
        }
    }

    .sulu-title {
      @include transition(width $shrinkAnimationDuration, padding-left $shrinkAnimationDuration, padding-right $shrinkAnimationDuration);
        padding-left: $contentPaddingLeft;
        padding-right: $contentPaddingRight;
        min-width: $contentMinWidth;

        &.no-padding {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .fixed-width {
        @include clear-float;
        min-width: $contentMinWidth;
        width: $contentFixedWidth;
        padding-left: $contentPaddingLeft;
        padding-right: $contentPaddingRight;
        @include transition(width $shrinkAnimationDuration, padding-right $shrinkAnimationDuration, padding-left $shrinkAnimationDuration);
        &.no-left-space {
            padding-left: 0;
        }
        &.no-right-space {
            padding-right: 0;
        }
    }

    &.no-left-space {
        #content {
            padding-left: 0;
        }
    }

    &.no-right-space {
      #content {
          padding-right: 0;
      }
    }

    &.no-top-space {
        .page::before {
            height: 0;
            margin-bottom: 0;
        }
    }

    &.no-transitions {
        @include transition(none);
        #content, .page {
            @include transition(none);
            .fixed-width {
              @include transition(none);
            }
        }
        .sulu-title {
            @include transition(none);
        }
    }

    .sulu-app-shrink {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 120;
        cursor: pointer;
        width: 25px;
        height: 25px;
        overflow: hidden;
        background: $shrinkBackgroundColor;
        color: $shrinkTextColor;
        text-align: center;
        line-height: 25px;
        .fa-chevron-right {
            padding-left: 2px;
        }
        .fa-chevron-left {
            padding-right: 2px;
        }
    }

    &.max {
        float: none;
        width: auto;
    }

    &.fixed {
        float: none;
        width: auto;

        #content, .sulu-title {
          width: $contentFixedWidth;
        }
    }

    &.small-fixed {
        &.fixed:not(.no-right-space) #content,
        &.fixed .sulu-title {
            padding-right: $contentPaddingRightSmall;
        }
        &.fixed:not(.no-left-space) #content,
        &.fixed .sulu-title {
            padding-left: $contentPaddingLeftSmall;
        }
        &.fixed {
          #content, .sulu-title {
            width: $contentFixedSmallWidth;
          }
        }
        .fixed-width {
          width: $contentFixedSmallWidth;
          padding-left: $contentPaddingLeftSmall;
          padding-right: $contentPaddingRightSmall;
        }
    }
}

.sidebar-column {
    height: 100%;
    overflow: hidden;
    z-index: 99;
    position: relative;
    border-left: 1px solid $borderColor;

    &.fixed {
        width: $sidebarFixedWidth;
        float: right;
    }

    &.max {
        float: none;
        width: auto;
    }

    &.hidden {
        width: 0;
        height: 0;
        display: block;
    }
}

//
// responsiveness for case: content (max) sidebar (fixed)
// ------------------------------------------------------
//

// 1. Hides the sidebar if the minimum content width is reached
@media only screen and (max-width: 50px + $maxContentMinWidth + $sidebarFixedWidth) {
    .sidebar-column.fixed {
        width: 0;
        height: 0;
    }
}

//
// responsiveness for case: content (fixed) sidebar (max)
// ------------------------------------------------------
//

// 1. collapses the content-column to medium width
@media only screen and (max-width: 50px + $contentFixedWidth + $sidebarMaxCollapseWidth) {
    .has-visible-sidebar .content-column {
        &.fixed {
            #content, .sulu-title {
                width: $contentFixedSmallWidth;
            }
        }
      .fixed-width {
          width: $contentFixedSmallWidth;
      }
    }
}

// 2. hides the sidebar and brings the content-column to fit the screen
@media only screen and (max-width: 50px + $contentFixedSmallWidth + $sidebarMaxCollapseWidth) {
    .sidebar-column.max {
        width: 0;
        height: 0;
        border-left: 0;
    }

    .has-visible-sidebar .content-column {
        &.fixed {
            float: none;
            width: 100%;
            #content, .sulu-title {
                width: 100%;
            }
        }
        .fixed-width {
            width: 100%;
        }
    }

    .sulu-app-shrink {
        display: none;
    }
}

//
// responsiveness for case: content (fixed) sidebar (hidden)
// ------------------------------------------------------
//

// 1. makes the content-column fit the screen
@media only screen and (max-width: 50px + $contentFixedWidth) {
    .has-no-visible-sidebar .content-column {
        &.fixed {
            float: none;
            #content, .sulu-title {
                width: auto;
            }
        }
        .fixed-width {
            width: auto;
        }
    }
}

//
// responsiveness for case: content (fixed) sidebar (fixed)
// ------------------------------------------------------
//

// 1. makes the content-column fit the rest of the screen
@media only screen and (max-width: 250px + $contentFixedWidth + $sidebarFixedWidth) {
    .has-visible-sidebar .sidebar-column.fixed + .content-column {
        &.fixed {
            float: none;
            #content, .sulu-title {
                max-width: $contentFixedWidth;
                width: auto;
            }
        }
        .fixed-width {
            max-width: $contentFixedWidth;
            width: auto;
        }
    }
}
