// Column structure of the admin
/*----------------------------------------*/

#main {
    height: 100%;
    min-width: 50px + $contentMinWidth;
}

.content-container {
    height: 100%;
    overflow: hidden;
    position: relative;

    &.has-visible-sidebar.has-max-sidebar .content-column {
        float: left;
    }
}

.content-column {
    height: 100%;
    position: relative;
    overflow: hidden;

    .page {
        height: 100%;
        overflow: auto;
        padding: 0 $contentPaddingRight 0 $contentPaddingLeft;
        @include transition(padding-left $shrinkAnimationDuration, padding-right $shrinkAnimationDuration);

        // vertical paddings defined this way because of scrolling
        &::before, &::after {
          content: "";
          display: block;
          width: 100%;
        }
        &::before {
          height: 1px;
          margin-bottom: $contentPaddingTop - 1px;
        }
        &::after {
          height: 1px;
          margin-top: $contentPaddingBottom - 1px;
        }
    }

    #content {
        @include transition(width $shrinkAnimationDuration);
        min-width: $contentMinWidth;

        h2.mainheadline {
            margin-top: 35px;
        }

        h1:first-child {
            margin-top: 0;
        }

        .content-tabs-content {
            padding-top: 80px;
        }
    }

    &.no-left-space {
        .page {
            padding-left: 0;
        }
    }

    &.no-right-space {
      .page {
          padding-right: 0;
      }
    }

    &.no-top-space {
        .page::before {
            height: 0;
            margin-bottom: 0;
        }
    }

    &.no-transitions {
        @include transition(none);
        #content {
            @include transition(none);
        }
    }

    .sulu-app-shrink {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 120;
        cursor: pointer;
        width: 25px;
        height: 25px;
        overflow: hidden;
        background: #21272E;
        color: $white;
        text-align: center;
        line-height: 25px;
        .fa-chevron-right {
            padding-left: 2px;
        }
        .fa-chevron-left {
            padding-right: 2px;
        }
    }

    &.max {
        float: none;
        width: auto;
    }

    &.fixed {
        float: none;
        width: auto;

        #content {
          width: $contentFixedWidth;
        }

        &.small-fixed {
            .page {
                padding-left: $contentPaddingLeftSmall;
                padding-right: $contentPaddingRightSmall;
            }
            #content {
                width: $contentFixedSmallWidth;
            }
        }
    }
}

.sidebar-column {
    height: 100%;
    overflow: hidden;
    z-index: 99;
    position: relative;

    &.fixed {
        width: $sidebarFixedWidth;
        float: right;
    }

    &.max {
        float: none;
        width: auto;
    }

    &.hidden {
        width: 0;
        height: 0;
        display: block;
    }
}

//
// responsiveness for case: content (max) sidebar (fixed)
// ------------------------------------------------------
//

// 1. Hides the sidebar if the minimum content width is reached
@media only screen and (max-width: 50px + $maxContentMinWidth + $sidebarFixedWidth) {
    .sidebar-column.fixed {
        width: 0;
        height: 0;
    }
}

//
// responsiveness for case: content (fixed) sidebar (max)
// ------------------------------------------------------
//

// 1. collapses the content-column to medium width
@media only screen and (max-width: 50px + $contentFixedWidth + $sidebarMaxCollapseWidth) {
    .has-visible-sidebar .content-column.fixed {
        #content {
            width: $contentFixedMediumWidth;
        }
    }
}

// 2. collapses the content-column to small width
@media only screen and (max-width: 50px + $contentFixedMediumWidth + $sidebarMaxCollapseWidth) {
    .has-visible-sidebar .content-column.fixed {
        #content {
            width: $contentFixedSmallWidth;
        }
    }
}

// 3. hides the sidebar and brings the content-column to fit the screen
@media only screen and (max-width: 50px + $contentFixedSmallWidth + $sidebarMaxCollapseWidth) {
    .sidebar-column.max {
        width: 0;
        height: 0;
    }

    .has-visible-sidebar .content-column.fixed {
        float: none;
        #content {
            max-width: $contentFixedWidth;
            width: auto;
        }
    }

    .sulu-app-shrink {
        display: none;
    }
}

//
// responsiveness for case: content (fixed) sidebar (hidden)
// ------------------------------------------------------
//

// 1. makes the content-column fit the screen
@media only screen and (max-width: 50px + $contentFixedWidth) {
    .has-no-visible-sidebar .content-column.fixed {
        float: none;
        #content {
            max-width: $contentFixedWidth;
            width: auto;
        }
    }

}

//
// responsiveness for case: content (fixed) sidebar (fixed)
// ------------------------------------------------------
//

// 1. makes the content-column fit the rest of the screen
@media only screen and (max-width: 250px + $contentFixedWidth + $sidebarFixedWidth) {
    .has-visible-sidebar .sidebar-column.fixed + .content-column.fixed {
        float: none;
        #content {
            max-width: $contentFixedWidth;
            width: auto;
        }
    }
}
