// Column structure of the admin
/*----------------------------------------*/

#main {
    height: 100%;
    min-width: 50px + $contentMinWidth;
}

.navigation-container {
    float: left;
    height: 100%;
    position: relative;
}

.content-container {
    height: 100%;
    overflow: hidden;
    position: relative;

    &.has-visible-sidebar.has-max-sidebar .content-column {
        float: left;
    }
}

.content-column {
    height: 100%;
    position: relative;
    overflow: hidden;
    @include transition(width, $shrinkAnimationDuration);

    .wrapper {
        height: calc(100% - #{$headerHeight});
        overflow: hidden;
    }

    .page {
        height: 100%;
        overflow: auto;
        &::before {
            display: block;
            content: "";
            margin-bottom: $contentPaddingTop;
        }
        &::after {
            display: block;
            content: "";
            margin-bottom: $contentPaddingBottom;
        }
    }

    #content {
        @include transition(width $shrinkAnimationDuration, padding-left $shrinkAnimationDuration, padding-right $shrinkAnimationDuration);
        min-width: $contentMinWidth;
        width: $contentFixedWidth;
        padding: 0 $contentPaddingRight 0 $contentPaddingLeft;

        h2.mainheadline {
            margin-top: 35px;
        }

        h1:first-child {
            margin-top: 0;
        }

        .content-tabs-content {
            padding-top: 80px;
        }
    }

    .sulu-title {
        @include transition(width $shrinkAnimationDuration, padding-left $shrinkAnimationDuration, padding-right $shrinkAnimationDuration);
        padding: 0 $contentPaddingRight 0 $contentPaddingLeft;
        min-width: $contentMinWidth;
    }

    .fixed-width {
        @include clear-float;
        min-width: $contentMinWidth;
        width: $contentFixedWidth - $contentPaddingLeft - $contentPaddingRight;
        @include transition(width $shrinkAnimationDuration, padding-right $shrinkAnimationDuration, padding-left $shrinkAnimationDuration);
    }

    .highlight-section .fixed-width {
        width: $contentFixedWidth;
    }

    &.no-transitions {
        @include transition(none);
        #content, .page {
            @include transition(none);
            .fixed-width {
              @include transition(none);
            }
        }
        .sulu-title {
            @include transition(none);
        }
    }

    .sulu-app-shrink {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 120;
        cursor: pointer;
        width: 25px;
        height: 25px;
        overflow: hidden;
        background: #21272E;
        color: $white;
        text-align: center;
        line-height: 25px;
        .fa-chevron-right {
            padding-left: 2px;
        }
        .fa-chevron-left {
            padding-right: 2px;
        }
    }

    &.max {
        float: none;
        width: auto;
    }

    &.fixed {
        float: none;
        width: auto;

        .sulu-title {
            width: $contentFixedWidth;
        }
    }

    .highlight-section {
        $imageWidth: 310px;
        $imageHeight: 270px;
        margin: (-1) * $contentPaddingTop (-1) * $contentPaddingRight 30px (-1) * $contentPaddingLeft;
        background: $grayLighterer;
        @include clear-float;
        @include transition(width, $shrinkAnimationDuration);

        .image {
            float: left;
            width: $imageWidth;
            height: $imageHeight;
            overflow: hidden;
        }

        .content {
            width: calc(100% - #{$imageWidth});
            float: left;
            @include clear-float;

            &:only-child {
                width: calc(100% - #{$contentPaddingLeft + $contentPaddingRight});
            }
        }
    }

    &.small-fixed {
        #content {
            padding: 0 $contentPaddingRightSmall 0 $contentPaddingLeftSmall;
            width: $contentFixedSmallWidth;
        }

        &.fixed .sulu-title {
            padding: 0 $contentPaddingRightSmall 0 $contentPaddingLeftSmall;
            width: $contentFixedSmallWidth;
        }
        .fixed-width {
            width: $contentFixedSmallWidth - $contentPaddingRightSmall - $contentPaddingLeftSmall;
        }
        .highlight-section {
            margin-right: (-1) * $contentPaddingRightSmall;
            .fixed-width {
                width: $contentFixedSmallWidth;
                .content:only-child {
                    width: calc(100% - #{$contentPaddingLeftSmall + $contentPaddingRightSmall});
                }
            }
        }
        .sulu-header {
            width: $contentFixedSmallWidth;
        }
    }
}

.sidebar-column {
    height: 100%;
    overflow: hidden;
    z-index: 99;
    position: relative;
    border-left: 1px solid $borderColor;

    &.fixed {
        width: $sidebarFixedWidth;
        float: right;
    }

    &.max {
        float: none;
        width: auto;
    }

    &.hidden {
        width: 0;
        height: 0;
        display: block;
    }
}

//
// responsiveness for case: content (max) sidebar (fixed)
// ------------------------------------------------------
//

// 1. Hides the sidebar if the minimum content width is reached
@media only screen and (max-width: 50px + $maxContentMinWidth + $sidebarFixedWidth) {
    .sidebar-column.fixed {
        width: 0;
        height: 0;
    }
}

//
// responsiveness for case: content (fixed) sidebar (max)
// ------------------------------------------------------
//

// 1. collapses the content-column to medium width
@media only screen and (max-width: 50px + $contentFixedWidth + $sidebarMaxCollapseWidth) {
    .has-visible-sidebar .content-column {
        &.fixed, .fixed-width, &.fixed .sulu-title {
            width: $contentFixedSmallWidth;
        }
    }
}

// 2. hides the sidebar and brings the content-column to fit the screen
@media only screen and (max-width: 50px + $contentFixedSmallWidth + $sidebarMaxCollapseWidth) {
    .sidebar-column.max {
        width: 0;
        height: 0;
        border-left: 0;
    }

    .has-visible-sidebar .content-column {
        &.fixed, .fixed-width, &.fixed .sulu-title {
            float: none;
            width: 100%;
        }
    }

    .sulu-app-shrink {
        display: none;
    }
}

//
// responsiveness for case: content (fixed) sidebar (hidden)
// ------------------------------------------------------
//

// 1. makes the content-column fit the screen
@media only screen and (max-width: 50px + $contentFixedWidth) {
    .has-no-visible-sidebar .content-column {
        &.fixed, .fixed-width, .sulu-title {
            float: none;
            width: auto;
        }
    }
}

//
// responsiveness for case: content (fixed) sidebar (fixed)
// ------------------------------------------------------
//

// 1. makes the content-column fit the rest of the screen
@media only screen and (max-width: 250px + $contentFixedWidth + $sidebarFixedWidth) {
    .has-visible-sidebar .sidebar-column.fixed + .content-column {
        &.fixed, .fixed-width, .sulu-title {
            float: none;
            max-width: $contentFixedWidth;
            width: auto;
        }
    }
}
