.sulu-login {
    width: 100%;
    height: 100%;
    background: $baseBackgroundColor;
    overflow: hidden;
    position: relative;

    .background {
        display: none;
        position: absolute;

        .image {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            @include background-size(cover);
            background-repeat: no-repeat;
            background-position: center center;
            @include blur;
            z-index: 10;
        }

        .darkener {
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.35;
            transition: opacity 450ms;
            z-index: 20;
        }

        &.active {
            .darkener {
                opacity: 0.15;
            }
        }
    }
}
