@import "compass/css3/transform";

.sulu-login {
    width: 100%;
    height: 100%;
    background: $baseBackgroundColor;
    overflow: hidden;

    .media-container, .content-container{
        width: 50%;
        height: 100%;
        position: relative;
    }
    .media-container {
        float: left;
        background: $black;

        .media-logo {
            width: 200px;
            height: 200px;
            z-index: 20;

            @include centerHorizontalAndVertical;

            background: url("../img/logo.svg") no-repeat center center;
            @include background-size(contain);
        }

        .media-background {
            width: 100%;
            height: 100%;
            z-index: 10;

            background: no-repeat center center;
            @include background-size(cover);

            transition: opacity 500ms;
            opacity: 0.5;

            //@include blur;
        }

        //flare effect
        &.flare {
            .background {
                opacity: 0.6;
            }
        }
    }

    .content-container {
        float: right;
        //background-color: #28B6CA;
        background-color: $blue;

        .content-box {
            $boxWidth: 450px;

            width: $boxWidth;
            z-index: 10;
            overflow: hidden;

            @include centerHorizontalAndVertical;

            transition: height 200ms;



            .frame-slider {
                transition: left 300ms;
                display: table; //vertical centering
                position: relative;
            }

            .box-frame {
                display: table-cell;
                min-width: $boxWidth;
                max-width: $boxWidth;
                vertical-align: middle;

                padding: 0 50px;
                white-space: normal;

                .message, .error-message {
                    display: block;
                }

                .message {
                    color: $white;
                    padding-bottom: 10px;

                    text-align: center;

                    span.to-mail {
                        display: block;
                        padding-top: 10px;
                        font-weight: bold;
                    }
                }

                .error-message {
                    color: $grayDarkLighter;

                    max-height: 0px; //use max-height to enable css animation non-static height
                    transition: max-height 200ms;
                    overflow: hidden;
                }

                &.login-error {
                    .error-message {
                        max-height: 100px;
                        padding-bottom: 10px;
                    }

                    .husky-validate {
                        color: $red;
                    }
                }

                .box-frame-footer{
                    .btn.action {
                        border: 1px solid $white;
                        float: right;

                        &:hover {
                            border: 1px solid $grayDarkLighter;
                            color: $grayDarkLighter;
                        }
                    }

                    span {
                        line-height: 40px;
                    }
                }
            }

            .login-loader {
                float: right;
                margin: 20px 15px 0 0;
                overflow: hidden;
            }
        }

        span.navigator {
            color: $white;
            cursor: pointer;
            &:hover {
                color: $grayDarkLighter; //testing
            }
        }

        .login-content-footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            text-align: center;
            @include clear-float;
        }
    }
}
