@import "compass/css3/transform";

.sulu-login {
    width: 100%;
    height: 100%;
    background: $baseBackgroundColor;
    overflow: hidden;

    .media-container, .content-container{
        width: 50%;
        height: 100%;
        position: relative;
    }
    .media-container {
        float: left;
        background: $black;

        .media-logo {
            width: 150px;
            height: 150px;
            z-index: 20;

            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -75px;
            margin-top: -75px;

            background: url("../img/logo.svg") no-repeat center center;
            @include background-size(contain);
        }

        .media-background {
            width: 100%;
            height: 100%;
            z-index: 10;

            background: no-repeat center center;
            @include background-size(cover);

            transition: opacity 500ms;
            opacity: 0.5;

            //@include blur;
        }

        //flare effect
        &.flare {
            .media-background {
                opacity: 0.6;
            }
        }
    }

    .content-container {
        float: right;
        //background-color: #28B6CA;
        background-color: $blue;

        .content-box {
            $boxWidth: 400px;

            width: $boxWidth;
            z-index: 10;
            overflow: hidden;

            @include centerHorizontalAndVertical;

            transition: height 200ms;



            .frame-slider {
                transition: left 300ms;
                display: table; //vertical centering
                position: relative;
            }

            .box-frame {
                display: table-cell;
                min-width: $boxWidth;
                max-width: $boxWidth;
                vertical-align: middle;

                padding: 0 50px;
                white-space: normal;

                .message, .error-message {
                    display: block;
                }

                .message {
                    color: $white;
                    padding-bottom: 10px;

                    text-align: center;

                    span.to-mail {
                        display: block;
                        padding-top: 10px;
                        font-weight: bold;
                    }
                }

                .error-message {
                    color: $grayDarkLighter;

                    max-height: 0px; //use max-height to enable css animation non-static height
                    transition: max-height 200ms;
                    overflow: hidden;
                }

                &.login-error {
                    .error-message {
                        max-height: 100px;
                        padding-bottom: 10px;
                    }

                    .husky-validate {
                        color: $red;
                    }
                }

                .box-frame-footer{
                    margin: 0; //overwrite grid-row

                    .btn {
                        border: 1px solid $white;
                        float: right;
                        padding: 0 45px;

                        &:hover {
                            border: 1px solid $grayDarkLighter;
                            color: $grayDarkLighter;
                        }

                        &.inactive {
                            border: 1px solid $grayDarkLighter;
                            color: $grayDarkLighter;
                        }
                    }

                    span {
                        line-height: 40px;
                    }
                }
            }
        }

        span.navigator {
            color: $white;
            font-size: 12px; //as in sketch
            cursor: pointer;
            &:hover {
                color: $grayDarkLighter; //testing
            }
        }

        .login-content-footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            z-index: 20;
            text-align: center;

            opacity: 1;
            transition: opacity 200ms;

            @include clear-float;
        }

        .login-loader {
            z-index: 10;
            @include centerHorizontalAndVertical;
            top: 100%;

            opacity: 0;
            transition: opacity 200ms;
        }

        &.content-loading{
            .login-content-footer {
                opacity: 0;
            }

            .login-loader {
                opacity: 1;
            }
        }

        .success-overlay {
            display: none;  //hide on start
            opacity: 0;     //fade in when needed
            transition: opacity 500ms;

            position: relative;
            height: 100%;
            width: 100%;
            z-index: 40;
            background-color: $green;

            .success-icon {
                @include centerHorizontalAndVertical;
                font-size: 200px;
                color: $white;
            }
        }
    }
}

.login-label-container {
    left: 75% !important;
}
