#main {
    min-width: 0;
}

.sulu-login {
    $logoSize: 150px;
    $logoPath: "../img/logo_white.svg";
    $boxWidth: 400px;

    width: 100%;
    height: 100%;
    background: $baseBackgroundColor;
    overflow: hidden;

    .media-container, .content-container{
        width: 50%;
        height: 100%;
        position: relative;

        // properties for success slide animation
        left: 0;
        @include transition(left 300ms 500ms);
    }
    .media-container {
        float: left;
        background: $grayDarkLighter; //until image is faded in

        .media-logo {
            width: $logoSize;
            height: $logoSize;
            z-index: 20;

            @include centerFixedSizeBlock($logoSize, $logoSize);
            background: url($logoPath) no-repeat center center;
            @include background-size(contain);
        }

        // do not display background-image until loading finished
        &.media-loading {
            .media-background {
                opacity: 0;
            }
        }

        .media-background {
            width: 100%;
            height: 100%;

            opacity: 1;
            @include transition(opacity 300ms);

            background: no-repeat center center;
            @include background-size(cover);

            // flare effect
            .darkener {
                width: 100%;
                height: 100%;
                background: $black;

                opacity: 0.5;
                @include transition(opacity 500ms);
            }
        }

        //flare effect
        &:hover {
            .media-background {
                .darkener {
                    opacity: 0.4;
                }
            }
        }
    }

    .content-container {
        float: right;
        background-color: $blue;

        .content-box {
            width: $boxWidth;
            z-index: 10;
            overflow: hidden;
            @include centerBlock;

            .content-logo {
                display: none; //only in portrait-mode (media query)
                margin: 0 auto 30px;

                width: $logoSize;
                height: $logoSize;
                z-index: 20;

                background: url($logoPath) no-repeat center center;
                @include background-size(contain);
            }

            .frame-slider {
                @include transition(left 300ms);
                position: relative;

                .box-frame {
                    display: table-cell;
                    min-width: $boxWidth;
                    max-width: $boxWidth;
                    vertical-align: middle;
                    padding: 50px;

                    .message, .error-message {
                        display: block;
                        color: $white;
                    }

                    .message {
                        padding-bottom: 20px;
                        text-align: center;

                        &.to-mail {
                            font-weight: bold;
                        }
                    }

                    .error-message {
                        // use max-height to enable css animation non-static height
                        max-height: 0px;
                        @include transition(max-height 200ms);
                        overflow: hidden;
                    }

                    &.login-error {
                        .error-message {
                            max-height: 100px;
                            padding-bottom: 20px;
                        }

                        .husky-validate {
                            color: $red;
                        }
                    }

                    .box-frame-footer {
                        margin: 0; // overwrite grid-row
                        position: relative; // loader positioning

                        .btn {
                            border: 1px solid $white;
                            float: right;
                            padding: 0 45px;

                            // loader fade-in
                            opacity: 1;
                            @include transition(opacity 300ms);

                            &.inactive {
                                border: 1px solid $grayDarkLighter;
                                color: $grayDarkLighter;
                                cursor: default;
                            }
                        }

                        span {
                            line-height: 40px;
                        }
                    }

                    .form-element {
                        border-color: $white;
                    }

                    &.content-loading {
                        .box-frame-footer {
                            .btn {
                                opacity: 0;
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }

        .navigator {
            color: $white;
            font-size: 12px; // as in sketch
            cursor: pointer;
        }

        .login-content-footer {
            width: 100%;

            position: absolute;
            z-index: 10;
            bottom: 0px;
            left: 0px;

            text-align: center;
        }

        .success-overlay {
            height: 100%;
            width: 100%;
            position: relative;
            z-index: -10;

            background-color: $green;

            // success animation
            opacity: 0;
            @include transition(opacity 300ms);

            .success-icon {
                width: 200px;
                height: 200px;
                @include centerFixedSizeBlock(200px, 200px);

                background: url('../img/login-success.svg') no-repeat center center;
                @include background-size(contain);
            }
        }

        .login-loader {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -10;
        }
    }

    &.content-success{
        .success-overlay {
            opacity: 1;
        }

        .media-container {
            left: -50%;
        }

        .content-container {
            left: 50%;
        }
    }
}

@media screen and (max-width: 800px) , screen and (orientation: portrait) {
    .sulu-login {
        .media-container {
            display: none;
        }

        .content-container {
            width: 100%;

            .content-box {
                .content-logo {
                    display: block;
                }
            }

            .login-content-footer {
                display: none;
            }
        }

        &.content-success {
            .content-container {
                left: -100%;
            }
        }
    }

    .login-label-container {
        left: 50% !important;
    }
}

