// Sidebar definitions
/*----------------------------------------*/

.sulu-sidebar {
    width: 100%;
    height: 100%;
    background: $white;
    overflow: auto;

    .sidebar-loader {
        position: relative;
        left: 0;
        top: 50%;
        margin-top: -50px;
    }

    .action {
        color: $black;
        cursor: pointer;
        text-decoration: none;
    }

    .label {
        font-weight: 600;
        margin: 0 0 5px 0;
        color: $grey;
    }

    .blue-icon {
        width: 30px;
        height: 20px;
        cursor: pointer;
        color: $white;
        background: $blue;
        text-align: center;
        border-radius: 2px;
        margin-left: 10px;
        display: inline-block;
        font-size: 15px;
        opacity: 0;
        -webkit-transition: opacity 100ms ease-in;
        -webkit-transition-delay: 200ms;
        -moz-transition: opacity 100ms ease-in 200ms;
        -o-transition: opacity 100ms ease-in 200ms;
        transition: opacity 100ms ease-in 200ms;
    }

    h2 .blue-icon > span {
        vertical-align: text-top;
        margin-top:-4px;
    }

    .show-icon:hover .blue-icon {
        opacity: 1;
    }

    hr {
        border: 0;
        height: 1px;
        background: $grayLighterer;
    }

}

.sidebar-padding-50 > div {
    padding: 50px;
}
