<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="../TestBundle/Resources/app/bootstrap.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
    <source>
        <include>
            <directory>./</directory>
        </include>

        <exclude>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="SuluTagBundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="APP_ENV" value="test" force="true"/>
        <env name="KERNEL_CLASS" value="Sulu\Bundle\TagBundle\Tests\Application\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <ini name="date.timezone" value="UTC"/>
    </php>

</phpunit>
