@import '../../containers/Application/colors.scss';
@import './variables.scss';

$collapsedTabListBackgroundColor: $tabMenuBackgroundColor;

.default {
    background-color: $collapsedTabListBackgroundColor;
    box-shadow: 2px 6px 12px 0 rgba($dustyGray, .5);
}

.light {
    background-color: $white;
    box-shadow: 2px 6px 12px 0 rgba($alto, .5);
}

.collapsed-tab-list {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    max-height: 70vh;
    overflow: auto;
}
