@import '../../containers/Application/colors.scss';
@import './variables.scss';

$tabsMenuBackgroundColor: $alto;

.tabs{
    height: $tabMenuHeight;
    list-style: none;
    margin: 0;
    padding: 0 40px;
    display: flex;
    background-color: $tabsMenuBackgroundColor;
}
