and_chr >= 107
and_ff >= 106
and_qq >= 13.1
and_uc >= 13.4
android >= 107
chrome >= 106
edge >= 106
firefox >= 105
ios_saf >= 16.0
kaios >= 2.5
op_mob >= 64
opera >= 90
safari >= 16.0
samsung >= 17.0
