/node_modules/
/vendor/
/composer.phar
/composer.lock
/tests/Resources/cache/*
/tests/app/cache/*
/tests/app/logs/*
/tests/app/data/*
/src/Sulu/Bundle/*/vendor
/src/Sulu/Bundle/*/Tests/app/cache
/src/Sulu/Bundle/*/Tests/app/logs
/src/Sulu/Bundle/*/Tests/app/data
/src/Sulu/Bundle/TestBundle/Resources/app/cache
/src/Sulu/Component/Rest/Tests/Functional/ListBuilder/Metadata/cache
/src/Sulu/Bundle/TestBundle/Resources/app/cache/
*~

npm-debug.log

# .DS_Store
.DS_Store

# IDEs
.idea/*
*.iml

# PHPunit
phpunit.xml

# Jackrabbit
jackrabbit-standalone*
jackrabbit/*

# phpunit
/phpunit.xml

