/.env
/var/
!/var/.gitkeep
/vendor/
/.web-server-pid
/src/Sulu/Bundle/*/Tests/var/

# web
/public/bundles
/public/uploads
/public/admin
!/public/admin/.gitkeep

# composer
/composer.phar
composer.lock
/vendor

# npm
package-lock.json
/node_modules

# phpunit
.phpunit
phpunit.xml

# IDEs
/.idea
*.iml
*~
.web-server-pid

# System files
.DS_Store

# Styleguide
/styleguide

# IDEs
.idea
*.iml

# Jackrabbit
jackrabbit-standalone*
jackrabbit/*

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
