sudo: false
dist: trusty

language: php

cache:
  directories:
    - $HOME/.composer/cache
    - downloads

env:
  global:
    - JACKRABBIT_VERSION=2.12.0
    - SYMFONY__PHPCR__TRANSPORT=doctrinedbal
    - TEST_FLAGS=""
    - SYMFONY__DATABASE__DRIVER=pdo_mysql
    - SYMFONY_DEPRECATIONS_HELPER=weak

matrix:
  include:
    - php: 5.5
      services:
        - mysql
      env:
        - ENABLE_SWAP=true
    - php: 7.0
      env:
        - COMPOSER_FLAGS="--prefer-lowest --prefer-dist --no-interaction"
      services:
        - mysql
    - php: 7.4
      env:
        - COMPOSER_FLAGS="--prefer-dist --no-interaction"
        - SYMFONY__DATABASE__DRIVER=pdo_pgsql
        - SYMFONY__DATABASE__USER=postgres
        - SYMFONY__DATABASE__PASSWORD=postgres
        - SYMFONY__PHPCR__TRANSPORT=jackrabbit
        - PECL_INSTALL=imagick
        # restart jackrabbit after each suite see: https://github.com/sulu-io/sulu/issues/2137
        - TEST_FLAGS="--jackrabbit-restart"
      services:
        - postgresql

# Sqlite support: https://github.com/sulu/sulu/issues/2048
# Postgres support: https://github.com/sulu/sulu/issues/2241
#
#    - php: 7.0
#      env:
#        - SYMFONY__DATABASE__DRIVER=pdo_sqlite
#        - SYMFONY__DATABASE__PATH=test.sqlite
#    - php: 7.0
#      env: 
#        - SYMFONY__DATABASE__DRIVER=pdo_pgsql
#        - SYMFONY__DATABASE__USER=postgres
#        - SYMFONY__DATABASE__PASSWORD=postgres
#  fast_finish: true # do not wait for allowed failures, as they do not affect the build.

before_script:
  - php -v
  - php -m
  - |
    if [[ $PECL_INSTALL ]]; then
        printf "\n" | pecl install $PECL_INSTALL
    fi
  - | # enable swap
    if [[ $ENABLE_SWAP == 'true' ]]; then
        sudo fallocate -l 4G /swapfile
        sudo chmod 600 /swapfile
        sudo mkswap /swapfile
        sudo swapon /swapfile
        sudo sysctl vm.swappiness=10
    fi
  - if [ ! -d downloads ]; then mkdir downloads; fi
  - |
    if [[ $SYMFONY__PHPCR__TRANSPORT = jackrabbit ]]; then 
        if [ ! -f downloads/jackrabbit-standalone-$JACKRABBIT_VERSION.jar ]; then 
            cd downloads
            wget http://archive.apache.org/dist/jackrabbit/$JACKRABBIT_VERSION/jackrabbit-standalone-$JACKRABBIT_VERSION.jar
            cd -
        fi
        java -jar downloads/jackrabbit-standalone-$JACKRABBIT_VERSION.jar > /dev/null &
    fi
  # the content tests are intensive and there are memory leaks, this is more pronounced with the Jackalope DBAL PHPCR implementation.
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - phpenv config-rm xdebug.ini || true # dont fail when xdebug is not available
  - |
    if [[ $SYMFONY__PHPCR__TRANSPORT = jackrabbit ]]; then
        composer remove jackalope/jackalope-doctrine-dbal --dev --no-interaction --no-update
        composer require jackalope/jackalope-jackrabbit:~1.2  --no-update --no-interaction
    fi
  - |
    if [[ -z "$COMPOSER_FLAGS" ]]; then
        composer remove phpcr/phpcr-shell --dev # this also installs every package but does not exceed memory limit
    else
        composer update $COMPOSER_FLAGS
    fi

script: 
  - time ./bin/runtests -i -a $TEST_FLAGS

notifications:
  slack:
    secure: "Gd3/1e0pBKvJv1UhWpBkWijJpmSWlarg6uPBJO0h4z1IpkZjd++jOjhmOQ7n+yMfuapQuJTcVOK0yIWu7orJoGAKFkBlMEIrLk1xMAG9phjjMLUO0FWgcQ3eVW5mTyfMBtClz4OL5wXckw17ohtXHDK8qnI0Hz9Qj8Rqgf2OZhM="
