includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    paths:
        - ./
    level: 1
    excludes_analyse:
        - %currentWorkingDirectory%/config/*
        - %currentWorkingDirectory%/flow_types/*
        - %currentWorkingDirectory%/node_modules/*
        - %currentWorkingDirectory%/public/*
        - %currentWorkingDirectory%/styleguide/*
        - %currentWorkingDirectory%/templates/*
        - %currentWorkingDirectory%/tests/app/cache/*
        - %currentWorkingDirectory%/tests/Resources/cache/*
        - %currentWorkingDirectory%/var/*
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/*/phpcr-migrations/*
        - %currentWorkingDirectory%/*/Tests/app/cache/*
        - %currentWorkingDirectory%/*/Tests/app/log/*
        - %currentWorkingDirectory%/*/Tests/var/cache/*
        - %currentWorkingDirectory%/*/Tests/var/log/*
        - %currentWorkingDirectory%/*/vendor/*
        - %currentWorkingDirectory%/bin/console
        - %currentWorkingDirectory%/src/Sulu/Bundle/TestBundle/Resources/app/config/config.php
        # the following files are excluded because of autoloader error which cant be add to ignoreErrors
        - %currentWorkingDirectory%/src/Sulu/Component/Rest/RestController.php
        - %currentWorkingDirectory%/src/Sulu/Bundle/CoreBundle/DependencyInjection/Compiler/ExceptionHandlerCompilerPass.php
        - %currentWorkingDirectory%/src/Sulu/Component/Rest/ExceptionSerializerHandler.php
        # The following should be removed at some point
        - %currentWorkingDirectory%/*/Tests/*
    ignoreErrors:
        - '#has invalid typehint type Symfony\\Bundle\\FrameworkBundle\\Controller\\ControllerNameParser#'
        - '#has invalid typehint type Symfony\\Bundle\\TwigBundle\\Controller\\ExceptionController#'
