<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./src/Sulu/Component/*/Tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">./src/Sulu/Component/*/Tests/Functional</directory>
        </testsuite>
    </testsuites>

    <!-- Code coverage filter -->
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
                <directory>./src/Sulu/Component/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="tests/app"/>
        <var name="APP_DB" value="mysql"/>
    </php>
</phpunit>
