<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="components">
            <directory suffix="Test.php">./src/Sulu/Component/*/Tests</directory>
        </testsuite>
    </testsuites>

    <!-- Code coverage filter -->
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
                <directory>./src/Sulu/Component/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
