<!DOCTYPE html>
<html>
    <head>
        <title>SULU</title>
        <link rel="stylesheet" href="{{ preload(asset('main.css', 'admin'), {as: 'style'}) }}">
    </head>
    <body>
        <div id="application">
        </div>
        <script src="{{ preload(asset('main.js', 'admin'), {as: 'script'})}}"></script>
    </body>
</html>
