<!DOCTYPE html>
<html>
    <head>
        <title>SULU</title>
    </head>
    <body>
        <div id="application">
        </div>
        <script src="{{ asset('main.js')}}"></script>
    </body>
</html>
