<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>SULU</title>
        <link rel="stylesheet" href="{{ preload(asset('main.css', 'sulu_admin'), {as: 'style'}) }}">
    </head>
    <body>
        <div id="application">
        </div>
        <script src="{{ preload(asset('main.js', 'sulu_admin'), {as: 'script'})}}"></script>
    </body>
</html>
