<!DOCTYPE html>
<html>
    <head>
        <title>SULU</title>
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div id="application">
        </div>
        <script src="{{ asset('main.js')}}"></script>
    </body>
</html>
