<tr <% if (!!id) { %> data-id="<%= id %>"<% } %>>
    <td>
        <label>
            <input type="radio" class="custom-radio <% if (!!isDefault) { %><%= 'is-selected\" checked=\"checked' %><% } %>" name="catalogue-radio">
            <span class="custom-radio-icon"></span>
        </label>
    </td>
    <td>
        <input class="form-element input-locale" type="text" data-trigger="focusout" data-minlength="3" value="<% if (!!locale) { %><%= locale %><% } %>"/>
    </td>
    <td class="remove-row">
        <span class="icon-remove"></span>
    </td>
</tr>
