<!doctype html>
<html>
    <head>
        <title>Sulu</title>
        <!-- build:css app.min.css -->
        <link rel="stylesheet" type="text/css" href="/bundles/suluadmin/js/vendor/husky/husky.min.css" />
        <link rel="stylesheet" type="text/css" href="/bundles/suluadmin/css/main.css" />
        <!-- endbuild -->
    </head>
    <body>
        <div id="container" class="clearfix">
            <div id="top">

            </div>
            <div id="navigation">

            </div>
            <div id="content">

            </div>
        </div>
        <!-- build:js app.min.js -->
        <script data-main="/bundles/suluadmin/js/main" src="/bundles/suluadmin/js/vendor/requirejs/require.js"></script>
        <!-- endbuild -->
    </body>
</html>