<!doctype html>
<html>
    <head>
        <title>Sulu</title>
    </head>
    <body>
        <div id="container">
            <div id="navigation">

            </div>
            <div id="content">

            </div>
        </div>
        {% javascripts
            '@SuluAdminBundle/Resources/public/js/bower_components/requirejs/require.js'
            '@SuluAdminBundle/Resources/public/js/bower_components/jquery/jquery.js'
            '@SuluAdminBundle/Resources/public/js/bower_components/underscore/underscore.js'
            '@SuluAdminBundle/Resources/public/js/bower_components/backbone/backbone.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>