<html>
    <head>
        <title><%= translations.noPreviewLabel %></title>

        <link rel="stylesheet" type="text/css" href="/bundles/suluadmin/js/vendor/husky/husky.min.css"/>
        <link rel="stylesheet" type="text/css" href="/bundles/sulupreview/css/preview.min.css"/>
    </head>

    <body>
        <div class="container">
            <div class="icon">
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
            </div>

            <h1><%= translations.noPreviewLabel %></h1>

            <%= content %>
        </div>
    </body>
</html>
