@import '../../containers/Application/colors.scss';

$buttonTextLightColor: $blueZodiac;
$buttonTextLightColorActive: $shakespeare;
$buttonTextLightColorDisabled: $silver;
$buttonActiveBackgroundLightColor: $wildSand;
$primaryTextColor: $white;
$primaryBackgroundColor: $shakespeare;

.light {
    color: $buttonTextLightColor;

    &:disabled {
        color: $buttonTextLightColorDisabled;
    }

    &:not(:disabled) {
        &:hover,
        &.active {
            color: $buttonTextLightColorActive;
            background-color: $buttonActiveBackgroundLightColor;
        }
    }

    &.primary,
    &.primary:hover {
        color: $primaryTextColor;
        background-color: $primaryBackgroundColor;
    }
}

.button {
    display: block;
    min-width: 60px;
    position: relative;
    padding: 0 20px;
    border: none;
    height: 60px;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;

    &:disabled {
        cursor: default;
    }

    &:not(:disabled) {
        &.active {
            z-index: 2;
        }
    }

    &.small {
        padding: 0;

        .dropdown-icon {
            position: absolute;
            left: 50%;
            bottom: 8px;
            margin-left: -6px;
            padding: 0;
        }
    }
}

.icon {
    vertical-align: middle;
    font-size: 20px;

    & + .label {
        padding: 0 0 0 10px;
    }

    .loader ~ & {
        visibility: hidden;
    }
}

.label {
    vertical-align: middle;

    .loader ~ & {
        visibility: hidden;
    }
}

.dropdown-icon {
    padding: 0 0 0 10px;

    .loader ~ & {
        visibility: hidden;
    }
}

.loader {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}
