@import '../../containers/Application/colors.scss';

$optionListBackgroundColor: $wildSand;
$optionListShadowColor: $silver;

.option-list {
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    box-shadow: 2px 6px 12px 0 rgba($optionListShadowColor, .5);
    background-color: $optionListBackgroundColor;

    &.is-open {
        display: block;
    }

    &.small {
        width: 100%;
    }
}
