@import '../../containers/Application/colors.scss';
@import './variables.scss';

$optionListBackgroundLightColor: $wildSand;
$optionListBackgroundDarkColor: $mirage;
$optionListShadowColor: $silver;

.light {
    background-color: $optionListBackgroundLightColor;
    box-shadow: 2px 6px 12px 0 rgba($optionListShadowColor, .5);
}

.dark {
    background-color: $optionListBackgroundDarkColor;
}

.option-list {
    list-style: none;
    position: absolute;
    left: 0;
    z-index: 100;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    max-height: 70vh;
    overflow: auto;

    &.is-open {
        display: block;
    }

    &.small {
        min-width: $smallSelectWidth;
    }
}
