@import '../../containers/Application/colors.scss';

$optionListBackgroundLightColor: $wildSand;
$optionListBackgroundDarkColor: $mirage;
$optionListShadowColor: $silver;

.light {
    background-color: $optionListBackgroundLightColor;
}

.dark {
    background-color: $optionListBackgroundDarkColor;
}

.option-list {
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    box-shadow: 2px 6px 12px 0 rgba($optionListShadowColor, .5);

    &.is-open {
        display: block;
    }

    &.small {
        width: 100%;
    }
}
