@import '../../containers/Application/colors.scss';
@import './variables.scss';

$snackbarErrorColor: $white;
$snackbarErrorBackgroundColor: $roman;
$snackbarIconErrorBackgroundColor: $persianRed;
$snackbarSuccessColor: $white;
$snackbarIconSuccessBackgroundColor: $mantis;
$closeButtonBorderColor: $white;

.snackbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
}

.icon {
    width: $snackbarWidth;
    font-size: 20px;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
}

.text {
    font-size: 12px;
    margin-left: 20px;
}

.close-button {
    border: 1px solid $closeButtonBorderColor;
    border-radius: 3px;
    margin-left: 20px;
    padding: 4px 20px;
    cursor: pointer;
}

.close-button-icon {
    font-size: 10px;
    margin-left: 20px;
}

.clickable {
    cursor: pointer;
}

.error {
    right: 0;
    background-color: $snackbarErrorBackgroundColor;
    color: $snackbarErrorColor;
    display: flex;
    align-items: center;
    will-change: top, bottom;
    transition: top .15s, bottom .15s;

    &:not(.visible) {
        top: -100%;
        bottom: 100%;
    }

    .icon {
        background-color: $snackbarIconErrorBackgroundColor;
    }

    .close-button {
        background-color: $snackbarErrorBackgroundColor;
        color: $snackbarErrorColor;
    }
}

.success {
    color: $snackbarSuccessColor;
    display: flex;
    align-items: center;
    opacity: 0;
    will-change: opacity;
    transition: opacity .25s;

    &.visible {
        opacity: 1;
    }

    .icon {
        background-color: $snackbarIconSuccessBackgroundColor;
    }
}
