@import '../../containers/Application/colors.scss';

$toolbarHeight: 60px;

$toolbarBackgroundColor: $white;
$shadowColor: $silver;

.toolbar {
    display: flex;
    justify-content: space-between;
    height: $toolbarHeight;
    margin: 0;
}

.light {
    background: $toolbarBackgroundColor;
    box-shadow: 2px 6px 12px 0 rgba($shadowColor, .5);
}

.toolbar {
    height: $toolbarHeight;
    margin: 0;
}

.controls {
    display: flex;
}
