@import '../../containers/Application/colors.scss';

$toolbarHeight: 60px;

$toolbarBackgroundLightColor: $white;
$toolbarBackgroundDarkColor: $blueZodiac;
$shadowColor: $silver;

.toolbar {
    display: flex;
    justify-content: space-between;
    height: $toolbarHeight;
    margin: 0;
}

.light {
    background: $toolbarBackgroundLightColor;
}

.dark {
    background: $toolbarBackgroundDarkColor;
}

.toolbar {
    height: $toolbarHeight;
    margin: 0;

    box-shadow: 2px 6px 12px 0 rgba($shadowColor, .5);
}

.controls {
    display: flex;
}
