@import '../../containers/Application/colors.scss';

$toolbarHeight: 60px;

$toolbarBackgroundColor: $white;
$shadowColor: $silver;
$itemsBackgroundColor: $alabaster;
$itemsContainerBorderColor: $gallery;

$itemsContainerBorder: 1px $itemsContainerBorderColor solid;
