@import '../../containers/Application/colors.scss';

$toolbarHeight: 60px;

$toolbarBackgroundLightColor: $white;
$toolbarBackgroundDarkColor: $blueZodiac;
$shadowColor: $silver;
$itemsBackgroundColor: $alabaster;
$itemsContainerBorderColor: $gallery;

$itemsContainerBorder: 1px $itemsContainerBorderColor solid;
$smallSelectWidth: 60px;
