@import 'sulu-admin-bundle/containers/Application/variables.scss';

.media-detail {
    padding: $viewPadding;
    max-width: $viewMaxWidth;
    min-width: $viewMinWidth;
}

.form {
    margin-bottom: 30px;
}

.image-section {
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;

    > * {
        flex: 1;
        margin-top: 20px;
    }
}
