@import '../../containers/Application/colors.scss';

$headerTextColor: $white;
$headerCellBackgroundColor: $blueZodiac;
$headerButtonCellTextColor: rgba($silverChalice, .25);
$headerButtonCellBorderColor: rgba($silverChalice, .25);
$cellTextColor: $blueZodiac;
$cellTextColorActive: $white;
$cellBackgroundColor: $white;
$cellBorderColor: $cellBackgroundColor;
$cellBorderColorActive: $shakespeare;
$cellBackgroundColorActive: $shakespeare;
$buttonCellBorderColor: $white;
$emptyMessageColor: $silver;
$rowHeight: 40px;

.tree {
    border-collapse: separate;
    border-spacing: 0 5px;
    margin: -5px 0;
    overflow: hidden;
    min-width: 100%;
}

.header {
    color: $headerTextColor;

    & > tr {
        height: 60px;
    }
}

.header-cell {
    padding: 20px;
    font-size: 12px;
    font-weight: normal;
    background-color: $headerCellBackgroundColor;

    &:first-child {
        border-radius: 3px 0 0 3px;
    }

    &:last-child {
        border-radius: 0 3px 3px 0;
    }

    &.clickable {
        padding: 0;

        & > button {
            height: 60px;
            padding: 20px;
            color: inherit;
            border: none;
            background: none;

            &:not(:disabled) {
                cursor: pointer;
            }
        }
    }
}

.cell,
.header-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
    text-align: left;
}

.cell-content {
    display: flex;
    align-items: center;
}

.toggleIcon {
    cursor: pointer;
    display: inline-block;
    width: 20px;
}

.cell-choice {
    padding-right: 10px;
}

.header-cell-sort-icon {
    padding-left: 10px;
}

.header-button-cell {
    width: 1px;
    border-right: 1px solid $headerButtonCellBorderColor;
    color: $headerButtonCellTextColor;
    text-align: center;
}

.row {
    height: $rowHeight;

    &:hover {
        .cell {
            border-color: $cellBorderColorActive;
        }
    }
}

.button-cell,
.header-button-cell {
    width: 56px;
}

.cell,
.button-cell {
    margin: 0;
    padding: 9px 20px;
    font-size: 12px;
    border-width: 1px 0;
    border-style: solid;
    border-color: $cellBorderColor;
    color: $cellTextColor;
    background-color: $cellBackgroundColor;

    &:first-child {
        border-radius: 3px 0 0 3px;
        border-left-width: 1px;
    }

    &:last-child {
        border-radius: 0 3px 3px 0;
        border-right-width: 1px;
    }

    &.small {
        width: 1px;
    }
}

.button-cell {
    padding: 0;
    background-color: $cellBackgroundColor;
    color: $cellTextColorActive;
    text-align: center;

    &:hover {
        > button {
            visibility: visible;
            background-color: $cellBackgroundColorActive;
            border-right: 1px solid $buttonCellBorderColor;
        }
    }

    > button {
        visibility: hidden;
        width: 100%;
        height: $rowHeight;
        border: none;
        color: inherit;
        cursor: pointer;
        background-color: transparent;
    }
}

.tree-placeholder-area {
    color: $emptyMessageColor;
    text-align: center;
    padding: 40px;
}

.tree-placeholder-icon {
    font-size: 38px;
}

.tree-placeholder-text {
    margin-top: 15px;
    font-size: 12px;
    font-weight: bold;
}
