@import '../../containers/Application/colors.scss';

$backdropColor: rgba($black, .6);
$borderColor: $white;
$borderSize: 2px;
$minSizeNotificationColor: $white;

.rectangle {
    position: absolute;
    background: transparent;
    border: $borderSize solid $borderColor;
    cursor: move;
    overflow: visible;
    z-index: 1;
}

.backdrop {
    position: absolute;
    top: -$borderSize;
    left: -$borderSize;
    bottom: -$borderSize;
    right: -$borderSize;
    outline-color: $backdropColor;
    outline-style: solid;
}

.resize-handle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    background: $borderColor;
    cursor: nwse-resize;
    box-shadow: 0 0 20px 0 rgba($black, .3);
    z-index: 2;
}

.min-size-notification {
    position: absolute;
    z-index: 2;
    padding: 5px 15px 0 0;
    color: $minSizeNotificationColor;
    text-align: right;
}
