@import './variables.scss';

.sortableBlockList {
    text-align: left;

    & > * {
        margin-bottom: $blockMarginBottom;
    }

    &.disabled {
        opacity: .5;
        pointer-events: none;
    }
}
