{% extends "SuluContactBundle:Template:base.form.html.twig" %}

{% block static %}
    <h2 class="bold"><%=translate('contact.accounts.title')%></h2>

    <div class="grid-row">
        <div class="grid-col-2">
            <img class="avatar logo" src="http://placehold.it/500" alt=""/>
        </div>
        <div class="grid-col-10">
            <div class="grid-row">
                <label class="required"><%=translate('contact.accounts.name')%></label>
                <input class="form-element" type="text" id="name"
                       data-validation-required="true"
                       data-validation-min-length="3"
                        data-mapper-property="name"/>
            </div>
            <div class="grid-row">
                <div class="grid-col-7">
                    <label><%=translate('contact.accounts.website')%></label>
                    <input class="form-element" type="text" id="url" data-type="url"/>
                </div>
                <div class="grid-col-5">
                    <label><%=translate('contact.accounts.company')%></label>

                    <div id="company"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
