<div id="account-financials">
    <form id="financials-form" class="form-horizontal">
        <input type="hidden" data-mapper-property="id"/>

        <div class="form-horizontal">
            <div class="grid-row">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="uid"><%=translate('contact.accounts.uid')%></label>
                        <input id="uid" class="form-element" type="text" data-mapper-property="uid"/>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="register-number"><%=translate('contact.accounts.registerNumber')%></label>
                        <input id="register-number" class="form-element" type="text" data-mapper-property="registerNumber"/>
                    </div>
                </div>
            </div>

            <h2 class="divider"><%=translate('contact.accounts.bank-accounts')%></h2>

            <div class="grid-row m-bottom-0" data-type="collection" data-type-min="1" data-mapper-property='[{"data":"bankAccounts","tpl":"bank-account-tpl"}]'>
                <script type="text/template" id="bank-account-tpl">
                    <div class="grid-row">
                        <div class="grid-row small">
                            <div class="grid-col-12">
                                <div class="form-group">
                                    <label for="bank-name"><%=translate('contact.accounts.bankName')%></label>
                                    <input id="bank-name" class="form-element" type="text" data-mapper-property="bankName"/>
                                </div>
                            </div>
                        </div>
                        <div class="grid-row small">
                            <div class="grid-col-7">
                                <div class="form-group">
                                    <label for="iban"><%=translate('public.iban')%></label>
                                    <input id="iban" class="form-element" type="text" data-mapper-property="iban"/>
                                </div>
                            </div>
                            <div class="grid-col-5">
                                <div class="form-group">
                                    <label for="bic"><%=translate('public.bic')%></label>
                                    <input id="bic" class="form-element" type="text" data-mapper-property="bic"/>
                                </div>
                            </div>
                        </div>
                        <div class="grid-row m-bottom-0">
                            <div class="grid-col-6 floating">
                                <div class="form-group">
                                    <label for="public"><%=translate('public.public')%></label>
                                    <div>
                                        <div class="custom-checkbox">
                                            <input class="form-element husky-validate" type="checkbox" id="public" data-mapper-property="public">
                                            <span class="icon"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>
            </div>
            <div id="add-bank-account" class="btn action fit">
                <span class="icon-add"></span>
                <span class="text"><%=translate('contact.accounts.add-bank-account')%></span>
            </div>

        </div>
    </form>
</div>
