<style type="text/css">
    .control-label {
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
    }
</style>

<div class="grid">
    <div class="grid-row">
        <div class="grid-col-8">
            <h1>
                {% block title %}{% endblock %}
            </h1>
        </div>
        <div class="grid-col-4">
            {% block options %}
                <div class="pull-right m-top-20">
                    <div id="options-dropdown">
                        <div class="dropdown-toggle"><span class="icon-cogwheel"></span><span class="control-label">Edit</span>
                        </div>

                        <div class="dropdown-menu dropdown-align-right" style="display:none;">
                            <ul>
                                <li id="edit-remove">Delete</li>
                            </ul>
                        </div>

                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>

{% block list %}{% endblock %}

{% block content %}{% endblock %}

{% block dialog %}<div id="dialog"></div>{% endblock %}
