<div id="document-selection"
     data-form="true"
     data-mapper-property="medias"
     data-type="mediaSelection"
     data-aura-types="media.document,media.image"
     data-type-instance-name="document-selection"
     data-aura-component="media-selection@sulumedia"
     data-aura-instance-name="document-selection"
     data-aura-hide-position-element="true"
     data-aura-url="/admin/api/media">
</div>
