{% extends "SuluContactBundle:Template:base.form.html.twig" %}

{% block static %}
    <h2 class="bold">Name and Company</h2>

    <div class="grid-row">
        <div class="grid-col-2">
            <img class="avatar logo" src="http://placehold.it/500" alt=""/>
        </div>
        <div class="grid-col-10">
            <div class="grid-row">
                <div class="grid-col-6">
                    <label class="bold">First name*</label>
                    <input class="form-element" type="text" id="first-name" value="<%= firstName %>"/>
                </div>
                <div class="grid-col-6">
                    <label class="bold">Last name*</label>
                    <input class="form-element" type="text" id="last-name" value="<%= lastName %>"/>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-col-2">
                    <label>Title</label>
                    <input class="form-element" type="text" id="title" value="<%= title %>"/>
                </div>
                <div class="grid-col-5">
                    <label>Position</label>
                    <input class="form-element" type="text" id="position" value="<%= position %>"/>
                </div>
                <div class="grid-col-5">
                    <label>Company</label>

                    <div id="company"></div>
                </div>
            </div>
        </div>
    </div>


    <!--
    <hr class="divider"/>
    <div class="grid-row">
        <div class="grid-col-9">
            <h2>Attachments</h2>
        </div>
        <div class="grid-col-3 text-right mt-10">
            <span class="icon-add addEmail"></span><span class="control-label">Add attachment</span>
            <span class="icon-settings addEmail"></span><span class="control-label">Edit</span>
        </div>
    </div>
    -->
{% endblock %}