{% extends "SuluContactBundle:Template:base.list.html.twig" %}

{% block title %}<%=translate('contact.contacts.title')%>{% endblock %}

{% block list %}
    <div id="people-list"></div>
{% endblock %}
