{# TODO to by deleted #}
<style type="text/css">
    .grid-row img {
        max-width: 100%;
    }

    img.logo {
        padding-top: 30px;
        padding-bottom: 10px;
        max-height: 140px;
    }

    h2.bold,
    label.bold {
        font-weight: bolder;
    }

    .two-cols div.grid-col-6:nth-child(2n+1) {
        padding-left: 0;
    }

    .icon-add {
        cursor: pointer;
    }

    .icon-add:after {
        content: "\E191";
        display: inline-block;
    }

    .icon-settings:after {
        content: "\E281";
        display: inline-block;
    }

    .control-label {
        padding-left: 5px;
        padding-right: 10px;
        cursor: pointer;
    }

    .m-top-30 {
        margin-top: 30px;
    }
</style>

<form id="contact-form">

    <div class="grid">

        <h2 class="bold">Name and Company</h2>

        <div class="grid-row">
            <div class="grid-col-2">
                <img class="avatar logo" src="http://placehold.it/500" alt=""/>
            </div>
            <div class="grid-col-10">
                <div class="grid-row">
                    <div class="grid-col-6">
                        <label class="bold">First name*</label>
                        <input class="form-element" type="text" id="firstName" value="<%= firstName %>"/>
                    </div>
                    <div class="grid-col-6">
                        <label class="bold">Last name*</label>
                        <input class="form-element" type="text" id="lastName" value="<%= lastName %>"/>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-2">
                        <label>Title</label>
                        <input class="form-element" type="text" id="title" value="<%= title %>"/>
                    </div>
                    <div class="grid-col-5">
                        <label>Position</label>
                        <input class="form-element" type="text" id="position" value="<%= position %>"/>
                    </div>
                    <div class="grid-col-5">
                        <label>Company</label>
                        {# TODO Company #}
                        <input class="form-element" type="text" id="account"
                               value="<%= (!!account) ? account.name : '' %>"/>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider"/>

        <h2>Email</h2>

        <div class="grid-row two-cols" id="emails">
            <% _.each(emails, function(email) { %>
            <div class="grid-col-6 email-item" data-id="<%= email.id %>">
                <label class="bold"><%= (!!email.emailType)?email.emailType.name :'[Email Type]' %>*</label>
                <input class="form-element emailValue" type="text" value="<%= email.email %>"/>
            </div>
            <% }); %>
        </div>
        <div class="grid-row">
            <div id="addEmail" data-target-id="emails">
                <span class="icon-add"></span><span class="control-label">Add email</span>
            </div>
        </div>
        <hr class="divider"/>

        <h2>Phone</h2>

        <div class="grid-row two-cols" id="phones">
            <% _.each(phones, function(phone) { %>
            <div class="grid-col-6 phone-item" data-id="<%= phone.id %>">
                <label class="bold"><%= (!!phone.phoneType)? phone.phoneType.name:'[Phone Type]' %></label>
                <input class="form-element phoneValue" type="text" value="<%= phone.phone %>"/>
            </div>
            <% }); %>
        </div>
        <div class="grid-row">
            <div id="addPhone" data-target-id="phones">
                <span class="icon-add"></span><span class="control-label">Add phone number</span>
            </div>
        </div>

        <hr class="divider"/>
        <div class="grid-row">
            <div class="grid-col-10">
                <h2>Address</h2>
            </div>
            <div class="grid-col-2 align-right m-top-10">
                <div id="addAddress" data-target-id="addresses">
                    <span class="icon-add"></span><span class="control-label">Add address</span>
                </div>
            </div>
        </div>

        <div id="addresses">
            <% _.each(addresses, function(address) { %>
            <div class="address-item" data-id="<%= address.id %>">
                <div class="grid-row">
                    <div class="grid-col-6">
                        <label>Street</label>
                        <input class="form-element streetValue" type="text" value="<%= address.street %>"/>
                    </div>
                    <div class="grid-col-2">
                        <label>Number</label>
                        <input class="form-element numberValue" type="text" value="<%= address.number %>"/>
                    </div>
                    <div class="grid-col-4">
                        <label>House, Floor, etc.</label>
                        <input class="form-element additionValue" type="text" value="<%= address.additional %>"/>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-2">
                        <label>Zip</label>
                        <input class="form-element zipValue" type="text" value="<%= address.zip %>"/>
                    </div>
                    <div class="grid-col-4">
                        <label>City</label>
                        <input class="form-element cityValue" type="text" value="<%= address.city %>"/>
                    </div>
                    <div class="grid-col-2">
                        <label>State</label>
                        <input class="form-element stateValue" type="text" value="<%= address.state %>"/>
                    </div>
                    <div class="grid-col-4">
                        <label>Country</label>
                        {# TODO Country #}
                        <select class="form-element countryValue">
                            <option value="1">Österreich</option>
                            <option value="2">Deutschland</option>
                            <option value="3">Schweiz</option>
                        </select>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <div class="grid-row">
            <input type="submit" value="[SAVE]" class="m-bottom-10"/>
        </div>
        <!--
        <hr class="divider"/>
        <div class="grid-row">
            <div class="grid-col-9">
                <h2>Attachments</h2>
            </div>
            <div class="grid-col-3 text-right mt-10">
                <span class="icon-add addEmail"></span><span class="control-label">Add attachment</span>
                <span class="icon-settings addEmail"></span><span class="control-label">Edit</span>
            </div>
        </div>
        -->
    </div>

</form>