@import '../../containers/Application/colors.scss';

$progressbarTextColor: $shakespeare;
$progressbarStrokeColor: $shakespeare;
$progressbarBackgroundColor: rgba($alabaster, .8);

.root {
    width: 100%;
}

.path {
    stroke: $progressbarStrokeColor;
    stroke-linecap: round;
    transition: stroke-dashoffset .5s ease 0s;
}

.trail {
    stroke: transparent;
}

.text {
    fill: $progressbarTextColor;
    font-size: 12px;
    dominant-baseline: middle;
    text-anchor: middle;
}

.background {
    fill: $progressbarBackgroundColor;
}
