<html>
<body>
<h1>Search Results</h1>
<ul>
{% for hit in hits %}
    <section>
        <h3><a href="{{ hit.document.url }}">{{ hit.document.title }}</a></h3>
        <p><i>Class: {{ hit.document.class }}</i></p>
        <p>{{ hit.document.description }}</p>
    </section>
{% endfor %}
</ul>
</body>
</html>
