$transitionDuration: 300ms;

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    & > * {
        opacity: 0;
        transition: opacity $transitionDuration;
    }
}

.box {
    position: relative;
    top: -100%;
    opacity: 0;
    transition: top $transitionDuration, opacity $transitionDuration;
    z-index: 1;
    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

.is-down {
    & > * {
        opacity: 1;
    }

    .box {
        top: 0;
    }
}
