$itemMarginRight: 20px;
$sectionMarginBottom: 30px;

.grid {
    margin-right: -$itemMarginRight;
    margin-bottom: -$sectionMarginBottom;
    overflow: hidden;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}
