@import './colors.scss';

$bodyBackgroundColor: $wildSand;
$h1TextColor: $blueZodiac;

* {
    margin: 0;
    padding: 0;
}

body {
    background: $bodyBackgroundColor;
    font-family: 'Open Sans';
}

main {
    margin: 60px 100px;
}

h1 {
    font-family: 'Fira Sans';
    color: $h1TextColor;
}
