@import './variables.scss';
@import '../../components/Navigation/variables.scss';
@import '../../components/Toolbar/variables.scss';

.root {
    width: calc(100vw + $navigationWidth);
    display: none;
    left: -$navigationWidth;
    position: absolute;
    transition: left $navigationMoveAnimationDuration;
    will-change: left;

    &.visible {
        display: inline-flex;
    }

    &.navigation-visible {
        left: 0;
    }
}

.content {
    width: 100vw;
    min-height: 500px;
    overflow: auto;
    will-change: width;
    transition: width $navigationMoveAnimationDuration;

    &.with-pinned-navigation {
        width: calc(100vw - $navigationWidth);
    }

    &.with-sidebar {
        display: flex;
    }
}

.view-container {
    overflow-y: auto;
    height: calc(100% - $toolbarHeight);
    padding: $viewPadding;
}

.main {
    height: 100vh;
    flex: 2;
}

.sidebar {
    transition: flex $sidebarShrinkAnimationDuration;

    &.small {
        flex: 1;
    }

    &.medium {
        flex: 2;
    }

    &.large {
        flex: 3;
    }
}

.header {
    position: relative;
    z-index: 1;
}

.navigation {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
