@import './variables.scss';
@import '../../components/Navigation/variables.scss';
@import '../../components/Toolbar/variables.scss';

.loader {
    margin-top: calc($toolbarHeight + $viewPadding);
}

.root {
    width: calc(100vw + $navigationWidth);
    display: none;
    left: -$navigationWidth;
    position: absolute;
    transition: left $navigationMoveAnimationDuration;
    will-change: left;

    &.visible {
        display: inline-flex;
    }

    &.navigation-visible {
        left: 0;
    }
}

.content {
    display: flex;
    width: 100vw;
    min-height: 500px;
    overflow: hidden;
    will-change: width;
    transition: width $navigationMoveAnimationDuration;

    &.with-pinned-navigation {
        width: calc(100vw - $navigationWidth);
    }

    &.with-sidebar {
        display: flex;
    }
}

.view-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: $viewPadding;
}

.main {
    width: 0;
    max-width: 100%;
    height: 100vh;
    flex-basis: $viewMinWidth;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sidebar {
    transition: flex $sidebarShrinkAnimationDuration;
    max-width: $sidebarMaxWidth;

    &.small {
        flex-basis: 30%;
    }

    &.medium {
        flex-basis: 50%;
    }

    &.large {
        flex-basis: $sidebarMaxWidth;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.header {
    position: relative;
    z-index: 1;
}

.navigation {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
