/* variables are named after http://chir.ag/projects/name-that-color/ */
$alabaster: #fafafa;
$alto: #ddd;
$black: #000;
$blueZodiac: #112a46;
$concrete: #f2f2f2;
$dustyGray: #999;
$frenchGray: #babfc7;
$gallery: #ededed;
$gray: #878787;
$mineShaft: #353535;
$mischka: #dee0e7;
$nobel: #B4B4B4;
$scorpion: #585858;
$shakespeare: #52b6ca;
$silver: #ccc;
$silverChalice: #a2a2a2;
$white: #fff;
$wildSand: #f5f5f5;
