/* variables are named after http://chir.ag/projects/name-that-color/ */
$alabaster: #fcfcfc;
$blueZodiac: #112a46;
$shakespeare: #52b6ca;
$silver: #ccc;
$white: #fff;
$wildSand: #f5f5f5;
$black: #000;
$gallery: #ededed;
$black: #000;
