@import 'normalize.css/normalize.css';
@import './colors.scss';

$bodyBackgroundColor: $wildSand;
$h1TextColor: $blueZodiac;

*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    background: $bodyBackgroundColor;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: $h1TextColor;
}
