@import 'sulu-admin-bundle/components/Tabs/variables.scss';
@import 'sulu-page-bundle/views/WebspaceTabs/variables.scss';

.page-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /* +12px to aggravate the bottom space to 40px */
    height: calc(100% - $webspaceTabsWebspaceSelectMargin + 12px);

    /* +2px to center the toolbaractions with the webspace selection */
    margin-top: calc(0 - $webspaceTabsWebspaceSelectMargin - $tabMenuHeight + 2px);
}

.list-toolbar {
    margin-bottom: 28px;
}
