{% if property.minOccurs is not defined %}
    {% set property = property|merge({'minOccurs': 1}) %}
{% endif %}

{% if property.maxOccurs is not defined %}
    {% set property = property|merge({'maxOccurs': property.minOccurs}) %}
{% endif %}

<div class="mapper-add-{{ property.name }} pointer" data-mapper-add="{{ property.name }}">
    <span class="icon-add"></span> add {{ property.name }}
</div>

<div id="{{ property.name }}">
    {% for i in 1..property.minOccurs %}
        {% include 'SuluContentBundle:Template:macros/single.html.twig' with {'property': property|merge({'id': property.name ~ i}), 'type': type, 'params': params} %}
    {% endfor %}
</div>
