<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" version="1.2">
    <!-- WebspaceKey: sulu_lo -->
    <file source-language="en" datatype="plaintext" original="%uuid_page_0%">
        <body>
            <!-- title: text_line -->
            <trans-unit id="35" resname="title">
                <source>Sulu is awesome</source>
                <target>Sulu is awesome</target>
            </trans-unit>

            <!-- url: resource_locator -->
            <trans-unit id="36" resname="url" translate="no">
                <source>/sulu-is-awesome</source>
                <target>/sulu-is-awesome</target>
            </trans-unit>

            <!-- blocks#0-innerBlocks#0-title: text_line -->
            <trans-unit id="38" resname="blocks#0-innerBlocks#0-title">
                <source>For Developers</source>
                <target>For Developers</target>
            </trans-unit>

            <!-- blocks#0-innerBlocks#0-type: block_type -->
            <trans-unit id="39" resname="blocks#0-innerBlocks#0-type" translate="no">
                <source>innerBlock</source>
                <target>innerBlock</target>
            </trans-unit>

            <!-- blocks#0-innerBlocks#1-title: text_line -->
            <trans-unit id="40" resname="blocks#0-innerBlocks#1-title">
                <source>For Editors</source>
                <target>For Editors</target>
            </trans-unit>

            <!-- blocks#0-innerBlocks#1-type: block_type -->
            <trans-unit id="41" resname="blocks#0-innerBlocks#1-type" translate="no">
                <source>innerBlock</source>
                <target>innerBlock</target>
            </trans-unit>

            <!-- blocks#0-innerBlocks#2-title: text_line -->
            <trans-unit id="42" resname="blocks#0-innerBlocks#2-title">
                <source>For Marketers</source>
                <target>For Marketers</target>
            </trans-unit>

            <!-- blocks#0-innerBlocks#2-type: block_type -->
            <trans-unit id="43" resname="blocks#0-innerBlocks#2-type" translate="no">
                <source>innerBlock</source>
                <target>innerBlock</target>
            </trans-unit>

            <!-- blocks#0-type: block_type -->
            <trans-unit id="44" resname="blocks#0-type" translate="no">
                <source>block</source>
                <target>block</target>
            </trans-unit>

            <!-- blocks#1-innerBlocks#0-title: text_line -->
            <trans-unit id="45" resname="blocks#1-innerBlocks#0-title">
                <source>By Developers</source>
                <target>By Developers</target>
            </trans-unit>

            <!-- blocks#1-innerBlocks#0-type: block_type -->
            <trans-unit id="46" resname="blocks#1-innerBlocks#0-type" translate="no">
                <source>innerBlock</source>
                <target>innerBlock</target>
            </trans-unit>

            <!-- blocks#1-innerBlocks#1-title: text_line -->
            <trans-unit id="47" resname="blocks#1-innerBlocks#1-title">
                <source>By Editors</source>
                <target>By Editors</target>
            </trans-unit>

            <!-- blocks#1-innerBlocks#1-type: block_type -->
            <trans-unit id="48" resname="blocks#1-innerBlocks#1-type" translate="no">
                <source>innerBlock</source>
                <target>innerBlock</target>
            </trans-unit>

            <!-- blocks#1-innerBlocks#2-title: text_line -->
            <trans-unit id="49" resname="blocks#1-innerBlocks#2-title">
                <source>By Marketers</source>
                <target>By Marketers</target>
            </trans-unit>

            <!-- blocks#1-innerBlocks#2-type: block_type -->
            <trans-unit id="50" resname="blocks#1-innerBlocks#2-type" translate="no">
                <source>innerBlock</source>
                <target>innerBlock</target>
            </trans-unit>

            <!-- blocks#1-type: block_type -->
            <trans-unit id="51" resname="blocks#1-type" translate="no">
                <source>block</source>
                <target>block</target>
            </trans-unit>

            <!-- blocks#2-title: text_line -->
            <trans-unit id="52" resname="blocks#2-title">
                <source>Great Tool</source>
                <target>Great Tool</target>
            </trans-unit>

            <!-- blocks#2-type: block_type -->
            <trans-unit id="53" resname="blocks#2-type" translate="no">
                <source>block2</source>
                <target>block2</target>
            </trans-unit>

            <!-- seo-title:  -->
            <trans-unit id="54" resname="seo-title">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- seo-description:  -->
            <trans-unit id="55" resname="seo-description">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- seo-keywords:  -->
            <trans-unit id="56" resname="seo-keywords">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- seo-canonicalUrl:  -->
            <trans-unit id="57" resname="seo-canonicalUrl" translate="no">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- seo-noIndex:  -->
            <trans-unit id="58" resname="seo-noIndex" translate="no">
                <source>0</source>
                <target>0</target>
            </trans-unit>

            <!-- seo-noFollow:  -->
            <trans-unit id="59" resname="seo-noFollow" translate="no">
                <source>0</source>
                <target>0</target>
            </trans-unit>

            <!-- seo-hideInSitemap:  -->
            <trans-unit id="60" resname="seo-hideInSitemap" translate="no">
                <source>0</source>
                <target>0</target>
            </trans-unit>

            <!-- excerpt-title: text_line -->
            <trans-unit id="61" resname="excerpt-title">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- excerpt-more: text_line -->
            <trans-unit id="62" resname="excerpt-more">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- excerpt-description: text_editor -->
            <trans-unit id="63" resname="excerpt-description" datatype="html">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- excerpt-categories: category_selection -->
            <trans-unit id="64" resname="excerpt-categories" translate="no">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- excerpt-tags: tag_selection -->
            <trans-unit id="65" resname="excerpt-tags" translate="no">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- excerpt-icon: media_selection -->
            <trans-unit id="66" resname="excerpt-icon" translate="no">
                <source><![CDATA[{"ids":[]}]]></source>
                <target><![CDATA[{"ids":[]}]]></target>
            </trans-unit>

            <!-- excerpt-images: media_selection -->
            <trans-unit id="67" resname="excerpt-images" translate="no">
                <source><![CDATA[{"ids":[]}]]></source>
                <target><![CDATA[{"ids":[]}]]></target>
            </trans-unit>

            <!-- structureType:  -->
            <trans-unit id="68" resname="structureType" translate="no">
                <source>block_in_block</source>
                <target>block_in_block</target>
            </trans-unit>

            <!-- published:  -->
            <trans-unit id="69" resname="published" translate="no">
                <source>2020-11-26T09:02:10+01:00</source>
                <target>2020-11-26T09:02:10+01:00</target>
            </trans-unit>

            <!-- created:  -->
            <trans-unit id="70" resname="created" translate="no">
                <source>2020-11-26T09:02:09+01:00</source>
                <target>2020-11-26T09:02:09+01:00</target>
            </trans-unit>

            <!-- changed:  -->
            <trans-unit id="71" resname="changed" translate="no">
                <source>2020-11-26T09:02:38+01:00</source>
                <target>2020-11-26T09:02:38+01:00</target>
            </trans-unit>

            <!-- creator:  -->
            <trans-unit id="72" resname="creator" translate="no">
                <source>1</source>
                <target>1</target>
            </trans-unit>

            <!-- changer:  -->
            <trans-unit id="73" resname="changer" translate="no">
                <source>1</source>
                <target>1</target>
            </trans-unit>

            <!-- locale:  -->
            <trans-unit id="74" resname="locale" translate="no">
                <source>en</source>
                <target>en</target>
            </trans-unit>

            <!-- navigationContexts:  -->
            <trans-unit id="75" resname="navigationContexts" translate="no">
                <source>[]</source>
                <target>[]</target>
            </trans-unit>

            <!-- permissions:  -->
            <trans-unit id="76" resname="permissions" translate="no">
                <source>[]</source>
                <target>[]</target>
            </trans-unit>

            <!-- shadowLocale:  -->
            <trans-unit id="77" resname="shadowLocale" translate="no">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- originalLocale:  -->
            <trans-unit id="78" resname="originalLocale" translate="no">
                <source>en</source>
                <target>en</target>
            </trans-unit>

            <!-- resourceSegment:  -->
            <trans-unit id="79" resname="resourceSegment" translate="no">
                <source>/test-123</source>
                <target>/test-123</target>
            </trans-unit>

            <!-- webspaceName:  -->
            <trans-unit id="80" resname="webspaceName" translate="no">
                <source>example</source>
                <target>example</target>
            </trans-unit>

            <!-- redirectExternal:  -->
            <trans-unit id="81" resname="redirectExternal" translate="no">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- redirectType:  -->
            <trans-unit id="82" resname="redirectType" translate="no">
                <source>1</source>
                <target>1</target>
            </trans-unit>

            <!-- redirectTarget:  -->
            <trans-unit id="83" resname="redirectTarget" translate="no">
                <source></source>
                <target></target>
            </trans-unit>

            <!-- workflowStage:  -->
            <trans-unit id="84" resname="workflowStage" translate="no">
                <source>2</source>
                <target>2</target>
            </trans-unit>

            <!-- path:  -->
            <trans-unit id="85" resname="path" translate="no">
                <source>/cmf/example/contents/test-123</source>
                <target>/cmf/example/contents/test-123</target>
            </trans-unit>
    </body>
    </file>


</xliff>

