@import 'sulu-admin-bundle/containers/Application/colors.scss';

$hintColor: $gray;

.hint {
    font-size: 18px;
    font-weight: bold;
    color: $hintColor;
    width: 100%;
    text-align: center;
}

.hint-icon {
    font-size: 32px;
}
