.add-button {
    margin-bottom: 30px;
}

.card {
    float: left;
    width: calc(100% / 3);
    padding: 0 20px 20px 0;

    @media (max-width: 1280px) {
        width: 50%;
    }

    @media (max-width: 1024px) {
        float: none;
        width: 100%;
        padding: 0 0 20px;
    }
}
