$white: #fff;
$backgroundColor: #f1f1f1;
$blue: #28B6CA;

// Effects

$transitionDuration : 0.5s;

// Header
$headerHeight: 150px;
$tabsHeight: 50px;


// Column structure variables
/*----------------------------------------*/

//  content size

$contentFixedWidth: 900px;
$contentMinWidth: 510px;

$contentPaddingLeft: 50px;
$contentPaddingTop: 40px;
$contentPaddingBottom: 40px;
$contentPaddingRight: 50px;

$contentPaddingLeftFullWidth: 0;
$contentPaddingRightFullWidth: 0;

// sidebar

$sidebarFixedWidth: 450px;
