$white: #fff;
$backgroundColor: #f1f1f1;
$blue: #2D9FBC;

//  content size

$contentMaxWidth: 820px;
$contenMinWidth: 510px;

$contentMarginLeft: 250px;
$contentPaddingLeft: 50px;
$contentMarginTop: 40px;
$contentMarginBottom: 40px;
$contentPaddingRight: 50px;

$contentPaddingLeftFullWidth: 0;
$contentPaddingRightFullWidth: 0;

// Effects

$transitionDuration : 0.5s;

// Header
$headerHeight: 150px;
