<div id="account-financials">
    <form id="financials-form" class="form-horizontal">
        <input type="hidden" data-mapper-property="id"/>

        <div class="form-horizontal changeListener">
            <div class="grid-row small">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="number"><%=translate('contact.accounts.number')%></label>
                        <input id="number" class="form-element" type="text" data-mapper-property="number"/>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="vat"><%=translate('contact.accounts.uid')%></label>
                        <div id="vat"
                             data-form="true"
                             data-type="vat-input"
                             data-mapper-property="uid"></div>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="register-number"><%=translate('contact.accounts.registerNumber')%></label>
                        <input id="register-number" class="form-element" type="text" data-mapper-property="registerNumber"/>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="placeOfJurisdiction"><%=translate('contact.accounts.placeOfJurisdiction')%></label>
                        <input id="placeOfJurisdiction" class="form-element" type="text" data-mapper-property="placeOfJurisdiction"/>
                    </div>
                </div>
            </div>

            <div class="grid-row small">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="termsOfDelivery"><%=translate('contact.termsOfDelivery')%></label>
                        <div id="termsOfDelivery"
                             data-form="true"
                             data-type="husky-select"
                             data-type-label="terms"
                             data-mapper-return-value="id"
                             data-mapper-property="termsOfDelivery"></div>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="termsOfPayment"><%=translate('contact.termsOfPayment')%></label>
                        <div id="termsOfPayment"
                             data-form="true"
                             data-type="husky-select"
                             data-type-label="terms"
                             data-mapper-return-value="id"
                             data-mapper-property="termsOfPayment"></div>
                    </div>
                </div>
            </div>

            <h2 class="divider"><%=translate('contact.accounts.bank-accounts')%></h2>

            <div class="grid-row small" id="bankAccounts" data-type="collection" data-mapper-property='[{"data":"bankAccounts","tpl":"bank-account-tpl","empty-tpl":"bank-account-empty-tpl"}]'>

                <script type="text/template" id="bank-account-empty-tpl">
                    <div class="grid-col-12 floating">
                        <div class="form-group">
                            <label>
                                <%=translate('contact.accounts.bankAccounts.add.label')%>
                            </label>
                            <div class="m-top-5">
                                <span class="fa-plus-circle icon clickable pointer bank-account-add"></span>
                            </div>
                        </div>
                    </div>
                </script>

                <script type="text/template" id="bank-account-tpl">
                    <div class="grid-row m-bottom-0 bank-account-component">
                        <div class="grid-col-12 floating">
                            <div class="form-group">
                                <label><%=translate('contact.accounts.bankAccount.label')%></label>

                                <div class="bank-account-row clickable pointer">
                                    <span data-mapper-property="id" data-form="true" class="hidden"></span>

                                    <span data-mapper-property="bankName" data-form="true"></span>
                                    <span><%=translate('public.bic')%></span>
                                    <span data-mapper-property="bic" data-form="true"></span>
                                    <span><%=translate('public.iban')%></span>
                                    <span data-mapper-property="iban" data-form="true"></span>
                                    <span class="fa-times icon bank-account-remove"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>

            </div>

        </div>
    </form>
</div>
