{% extends "SuluContactBundle:Template:base.list.html.twig" %}

{% block title %}<%=translate('contact.accounts.title')%>{% endblock %}
{% block optionsTabs %}<div id="filter-tabs" />{% endblock %}

{% block list %}
    <div id="companies-list"></div>
{% endblock %}
