{% extends "SuluContactBundle:Template:base.list.html.twig" %}

{% block list %}
    <div id="companies-list-info"></div>
    <div id="companies-list" class="datagrid-container"></div>
{% endblock %}
