{% extends "SuluContactBundle:Template:contact.list.html.twig" %}

{% block options %}
    {# container for the list-toolbar component #}
    <div id="list-toolbar-container" class="list-toolbar-container fixed"></div>
{% endblock %}
