<div id="account-financials">
    <form id="financials-form" class="form-horizontal">
        <input type="hidden" data-mapper-property="id"/>

        <div class="form-horizontal changeListener">
            <div class="grid-row small">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="number"><%=translate('contact.accounts.number')%></label>
                        <input id="number" class="form-element" type="text" data-mapper-property="number"/>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="placeOfJurisdiction"><%=translate('contact.accounts.placeOfJurisdiction')%></label>
                        <input id="placeOfJurisdiction" class="form-element" type="text" data-mapper-property="placeOfJurisdiction"/>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="grid-col-6">
                    <div class="form-group" style="padding-right: 8px">
                        <label for="register-number"><%=translate('contact.accounts.registerNumber')%></label>
                        <input id="register-number" class="form-element" type="text" data-mapper-property="registerNumber"/>
                    </div>
                </div>
            </div>

            <div class="grid-row small">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="termsOfDelivery"><%=translate('contact.termsOfDelivery')%></label>
                        <div id="termsOfDelivery"
                             data-form="true"
                             data-type="husky-select"
                             data-type-label="terms"
                             data-mapper-return-value="id"
                             data-mapper-property="termsOfDelivery"></div>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="termsOfPayment"><%=translate('contact.termsOfPayment')%></label>
                        <div id="termsOfPayment"
                             data-form="true"
                             data-type="husky-select"
                             data-type-label="terms"
                             data-mapper-return-value="id"
                             data-mapper-property="termsOfPayment"></div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
