{% set formId = 'account-form' %}
{% extends "SuluContactBundle:Template:base.form.html.twig" %}

{% block highlight %}
    <div class="fixed-width no-left-space no-right-space">
        <div class="image">
            <span class="fa-home image-default"></span>
            <div id="image-content"></div>
            <div id="image-dropzone"></div>
            <div id="image-delete" class="fa-trash-o"></div>
            <a href="#" id="image-download" class="fa-cloud-download"></a>
        </div>
        <div class="content">
            <div class="form-group grid-row">
                <label for="name" class="required"><%=translate('contact.accounts.name')%></label>

                <div>
                    <input class="form-element input-bold" type="text" id="name"
                           data-validation-required="true"
                           data-mapper-property="name"/>
                </div>
            </div>
            <div class="form-group grid-row">
                <label for="corporation"><%=translate('contact.accounts.corporation')%></label>

                <div>
                    <input class="form-element" type="text" id="corporation" data-mapper-property="corporation"/>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="companyInput"><%=translate('contact.accounts.company')%></label>

                        <div id="company"></div>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="vat"><%=translate('contact.accounts.uid')%></label>

                        <div id="vat"
                             data-form="true"
                             data-type="vat-input"
                             data-mapper-property="uid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tags %}

    {{ parent() }}

    <div class="grid form-horizontal">
        <div class="grid-row form-group">
            <label class="top p-top-10"><%= translate('contact.contacts.categories.label') %></label>

            <div id="categories">
                <div data-aura-component="datagrid@husky"
                     data-aura-url="{{ categoryUrl }}&locale=<%= categoryLocale %>"
                     data-aura-result-key="categories"
                     data-aura-pagination="false"
                     data-aura-instance-name="categories"
                     data-aura-children-property-name="hasChildren"
                     data-aura-resize-listeners="false"
                     data-aura-view-options='{"table":{"cropContents":false,"noItemsText":"sulu.category.no-categories-available","showHead":false,"cssClass":"white-box","selectItem":{"type":"checkbox","inFirstCell":true}}}'
                     data-aura-matchings='[{"name":"name","content":"Name"},{"name":"id","disabled":true},{"name":"children","disabled":true},{"name":"parent","disabled":true}]'
                     data-form="true"
                     data-type="categoryList"
                     data-mapper-property="categories"
                     data-aura-only-select-leaves="false"
                     data-aura-selected-counter="true"
                     id="categoriesList">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
