<div class="grid">
    <div class="grid-row">
        <div class="grid-col-6">
            <h1>
                {% block title %}{% endblock %}
            </h1>
        </div>
        <div class="grid-col-6">
            {% block options %}
                <div class="pull-right m-top-25">
                    <div id="options-dropdown">
                        <div class="dropdown-toggle"><span class="icon-cogwheel"></span><span class="control-label"><%=translate('public.edit')%></span>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>

{% block list %}{% endblock %}

{% block content %}{% endblock %}

{% block dialog %}<div id="dialog"></div>{% endblock %}
