{% block options %}
    {# container for the list-toolbar component #}
    <div id="list-toolbar-container" class="list-toolbar-container"></div>
{% endblock %}

{% block list %}{% endblock %}

{% block content %}{% endblock %}

{% block dialog %}<div id="dialog"></div>{% endblock %}

{% block data %}{% endblock %}
