{% extends "SuluContactBundle:Template:base.list.html.twig" %}

{% block options %}
    {# container for the list-toolbar component #}
    <div id="list-toolbar-container" class="list-toolbar-container fixed"></div>
{% endblock %}

{% block list %}
    <div id="documents-list" class="datagrid-container"></div>
{% endblock %}
