{% extends "SuluContactBundle:Template:base.form.html.twig" %}

{% block static %}
    <div class="changeListener">
        <div class="grid-row small">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="form-of-address" class="required"><%=translate('contact.contacts.formOfAddress')%></label>

                    <div id="form-of-address"
                         data-aura-component="select@husky"
                         data-aura-data="{{ form_of_address|json_encode() }}"
                         data-aura-default-label="<%=translate('contact.contacts.formOfAddress.select')%>"
                         data-aura-value-name="translation"
                         data-aura-multiple-select="false"
                         data-aura-instance-name="form-of-address"
                         data-type-label="translation"
                         data-type-required="translation"
                         data-mapper-property="formOfAddress"
                         data-type="husky-select"
                         data-validation-required="true"
                         data-aura-pre-selected-elements="[]"
                         data-form="true">
                    </div>
                </div>
            </div>
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="contact-title"><%=translate('contact.contacts.contactTitle')%></label>

                    <div id="contact-title"
                         data-form="true"
                         data-aura-default-label="<%=translate('public.please-choose')%>"
                         data-aura-url="/admin/api/contact/titles"
                         data-aura-result-key="contactTitles"
                         data-aura-component="select@husky"
                         data-aura-instance-name="title-select"
                         data-aura-editable="true"
                         data-aura-direction="bottom"
                         data-aura-value-name="title"
                         data-aura-deselect-field="select.no-choice"
                         data-type="husky-select"
                         data-mapper-return-value="id"
                         data-aura-pre-selected-elements="[]"
                         data-mapper-property="title"></div>
                </div>
            </div>
        </div>
        <div class="grid-row small">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="first-name" class="required"><%=translate('contact.contacts.firstName')%></label>
                    <input class="form-element" type="text" id="first-name" data-validation-required="true"
                           data-mapper-property="firstName" value=""/>
                </div>
            </div>
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="last-name" class="required"><%=translate('contact.contacts.lastName')%></label>
                    <input class="form-element" type="text" id="last-name" data-trigger="focusout"
                           data-validation-required="true" data-mapper-property="lastName"
                           value=""/>
                </div>
            </div>
        </div>
        <div class="grid-row m-bottom-40">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="company-input"><%=translate('contact.contacts.company')%></label>

                    <div id="company"></div>
                </div>
            </div>
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="contact-position"><%=translate('contact.contacts.position')%></label>

                    <div id="contact-position"
                         data-form="true"
                         data-aura-url="/admin/api/contact/positions"
                         data-aura-result-key="positions"
                         data-aura-default-label="<%=translate('public.please-choose')%>"
                         data-aura-component="select@husky"
                         data-aura-instance-name="position-select"
                         data-aura-editable="true"
                         data-aura-direction="bottom"
                         data-aura-value-name="position"
                         data-aura-deselect-field="select.no-choice"
                         data-type="husky-select"
                         data-mapper-return-value="id"
                         data-aura-pre-selected-elements="[]"
                         data-mapper-property="position"></div>
                </div>
            </div>
        </div>
        <div class="grid-row small">
            <div class="form-group">
                <label for="salutation"><%=translate('contact.contacts.salutation')%></label>
                <input class="form-element" type="text" id="salutation" data-trigger="focusout"
                       data-mapper-property="salutation"/>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="birthday"><%=translate('contact.contacts.birthday')%></label>

                    <div id="birthday"
                         data-form="true"
                         data-type="husky-input"
                         data-aura-component="input@husky"
                         data-aura-datepicker-options='{"startDate":"1900-01-01", "endDate": "<%= new Date() %>"}'
                         data-aura-skin="date"
                         data-aura-instance-name="birthday"
                         data-aura-input-id="input-birthday"
                         data-aura-input-name="input-birthday"
                         data-mapper-property="birthday"></div>

                </div>
            </div>
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="disabled"><%=translate('public.locked')%></label>

                    <div>
                        <div class="custom-checkbox">
                            <input class="form-element husky-validate" type="checkbox" id="disabled"
                                   data-mapper-property="disabled">
                            <span class="icon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block tags %}

    {{ parent() }}

    <div class="grid form-horizontal changeListener">
        <div class="grid-row form-group">
            <label class="top p-top-10"><%= translate('contact.contacts.categories.label') %></label>

            <div id="categories">
                <div
                        data-aura-component="datagrid@husky"
                        data-aura-url="/admin/api/categories?flat=true&sortBy=depth&sortOrder=asc"
                        data-aura-result-key="categories"
                        data-aura-pagination="false"
                        data-aura-instance-name="categories"
                        data-aura-children-property-name="hasChildren"
                        data-aura-resize-listeners="false"
                        data-aura-view-options='{"table":{"openPathToSelectedChildren":"true","noItemsText":"sulu.category.no-categories-available","showHead":false,"cssClass":"white-box","selectItem":{"type":"checkbox","inFirstCell":true}}}'
                        data-aura-matchings='[{"name":"name","content":"Name"},{"name":"id","disabled":true},{"name":"children","disabled":true},{"name":"parent","disabled":true}]'
                        data-form="true"
                        data-type="categoryList"
                        data-mapper-property="categories"
                        data-aura-only-select-leaves="true"
                        id="categoriesList">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
