{% extends "SuluContactBundle:Template:base.list.html.twig" %}

{% block list %}

    <script type="text/javascript">
        (function() {
            var defaults = {
                activityTypes: {{ activityTypes|json_encode()|raw }},
                activityPriorities: {{ activityPriorities|json_encode()|raw }},
                activityStatuses: {{ activityStatuses|json_encode()|raw }}
            };

            App.emit('sulu.contacts.activities.defaults', defaults);
        })();
    </script>

    <div id="activities-list">

    </div>
{% endblock %}
