.dropdown-input-container,
.dropdown-input-entry {
    height: 40px;
}

.dropdown-input-container {
    &.is-filled {
        .dropdown-input-clear {
            display: block;
        }
    }
}

.dropdown-input {
    display: inline-table;
    width: 100%;
}

.dropdown-input-trigger-container,
.dropdown-input-entry-container {
    display: table-cell;
}

.dropdown-input-entry-container {
    width: 75%;
    position: relative;
}

.dropdown-input-trigger-container {
    width: 25%;
    background-color: #28B6CA;
    vertical-align: middle;
    border-radius: 2px 0 0 2px;
    cursor: pointer;

    .dropdown-label {
        font-size: 14px;
        line-height: 40px;
        background-color: transparent;
        color: $white;

        .toggle-icon {
            line-height: 40px;
        }
    }

    .dropdown-list {
        color: $black;
    }
}

.dropdown-input-entry {
    width: 100%;
    border: 0;
    font-size: 24px;
    padding: 0 70px 0 10px;
    border-radius: 0 2px 2px 0;

    &:focus {
        outline: 0;
    }
}

.dropdown-input-action-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.dropdown-input-clear {
    display: none;
    position: absolute;
    top: 13px;
    right: 45px;
    font-size: 16px;
    color: $grayLight;
    cursor: pointer;
}
