.search-results-container {
    width: 550px;
    margin: 0 auto;
}

.search-results-section-content {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    border-width: 2px 0;

    & > li {
        padding: 10px 0;
        overflow: hidden;
        border-top: 1px solid #ccc;

        &:first-child {
            border-top: 0;
        }

        &[data-url]:hover {
            cursor: pointer;
        }
    }
}

.search-results-section {
    margin-top: 40px;

    &.is-contacts {
        .search-results-thumb img {
            border-radius: 100%;
        }
    }
}

.search-results-thumb {
    float: left;
    min-width: 50px;
    min-height: 30px;
    margin-right: 10px;
    text-align: center;

    img {
        display: block;
    }

    [class*="fa-"] {
        font-size: 20px;
        color: $grayLight;
        position: relative;
        top: 5px;
    }
}

.search-results-thumb-image {
    width: 50px;
}

.search-results-description {
    overflow: hidden;
}

.search-results-section-header {
    margin-bottom: 5px;
    font-size: 16px;
    color: $grayLight;
}

.search-results-title .info {
    font-size: 12px;
    color: $grayLight;
}

.search-results-details {
    width: 250px;
    white-space: nowrap;
    font-size: 12px;
    color: $grayLight;

    p {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.search-results-loader-container {
    margin: 50px 0 0;
}

.search-results-info-subline {
    margin: 20px 0;
    text-align: center;
    color: $grayLight;
    font-size: 12px;
}

.search-results-no-results {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: $grayLight;
    text-align: center;
    margin: 60px;
}
