@import '../../../../AdminBundle/Resources/public/scss/variables',
        'modules/preview',
        'modules/general',
        'modules/seo',
        'modules/resource-locator',
        'modules/smart-content',
        'modules/order-table';
