@import '../../../../AdminBundle/Resources/public/scss/variables',
        '../../../../AdminBundle/Resources/public/scss/mixins',
        'modules/preview',
        'modules/general',
        'modules/seo',
        'modules/resource-locator',
        'modules/smart-content',
        'modules/node',
        'modules/order-table',
        'modules/webspace-settings',
        'modules/single-internal-link';
