//
// Collection Select
// --------------------------------------------------

.collection-select {
  .overlay-header {
    margin-bottom: 0px;
  }

  .overlay-content {
    margin: 0;
  }

  .overlay-footer {
    margin-top: -2px;
  }
}
