.datagrid-container {
    margin-top: 20px;
}

.list-toolbar-container {
    margin-top: 20px;
}

#collections-root.no-content {
    text-align: center;
    height: 210px;

    .icon {
        display: block;
        left: 50%;
        line-height: 125px;
        font-size: 125px;
        color: $grayLightMedium;
    }
    .text {
        font-weight: bold;
        color: $grayLightMedium;
        font-size: 24px;
        margin-top: 20px;
    }
}
