//
// Collections-list style
// --------------------------------------------------

#collections-list-container {
  .toggle-all {
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    .icon {
      font-size: 14px;
      color: #3E3E3E;
      margin-right: 5px;
    }
  }
  .collections {
    padding-top: 35px;
  }
  .slide {
    width: 100%;
    padding-left: 18px;
    padding-bottom: 40px;
  }
  .collection {
      $collectionHeight: 40px;

    .head {
      height: $collectionHeight;
      line-height: $collectionHeight;
      border-bottom: 1px solid #cccccc;
      cursor: pointer;

      .icon {
        float: left;
        font-size: 18px;
        width: 25px;
        color: #3E3E3E;
        line-height: 40px;
        text-align: center;
      }
      .change-title {
        width: 200px;
        display: none;
        float: left;
        margin-top: 5px;
      }
      &::after {
        display: table;
        content: "";
        clear: both;
      }
    }
    .collection-color {
      float: left;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      margin-top: 10px;
    }
    .collection-title {
      float: left;
      font-size: 18px;
      cursor: default;
      min-width: 200px;
      margin-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 3px;
      line-height: $collectionHeight - 12px;
      border: 1px solid transparent;
      &:hover {
        border-color: #cccccc;
      }
    }
    .rightContent {
      float: right;
      .total {
        color: #999999;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}
