#masonry-grid {
    position: relative;
    text-align: center;

    .masonry-item {
        width: 190px;
        background-color: $white;
        border-radius: 5px;
        overflow: hidden;

        .masonry-head {
            background-color: $grayLighterer;
            width: 100%;
        }

        .masonry-info {
            position: relative;
            width: 100%;
            height: 80px;
        }
    }
}
