//
// Collection Select
// --------------------------------------------------

.collection-select {
    .overlay-header {
        margin-bottom: 0px;
    }
  
    .overlay-content {
        margin-right: 0px;
        margin-bottom: 1px;
        margin-left: 0px;
    }

    .overlay-footer {
        margin-top: -2px;
    }
}
