.list-toolbar-container {
    margin-top: 20px;
}

.children-container {
    margin-top: -10px;
    margin-bottom: 40px;
}

#collections-root.no-content {
    text-align: center;
    height: 210px;

    .icon {
        display: block;
        left: 50%;
        line-height: 125px;
        font-size: 125px;
        color: $grayLightMedium;
    }
    .text {
        font-weight: bold;
        color: $grayLightMedium;
        font-size: 24px;
        margin-top: 20px;
    }
}

.dropzone-container {
    .husky-dropzone {
        display: none;
    }

    .husky-overlay-container {
        .husky-dropzone {
            display: block;
        }
    }
}

.sticky-toolbar.fixed {
    .list-toolbar-container.collection {
        width: 92.75%;
    }
}

.toolbar-hidden {
    .collection-header-container {
        top: -60px;
    }
}
