.white-box .content .items-list li .media-selection-item {
    .image {
        width: 70px;
    }

    .crop {
        display: none;
        color: $black;
        text-decoration: none;

        span {
            margin-right: 5px;
        }
    }

    &:hover {
        .crop {
            display: table-cell;
        }
    }
}

.media-selection-overlay {
    // responsive width styling
    // we do not use the responsive skin of the overlay component due better adaptability to changing media sizes
    @media(min-width: 900px) {
        &, .slides .slide, .slides .slide .overlay-footer {
            width: 860px;
        }
    }
    @media(min-width: 1200px) {
        &, .slides .slide, .slides .slide .overlay-footer {
            width: 1140px;
        }
    }
    @media(min-width: 1600px) {
        &, .slides .slide, .slides .slide .overlay-footer {
            width: 1420px;
        }
    }
    // responsive height styling
    height: 500px;
    .slide.media-selection-overlay {
        height: 429px;
    }
    .list-container, .dropzone-wrapper-container {
        height: 378px;
    }
    @media(min-height: 700px) {
        height: 600px;
        .slide.media-selection-overlay {
            height: 529px;
        }
        .list-container, .dropzone-wrapper-container {
            height: 478px;
        }
    }
    @media(min-height: 800px) {
        height: 700px;
        .slide.media-selection-overlay {
            height: 629px;
        }
        .list-container, .dropzone-wrapper-container {
            height: 578px;
        }
    }
    @media(min-height: 900px) {
        height: 800px;
        .slide.media-selection-overlay {
            height: 729px;
        }
        .list-container, .dropzone-wrapper-container {
            height: 678px;
        }
    }

    &.dropzone-overlay-opened {
        .list-container {
            overflow: hidden;
        }
    }

    .dropzone-container {
        padding-right: 20px;

        & > .husky-dropzone {
            display: none;
            margin-top: 30px;
            margin-bottom: 20px;

            &.dropped {
                display: block;
            }
        }

        & > div {
            width: 100%;
        }
        .husky-overlay-wrapper {
            position: absolute;
        }
        .husky-overlay-container {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            background-color: rgba(255, 255, 255, .95);
            border-radius: 0;
            border: 0;

            .slide {
                width: 100%;
            }
        }
    }

    .dropzone-wrapper-container {
        position: absolute;
        width: 100%;
    }

    .list-container {
        position: relative;
        width: 100%;
        padding: 20px;
        overflow: auto;

        .collection-view .sulu-title {
            width: auto;
        }
    }

    .toolbar-container {
        background: $blue;
    }

    .back {
        display: inline-block;
        vertical-align: top;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        margin-right: -5px;
        color: $white;
    }

    .toolbar {
        display: inline-block;
        vertical-align: top;
    }
}
