.media-edit-loader {
    margin: 50px 0;
}

.media-edit-versions-links {
    margin: 20px 0 0;
    border-top: 2px solid $grayLighter;
    border-bottom: 1px solid $grayLighter;
}

.media-edit-versions-link {
    color: black;
    display: block;
    padding: 15px 3px;
    border-bottom: 1px solid $grayLighter;
    text-decoration: none;
}

.media-edit-versions-title {
    .active & {
        font-weight: bold;
    }
}

.media-edit-versions-created {
    float: right;
    color: $grayLight;
}

.media-edit-preview-image {
    background-position: center center;
    background-repeat: no-repeat;
    width: 179px;
    height: 179px;
    position: relative;

    #file-version-change {
        width: 100%;
        height: 100%;

        .dropzone-container {
            width: 150px;
            height: 150px;
        }
    }
}

#media-preview {
    .media-edit-preview-image-container {
        background-color: #ddd;
        width: 250px;
        height: 250px;
    }

    .media-edit-preview-image {
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    #preview-image-change {
        width: 100%;
        height: 100%;

        .dropzone-container {
            width: 150px;
            height: 150px;
        }
    }
}

.overlay-footer .btn.media-reset-preview-action.hide {
    display: none;
}
