.media-edit-loader {
    margin: 50px 0;
}

.media-edit-versions-links {
    margin: 20px 0 0;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.media-edit-versions-link {
    color: black;
    display: block;
    padding: 15px 3px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}

.media-edit-versions-title {
    .active & {
        font-weight: bold;
    }
}

.media-edit-versions-created {
    float: right;
    color: #999999;
}
