.image-focus-point {
    position: relative;
    display: inline-block;
    max-height: inherit;
}

.focus-points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
}

.image {
    max-height: inherit;
}
