@import 'sulu-admin-bundle/containers/Application/colors.scss';
@import 'sulu-admin-bundle/containers/Application/variables.scss';

.container {
    padding: $viewPadding;
}

.map {
    height: 200px;
    margin-top: -10px;
}
