$contentWidth : 800px;

.control-label {
  padding-left: 10px;
  cursor: pointer;
}

// Content
/*----------------------------------------*/
#content {

  width: $contentWidth;
  margin-left: 300px;
  padding-top: 40px;

  h2.mainheadline {
    margin-top: 35px;
  }

  h1:first-child {
      margin-top: 0;
  }

  .content-tabs-content {
    margin-top: 60px;
  }

}


// tabs content
#edit-toolbar {
    z-index:100;
    position: fixed;
    top: 40px;
    min-width: $contentWidth;
}

#list-toolbar-container {
    margin-bottom: 18px;
}

// Control elements
/*----------------------------------------*/
.control-label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

// font family Helvetica / Arial for user generated content
/*----------------------------------------*/
input, select {
  font-family: Helvetica, Arial;
}



// Utility
/*----------------------------------------*/

.pointer {
  cursor: pointer;
}

.block {
  display:block;
}


// Additional Margins
/*----------------------------------------*/

.m-top-1 {
  margin-top: 1px !important;
}
