.sulu-header {
    background-color: $blue;
    width: 100%;

    position: fixed;
    top: 0;
    left:0;
    z-index: 90;

    //delete later
    width: 100%;
    margin-left: 50px;

    .inner {
        position: relative;
        top: 0px;
        left: 0px;
        margin-left: 50px;
        width: 100%;
        height: $headerHeight;
    }

    .headline {
        position: absolute;
        top: 40px;
        left: 0;
    }

    .toolbar {
        position: absolute;
        bottom: 10px;
        left: 0;
    }

    .tabs {
        height: 50px;
    }
}
