.sulu-header {
    background-color: $blue;
    width: 100%;

    position: fixed;
    top: 0;
    left:0;
    z-index: 90;
    width: 100%;

    .inner {
        position: relative;
        top: 0px;
        left: 0px;
        margin-left: 50px;
        height: $headerHeight;
    }

    .headline {
        position: absolute;
        top: 40px;
        left: 0;

        .back {
            position: absolute;
            top: 18px;
            left: -22px;
            font-size: 15px;
            color: $white;
            cursor: pointer;
            opacity: 1;
            @include single-transition(opacity, $transitionDuration);
        }
    }

    .toolbar {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
    }

    .tabs {
        height: 50px;
    }

    .info {
        position: absolute;
        top: 10px;
        left: 0px;
    }
}
