.headerbar-left {
  width: 250px;
}

.headerbar-mid {
  width: 820px;
  margin-left:25px;
}

.account-icon {
  height: 30px;
}

.account-text {
  font-weight: bold;
  font-size:14px;
}

.account-logout{

  font-size:12px;
}

#headerbar-mid-left {
  font-size: 18px;
  margin-top: 8px;
}

#headerbar-mid-right {
  text-align: right;
  font-size:14px;
  margin-top: 10px;
}
