// Column structure of the admin
/*----------------------------------------*/

#main {
  height: 100%;
  min-width: 50px + $contentMinWidth;
}

.content-column {
  height: 100%;
  position: relative;
  overflow: hidden;
  min-width: $contentMinWidth;
  @include single-transition(width, $shrinkAnimationDuration);

  #content {
    height: 100%;
    overflow: auto;
    padding-top: $contentPaddingTop;
    padding-right: $contentPaddingRight;
    padding-bottom: $contentPaddingBottom;
    padding-left: $contentPaddingLeft;
    @include single-transition(padding-left, $shrinkAnimationDuration);
    @include single-transition(padding-right, $shrinkAnimationDuration);

    h2.mainheadline {
      margin-top: 35px;
    }

    h1:first-child {
      margin-top: 0;
    }

    .content-tabs-content {
      padding-top: 80px;
    }

    &.no-left-space {
      padding-left: 0;
    }
    &.no-right-space {
      padding-right: 0;
    }
    &.no-top-space {
      margin-top: -$contentPaddingTop;
    }
  }

  .sulu-app-shrink {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    cursor: pointer;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background: #21272E;
    color: $white;
    text-align: center;
    border-radius: 0 0 0 2px;
    font-size: 20px;
    line-height: 32px;
    .fa-chevron-right {
      padding-left: 3px;
    }
    .fa-chevron-left {
      padding-right: 3px;
    }
  }

  &.max {
    float: none;
    width: auto;
  }
  &.fixed {
    width: $contentFixedWidth;
    float: left;

    &.small-fixed {
      width: $contentFixedSmallWidth;
      #content {
        padding-left: $contentPaddingLeftSmall;
        padding-right: $contentPaddingRightSmall;
      }
    }
  }
}

.sidebar-column {
  height: 100%;
  overflow: hidden;
  z-index: 101;
  position: relative;

  &.fixed {
    width: $sidebarFixedWidth;
    float: right;
  }
  &.max {
    float: none;
    width: auto;
  }
}

@media only screen and (max-width: 50px + $contentMinWidth + $sidebarFixedWidth) {
  .sidebar-column.fixed {
    display: none;
  }
}

@media only screen and (max-width: 50px + $contentFixedWidth) {
  .sidebar-column.max {
    display: none;
  }
  .content-column.fixed {
    float: none;
    width: auto;
    max-width: $contentFixedWidth;
  }
}
