<div id="acitivity-form" class="form-vertical">

    <div class="grid-row small">
        <div class="grid-col-6">
            <div class="form-group">
                <label for="subject" class="required"><%=translate('contact.activities.subject')%></label>
                <input id="subject" type="text" class="form-element" data-mapper-property="subject" data-validation-required="true"/>
            </div>
        </div>
        <div class="grid-col-6">
            <div class="form-group">
                <label for="type"><%=translate('contact.activities.type')%></label>

                <div id="type"
                     data-aura-component="select@husky"
                     data-aura-default-label="<%= translate('public.please-choose') %>"
                     data-value-name="translation"
                     data-aura-data='<%= JSON.stringify(activityTypes) %>'
                     data-type="husky-select"
                     data-form="true"
                     data-mapper-return-value="id"
                     data-mapper-property="activityType"></div>
            </div>
        </div>
    </div>

    <div class="grid-row small">
        <div class="grid-col-12">
            <div class="form-group">
                <label for="note"><%=translate('contact.activities.textarea')%></label>
                <textarea id="note" type="text" class="form-element" data-mapper-property="note"></textarea>
            </div>
        </div>
    </div>

    <div class="grid-row small">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="assignedContact" class="required"><%=translate('contact.activities.assignedContact')%></label>


            </div>
        </div>
        <div class="grid-col-6">
            <div class="form-group">
                <label for="dueDate" class="required"><%=translate('contact.activities.dueDate')%></label>

                <div id="dueDate"
                     data-form="true"
                     data-type="husky-input"
                     data-aura-component="input@husky"
                     data-aura-skin="date"
                     data-aura-instance-name="dueDate"
                     data-aura-input-id="<~= uid ~>"
                     data-aura-input-name="<~= uid ~>"
                     data-mapper-property="dueDate"
                     data-validation-required="true"></div>
            </div>
        </div>
    </div>

    <div class="grid-row small">
        <div class="grid-col-6">
            <div class="form-group">
                <label for="activityPriorities"><%=translate('contact.activities.priority')%></label>

                <div id="activityPriorities"
                     data-aura-component="select@husky"
                     data-aura-default-label="<%= translate('public.please-choose') %>"
                     data-value-name="translation"
                     data-aura-data='<%= JSON.stringify(activityPriorities) %>'
                     data-type="husky-select"
                     data-form="true"
                     data-mapper-return-value="id"
                     data-mapper-property="activityPriorities"></div>

            </div>
        </div>
        <div class="grid-col-6">
            <div class="form-group">
                <label for="activityStatus"><%=translate('contact.activities.status')%></label>

                <div id="activityStatus"
                     data-aura-component="select@husky"
                     data-aura-default-label="<%= translate('public.please-choose') %>"
                     data-value-name="translation"
                     data-aura-data='<%= JSON.stringify(activityStatuses) %>'
                     data-type="husky-select"
                     data-form="true"
                     data-mapper-return-value="id"
                     data-mapper-property="activityStatus"></div>
            </div>
        </div>
    </div>

</div>
