<form id="role-form">
    <% if(!!data.id) { %>
        <input id="id" type="hidden" value="<%= data.id %>"/>
    <% } %>
    <div class="grid-row">
        <div class="grid-col-6">
            <label>Title*</label>
            <input class="form-element" type="text" id="name" value="<%= data.name %>"/>
        </div>
        <div class="grid-col-6">
            <label>System*</label>
            <select id="system" class="form-element">
                {% for system in systems %}
                    <option value="{{ system }}">{{ system }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="grid-row">
        <div id="matrix-container"></div>
    </div>
</form>