<form id="role-form">
    <input id="id" type="hidden" value="<%= id %>"/>
    <div class="grid-row">
        <div class="grid-col-6">
            <label>Title*</label>
            <input class="form-element" type="text" id="name" value="<%= name %>"/>
        </div>
        <div class="grid-col-6">
            <label>System*</label>
            <select id="system" class="form-element">
                {% for system in systems %}
                    <option value="{{ system }}">{{ system }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>