<form id="address-form" class="form-vertical">
    <div id="addresses">
        <div class="addresses-item m-bottom-10">

            <div class="grid-row m-bottom-0">
                <div class="m-bottom-10 pull-left">
                    <input type="hidden" data-mapper-property="id" class="id-value"/>
                    <label style="display:none;" class="pull-left">
                            <span class=""
                                  data-form="true"
                                  data-mapper-property="addressType"
                                  data-type="label"
                                  data-type-label="name"
                                  data-type-id="id">
                            </span>
                    </label>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-col-6">
                    <div class="form-group-vertical">
                        <label for="street"><%=translate('contact.address.street')%></label>
                        <input id="street" type="text" class="form-element street-value"
                               data-mapper-property="street"/>
                    </div>
                </div>
            <div class="grid-col-2">
                <div class="form-group-vertical">
                    <label for="number"><%=translate('contact.address.number')%></label>
                    <input id="number" type="text" class="form-element number-value"
                           data-mapper-property="number"/>
                </div>
            </div>
            <div class="grid-col-4">
                <div class="form-group-vertical">
                    <label for="addition"><%=translate('contact.address.additional')%></label>
                    <input id="addition" type="text" class="form-element addition-value"
                           data-mapper-property="addition"/>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-2">
                <div class="form-group-vertical">
                    <label for="zip"><%=translate('contact.address.zip')%></label>
                    <input id="zip" type="text" class="form-element zip-value"
                           data-mapper-property="zip"/>
                </div>
            </div>
            <div class="grid-col-4">
                <div class="form-group-vertical">
                    <label for="city"><%=translate('contact.address.city')%></label>
                    <input id="city" type="text" class="form-element city-value" data-validation-required="true"
                           data-mapper-property="city"/>
                </div>
            </div>
            <div class="grid-col-2">
                <div class="form-group-vertical">
                    <label for="state"><%=translate('contact.address.state')%></label>
                    <input id="state" type="text" class="form-element state-value"
                           data-mapper-property="state"/>
                </div>
            </div>
            <div class="grid-col-4">
                <div class="form-group-vertical">
                    <label for="country-select"><%=translate('contact.address.country')%></label>

                    <select id="country" class="country-value form-element" data-mapper-property="country"
                            data-type="select">
                        <% _.each(countries, function(country) { %>
                        <option value="<%= country.id %>"><%=translate(country.name)%></option>
                        <% }); %>
                    </select>

                    <div id="country-select"></div>


                </div>
            </div>
        </div>
    </div>
    </div>
</form>
