<div class="collection-header-container">
    <div class="collection-title">
        <h2 class="content-title"><%= title %></h2>
    </div>
    <div class="dropzone-container"></div>
    <div class="list-toolbar-container"></div>
</div>
<div class="datagrid-container"></div>
<div class="move-container"></div>
