<form id="collection-new">
    <div class="grid">
        <div class="grid-row">
            <label for="change-title"><%= translate('public.title') %></label>
            <input class="form-element" type="text" id="change-title" value=""
                   data-validation-required="true"
                   data-validation-min-length="3"
                   data-mapper-property="title"/>
        </div>
        <div class="grid-row">
            <label for="change-color"><%= translate('public.color') %></label>
            <input class="form-element" type="text" id="change-color" value=""
                   data-validation-required="true"
                   data-validation-min-length="6"
                   data-mapper-property="color"/>
        </div>
    </div>
</form>
