<form id="collection-settings">
    <div class="form-horizontal">
        <div class="grid-row">
            <label for="title" class="required"><%=translate('media.collection.title')%></label>

            <div>
                <input class="form-element" type="text" id="title"
                       data-validation-required="true"
                       data-mapper-property="title"/>
            </div>
        </div>
        <div class="grid-row">
            <label for="description"><%= translate('public.description') %></label>
            <textarea class="form-element" id="description" data-mapper-property="description"></textarea>
        </div>
    </div>
</form>
