<div class="grid">
    <div class="grid-row">
        <div class="grid-col-6">
            <label>
                <div class="custom-checkbox">
                    <input id="show-descriptions" type="checkbox">
                    <span class="icon"></span>
                </div>
                <span class="clickable"><%= translate('public.show-descriptions') %></span>
            </label>
        </div>
        <div class="grid-col-6">
            <label>
                <div class="custom-checkbox">
                    <input id="show-tags" type="checkbox">
                    <span class="icon"></span>
                </div>
                <span class="clickable"><%= translate('public.show-tags') %></span>
            </label>
        </div>
    </div>
</div>
<form id="media-multiple-edit">
    <div class="grid">
        <div data-type="collection" data-mapper-property='[{"data": "records", "tpl": "media-tpl"}]'>
            <script type="text/template" id="media-tpl">
                <div>
                    <div class="grid-row">
                        <div class="grid-col-2">
                            <a target="_blank" href="<~= url ~>&inline=1">
                                <img src="<~= thumbnails['sulu-50x50'] ~>"/>
                            </a>
                        </div>
                        <div class="grid-col-10">
                            <label for="media-edit-title-<~= id ~>"><%= translate('public.title') %></label>
                            <input class="form-element" type="text" id="media-edit-title-<~= id ~>" value=""
                                   data-validation-required="true"
                                   data-mapper-property="title"/>
                        </div>
                    </div>
                    <div class="grid-row media-description hidden">
                        <label for="media-edit-description-<~= id ~>"><%= translate('public.description') %></label>
                        <textarea class="small noResize form-element" id="media-edit-description-<~= id ~>"
                                  data-mapper-property="description"></textarea>
                    </div>
                    <div class="grid-row media-tags hidden">
                        <label for="media-edit-tags-<~= id ~>"><%= translate('public.tags') %></label>
                        <div id="media-tags-<~= id ~>"
                             data-mapper-property="tags"
                             data-type="tagList"
                             data-form="true"
                             data-aura-component="auto-complete-list@husky"
                             data-aura-instance-name="media-tags-<~= id ~>"
                             data-aura-remote-url="/admin/api/tags?flat=true&sortBy=name&searchFields=name"
                             data-aura-get-parameter="search">
                        </div>
                    </div>
                    <hr class="divider dark small"/>
                </div>
            </script>
        </div>
    </div>
</form>
