<form id="collection-settings">
    <div class="form-horizontal">
        <div class="grid-row">
            <label for="name" class="required"><%=translate('media.collection.title')%></label>
            <div>
                <input class="form-element" type="text" id="title"
                       data-validation-required="true"
                       data-validation-min-length="3"
                       data-mapper-property="title"/>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-4">
                <label for="color" class="required"><%=translate('public.color')%></label>
                <div>
                    <input class="form-element" type="text" id="color"
                           data-validation-required="true"
                           data-validation-min-length="6"
                           data-mapper-property="color"/>
                </div>
            </div>
        </div>
    </div>
</form>
