<form id="collection-settings">
    <div class="form-horizontal">
        <div class="grid-row">
            <label for="name" class="required"><%=translate('media.collection.title')%></label>

            <div>
                <input class="form-element" type="text" id="title"
                       data-validation-required="true"
                       data-mapper-property="title"/>
            </div>
        </div>
    </div>

    <div id="media-selection"
         data-property='media'
         data-mapper-property="media"
         data-form="true"
         data-type="mediaSelection"
         data-type-instance-name="media-selection"
         data-aura-types="media.image"
         data-aura-component="media-selection@sulumedia"
         data-aura-instance-name="media-selection"
         data-aura-url="/admin/api/media">
    </div>
</form>

