@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?8fqek8');
  src:  url('./fonts/icomoon.eot?8fqek8#iefix') format('embedded-opentype'),
  url('./fonts/icomoon.ttf?8fqek8') format('truetype'),
  url('./fonts/icomoon.woff?8fqek8') format('woff'),
  url('./fonts/icomoon.svg?8fqek8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="su-"], [class*=" su-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.su-settings:before {
  content: "\e900";
}
.su-x:before {
  content: "\e901";
}
.su-arrow-long-up:before {
  content: "\e902";
}
.su-arrow-long-down:before {
  content: "\e903";
}
.su-arrow-long-right:before {
  content: "\e904";
}
.su-arrow-long-left:before {
  content: "\e905";
}
.su-user-1:before {
  content: "\e918";
}
.su-user-2:before {
  content: "\e919";
}
.su-envalope:before {
  content: "\e91a";
}
.su-document:before {
  content: "\e949";
}
.su-focus:before {
  content: "\e91b";
}
.su-folder:before {
  content: "\e91c";
}
.su-checkbox:before {
  content: "\e91d";
}
.su-circle:before {
  content: "\e906";
}
.su-arrow-long-left-right:before {
  content: "\e907";
}
.su-arrow-long-up-down:before {
  content: "\e908";
}
.su-arrow-empty-left:before {
  content: "\e909";
}
.su-arrow-empty-right:before {
  content: "\e90a";
}
.su-arrow-empty-up:before {
  content: "\e90b";
}
.su-arrow-empty-down:before {
  content: "\e90c";
}
.su-image:before {
  content: "\e90d";
}
.su-minus:before {
  content: "\e90e";
}
.su-plus:before {
  content: "\e92e";
}
.su-add:before {
  content: "\e926";
}
.su-align:before {
  content: "\e925";
}
.su-arrow-down:before {
  content: "\e90f";
}
.su-arrow-filled-down:before {
  content: "\e910";
}
.su-arrow-filled-left:before {
  content: "\e911";
}
.su-arrow-filled-right:before {
  content: "\e912";
}
.su-arrow-filled-up:before {
  content: "\e913";
}
.su-arrow-left:before {
  content: "\e914";
}
.su-arrow-right:before {
  content: "\e915";
}
.su-arrow-up:before {
  content: "\e916";
}
.su-article:before {
  content: "\e917";
}
.su-battery-empty:before {
  content: "\e931";
}
.su-battery-full:before {
  content: "\e930";
}
.su-battery-low:before {
  content: "\e92f";
}
.su-calender:before {
  content: "\e92d";
}
.su-checkmark:before {
  content: "\e92a";
}
.su-circle-filled:before {
  content: "\e92c";
}
.su-clock:before {
  content: "\e929";
}
.su-close:before {
  content: "\e92b";
}
.su-cloud:before {
  content: "\e928";
}
.su-code:before {
  content: "\e91e";
}
.su-communicate:before {
  content: "\e91f";
}
.su-copy:before {
  content: "\e920";
}
.su-creditcard:before {
  content: "\e921";
}
.su-cut:before {
  content: "\e922";
}
.su-dashboard:before {
  content: "\e923";
}
.su-desktop:before {
  content: "\e924";
}
.su-exit:before {
  content: "\e927";
}
.su-flag:before {
  content: "\e932";
}
.su-flash:before {
  content: "\e933";
}
.su-hashtag:before {
  content: "\e934";
}
.su-iPhone:before {
  content: "\e935";
}
.su-link:before {
  content: "\e936";
}
.su-list:before {
  content: "\e937";
}
.su-lock:before {
  content: "\e938";
}
.su-media:before {
  content: "\e939";
}
.su-menu:before {
  content: "\e93a";
}
.su-more:before {
  content: "\e93b";
}
.su-news:before {
  content: "\e93c";
}
.su-paper:before {
  content: "\e93d";
}
.su-pen:before {
  content: "\e93e";
}
.su-pin:before {
  content: "\e93f";
}
.su-process:before {
  content: "\e940";
}
.su-save:before {
  content: "\e941";
}
.su-search:before {
  content: "\e942";
}
.su-shift:before {
  content: "\e94f";
}
.su-size:before {
  content: "\e94e";
}
.su-smaller:before {
  content: "\e94d";
}
.su-storage:before {
  content: "\e94c";
}
.su-sulu:before {
  content: "\e94b";
}
.su-time:before {
  content: "\e94a";
}
.su-trash:before {
  content: "\e943";
}
.su-user-12:before {
  content: "\e944";
}
.su-user-22:before {
  content: "\e945";
}
.su-view:before {
  content: "\e946";
}
.su-Warning:before {
  content: "\e947";
}
.su-webspace:before {
  content: "\e948";
}