@font-face {
  font-family: 'sulu';
  src:  url('fonts/sulu.eot?fp5ycy');
  src:  url('fonts/sulu.eot?fp5ycy#iefix') format('embedded-opentype'),
  url('fonts/sulu.ttf?fp5ycy') format('truetype'),
  url('fonts/sulu.woff?fp5ycy') format('woff'),
  url('fonts/sulu.svg?fp5ycy#sulu') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="su-"], [class*=" su-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sulu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.su-user:before {
  content: "\e91a";
}
.su-arrow-alt-v:before {
  content: "\e93b";
}
.su-arrow-alt-h:before {
  content: "\e93d";
}
.su-arrows-alt:before {
  content: "\e941";
}
.su-shift:before {
  content: "\e94f";
}
.su-list-ol:before {
  content: "\e951";
}
.su-save:before {
  content: "\e952";
}
.su-clear:before {
  content: "\e953";
}
.su-language:before {
  content: "\e954";
}
.su-dollar:before {
  content: "\e955";
}
.su-list-ul:before {
  content: "\e956";
}
.su-list-check:before {
  content: "\e957";
}
.su-envalope:before {
  content: "\e958";
}
.su-snippet:before {
  content: "\e959";
}
.su-warning:before {
  content: "\e95a";
}
.su-magic:before {
  content: "\e983";
}
.su-map:before {
  content: "\e987";
}
.su-ban:before {
  content: "\e988";
}
.su-bold:before {
  content: "\e98a";
}
.su-fire:before {
  content: "\e96b";
}
.su-globe:before {
  content: "\e98b";
}
.su-inbox:before {
  content: "\e99f";
}
.su-superscript:before {
  content: "\e95f";
}
.su-italic:before {
  content: "\e960";
}
.su-underline:before {
  content: "\e961";
}
.su-subscript:before {
  content: "\e962";
}
.su-strikethrough:before {
  content: "\e963";
}
.su-file-word:before {
  content: "\e965";
}
.su-hashtag3:before {
  content: "\e966";
}
.su-copyright:before {
  content: "\e967";
}
.su-at:before {
  content: "\e968";
}
.su-unlink:before {
  content: "\e969";
}
.su-brush:before {
  content: "\e96a";
}
.su-explose:before {
  content: "\e96c";
}
.su-pen:before {
  content: "\e96d";
}
.su-tag:before {
  content: "\e96e";
}
.su-percent:before {
  content: "\e96f";
}
.su-bluetooth:before {
  content: "\e971";
}
.su-check:before {
  content: "\e972";
}
.su-checkmark2:before {
  content: "\e973";
}
.su-location-arrow:before {
  content: "\e975";
}
.su-microphone:before {
  content: "\e976";
}
.su-music:before {
  content: "\e977";
}
.su-camera:before {
  content: "\e978";
}
.su-ticket:before {
  content: "\e979";
}
.su-eye:before {
  content: "\e97a";
}
.su-earth:before {
  content: "\e97b";
}
.su-heart:before {
  content: "\e97c";
}
.su-graduation-cap:before {
  content: "\e97d";
}
.su-house:before {
  content: "\e97e";
}
.su-handshake:before {
  content: "\e97f";
}
.su-trophy:before {
  content: "\e980";
}
.su-redirect:before {
  content: "\e981";
}
.su-euro:before {
  content: "\e982";
}
.su-umbrella:before {
  content: "\e984";
}
.su-industry:before {
  content: "\e985";
}
.su-information:before {
  content: "\e986";
}
.su-paint:before {
  content: "\e989";
}
.su-diagramm:before {
  content: "\e98d";
}
.su-chart:before {
  content: "\e98e";
}
.su-archive:before {
  content: "\e98f";
}
.su-phone2:before {
  content: "\e990";
}
.su-webspace3:before {
  content: "\e950";
}
.su-webspace:before {
  content: "\e945";
}
.su-webspace2:before {
  content: "\e944";
}
.su-phone:before {
  content: "\e991";
}
.su-download:before {
  content: "\e993";
}
.su-upload:before {
  content: "\e994";
}
.su-code:before {
  content: "\e995";
}
.su-center:before {
  content: "\e996";
}
.su-wifi:before {
  content: "\e997";
}
.su-view:before {
  content: "\e998";
}
.su-sort:before {
  content: "\e999";
}
.su-rss-feed:before {
  content: "\e99a";
}
.su-left:before {
  content: "\e99b";
}
.su-right:before {
  content: "\e99c";
}
.su-link2:before {
  content: "\e99d";
}
.su-hashtag2:before {
  content: "\e99e";
}
.su-settings:before {
  content: "\e900";
}
.su-x:before {
  content: "\e901";
}
.su-arrow-long-up:before {
  content: "\e902";
}
.su-arrow-long-down:before {
  content: "\e903";
}
.su-arrow-long-right:before {
  content: "\e904";
}
.su-arrow-long-left:before {
  content: "\e905";
}
.su-document:before {
  content: "\e949";
}
.su-focus:before {
  content: "\e91b";
}
.su-folder:before {
  content: "\e91c";
}
.su-checkbox:before {
  content: "\e91d";
}
.su-circle:before {
  content: "\e906";
}
.su-arrow-long-left-right:before {
  content: "\e907";
}
.su-arrow-long-up-down:before {
  content: "\e908";
}
.su-arrow-empty-left:before {
  content: "\e909";
}
.su-arrow-empty-right:before {
  content: "\e90a";
}
.su-arrow-empty-up:before {
  content: "\e90b";
}
.su-arrow-empty-down:before {
  content: "\e90c";
}
.su-image:before {
  content: "\e90d";
}
.su-minus:before {
  content: "\e90e";
}
.su-plus:before {
  content: "\e92e";
}
.su-add:before {
  content: "\e926";
}
.su-align:before {
  content: "\e925";
}
.su-arrow-down:before {
  content: "\e90f";
}
.su-arrow-filled-down:before {
  content: "\e910";
}
.su-arrow-filled-left:before {
  content: "\e911";
}
.su-arrow-filled-right:before {
  content: "\e912";
}
.su-arrow-filled-up:before {
  content: "\e913";
}
.su-arrow-left:before {
  content: "\e914";
}
.su-arrow-right:before {
  content: "\e915";
}
.su-arrow-up:before {
  content: "\e916";
}
.su-article:before {
  content: "\e917";
}
.su-battery-empty:before {
  content: "\e931";
}
.su-battery-full:before {
  content: "\e930";
}
.su-battery-low:before {
  content: "\e92f";
}
.su-calender:before {
  content: "\e92d";
}
.su-checkmark:before {
  content: "\e92a";
}
.su-circle-filled:before {
  content: "\e92c";
}
.su-clock:before {
  content: "\e929";
}
.su-close:before {
  content: "\e92b";
}
.su-cloud:before {
  content: "\e928";
}
.su-code2:before {
  content: "\e91e";
}
.su-communicate:before {
  content: "\e91f";
}
.su-copy:before {
  content: "\e920";
}
.su-creditcard:before {
  content: "\e921";
}
.su-cut:before {
  content: "\e922";
}
.su-dashboard:before {
  content: "\e923";
}
.su-desktop:before {
  content: "\e924";
}
.su-exit:before {
  content: "\e927";
}
.su-flag:before {
  content: "\e932";
}
.su-flash:before {
  content: "\e933";
}
.su-hashtag:before {
  content: "\e934";
}
.su-iPhone:before {
  content: "\e935";
}
.su-link:before {
  content: "\e936";
}
.su-list2:before {
  content: "\e937";
}
.su-lock:before {
  content: "\e938";
}
.su-media:before {
  content: "\e939";
}
.su-menu:before {
  content: "\e93a";
}
.su-news:before {
  content: "\e93c";
}
.su-pen2:before {
  content: "\e93e";
}
.su-pin:before {
  content: "\e93f";
}
.su-process:before {
  content: "\e940";
}
.su-search:before {
  content: "\e942";
}
.su-size:before {
  content: "\e94e";
}
.su-smaller:before {
  content: "\e94d";
}
.su-storage:before {
  content: "\e94c";
}
.su-sulu:before {
  content: "\e94b";
}
.su-time:before {
  content: "\e94a";
}
.su-trash:before {
  content: "\e943";
}
.su-view2:before {
  content: "\e946";
}
.su-Warning:before {
  content: "\e947";
}
.su-webspace4:before {
  content: "\e948";
}