@font-face {
    font-family: 'sulu';
    src: url('fonts/sulu.ttf?qq3do4') format('truetype'),
    url('fonts/sulu.woff?qq3do4') format('woff'),
    url('fonts/sulu.svg?qq3do4#sulu') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="su-"], [class*=" su-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sulu' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.su-share:before {
    content: "\e9bb";
}

.su-stick-right:before {
    content: "\e9b9";
}

.su-sulu-logo:before {
    content: "\e9ba";
}

.su-user-minus:before {
    content: "\e938";
}

.su-exchange:before {
    content: "\e940";
}

.su-lock-open:before {
    content: "\e96d";
}

.su-lock:before {
    content: "\e9a1";
}

.su-merge:before {
    content: "\e9a2";
}

.su-publish:before {
    content: "\e9a3";
}

.su-toggler-enabled:before {
    content: "\e9a4";
}

.su-unpublish:before {
    content: "\e9a5";
}

.su-crop-minus:before {
    content: "\e9a6";
}

.su-crop-pen:before {
    content: "\e9a7";
}

.su-language-copy:before {
    content: "\e9a8";
}

.su-language-minus:before {
    content: "\e9a9";
}

.su-language-plus:before {
    content: "\e9aa";
}

.su-link-minus:before {
    content: "\e9ab";
}

.su-image-minus:before {
    content: "\e9ac";
}

.su-image-pen:before {
    content: "\e9ad";
}

.su-image-plus:before {
    content: "\e9ae";
}

.su-tag-minus:before {
    content: "\e9af";
}

.su-tag-pen:before {
    content: "\e9b0";
}

.su-tag-plus:before {
    content: "\e9b1";
}

.su-user-plus:before {
    content: "\e9b2";
}

.su-lock-check:before {
    content: "\e9b3";
}

.su-process-minus:before {
    content: "\e9b4";
}

.su-process-plus:before {
    content: "\e9b5";
}

.su-snippet-minus:before {
    content: "\e9b6";
}

.su-snippet-pen:before {
    content: "\e9b7";
}

.su-process:before {
    content: "\e9b8";
}

.su-folder-permission:before {
    content: "\e9a0";
}

.su-exclamation-circle:before {
    content: "\e99a";
}

.su-permissions:before {
    content: "\e99e";
}

.su-more-horizontal:before {
    content: "\e995";
}

.su-file-audio:before {
    content: "\e98c";
}

.su-audio:before {
    content: "\e991";
}

.su-video:before {
    content: "\e992";
}

.su-filter:before {
    content: "\e977";
}

.su-enter:before {
    content: "\e974";
}

.su-display-bottom-center:before {
    content: "\e91d";
}

.su-display-bottom-left:before {
    content: "\e923";
}

.su-display-bottom-right:before {
    content: "\e95c";
}

.su-display-center-center:before {
    content: "\e95d";
}

.su-display-center-left:before {
    content: "\e95e";
}

.su-display-center-right:before {
    content: "\e95f";
}

.su-display-default:before {
    content: "\e964";
}

.su-display-top-center:before {
    content: "\e966";
}

.su-display-top-left:before {
    content: "\e970";
}

.su-display-top-right:before {
    content: "\e972";
}

.su-shadow-page:before {
    content: "\e95b";
}

.su-tree-list:before {
    content: "\e947";
}

.su-subscript2:before {
    content: "\e948";
}

.su-superscript:before {
    content: "\e950";
}

.su-square:before {
    content: "\e945";
}

.su-expand:before {
    content: "\e918";
}

.su-sync:before {
    content: "\e919";
}

.su-columns:before {
    content: "\e934";
}

.su-user:before {
    content: "\e91a";
}

.su-arrow-alt-v:before {
    content: "\e93b";
}

.su-arrow-alt-h:before {
    content: "\e93d";
}

.su-arrows-alt:before {
    content: "\e941";
}

.su-more:before {
    content: "\e94f";
}

.su-list-ol:before {
    content: "\e951";
}

.su-save:before {
    content: "\e952";
}

.su-clean:before {
    content: "\e953";
}

.su-language:before {
    content: "\e954";
}

.su-dollar:before {
    content: "\e955";
}

.su-list-ul:before {
    content: "\e956";
}

.su-list-check:before {
    content: "\e957";
}

.su-envelope:before {
    content: "\e958";
}

.su-snippet:before {
    content: "\e959";
}

.su-exclamation-triangle:before {
    content: "\e95a";
}

.su-magic:before {
    content: "\e983";
}

.su-map:before {
    content: "\e987";
}

.su-ban:before {
    content: "\e988";
}

.su-bold:before {
    content: "\e98a";
}

.su-fire:before {
    content: "\e96b";
}

.su-globe:before {
    content: "\e98b";
}

.su-inbox:before {
    content: "\e99f";
}

.su-italic:before {
    content: "\e960";
}

.su-underline:before {
    content: "\e961";
}

.su-subscript:before {
    content: "\e962";
}

.su-strikethrough:before {
    content: "\e963";
}

.su-file-word:before {
    content: "\e965";
}

.su-copyright:before {
    content: "\e967";
}

.su-at:before {
    content: "\e968";
}

.su-unlink:before {
    content: "\e969";
}

.su-brush:before {
    content: "\e96a";
}

.su-explose:before {
    content: "\e96c";
}

.su-tag:before {
    content: "\e96e";
}

.su-percent:before {
    content: "\e96f";
}

.su-bluetooth:before {
    content: "\e971";
}

.su-check-circle:before {
    content: "\e973";
}

.su-location-arrow:before {
    content: "\e975";
}

.su-microphone:before {
    content: "\e976";
}

.su-camera:before {
    content: "\e978";
}

.su-ticket:before {
    content: "\e979";
}

.su-eye:before {
    content: "\e97a";
}

.su-earth:before {
    content: "\e97b";
}

.su-heart:before {
    content: "\e97c";
}

.su-graduation-cap:before {
    content: "\e97d";
}

.su-house:before {
    content: "\e97e";
}

.su-trophy:before {
    content: "\e980";
}

.su-redirect:before {
    content: "\e981";
}

.su-euro:before {
    content: "\e982";
}

.su-umbrella:before {
    content: "\e984";
}

.su-industry:before {
    content: "\e985";
}

.su-information:before {
    content: "\e986";
}

.su-paint:before {
    content: "\e989";
}

.su-diagramm:before {
    content: "\e98d";
}

.su-chart:before {
    content: "\e98e";
}

.su-archive:before {
    content: "\e98f";
}

.su-phone:before {
    content: "\e990";
}

.su-webspace:before {
    content: "\e944";
}

.su-download:before {
    content: "\e993";
}

.su-upload:before {
    content: "\e994";
}

.su-align-center:before {
    content: "\e996";
}

.su-wifi:before {
    content: "\e997";
}

.su-th-large:before {
    content: "\e998";
}

.su-sort:before {
    content: "\e999";
}

.su-align-left:before {
    content: "\e99b";
}

.su-align-right:before {
    content: "\e99c";
}

.su-link2:before {
    content: "\e99d";
}

.su-cog:before {
    content: "\e900";
}

.su-times:before {
    content: "\e901";
}

.su-arrow-up:before {
    content: "\e902";
}

.su-arrow-down:before {
    content: "\e903";
}

.su-arrow-right:before {
    content: "\e904";
}

.su-arrow-left:before {
    content: "\e905";
}

.su-document:before {
    content: "\e949";
}

.su-focus:before {
    content: "\e91b";
}

.su-folder:before {
    content: "\e91c";
}

.su-circle:before {
    content: "\e906";
}

.su-exchange-alt:before {
    content: "\e907";
}

.su-exchange-up:before {
    content: "\e908";
}

.su-caret-left:before {
    content: "\e909";
}

.su-caret-right:before {
    content: "\e90a";
}

.su-caret-up:before {
    content: "\e90b";
}

.su-caret-down:before {
    content: "\e90c";
}

.su-image:before {
    content: "\e90d";
}

.su-minus:before {
    content: "\e90e";
}

.su-plus:before {
    content: "\e92e";
}

.su-plus-circle:before {
    content: "\e926";
}

.su-align:before {
    content: "\e925";
}

.su-angle-down:before {
    content: "\e90f";
}

.su-caret-down-fill:before {
    content: "\e910";
}

.su-caret-left-fill:before {
    content: "\e911";
}

.su-caret-right-fill:before {
    content: "\e912";
}

.su-caret-up-fill:before {
    content: "\e913";
}

.su-angle-left:before {
    content: "\e914";
}

.su-angle-right:before {
    content: "\e915";
}

.su-angle-up:before {
    content: "\e916";
}

.su-newspaper:before {
    content: "\e917";
}

.su-battery-empty:before {
    content: "\e931";
}

.su-battery-full:before {
    content: "\e930";
}

.su-battery-low:before {
    content: "\e92f";
}

.su-calendar:before {
    content: "\e92d";
}

.su-check:before {
    content: "\e92a";
}

.su-circle-full:before {
    content: "\e92c";
}

.su-bell:before {
    content: "\e929";
}

.su-sign-out-alt:before {
    content: "\e92b";
}

.su-cloud:before {
    content: "\e928";
}

.su-code:before {
    content: "\e91e";
}

.su-comment:before {
    content: "\e91f";
}

.su-copy:before {
    content: "\e920";
}

.su-credit-card:before {
    content: "\e921";
}

.su-cut:before {
    content: "\e922";
}

.su-desktop:before {
    content: "\e924";
}

.su-exit:before {
    content: "\e927";
}

.su-flag:before {
    content: "\e932";
}

.su-flash:before {
    content: "\e933";
}

.su-mobile:before {
    content: "\e935";
}

.su-link:before {
    content: "\e936";
}

.su-th-list:before {
    content: "\e937";
}

.su-file-media-alt:before {
    content: "\e939";
}

.su-bars:before {
    content: "\e93a";
}

.su-news:before {
    content: "\e93c";
}

.su-pen:before {
    content: "\e93e";
}

.su-map-pin:before {
    content: "\e93f";
}

.su-search:before {
    content: "\e942";
}

.su-size:before {
    content: "\e94e";
}

.su-small:before {
    content: "\e94d";
}

.su-storage:before {
    content: "\e94c";
}

.su-sulu:before {
    content: "\e94b";
}

.su-clock:before {
    content: "\e94a";
}

.su-trash-alt:before {
    content: "\e943";
}

.su-align-justify:before {
    content: "\e946";
}

.su-hide:before {
    content: "\e97f";
}
