@import 'sulu-admin-bundle/containers/Application/colors.scss';

$cardBackgroundColor: $white;
$cardBorderColor: $silver;
$cardErrorBorderColor: $persianRed;

.single-item-selection {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.card {
    background-color: $cardBackgroundColor;
    border: 1px solid $cardBorderColor;
    border-radius: 0 0 3px 3px;
    width: 100%;
    overflow: hidden;
    padding: 30px 30px;

    &.error {
        border-color: $cardErrorBorderColor;
        border-top-color: $cardBorderColor;
    }
}

.form {
    margin-top: 30px;
}
