@import 'sulu-admin-bundle/containers/Application/colors.scss';

$backgroundColor: $white;
$borderColor: $silver;
$borderColorError: $persianRed;

.single-item-selection {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.image-map {
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    border-radius: 0 0 3px 3px;
    width: 100%;
    overflow: hidden;
    padding: 30px 30px;

    &.error {
        border-color: $borderColorError;
        border-top-color: $borderColor;
    }
}

.form {
    margin-top: 30px;
}
