.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    position: relative;
    overflow: hidden;
    display: inline-flex;

    &,
    * {
        user-select: none;
    }

    img {
        pointer-events: none;
    }
}

.image {
    width: auto;
    max-height: 500px;
    max-width: 100%;
}
