<div data-type="custom" data-mapper-property="content" data-form="true">
    <div class="form-group grid-row">
        <label for="analytics-position" class="required"><%= labels[0] %></label>

        <div id="analytics-position"
             class="form-element"
             data-aura-component="select@husky"
             data-aura-instance-name="analytics-position"
             data-aura-data='[{"id": "headOpen", "name": "Head open"},{"id": "headClose", "name": "Head close"}]'
             data-aura-multiple-select="false"
             data-type="husky-select"
             data-form="true">
        </div>
    </div>
    <div class="form-group grid-row">
        <label for="analytics-content" class="required" id="analytics-content-label"><%= labels[1] %></label>

        <textarea id="analytics-content" name="content" class="form-element"></textarea>
    </div>
</div>
