<div data-type="custom" data-mapper-property="content" data-form="true">
    <div class="form-group grid-row">
        <label for="analytics-content-head-open" id="analytics-content-head-open-label">
            <%= labels[0] %>
        </label>

        <textarea id="analytics-content-head-open" name="content-head-open" class="form-element"></textarea>
    </div>

    <div class="form-group grid-row">
        <label for="analytics-content-head-close" id="analytics-content-head-close-label">
            <%= labels[1] %>
        </label>

        <textarea id="analytics-content-head-close" name="content-head-close" class="form-element"></textarea>
    </div>

    <div class="form-group grid-row">
        <label for="analytics-content-body-open" id="analytics-content-body-open-label">
            <%= labels[2] %>
        </label>

        <textarea id="analytics-content-body-open" name="content-body-open" class="form-element"></textarea>
    </div>

    <div class="form-group grid-row">
        <label for="analytics-content-body-close" id="analytics-content-body-close-label">
            <%= labels[3] %>
        </label>

        <textarea id="analytics-content-body-close" name="content-body-open" class="form-element"></textarea>
    </div>
</div>
