@import '../Application/colors.scss';

$exceptionColor: $white;
$exceptionBackgroundColor: $roman;
$exceptionBorderColor: $persianRed;
$exceptionBorderColor: $persianRed;

.field-container {
    min-height: 30px;
    display: flex;
    align-items: center;
}

.field {
    flex: 1;
}

.field-exception {
    color: $exceptionColor;
    background: $exceptionBackgroundColor;
    border: 1px solid $exceptionBorderColor;
    padding: 0 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}
