@import '../Application/colors.scss';

$labelColor: $scorpion;
$labelErrorColor: $roman;
$errorLabelColor: $persianRed;

.label {
    display: block;
    color: $labelColor;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    text-align: left;

    &.error {
        color: $labelErrorColor;
    }
}

.error-label {
    color: $errorLabelColor;
    font-size: 10px;
    line-height: 20px;
    margin-top: 5px;
}
