.grid-section {
    margin-bottom: -30px;

    & .grid-section:last-child {
        margin-bottom: 0;
    }

    & + .grid-item {
        margin-top: 30px;
    }
}

.grid-item {
    margin-bottom: 30px;

    & + .grid-section {
        margin-top: -30px;
    }
}
