@import './variables.scss';

.grid-section {
    margin-bottom: -$fieldMarginBottom;

    & .grid-section:last-child {
        margin-bottom: 0;
    }

    & + .grid-item {
        margin-top: $fieldMarginBottom;
    }
}

.grid-item {
    margin-bottom: $fieldMarginBottom;

    & + .grid-section {
        margin-top: -$fieldMarginBottom;
    }
}
