@import '../../components/Grid/variables.scss';
@import './variables.scss';

.grid {
    margin-bottom: -$sectionMarginBottom;
}

.grid-section {
    margin-bottom: -$fieldMarginBottom;

    & .grid-section:last-child {
        margin-bottom: 0;
    }

    & + .grid-item {
        margin-top: $fieldMarginBottom;
    }
}

.grid-item + .grid-section {
    margin-top: -$fieldMarginBottom;
}

@media (max-width: $gridMinWidth) {
    .grid-section + .grid-section {
        margin-top: $fieldMarginBottom;
    }
}
