@import './variables.scss';

.grid {
    margin-bottom: -$sectionMarginBottom;
}

.grid-section {
    margin-bottom: -$fieldMarginBottom;

    & .grid-section:last-child {
        margin-bottom: 0;
    }

    & + .grid-item,
    & + .grid-section {
        margin-top: $fieldMarginBottom;
    }
}

.grid-item + .grid-section {
    margin-top: -$fieldMarginBottom;
}
