@import '../../containers/Application/colors.scss';
@import './variables.scss';

$borderRadius: 3px;
$fontSize: 12px;

$primaryBackground: $shakespeare;
$primaryColor: $white;

$secondaryBorder: $silver;
$secondaryBackground: $wildSand;
$secondaryColor: $black;
$secondaryDisabledColor: $silver;

$linkFontSize: 14px;
$linkColor: $black;

$iconFontSize: 18px;
$iconBackgroundColorActive: $doveGray;
$iconBackgroundColorHover: $mercury;
$iconColorActive: $white;

.button {
    position: relative;

    &:disabled {
        cursor: default;
    }
}

.primary,
.secondary {
    font-size: $fontSize;
    border: 1px solid;
    border-radius: $borderRadius;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    min-width: 140px;
    padding: 0 40px;
}

.primary {
    border-color: $primaryBackground;
    background: $primaryBackground;
    color: $primaryColor;
}

.secondary {
    border-color: $secondaryBorder;
    background: $secondaryBackground;
    color: $secondaryColor;

    &:disabled {
        color: $secondaryDisabledColor;
    }
}

.link {
    padding: 0;
    margin: 0 10px 0 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
    font-size: $linkFontSize;
    color: $linkColor;
}

.icon {
    background: none;
    height: 30px;
    border-radius: $iconBorderRadius;
    border: 1px solid $iconBorderColor;
    color: $iconBorderColor;
    cursor: pointer;
    font-size: $iconFontSize;

    &:hover {
        background-color: $silver;
    }

    &.active {
        background-color: $iconBorderColor;
        color: $iconColorActive;
    }
}

.loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading {
    background-color: transparent;
    border-color: transparent;

    .text {
        opacity: 0;
    }

    .loader {
        display: block;
    }
}
