<div class="grid-row form-group">
    <label for="{{ id|raw }}" class="pointer {{ (property.mandatory) ? 'required' : '' }}" title="{{ property.getInfoText(languageCode) }}">
        {{ property.getTitle(languageCode) }}
    </label>

    {% include type.template %}
</div>
