<div class="grid-row">
    <label for="{{ property.id }}" class="pointer {{ (property.mandatory) ? 'required' : '' }}">{{ property.name|capitalize }}</label>

    {% include property.type.template %}
</div>
