<div class="block">
    {% for property in template.childProperties %}

        {# set defaults for property#}
        {% set type = getType(property.contentTypeName) %}

        {% if property is multiple %}
            {% include 'SuluContentBundle:Template:macros/multiple.html.twig' with {'property': property, 'type': type, 'webspaceKey': webspaceKey, 'languageCode': languageCode} only %}
        {% else %}
            {% include 'SuluContentBundle:Template:macros/single.html.twig' with {'property': property, 'type': type, 'id': property.name, 'webspaceKey': webspaceKey, 'languageCode': languageCode} only %}
        {% endif %}
    {% endfor %}
</div>
