@import '../../containers/Application/colors.scss';

$inputBorderColor: $silver;
$inputErrorBorderColor: $persianRed;
$inputBorderWidth: 1px;
$inputBorderRadius: 3px;
$inputHeight: 30px;
$inputColor: $black;
$inputFontSize: 12px;
$inputPrependWidth: 34px;
$iconColor: $dustyGray;
$iconBorderPadding: 5px;
$placeholderColor: $dustyGray;
$backgroundColor: $white;

$darkInputBorderRadius: 4px;
$darkInputBorderColor: $doveGray;
$darkInputColorCollapsed: $black;
$darkInputColor: $black;
$darkBackgroundColorCollapsed: $wildSand;
$darkBackgroundColor: $white;
$darkIconColor: $doveGray;

.input {
    border: $inputBorderWidth solid $inputBorderColor;
    border-radius: $inputBorderRadius;
    display: inline-flex;
    align-items: center;
    height: $inputHeight;
    width: 100%;
    background-color: $backgroundColor;
    position: relative;

    input {
        width: calc(100% - $inputPrependWidth);
        flex-grow: 1;
        border: none;
        border-radius: $inputBorderRadius;
        height: calc($inputHeight - 2 * $inputBorderWidth);
        padding-left: 10px;
        font-size: $inputFontSize;
        color: $inputColor;
        will-change: width, padding-left;
        transition: width .3s, padding-left .1s linear;

        &::placeholder {
            color: $placeholderColor;
            font-size: $inputFontSize;
        }

        &:invalid {
            box-shadow: none;
        }
    }

    &.collapsed {
        input {
            padding-left: 0;
            width: 0;
        }
    }

    &.error {
        border-color: $inputErrorBorderColor;
    }

    &.has-append-icon {
        input {
            will-change: margin-right;
            transition: margin-right .1s;
            margin-right: 34px;
        }

        &.collapsed {
            input {
                margin-right: 0;
                visibility: hidden;
            }
        }
    }

    &.dark {
        background-color: $darkBackgroundColor;
        color: $darkInputColor;
        border-radius: $darkInputBorderRadius;
        border-color: $darkInputBorderColor;

        &.collapsed {
            background-color: $darkBackgroundColorCollapsed;
        }
    }
}

.prepended-container {
    position: relative;
    flex: 0 0 $inputPrependWidth;
    height: calc($inputHeight - 2 * $iconBorderPadding);
    box-shadow: $inputBorderWidth 0 0 $inputBorderColor;
    display: flex;
    justify-content: center;
    align-items: center;

    &.dark {
        box-shadow: $inputBorderWidth 0 0 $darkInputBorderColor;
    }

    &.collapsed {
        box-shadow: none;
    }
}

.append-container {
    position: absolute;
    height: calc($inputHeight - 2 * $iconBorderPadding);
    right: 0;
}

.icon {
    display: block;
    font-size: 14px;
    flex-grow: 0;
    color: $iconColor;
    margin: 0 10px;
    line-height: calc($inputHeight - 2 * $iconBorderPadding);

    &.dark {
        color: $darkIconColor;
    }
}

.icon-clickable {
    cursor: pointer;
}
