<form id="contact-relation-form" class="form-vertical">
    <div class="grid-row small">
        <div class="grid-col-12">
            <div class="form-group">
                <label for="contact-field" class="required"><%=translate('contact.contacts.title')%></label>
                <div id="contact-field"></div>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-col-12">
            <div class="form-group">
                <label for="company-contact-position"><%=translate('contact.contacts.position')%></label>
                <div id="company-contact-position"></div>
            </div>
        </div>
    </div>
</form>
