@import '../../containers/Application/colors.scss';

.item {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
    margin: 0 2px;
    font-size: 12px;
    padding: 0 20px;
}

.drag-button,
.remove-button {
    border: 0;
    background-color: transparent;
}

.drag-button {
    width: 40px;
    border: 0;
    cursor: grab;
}

.remove-button {
    padding: 0 10px;
    margin-right: 10px;
    cursor: pointer;
}
