@import '../../containers/Application/colors.scss';

$listElementBackgroundColor: $white;
$listElementBorderBottomColor: $silver;

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-element {
    border-bottom: 1px solid $listElementBorderBottomColor;

    &:last-child {
        border-bottom: 0;
    }
}
