{% block options %}
    {# container for the list-toolbar component #}
    <div id="list-toolbar-container"></div>
{% endblock %}

{% block list %}
    <div id="filter-list">
        <h1>List</h1>
    </div>
{% endblock %}

{% block data %}
{% endblock %}
