{% block options %}
    {# container for the list-toolbar component #}
    <div id="list-toolbar-container"></div>
{% endblock %}

{% block list %}
    <div id="filter-list"></div>
{% endblock %}

{% block data %}
{% endblock %}
