<form id="filter-form" class="form-horizontal">
    <input type="hidden" data-mapper-property="id"/>

    <div class="grid">
        <div id="filter-edit-form">
            <h1>Form</h1>
        </div>

    </div>
</form>

{% block data %}
    <script type="text/javascript">
        (function() {
        })();
    </script>
{% endblock %}
