@import '../../containers/Application/colors.scss';

$contentBackgroundColor: $concrete;
$footerBackgroundColor: $white;
$footerBorderColor: $silver;
$borderRadius: 3px;

$titleColor: $black;
$contentColor: $dustyGray;

$confirmBackground: $shakespeare;
$confirmColor: $white;

$transitionDuration: 300ms;

.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.dialog {
    width: 500px;
    position: relative;
    opacity: 0;
    will-change: opacity;
    transition: opacity $transitionDuration;
    z-index: 1;
    pointer-events: none;

    & > * {
        pointer-events: auto;
    }

    &.small {
        width: 50vw;
    }

    &.large {
        width: 80vw;
    }
}

.open {
    & > * {
        opacity: 1;
    }
}

.content {
    border-radius: $borderRadius;
    background: $contentBackgroundColor;
    overflow: hidden;
    position: relative;

    header {
        color: $titleColor;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        padding: 30px;
    }

    article {
        color: $contentColor;
        font-size: 12px;
        line-height: 22px;
        overflow: auto;
        padding: 0 30px 30px;
        text-align: center;
    }

    footer {
        background: $footerBackgroundColor;
        border-top: 1px solid $footerBorderColor;
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }
}
