.container {
    display: inline-block;
}

.selection {
    position: relative;
    overflow: hidden;
    display: inline-flex;

    &,
    * {
        user-select: none;
    }

    img {
        pointer-events: none;
    }
}
