@import '../../containers/Application/colors.scss';

$menuBorderColor: $frenchGray;
$menuBackgroundColor: $wildSand;
$menuBoxShadow: 2px 6px 12px 0 rgba($black, .22);

.menu {
    border-radius: 2px;
    padding: 5px 0;
    font-size: 12px;
    margin: 0;
    overflow: auto;
    background: $menuBackgroundColor;
    box-shadow: $menuBoxShadow;
    border: 1px solid $menuBorderColor;
}
