@import '../../containers/Application/colors.scss';

$textColor: $black;

.resource-locator-container {
    display: flex;
    align-items: center;
}

.fixed {
    font-size: 12px;
    line-height: 22px;
    color: $textColor;
    margin-right: 20px;
}
