<form id="catalogue-form">
    <input type="text" id="name" value="<%= name %>" /><br /><br />

    <input type="text" id="code1" value="<%= codes[0] %>" /><br />
    <input type="text" id="code2" value="<%= codes[1] %>" /><br />

    <input type="submit" value="Speichern" />
</form>