<form id="catalogue-form">
    <input type="text" id="name" value="<%= name %>" /><br /><br />

    <input type="text" id="code1" value="<%= (!!catalogues[0]) ? catalogues[0].code : '' %>" /><br />
    <input type="text" id="code2" value="<%= (!!catalogues[1]) ? catalogues[1].code : '' %>" /><br />

    <input type="submit" value="Speichern" />
</form>