<h1>[.DE-English]</h1>

<form id="codes-form">

    <div class="grid-row">
        <h3 class="collapsable">[Section1]</h3>
        <table class="table">

            <thead>
                <tr>
                    <th>[Key]</th>
                    <th>[Translation]</th>
                    <th>[Suggestion (EN)]</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>[Registration_for_Downloads]</td>
                    <td>
                        <input value="[Registierung für Downloads]"/>
                        <span>[Max. 128 chars]</span>
                    </td>
                    <td>[Lorem Ipsum dolor set]</td>
                </tr>
                <tr>
                    <td>[Registration_for_Downloads]</td>
                    <td>
                        <input value="[Registierung für Downloads]"/>
                        <span>[Max. 128 chars]</span>
                    </td>
                    <td>[Lorem Ipsum dolor set]</td>
                </tr>
                <tr>
                    <td>[Registration_for_Downloads]</td>
                    <td>
                        <input value="[Registierung für Downloads]"/>
                        <span>[Max. 128 chars]</span>
                    </td>
                    <td>[Lorem Ipsum dolor set]</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>

        </table>
        <span>[Add element]</span>
    </div>

</form>