<form id="package-form">

    <div class="grid-row m-bottom-30">
        <label>Title*</label>
        <input class="form-element name-value" type="text" id="name" data-validation-required="true" data-validation-min-length="3"
               value="<%= name %>"/>
    </div>

    <hr class="divider"/>

    <div class="grid-row">
        <div class="grid-row">
            <h2>Language catalogues</h2>
        </div>

        <table class="grid-row m-bottom-20 table" id="catalogues">
            <thead>
                <tr>
                    <th width="10%"></th>
                    <th width="80%">Locale</th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody class="catalogue-item">
                <tr>
                    <td>
                        <label>
                            <input type="radio" class="custom-radio is-default-value" name="catalogue-radio">
                            <span class="custom-radio-icon"></span>
                        </label>
                    </td>
                    <td>
                        <input class="form-element locale-value" type="text" value=""/>
                    </td>
                    <td>
                        <span class="icon-remove pointer catalogue-remove"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="grid-row">
            <div class="grid-col-3 m-top-15 add-row" data-table-id="catalogue-table" id="catalogue-add">
                <span class="icon-add"></span>
                <span class="control-label">Add catalogue</span>
            </div>
        </div>
    </div>

    <hr class="divider"/>

</form>
