<form id="catalogue-form">

    <div class="grid-row">
        <label>Title*</label>
        <input class="form-element" type="text" id="name" value="<%= name %>"/><br/><br/>
    </div>

    <div class="grid-row">
        <div class="grid-col-6">
            <label>Type*</label>

            <div class="dropdown">
                <span class="dropdown-toggle">Dropdown</span>


            </div>
        </div>
    </div>

    <hr class="divider"/>

    <div class="grid-row">
        <div class="grid-row">
            <div class="grid-col-10"><h3>Language catalogues</h3></div>
            <div class="grid-col-2 align-right m-top-15 addRow" data-table-id="catalogueTable" id="addCatalogueRow"><span class="icon-add"></span><span class="control-label">Add catalogue</span></div>
        </div>

        <div class="grid-row" id="catalogues">

        </div>

    </div>

    <hr class="divider"/>

   <!-- <div class="grid-row">
        <div class="grid-row">
            <div class="grid-col-10"><h3>[Section]</h3></div>
            <div class="grid-col-2 align-right m-top-15"><span>[Add language]</span></div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th  class="grid-col-6">[Title]</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td  class="grid-col-6"><input class="form-element" type="text" id=""
                                               value="[This is the title]"/></td>
                <td></td>
            </tr>
            <tr>
                <td  class="grid-col-6"><input class="form-element" type="text" id=""
                                               value="[This is the title]"/></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="divider"/> -->

    <input type="submit" value="[Speichern]"/>
</form>
