<form id="catalogue-form" data-validate="parsley">

    <div class="grid-row m-bottom-30">
        <label>Title*</label>
        <input class="form-element" type="text" id="name" data-trigger="focusout" data-required="true" data-minlength="3" value="<%= name %>"/>
    </div>

    <!-- <div class="grid-row">
        <div class="grid-col-4">
            <label>Type*</label>
            <select id="select-3" class="form-element">
                <option>Please choose...</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
        </div>
    </div> -->

    <hr class="divider"/>

    <div class="grid-row">
        <div class="grid-row">
            <h2>Language catalogues</h2>
        </div>

        <div class="grid-row m-bottom-20" id="catalogues">

        </div>

        <div class="grid-row">
            <div class="grid-col-3 m-top-15 add-row" data-table-id="catalogue-table" id="add-catalogue-row">
                <span class="icon-add"></span>
                <span class="control-label">Add catalogue</span>
            </div>
        </div>
    </div>

    <hr class="divider"/>

   <!-- <div class="grid-row">
        <div class="grid-row">
            <div class="grid-col-10"><h3>[Section]</h3></div>
            <div class="grid-col-2 align-right m-top-15"><span>[Add language]</span></div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th  class="grid-col-6">[Title]</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td  class="grid-col-6"><input class="form-element" type="text" id=""
                                               value="[This is the title]"/></td>
                <td></td>
            </tr>
            <tr>
                <td  class="grid-col-6"><input class="form-element" type="text" id=""
                                               value="[This is the title]"/></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="divider"/> -->

</form>
