<div class="grid">
   <div class="grid-row">

       <div class="grid-col-6">
           <h1>All translation packages</h1>
       </div>

       <div class="grid-col-6 m-top-20">
           <div class="pull-right">
               <div class="dropdown">
                   <div class="dropdown-toggle"><span class="icon-cogwheel"></span><span class="control-label">Edit</span>
                   </div>

                   <div class="dropdown-menu dropdown-align-right" style="display:none;">
                       <ul>
                           <li id="edit-remove">Delete</li>
                       </ul>
                   </div>

               </div>
           </div>
       </div>

   </div>

    <div class="grid-row">
        <div id="packageList"></div>
    </div>
</div>
