<div class="grid">
    <div class="grid-row">

        <div class="grid-col-12">
            <h1><%= translate('translate.package.title') %></h1>
        </div>

        <div class="grid-col-12">
            <div class="pull-right m-top-20">
                <div id="list-toolbar-container">
                </div>
            </div>
        </div>

    </div>

    <div class="grid-row">
        <div id="package-list"></div>
    </div>
</div>
