<form id="package-form">

    <div class="grid-row m-bottom-30">
        <label for="package-title-form" class="required"><%= translate('translate.package.settings.title') %></label>
        <input id="package-title-form" class="form-element input-large name-value" type="text" id="name" data-validation-required="true" data-validation-min-length="3"
               value="<%= name %>"/>
    </div>

    <hr class="divider"/>

    <div class="grid-row">
        <div class="grid-row">
            <h2><%= translate('translate.package.catalogues') %></h2>
        </div>

        <table class="grid-row m-bottom-20 table" id="catalogues">
            <thead>
                <tr>
                    <th width="10%"></th>
                    <th width="80%"><%= translate('translate.package.settings.locale') %></th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody class="catalogue-item">
                <tr>
                    <td>
                        <label>
                            <div class="custom-radio">
                                <input type="radio" class="is-default-value" name="catalogue-radio">
                                <span class="icon"></span>
                            </div>
                        </label>
                    </td>
                    <td>
                        <input class="form-element locale-value" type="text" data-validation-unique="locale" value=""/>
                    </td>
                    <td>
                        <span class="icon-remove pointer catalogue-remove"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="grid-row">
            <div class="grid-col-4 m-top-15 add-row" data-table-id="catalogue-table" id="catalogue-add">
                <span class="icon-add"></span>
                <span class="control-label"><%= translate('translate.package.settings.addCatalogue') %></span>
            </div>
        </div>
    </div>

    <hr class="divider"/>

</form>
