<div class="grid-row m-bottom-20">
    <div class="grid-col-6 pull-left">
        <h2><%= packageName %></h2>
    </div>
    <div class="grid-col-6 pull-right">
        <label for="catalogues" class="grid-col-5 align-right m-top-15 m-right-10 bold grey label-small"><%= translate('translate.package.catalogues') %>:</label>
        <div id="languageCatalogue" class="grid-col-6 m-top-10"></div>
    </div>
</div>


<form id="codes-form">

    <div class="grid-row">
        <table class="table" id="codes">

            <thead>
                <tr>
                    <th width="30%"><%= translate('translate.package.details.key') %></th>
                    <th width="32%"><%= translate('translate.package.details.translation') %></th>
                    <th width="32%"><%= translate('translate.package.details.suggestion') %></th>

                    <th width="6%"></th>
                </tr>
            </thead>

            <tbody class="code-item">
                <tr>
                    <td class="relative">
                        <input class="form-element grey code-value" readonly value=""
                               data-validation-unique="name" data-validation-required="true"/>
                        <span class="show-options absolute pointer custom-icon-arrow-right"></span>
                    </td>
                    <td>
                        <textarea class="form-element vertical translation-value" readonly data-validation-max-length="20"></textarea>
                        <small class="grey letter-info"><%= translate('translate.package.details.maxLength') %>: <span class="length-info">20</span></small>
                    </td>
                    <td><p class="grey suggestion-value"></p></td>
                    <td><p class="icon-remove m-left-5 code-remove pointer"></p></td>
                </tr>
                <tr class="additional-options hidden">
                    <td colspan="4">
                        <div class="grid-row">
                            <div class="grid-col-3">
                                <label for="length-0" class="label-small"><%= translate('translate.package.details.length') %></label>
                                <input id="length-0" class="form-element length-value" value="20" data-validation-required="true"
                                       data-type="decimal" data-validation-min="0" type="number" min="0"/>
                            </div>
                            <div class="grid-col-3 m-top-30">
                                <label for="frontend-0" class="m-left-5 label-small"><%= translate('translate.package.details.frontend') %>
                                <div class="custom-checkbox">
                                    <input id="frontend-0" name="frontend" type="checkbox" class="frontend-value">
                                    <span class="icon"></span>
                                </div>
                                </label>
                            </div>
                            <div class="grid-col-3  m-top-30">
                                <label for="backend-0" class="m-left- label-small"><%= translate('translate.package.details.backend') %>
                                <div class="custom-checkbox">
                                    <input id="backend-0" name="backend" type="checkbox" class="backend-value">
                                    <span class="icon"></span>
                                </div>
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>


        <div class="grid-row m-top-15 m-bottom-10">
            <div class="grid-col-4" id="code-add">
                <span class="icon-add"></span><span class="control-label"><%= translate('translate.package.details.addElement') %></span>
            </div>
        </div>

    </div>
</form>
