<form id="content-form" class="grid">
    {% for property in template.properties %}

        {# set defaults for property#}
        {% set property = property|propertyDefaults %}

        {# include template if defined #}
        {% if property.type.template is defined %}

            {% if property|isMultiple %}
                {% include 'SuluContentBundle:Template:macros/multiple.html.twig' with {'property': property} only %}
            {% else %}
                {% include 'SuluContentBundle:Template:macros/single.html.twig' with {'property': property} only %}
            {% endif %}

        {% endif %}
    {% endfor %}
</form>
