{# TODO add validation and mapper attributes for husky-validation #}
<form id="content-form" class="grid">
    {% for property in template.properties %}

        {# set defaults for property#}
        {% set property = property|propertyDefaults %}

        {# include template if defined #}
        {% if property.type.template is defined %}
            {# get params for template #}
            {% set params = (type.params is defined) ? type.params : {} %} {# TODO Twig extension to merge params with template params #}

            {% if property|isArray %}

                {% include 'SuluContentBundle:Template:macros/array.html.twig' with {'property': property} only %}

            {% else %}

                {% include 'SuluContentBundle:Template:macros/single.html.twig' with {'property': property} only %}

            {% endif %}

        {% endif %}
    {% endfor %}
</form>
