{# TODO add validation and mapper attributes for husky-validation #}
<form id="content-form" class="grid">
    {% for property in template.properties %}
        {% set type = types[property.type] %}
        {% if type.template is defined %}
            {% set params = (type.params is defined) ? type.params : {} %} {# TODO Twig extension to merge params with template params #}
            <div class="grid-row">
                {% include type.template with {'property': property, 'type': type, 'params': params} %}
            </div>
        {% endif %}
    {% endfor %}
</form>
