<form id="content-form" class="grid">

    {# if first property is a section render it as the highlighted section#}
    {% set firstSection = null %}
    {% if template.properties|length > 0 %}
        {% set firstProperty = template.properties|first %}
        {% if firstProperty.contentTypeName == 'section' %}
            {% set firstSection = template.properties|first %}
            <div class="highlight-section">
                <div class="fixed-width">
                    <div class="content">
                        {% include 'SuluContentBundle:Template:macros/section.html.twig' with {
                        'property': firstProperty,
                        'params': sulu_get_params(firstProperty),
                        'id': firstProperty.name,
                        'webspaceKey': webspaceKey,
                        'languageCode': languageCode,
                        'userLocale': userLocale,
                        'title': false,
                        'uuid':uuid
                        } only %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="fixed-width">
        <div class="grid-row">
        {# initialize columns #}
        {% set columns = 0 %}
        {% for property in template.properties if property != firstSection %}

            {# set propertyColspan with default if colspan is not set #}
            {% set propertyColspan = property.colspan != "" ? property.colspan : 12 %}

            {# create new row if there are more then 12 colspans in a row #}
            {% if columns + propertyColspan <= 12 %}
                {# set current amount of colspans #}
                {% set columns = columns + propertyColspan %}
            {% else %}
                </div>
                <div class="grid-row">
                {# set current amount of colspans #}
                {% set columns = propertyColspan %}
            {% endif %}

            {# get params for property #}
            {% set params = sulu_get_params(property) %}

            {% if property.contentTypeName == 'section' %}
                {% include 'SuluContentBundle:Template:macros/section.html.twig' with {
                'property': property,
                'params': params,
                'id': property.name,
                'webspaceKey': webspaceKey,
                'languageCode': languageCode,
                'userLocale': userLocale,
                'title': true,
                'uuid':uuid
                } only %}
            {% else %}
                {# get type for property #}
                {% set type = sulu_get_type(property.contentTypeName) %}

                {% if property.contentTypeName == 'block' %}
                    {% include type.template with {
                    'property': property,
                    'params': params,
                    'type': type,
                    'id': property.name,
                    'webspaceKey': webspaceKey,
                    'languageCode': languageCode,
                    'userLocale': userLocale,
                    'uuid':uuid
                    } only %}
                {% elseif property is multiple %}
                    {% include 'SuluContentBundle:Template:macros/multiple.html.twig' with {
                    'property': property,
                    'params': params,
                    'type': type,
                    'id': property.name,
                    'webspaceKey': webspaceKey,
                    'languageCode': languageCode,
                    'userLocale': userLocale,
                    'uuid':uuid
                    } only %}
                {% else %}
                    {% include 'SuluContentBundle:Template:macros/single.html.twig' with {
                    'property': property,
                    'params': params,
                    'type': type,
                    'id': property.name,
                    'webspaceKey': webspaceKey,
                    'languageCode': languageCode,
                    'userLocale': userLocale,
                    'uuid':uuid
                    } only %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
</form>

<script type="text/javascript">
    (function() {
        {% if fireEvent %}
        App.emit('sulu.content.contents.default-template', '{{ templateKey }}');
        {% endif %}
    })();
</script>
