{% set highlightedProperties = [] %}
{% set regularProperties = [] %}

{% for property in template.properties %}
    {% if property.tags is defined and "sulu.highlight" in property.tags|keys %}
        {% set highlightedProperties = highlightedProperties|merge([property]) %}
    {% else %}
        {% set regularProperties = regularProperties|merge([property]) %}
    {% endif %}
{% endfor %}

<form id="content-form" class="grid">
    {% if highlightedProperties is not empty %}
        <div class="highlight-section">
            <div class="fixed-width">
                <div class="content">
                    {% for property in highlightedProperties %}
                        {% include 'SuluContentBundle:Template:macros/property.html.twig' with {
                        'property': property,
                        'webspaceKey': webspaceKey,
                        'languageCode': languageCode,
                        'userLocale': userLocale
                        } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="fixed-width">
        {% for property in regularProperties %}
            {% include 'SuluContentBundle:Template:macros/property.html.twig' with {
            'property': property,
            'webspaceKey': webspaceKey,
            'languageCode': languageCode,
            'userLocale': userLocale
            } %}
        {% endfor %}
    </div>
</form>

<script type="text/javascript">
    (function() {
        {% if fireEvent %}
        App.emit('sulu.content.contents.default-template', '{{ templateKey }}');
        {% endif %}
    })();
</script>
