<form id="content-form" class="grid">

    {# if first property is a section render it as the highlighted section#}
    {% set firstSection = null %}
    {% if template.properties|length > 0 %}
        {% set firstProperty = template.properties|first %}
        {% if firstProperty.contentTypeName == 'section' %}
            {% set firstSection = template.properties|first %}
            <div class="highlight-section">
                <div class="fixed-width">
                    <div class="content">
                        {% include 'SuluContentBundle:Template:macros/section.html.twig' with {
                        'property': firstProperty,
                        'params': sulu_get_params(firstProperty),
                        'id': firstProperty.name,
                        'webspaceKey': webspaceKey,
                        'languageCode': languageCode,
                        'userLocale': userLocale,
                        'title': false,
                        'uuid':uuid
                        } only %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="fixed-width">
        {% include 'SuluContentBundle:Template:macros/properties.html.twig' with {
            'properties': firstSection ? template.properties|slice(1) : template.properties
        } %}
    </div>
</form>

<script type="text/javascript">
    (function() {
        {% if fireEvent %}
        App.emit('sulu.content.contents.default-template', '{{ templateKey }}');
        {% endif %}
    })();
</script>
