<div class="grid">
    <div class="grid-row">
        <div class="grid-col-6">
            <h1>
                {% block title %}<%=translate('content.contents.title')%>{% endblock %}
            </h1>
        </div>
        <div class="grid-col-6">
            {% block options %}
                <div class="pull-right m-top-20">
                    <div id="options-dropdown">
                        <div class="dropdown-toggle"><span class="fa-gear"></span><span class="control-label"><%=translate('public.edit')%></span>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    <div class="grid-row">
        <div id="content-list"></div>
    </div>
</div>
