<form id="seo-form" class="grid">
    <div class="grid-row form-group">
        <label for="seo-title"><%=translate('sulu.content.seo.title')%></label>
        <input type="text" id="seo-title" data-mapper-property="title"
               class="form-element preview-update trigger-save-button"/>
    </div>
    <div class="grid-row form-group">
        <label for="seo-description"><%=translate('sulu.content.seo.description')%></label>
        <textarea id="seo-description" data-mapper-property="description"
                  class="form-element preview-update trigger-save-button"></textarea>
    </div>
    <div class="grid-row form-group">
        <label for="seo-keywords"><%=translate('sulu.content.seo.keywords')%></label>
        <textarea id="seo-keywords" data-mapper-property="keywords"
                  class="form-element preview-update trigger-save-button"></textarea>
    </div>
    <div class="grid-row form-group">
        <label for="seo-canonical"><%=translate('sulu.content.seo.canonical')%></label>
        <input type="text" id="seo-canonical" data-mapper-property="canonicalUrl"
               class="form-element preview-update trigger-save-button"/>
    </div>
    <div class="grid-row form-group">
        <label><%=translate('sulu.content.seo.robots')%></label>

        <div>
            <input type="checkbox" id="seo-no-index" data-mapper-property="noIndex"
                   class="form-element inline-input preview-update trigger-save-button"/>
            <label for="seo-no-index" class="inline-label"><%=translate('sulu.content.seo.robots.no-index')%></label>
        </div>
        <div>
            <input type="checkbox" id="seo-no-follow" data-mapper-property="noFollow"
                   class="form-element inline-input preview-update trigger-save-button"/>
            <label for="seo-no-follow" class="inline-label"><%=translate('sulu.content.seo.robots.no-follow')%></label>
        </div>
    </div>
</form>
