<form id="seo-form" class="grid">
    <div class="grid-row">
        <label for="seo-title"><%=translate('sulu.content.seo.serp')%></label>

        <div class="seo-excerpt">
            <div id="seo-excerpt-title" class="title"></div>
            <div class="url"><%= siteUrl %></div>
            <div id="seo-excerpt-description" class="description"></div>
        </div>
    </div>
    <div class="grid-row form-group">
        <label for="seo-title"><%=translate('sulu.content.seo.title')%></label>
        <input type="text" id="seo-title" data-mapper-property="title"
               class="form-element preview-update trigger-save-button"/>

        <span class="smaller-font grey-font">
            <%= translate('sulu.content.seo.title.note')%>
            <strong>
                <span id="title-left"></span>
                <%= translate('sulu.content.seo.characters-left')%>
            </strong>
        </span>
    </div>
    <div class="grid-row form-group">
        <label for="seo-description"><%=translate('sulu.content.seo.description')%></label>
        <textarea id="seo-description" data-mapper-property="description"
                  class="form-element preview-update trigger-save-button"></textarea>

        <span class="smaller-font grey-font">
            <%= translate('sulu.content.seo.descriptions.note')%>
            <strong>
                <span id="description-left"></span>
                <%= translate('sulu.content.seo.characters-left')%>
            </strong>
        </span>
    </div>
    <div class="grid-row form-group">
        <label for="seo-keywords"><%=translate('sulu.content.seo.keywords')%></label>
        <input type="text" id="seo-keywords" data-mapper-property="keywords"
               class="form-element preview-update trigger-save-button"/>
        <span class="smaller-font grey-font">
            <%= translate('sulu.content.seo.keywords.note')%>
            <strong>
                <span id="keywords-left"></span>
                <%= translate('sulu.content.seo.keywords-left')%>
            </strong>
        </span>
    </div>
    <div class="grid-row form-group">
        <label for="seo-canonical"><%=translate('sulu.content.seo.canonical')%></label>
        <input type="text" id="seo-canonical" data-mapper-property="canonicalUrl"
               class="form-element preview-update trigger-save-button"/>
    </div>
    <div class="form-group grid-row">
        <label><%=translate('sulu.content.seo.robots')%></label>

        <div class="form-group grid-row">
            <label for="seo-no-index">
                <div class="custom-checkbox">
                    <input type="checkbox" id="seo-no-index" data-mapper-property="noIndex"
                           class="form-element preview-update trigger-save-button"/>
                    <span class="icon"></span>
                </div>
                <span class="clickable"><%=translate('sulu.content.seo.robots.no-index')%></span>
            </label>
        </div>
        <div class="form-group grid-row">
            <label for="seo-no-follow">
                <div class="custom-checkbox">
                    <input type="checkbox" id="seo-no-follow" data-mapper-property="noFollow"
                           class="form-element preview-update trigger-save-button"/>
                    <span class="icon"></span>
                </div>
                <span class="clickable"><%=translate('sulu.content.seo.robots.no-follow')%></span>
            </label>
        </div>
    </div>

    <div class="form-group grid-row">
        <label><%=translate('sulu.content.seo.sitemap')%></label>

        <div class="form-group grid-row">
            <label for="seo-hide-in-sitemap">
                <span class="custom-checkbox">
                    <input type="checkbox" id="seo-hide-in-sitemap" data-mapper-property="hideInSitemap"
                           class="form-element preview-update trigger-save-button"/>
                    <span class="icon"></span>
                </span>
                <span class="clickable"><%=translate('sulu.content.seo.sitemap.hide')%></span>
            </label>
        </div>
    </div>
</form>
