<form id="settings-form" class="grid">
    <div class="grid-row form-group" id="show-in-navigation-container">
        <label>
            <input id="show-in-navigation" class="trigger-save-button form-element custom-checkbox" type="checkbox"/>
            <span class="custom-checkbox-icon"></span>
            <span class="clickable">Show in navigation</span>
        </label>
    </div>
</form>
