<form id="settings-form" class="grid">
    <div class="grid-row" id="show-in-navigation-container">
        <div class="grid-col-6 form-group">
            <label><%=translate('sulu.content.form.settings.nav-contexts')%></label>

            <div id="nav-contexts"
                 data-aura-component="select@husky"
                 data-aura-instance-name="nav-contexts"
                 data-aura-multiple-select="true"
                 data-aura-data='{{ navContexts|json_encode }}'
                 data-aura-default-label="<%=translate('sulu.content.form.settings.no-nav-contexts')%>"
                 data-aura-checked-all-label="<%=translate('sulu.content.form.settings.all-nav-contexts')%>"></div>
        </div>
    </div>

    <div class="grid-row section m-top-40" id="settings-content-form-container">
        <h2 class="divider m-bottom-20" title="Content Section">
            <%=translate('sulu.content.form.settings.type')%>
        </h2>

        <div class="grid" id="content-type-container">
            <div class="grid-row">
                <label for="content-node-type">
                    <div class="custom-radio">
                        <input name="nodeType" id="content-node-type" type="radio"
                               class="trigger-save-button form-element content-type" value="1">
                        <span class="icon"></span>
                    </div>
                    <span class="clickable"><%=translate('sulu.content.form.settings.type.content')%></span>
                </label>
            </div>
            <div class="grid-row">
                <label for="internal-link-node-type">
                    <div class="custom-radio">
                        <input name="nodeType" id="internal-link-node-type" type="radio"
                               class="trigger-save-button form-element content-type" value="2">
                        <span class="icon"></span>
                    </div>
                    <span class="clickable"><%=translate('sulu.content.form.settings.type.internal-link')%></span>
                </label>

                <div class="text-block sub-form" style="display: none;">
                    <div class="grid m-top-20 container" id="internal-link-container">
                        <div class="grid-row form-group title">
                            <label class="pointer"><%=translate('sulu.content.form.settings.type.internal-link.title')%> *</label>

                            <input id="internal-title" type="text" class="form-element trigger-save-button"/>
                        </div>

                        <div class="grid-row form-group link">
                            <label class="pointer"><%=translate('sulu.content.form.settings.type.internal-link.link')%> *</label>

                            <div id="internal-link"
                                 data-type-instance-name="internal-link">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <label for="external-link-node-type">
                    <div class="custom-radio">
                        <input name="nodeType" id="external-link-node-type" type="radio"
                               class="trigger-save-button form-element content-type" value="4">
                        <span class="icon"></span>
                    </div>
                    <span class="clickable"><%=translate('sulu.content.form.settings.type.external-link')%></span>
                </label>

                <div class="text-block sub-form" style="display: none;">
                    <div class="grid m-top-20 container" id="external-link-container">
                        <div class="grid-row form-group title">
                            <label class="pointer" for="external-title"><%=translate('sulu.content.form.settings.type.external-link.title')%> *</label>

                            <input id="external-title" type="text" class="form-element trigger-save-button"/>
                        </div>

                        <div class="grid-row form-group link">
                            <label class="pointer"><%=translate('sulu.content.form.settings.type.external-link.url')%> *</label>

                            <div id="external"
                                 data-aura-component="url-input@husky"
                                 data-aura-instance-name="external"
                                 data-aura-input-id="external"
                                 class="trigger-save-button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row section" id="shadow-container">
        <h2 class="divider m-bottom-20" title="Shadow Section">
            <%=translate('sulu.content.form.settings.shadow_page')%>
        </h2>

        <div class="grid">
            <div class="grid-row">
                <label for="shadow_on_checkbox">
                    <div class="custom-checkbox">
                        <input id="shadow_on_checkbox" class="trigger-save-button form-element" type="checkbox"/>
                        <span class="icon"></span>
                    </div>
                    <span class="clickable"><%=translate('sulu.content.form.settings.shadow.enable')%></span>
                </label>
                <div class="input-description"><%=translate('sulu-content.published-shadow')%></div>
            </div>
            <div class="grid-row">
                <div class="grid-col-6 form-group">
                    <label for="content-node-type">
                        <span class="clickable"><%=translate('sulu.content.form.settings.shadow.base_language')%></span>
                    </label>

                    <div id="shadow_base_language_select" data-languages='{{ languages|json_encode }}'></div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row section" id="changelog-container" style="display: none;">
        <h2 class="divider m-bottom-20" title="Shadow Section">
            <%=translate('sulu.content.form.settings.changelog')%>
        </h2>

        <div class="grid">
            <div class="grid-row">
                <span id="author"></span> <a class="fa-pencil btn action only-icon small" id="change-author"></a>
            </div>
            <div class="grid-row">
                <span id="changed"></span>
            </div>
            {% if not versioning %}
            <div class="grid-row">
                <span id="created"></span>
            </div>
            {% endif %}
        </div>

        {% if versioning %}
        <div id="versions">

        </div>
        {% endif %}
    </div>
</form>
