<form id="settings-form" class="grid">
    <div class="grid-row form-group" id="show-in-navigation-container">
        <label for="show-in-navigation">
            <div class="custom-checkbox">
                <input id="show-in-navigation" class="trigger-save-button form-element" type="checkbox"/>
                <span class="icon"></span>
            </div>
            <span class="clickable">Show in navigation</span>
        </label>
    </div>
</form>
