@import '../js/vendor/husky/scss/mixins';

@mixin background-size($type) {
  -webkit-background-size: $type;
  -moz-background-size: $type;
  -o-background-size: $type;
  background-size: $type;
}

@mixin centerBlock() {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

@mixin centerFixedSizeBlock($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -($width / 2);
  margin-top: -($height / 2);
}

@mixin blur($size) {
  -webkit-filter: blur($size);
  -moz-filter: blur($size);
  -ms-filter: blur($size);
  -o-filter: blur($size);
  filter: blur($size);
}
