$white: #fff;
$backgroundColor: #f1f1f1;

//  content size

$contentMaxWidth: 820px;
$contenMinWidth: 300px;

$contentMarginLeft: 250px;
$contentPaddingLeft: 50px;
$contentMarginTop: 40px;
$contentMarginBottom: 40px;
$contentPaddingRight: 50px;

$transitionDuration : 0.5s;
