@import '../js/vendor/husky/scss/variables';

$backgroundColor: $baseBackgroundColor;
$grey: $grayLight;

// Effects

$transitionDuration : 0.5s;

// Header
$headerHeight: 50px;
$tabsHeight: 50px;
$labelHeight: 30px;


// Column structure variables
/*----------------------------------------*/

//  content size

$contentFixedWidth: 920px;
$maxContentMinWidth: 610px;
$contentMinWidth: 510px;
$contentFixedSmallWidth: 700px;

$contentPaddingLeft: 50px;
$contentPaddingLeftSmall: 10px;
$contentPaddingTop: 40px;
$contentPaddingBottom: 40px;
$contentPaddingRight: 50px;
$contentPaddingRightSmall: 10px;

$contentPaddingLeftFullWidth: 0;
$contentPaddingRightFullWidth: 0;

// sidebar

$sidebarFixedWidth: 450px;
$sidebarMaxCollapseWidth: 300px; // if the max-sidebar is smaller than this width the content collapses to the medium width

// shrink animation
$shrinkAnimationDuration: 700ms;

// tabs hide animation
$tabsHideAnimationDuration: 200ms;
$tabsHideAnimationDelay: 150ms;
