$white: #fff;
$backgroundColor: #f1f1f1;
$blue: #28B6CA;
$black: #000;

// Effects

$transitionDuration : 0.5s;

// Header
$headerHeight: 150px;
$tabsHeight: 50px;


// Column structure variables
/*----------------------------------------*/

//  content size

$contentFixedWidth: 900px;
$contentMinWidth: 510px;
$contentFixedMediumWidth: 690px;
$contentFixedSmallWidth: 480px;

$contentPaddingLeft: 50px;
$contentPaddingLeftSmall: 10px;
$contentPaddingTop: 40px;
$contentPaddingBottom: 40px;
$contentPaddingRight: 50px;
$contentPaddingRightSmall: 10px;

$contentPaddingLeftFullWidth: 0;
$contentPaddingRightFullWidth: 0;

// sidebar

$sidebarFixedWidth: 450px;
$sidebarMaxCollapseWidth: 250px; // if the max-sidebar is smaller than this width the content collapses to the medium width

// shrink animation
$shrinkAnimationDuration: 700ms;
