$white: #fff;
$backgroundColor: #f1f1f1;

//  content size

$contentMaxWidth: 820px;
$contenMinWidth: 460px;

$contentPaddingLeft: 300px;
$contentPaddingTop: 40px;
$contentPaddingRight: 50px;

$transitionDuration : 0.5s;
