$marginBottom: 10px;

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;

    & > div {
        font-size: 14px;
        margin-left: 10px;
        overflow: hidden;
        line-height: 20px;
    }

    & + .label {
        margin-top: $marginBottom;
    }

    &.disabled {
        cursor: default;
    }
}

.switch {
    display: inline-block;
    position: relative;
    flex-shrink: 0;

    input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
    }

    &.disabled {
        input {
            cursor: default;
        }
    }
}
