<html>
    <head>
        <title>Preview</title>
    </head>
    <body>
        <div id="content">
            {% autoescape false %}
            {{ content }}
            {% endautoescape %}
        </div>
    </body>
</html>
