{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ content.title }}</h1>

    <ul>
        {% for page in content.pages  %}
            <li>
                <a href="{{sulu_content_path(page.url)}}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
