@import '../../containers/Application/colors.scss';

$color: $scorpion;

.spinner {
    position: relative;
    margin: auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $color;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    animation-delay: -1s;
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}
