@import '../../containers/Application/colors.scss';

$chipPrimaryBackgroundColor: $shakespeare;
$chipPrimaryColor: $white;
$chipSecondaryBackgroundColor: $wildSand;
$chipSecondaryColor: $black;
$chipDisabledBackgroundColor: $silver;

.chip {
    border: none;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    margin: 5px 10px 5px 0;
    padding: 0 10px;
    position: relative;
    white-space: nowrap;

    .icon {
        margin-left: 10px;
    }
}

.clickable {
    cursor: pointer;
}

.disabled {
    background-color: $chipDisabledBackgroundColor;
}

.primary {
    &.chip {
        background-color: $chipPrimaryBackgroundColor;
        color: $chipPrimaryColor;
    }
}

.secondary {
    &.chip {
        background-color: $chipSecondaryBackgroundColor;
        color: $chipSecondaryColor;
    }
}
