<div class="grid webspace-settings general">
    <div class="highlight-section">
        <div class="fixed-width">
            <div class="form-group webspace-name">
                <p class="label"><%= translations.nameKey %></p>

                <p class="value big"><%= webspace.name %></p>
            </div>
        </div>
    </div>

    <div class="fixed-width">
        <div class="form-group localizations-key">
            <p class="label"><%= translations.localizationsKey %></p>

            <div data-aura-component="datagrid@husky"
                 data-aura-id-key="localization"
                 data-aura-children-property-name="hasChildren"
                 data-aura-view-options='{"table": {"selectItem": false}}'
                 data-aura-matchings='[{"attribute": "localization", "content": "<%= translations.localizationKey %>"}]'
                 data-aura-data='<%= JSON.stringify(webspace.localizations) %>'></div>
        </div>

        <div class="form-group theme-key">
            <p class="label"><%= translations.themeKey %></p>

            <p class="value bold"><%= webspace.theme.key %></p>
        </div>

        <div class="form-group urls-key">
            <p class="label"><%= translations.urlsKey %></p>

            <div data-aura-component="datagrid@husky"
                 data-aura-children-property-name="hasChildren"
                 data-aura-view-options='{"table": {"selectItem": false}}'
                 data-aura-matchings='[{"attribute": "url", "content": "<%= translations.urlKey %>"},{"attribute": "locale", "content": "<%= translations.localizationKey %>"},{"attribute": "main", "content": "<%= translations.mainKey %>"}]'
                 data-aura-data='<%= JSON.stringify(webspace.portalInformation) %>'></div>
        </div>
    </div>
</div>
