<div class="categories-container"
     data-aura-component="datagrid@husky"
     data-property="{{ property|json_encode }}"
     data-mapper-property="{{ property.name }}"
     data-aura-url="/admin/api/categories?locale=<%= categoryLocale %>&flat=true&sortBy=name&sortOrder=asc"
     data-aura-result-key="categories"
     data-form="true"
     data-type="categoryList"
     data-type-instance-name="{{ id|raw }}"
     data-aura-instance-name="{{ id|raw }}"
     data-aura-pagination="false"
     data-aura-children-property-name="hasChildren"
     data-aura-resize-listeners="false"
     data-aura-selected-counter="true"
     data-aura-view-options='{"table":{"cropContents":false,"noItemsText":"sulu.category.no-categories-available","showHead":false,"cssClass":"white-box","selectItem":{"type":"checkbox","inFirstCell":true}}}'
     data-aura-matchings='[{"name":"name","content":"Name"},{"name":"id","disabled":true},{"name":"children","disabled":true},{"name":"parent","disabled":true}]'>
</div>
