@import 'sulu-admin-bundle/containers/Application/colors.scss';

$buttonColor: $black;

.button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: $buttonColor;
    margin: 20px 0 0;
}

.icon {
    font-size: 18px;
    margin-right: 10px;
}
