<form id="settings-form" class="grid">
    <div class="grid-row form-group" id="show-in-navigation-container">
        <label for="show-in-navigation">
            <div class="custom-checkbox">
                <input id="show-in-navigation" class="trigger-save-button form-element" type="checkbox"/>
                <span class="icon"></span>
            </div>
            <span class="clickable"><%=translate('sulu.content.form.settings.show-in-navigation')%></span>
        </label>
    </div>

    <div class="grid-row section" id="show-in-navigation-container">
        <h2 class="divider m-bottom-20" title="Content Section">
            <%=translate('sulu.content.form.settings.type')%>
        </h2>

        <div class="grid">
            <div class="grid-row">
                <label for="content-node-type">
                    <div class="custom-radio">
                        <input name="nodeType" id="content-node-type" type="radio" class="trigger-save-button form-element" value="1">
                        <span class="icon"></span>
                    </div>
                    <span class="clickable"><%=translate('sulu.content.form.settings.type.content')%></span>
                </label>
            </div>
            <div class="grid-row">
                <label for="internal-link-node-type">
                    <div class="custom-radio">
                        <input name="nodeType" id="internal-link-node-type" type="radio" class="trigger-save-button form-element" value="2">
                        <span class="icon"></span>
                    </div>
                    <span class="clickable"><%=translate('sulu.content.form.settings.type.internal-link')%></span>
                </label>
            </div>
            <div class="grid-row">
                <label for="external-link-node-type">
                    <div class="custom-radio">
                        <input name="nodeType" id="external-link-node-type" type="radio" class="trigger-save-button form-element" value="4">
                        <span class="icon"></span>
                    </div>
                    <span class="clickable"><%=translate('sulu.content.form.settings.type.external-link')%></span>
                </label>
            </div>
        </div>
    </div>
</form>
