.item-container {
    display: flex;
    align-items: center;
}

.publish-indicator {
    flex: 0 0 auto;
    margin-right: 10px;
}

.column-list {
    flex: 1 1 auto;
}

.item-column {
    display: inline-block;
}
