@import '../../containers/Application/colors.scss';
@import './variables.scss';

$labelColor: $scorpion;
$labelErrorColor: $roman;
$errorLabelColor: $persianRed;
$errorLabelBackgroundColor: $roman;

$errorLabelHeight: 20px;

.field {
    margin-bottom: calc($fieldMarginBottom - $errorLabelHeight);
}

.error {
    & > .label {
        color: $labelErrorColor;
    }
}

.label {
    display: block;
    color: $labelColor;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    text-align: left;
    white-space: nowrap;

    &::after {
        content: '\200B';
    }
}

.description-label,
.error-label {
    display: block;
    color: $labelColor;
    font-size: 10px;
    line-height: $errorLabelHeight;
    height: $errorLabelHeight;
}

.error-label {
    color: $errorLabelColor;
}
