.resource-locator-container {
    display: flex;
    align-items: center;
}

.resource-locator {
    flex-grow: 1;
}

.resource-locator-actions {
    display: flex;
    padding-left: 10px;
    flex-shrink: 1;

    button:not(:last-child) {
        margin-right: 20px;
    }
}
