@import '../../containers/Application/colors.scss';

$backdropBackground: rgba($dustyGray, .9);

.backdrop {
    z-index: 100;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;

    &.visible {
        background: $backdropBackground;
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
    }
}
