/* line 7, ../scss/modules/base.scss */
body {
  background-color: #f1f1f1;
}

/* line 12, ../scss/modules/base.scss */
.control-label {
  padding-left: 10px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 19, ../scss/modules/base.scss */
#content {
  max-width: 800px;
  margin-left: 300px;
  padding-top: 40px;
}
/* line 25, ../scss/modules/base.scss */
#content h2.mainheadline {
  margin-top: 35px;
}
/* line 29, ../scss/modules/base.scss */
#content h1:first-child {
  margin-top: 0;
}
/* line 33, ../scss/modules/base.scss */
#content .content-tabs-content {
  margin-top: 60px;
}

/* line 41, ../scss/modules/base.scss */
#edit-toolbar-container {
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 40px;
}

/* line 50, ../scss/modules/base.scss */
#edit-toolbar {
  max-width: 800px;
}

/* line 54, ../scss/modules/base.scss */
#list-toolbar-container {
  margin-bottom: 18px;
}

/* line 59, ../scss/modules/base.scss */
#page-functions + #edit-toolbar .edit-toolbar-left {
  margin-left: -50px;
}

/*----------------------------------------*/
/* line 66, ../scss/modules/base.scss */
.control-label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 74, ../scss/modules/base.scss */
input, select {
  font-family: Helvetica, Arial;
}

/*----------------------------------------*/
/* line 83, ../scss/modules/base.scss */
.pointer {
  cursor: pointer;
}

/* line 87, ../scss/modules/base.scss */
.block {
  display: block;
}

/*----------------------------------------*/
/* line 95, ../scss/modules/base.scss */
.m-top-1 {
  margin-top: 1px !important;
}

/* line 2, ../scss/modules/icons.scss */
.icon-floppy::after {
  content: "\e444";
  display: inline-block;
}

/* line 1, ../scss/modules/toolbar.scss */
#toolbar .edit-toolbar-left {
  margin-left: -50px;
}

/* line 1, ../scss/modules/login.scss */
#login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 190px;
  margin-left: -150px;
  margin-top: -95px;
}
