/* line 1, ../scss/modules/base.scss */
.control-label {
  padding-left: 10px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 8, ../scss/modules/base.scss */
#content {
  width: 800px;
  margin-left: 300px;
}
/* line 12, ../scss/modules/base.scss */
#content h2.mainheadline {
  margin-top: 35px;
}

/*----------------------------------------*/
/* line 21, ../scss/modules/base.scss */
.control-label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 29, ../scss/modules/base.scss */
input, select {
  font-family: Helvetica, Arial;
}

/*----------------------------------------*/
/* line 38, ../scss/modules/base.scss */
.pointer {
  cursor: pointer;
}

/* line 42, ../scss/modules/base.scss */
.block {
  display: block;
}

/*----------------------------------------*/
/* line 50, ../scss/modules/base.scss */
.m-top-1 {
  margin-top: 1px !important;
}

/* line 1, ../scss/modules/headerbar.scss */
.headerbar-left {
  width: 250px;
}

/* line 5, ../scss/modules/headerbar.scss */
.headerbar-mid {
  width: 820px;
  margin-left: 25px;
  color: white;
}

/* line 11, ../scss/modules/headerbar.scss */
.account-icon {
  height: 30px;
}

/* line 15, ../scss/modules/headerbar.scss */
.account-text {
  font-weight: bold;
  font-size: 14px;
}

/* line 20, ../scss/modules/headerbar.scss */
.account-logout {
  font-size: 12px;
}

/* line 25, ../scss/modules/headerbar.scss */
#headerbar-mid-left {
  font-size: 18px;
  margin-top: 8px;
}

/* line 30, ../scss/modules/headerbar.scss */
#headerbar-mid-right {
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
}

/* line 1, ../scss/modules/login.scss */
#login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 190px;
  margin-left: -150px;
  margin-top: -95px;
}
