/* line 6, ../scss/modules/base.scss */
body {
  background-color: #f1f1f1;
}

/* line 10, ../scss/modules/base.scss */
.control-label {
  padding-left: 10px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 17, ../scss/modules/base.scss */
#content {
  max-width: 920px;
  min-width: 510px;
  margin-left: 250px;
  padding-left: 50px;
  margin-top: 40px;
  padding-right: 50px;
  padding-bottom: 40px;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
/* line 27, ../scss/modules/base.scss */
#content h2.mainheadline {
  margin-top: 35px;
}
/* line 31, ../scss/modules/base.scss */
#content h1:first-child {
  margin-top: 0;
}
/* line 35, ../scss/modules/base.scss */
#content .content-tabs-content {
  padding-top: 80px;
}
/* line 39, ../scss/modules/base.scss */
#content.fullwidth {
  max-width: none;
  min-width: 0;
}
/* line 42, ../scss/modules/base.scss */
#content.fullwidth.no-padding {
  padding-left: 0;
  padding-right: 0;
}
/* line 48, ../scss/modules/base.scss */
#content.fullheight {
  margin-top: 0;
}

/*----------------------------------------*/
/* line 55, ../scss/modules/base.scss */
.control-label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 63, ../scss/modules/base.scss */
input, select {
  font-family: Helvetica, Arial;
}

/*----------------------------------------*/
/* line 70, ../scss/modules/base.scss */
.navigation-container {
  z-index: 101;
}

/*----------------------------------------*/
/* line 77, ../scss/modules/base.scss */
.pointer {
  cursor: pointer;
}

/* line 81, ../scss/modules/base.scss */
.block {
  display: block;
}

/*----------------------------------------*/
/* line 88, ../scss/modules/base.scss */
.m-top-1 {
  margin-top: 1px !important;
}

/* line 1, ../scss/modules/login.scss */
#main.login {
  width: 100%;
  height: 100%;
}

/* line 5, ../scss/modules/login.scss */
#login-wrapper {
  position: relative;
  top: 0px;
  left: 50%;
  margin-left: -150px;
  display: table;
  width: 300px;
  height: 100%;
}

/* line 14, ../scss/modules/login.scss */
#login {
  display: table-cell;
  vertical-align: middle;
}
/* line 18, ../scss/modules/login.scss */
#login .icon {
  margin-bottom: 30px;
  text-align: center;
}
/* line 23, ../scss/modules/login.scss */
#login #placeholderLogoRemoveLater {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #D8D8D8;
  line-height: 100px;
  text-align: center;
  color: #f1f1f1;
  font-size: 50px;
  display: inline-block;
}

/* line 1, ../scss/modules/labels.scss */
#labels-container {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 50px;
  width: 100%;
}

/* line 1, ../scss/modules/header.scss */
.sulu-header {
  background-color: #28b6ca;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
}
/* line 11, ../scss/modules/header.scss */
.sulu-header .inner {
  position: relative;
  top: 0px;
  left: 0px;
  margin-left: 50px;
  height: 150px;
}
/* line 19, ../scss/modules/header.scss */
.sulu-header .headline {
  position: absolute;
  top: 45px;
  left: 0;
}
/* line 24, ../scss/modules/header.scss */
.sulu-header .headline::after {
  display: table;
  content: "";
  clear: both;
}
/* line 30, ../scss/modules/header.scss */
.sulu-header .headline .back {
  position: absolute;
  top: 22px;
  left: -22px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 40, ../scss/modules/header.scss */
.sulu-header .headline .h1 {
  float: left;
}
/* line 43, ../scss/modules/header.scss */
.sulu-header .headline .title-color {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  float: left;
  margin-top: 19px;
  margin-right: 10px;
}
/* line 51, ../scss/modules/header.scss */
.sulu-header .headline .title-color.color-set {
  display: block;
}
/* line 57, ../scss/modules/header.scss */
.sulu-header .bottom-row {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* line 63, ../scss/modules/header.scss */
.sulu-header .bottom-row::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 72, ../scss/modules/header.scss */
.sulu-header .bottom-row .bottom-content {
  float: left;
  line-height: 29px;
}
/* line 75, ../scss/modules/header.scss */
.sulu-header .bottom-row .bottom-content * {
  color: white;
}
/* line 81, ../scss/modules/header.scss */
.sulu-header .tabs {
  height: 50px;
}
/* line 85, ../scss/modules/header.scss */
.sulu-header .info {
  position: absolute;
  top: 10px;
  left: 0px;
}
/* line 93, ../scss/modules/header.scss */
.sulu-header.squeezed .info, .sulu-header.squeezed .headline {
  left: 50px;
}
/* line 96, ../scss/modules/header.scss */
.sulu-header.squeezed .tabs, .sulu-header.squeezed .bottom-row {
  padding-left: 50px;
}
/* line 99, ../scss/modules/header.scss */
.sulu-header.squeezed .bottom-row {
  padding-right: 30px;
}

/* line 5, ../scss/modules/gridgroup.scss */
.sulu-grid-group {
  padding-top: 35px;
}
/* line 8, ../scss/modules/gridgroup.scss */
.sulu-grid-group .group-slide {
  width: 100%;
  padding-left: 18px;
  padding-bottom: 40px;
}
/* line 12, ../scss/modules/gridgroup.scss */
.sulu-grid-group .group-slide .grid-container {
  min-height: 140px;
}
/* line 19, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
/* line 25, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head .icon {
  float: left;
  font-size: 18px;
  width: 25px;
  color: #3E3E3E;
  line-height: 40px;
  text-align: center;
}
/* line 33, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head::after {
  display: table;
  content: "";
  clear: both;
}
/* line 39, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .color {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
}
/* line 46, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .entity-title {
  float: left;
  font-size: 18px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  line-height: 28px;
}
