input.parsley-success, textarea.parsley-success {
	color: #468847 !important;
	background-color: #DFF0D8 !important;
	border: 1px solid #D6E9C6 !important;
}

input.parsley-error, textarea.parsley-error {
	color: #B94A48 !important;
	background-color: #F2DEDE !important;
	border: 1px solid #EED3D7 !important;
}

ul.parsley-error-list {
	font-size: 11px;
	margin: 2px;
	list-style-type: none;
}

ul.parsley-error-list li {
	line-height: 11px;
}