<div class="search-totals-wrapper">
    <h2><%= translate('search-overlay.documents-found') %></h2>

    <table>
        <tr>
            <% var i=0; %>
            <% _.each(data, function(total, key) { if(total > 0) { i++; %>
            <td>
                <a href="#" class="category-link <%=(activeCategory===key?'active':'')%>" data-category="<%=key%>"> <%=translate(categories[key].name)%>:</a>
                <%=total%>
            </td>
            <% if(i % 3 === 0) { %>
        </tr>
        <tr>
            <% } %>
            <% }}); %>
        </tr>
    </table>
</div>
