@import '../../containers/Application/colors.scss';

$primaryBackground: $concrete;
$secondaryBackground: $white;
$borderRadius: 3px;

$headerHeight: 60px;
$footerHeight: 90px;

$titleColor: $black;

$iconFontSize: 14px;
$iconSize: ($iconFontSize + 10px);

$confirmBackground: $shakespeare;
$confirmColor: $white;

$transitionDuration: 300ms;

.container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    & > * {
        opacity: 0;
        will-change: opacity;
        transition: opacity $transitionDuration;
    }
}

.overlay {
    position: relative;
    top: -100%;
    opacity: 0;
    will-change: top, opacity;
    transition: top $transitionDuration, opacity $transitionDuration;
    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

.is-down {
    & > * {
        opacity: 1;
    }

    .overlay {
        top: 0;
    }
}

.content {
    border-radius: 0 0 $borderRadius $borderRadius;
    overflow: hidden;
    box-shadow: 0 10px 18px 0 rgba($mineShaft, .5);

    header {
        background: $secondaryBackground;
        height: $headerHeight;
        color: $titleColor;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: $headerHeight;
    }

    article {
        max-height: calc(100vh - $headerHeight - $footerHeight);
        overflow: auto;
        background: $primaryBackground;
    }

    footer {
        background: $secondaryBackground;
        height: $footerHeight;
        padding: 0 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button:only-child {
            margin-left: auto;
        }
    }

    .icon {
        position: absolute;
        top: calc(($headerHeight - $iconSize) / 2);
        right: 30px;
        font-size: $iconFontSize;
        width: $iconSize;
        height: $iconSize;
        line-height: $iconSize;
        text-align: center;
        cursor: pointer;
    }
}
