$overlayHeaderHeight: 82px;
$overlayHorizontalPadding: 60px;
$overlayFooterHeight: 90px;
$overlayMarginBottom: 100px;
$overlayContentMaxHeight: calc(100vh - $overlayHeaderHeight - $overlayFooterHeight - $overlayMarginBottom);
