@import '../../containers/Application/colors.scss';

$itemBackgroundColor: $wildSand;

.item {
    background-color: $itemBackgroundColor;
    border-radius: 3px;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    margin: 5px 10px 5px 0;
    padding: 0 10px;
    white-space: nowrap;
}

.icon {
    margin-left: 10px;
}
