<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ name }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css app.min.css -->
        <link rel="stylesheet" type="text/css" href="/bundles/suluadmin/js/vendor/husky/husky.min.css"/>
        <link rel="stylesheet" type="text/css" href="/bundles/suluadmin/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/bundles/suluadmin/css/parsley.css"/>
        <link rel="stylesheet" type="text/css" href="/bundles/sulutranslate/css/main.css"/>
        <!-- endbuild -->
    </head>
    <body>
        <div id="main">
            <div id="login">
                {% if error %}
                    <div>{{ error.message }}</div>
                {% endif %}

                <form action="{{ path('sulu_admin.login_check') }}" method="post">
                    <div class="grid-row">
                        <label for="username">Username</label>
                        <input class="form-element" type="text" id="username" name="_username" value="{{ username }}"/>
                    </div>

                    <div class="grid-row">
                        <label for="password">Password</label>
                        <input class="form-element" type="password" id="password" name="_password"/>
                    </div>

                    <div class="grid-row">
                        <input type="hidden" name="_target_path" value="/admin"/>
                        <button class="form-element" type="submit">login</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
