.custom-url-input {
    .form-element {
        width: 100px;
        margin: 0 5px;
    }

    .form-element.prefix {
        margin-left: 0px;
    }

    .domain-part {
        color: $grayLight;
    }
}
