@import '../../containers/Application/colors.scss';

$indicatorDraftBackgroundColor: $gold;
$indicatorPublishedBackgroundColor: $mantis;
$indicatorBorderColor: $white;
$indicatorDimension: 18px;

.published,
.draft {
    display: block;
    float: left;
    border: 2px $indicatorBorderColor solid;
    border-radius: 50%;
    height: $indicatorDimension;
    width: $indicatorDimension;
}

.published + .draft {
    margin-left: -10px;
}

.draft {
    background-color: $indicatorDraftBackgroundColor;
}

.published {
    background-color: $indicatorPublishedBackgroundColor;
}
