@import '../../containers/Application/colors.scss';

$indicatorDraftBackgroundColor: $gold;
$indicatorPublishedBackgroundColor: $mantis;
$indicatorBorderColor: $white;
$indicatorDimension: 18px;
$indicatorOverlap: 10px;

.publish-indicator {
    min-width: $indicatorDimension;

    &.has-published.has-draft {
        min-width: calc($indicatorDimension * 2 - $indicatorOverlap);
    }
}

.published,
.draft {
    display: block;
    float: left;
    border: 2px $indicatorBorderColor solid;
    border-radius: 50%;
    height: $indicatorDimension;
    width: $indicatorDimension;
}

.published + .draft {
    margin-left: -$indicatorOverlap;
}

.draft {
    background-color: $indicatorDraftBackgroundColor;
}

.published {
    background-color: $indicatorPublishedBackgroundColor;
}
