@import '../../containers/Application/colors.scss';

$fontColor: $scorpion;
$borderColor: $silver;
$borderWidth: 1px;
$borderRadius: 3px;
$inputColor: $black;

:global {
    .sketch-picker {
        box-shadow: none !important;
        border-radius: 0 0 $borderRadius $borderRadius !important;
        border: 1px solid $borderColor;
        color: $fontColor;

        input {
            border-radius: $borderRadius;
            font-size: 12px;
            color: $inputColor;
            text-align: center;
        }

        span {
            width: 80%;
        }
    }
}
