@import 'sulu-admin-bundle/containers/Application/colors.scss';

.container {
    padding: 20px;
}

.input-container {
    display: flex;
}

.label {
    color: $silverChalice;
    display: block;
    height: 20px;
}

.input {
    background-color: $blueZodiac;
    border: 1px solid $doveGray;
    color: $white;
    display: block;
    border-radius: 3px;
    height: 30px;
    width: 240px;
    padding: 5px;
}

.copy-button {
    min-width: 90px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.revoke {
    margin-top: 20px;
}

.revoke-button {
    color: $white;
    font-size: 14px;
    text-decoration: underline;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
        color: $shakespeare;
    }
}
