@import 'sulu-admin-bundle/containers/Application/colors.scss';

$previewBackgroundColor: $white;
$toolbarHeight: 60px;

.container {
    height: 100%;
    background-color: $previewBackgroundColor;
}

.iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.iframe-container {
    width: 100%;
    height: calc(100% - $toolbarHeight);
}

.loader-container {
    width: 100%;
    height: calc(100% - $toolbarHeight);
    padding-top: 100px;
}
