@import 'sulu-admin-bundle/containers/Application/colors.scss';

$previewBackgroundColor: $white;
$toolbarHeight: 60px;

.container {
    height: 100%;
    background-color: $previewBackgroundColor;
}

.auto {
    .iframe {
        height: 100%;
        width: 100%;
    }
}

.desktop {
    .iframe {
        height: 100%;
        width: 1024px;
    }
}

.tablet {
    .iframe {
        height: 1024px;
        width: 768px;
    }
}

.smartphone {
    .iframe {
        height: 667px;
        width: 375px;
    }
}

.iframe {
    flex-shrink: 0;
    margin: auto;
    border: 0;
}

.iframe-container {
    display: flex;
    height: calc(100% - $toolbarHeight);
    overflow: auto;
}

.loader-container {
    width: 100%;
    height: calc(100% - $toolbarHeight);
    padding-top: 100px;
}
