<div class="container">
    <div class="navigation-container"></div>
    <div class="list-container">
        <div class="selected-container m-bottom-40" style="display: none;">
            <h2 class="selected-title"><%= selectedTitle %></h2>
            <div class="selected-datagrid-container"></div>
        </div>

        <div class="dropzone-container"></div>
        <h2 class="list-title"><%= title %></h2>
        <div class="list-toolbar-container"></div>
        <div class="list-datagrid-container"></div>
    </div>
</div>
