@import '../../components/Overlay/variables.scss';

.datagrid {
    padding: 30px 60px 60px;
}

.adapter-column_list {
    padding: 0;
    height: calc(100vh - $overlayHeaderHeight - $overlayFooterHeight - $overlayMarginBottom);
}
