/*----------------------------------------*/
/* line 6, ../scss/modules/base.scss */
body {
  background-color: #f1f1f1;
}

/*----------------------------------------*/
/* line 12, ../scss/modules/base.scss */
.control-label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 20, ../scss/modules/base.scss */
input, select {
  font-family: Helvetica, Arial;
}

/*----------------------------------------*/
/* line 27, ../scss/modules/base.scss */
.pointer {
  cursor: pointer;
}

/* line 31, ../scss/modules/base.scss */
.block {
  display: block;
}

/*----------------------------------------*/
/* line 38, ../scss/modules/base.scss */
.m-top-1 {
  margin-top: 1px !important;
}

/*----------------------------------------*/
/* line 4, ../scss/modules/layout.scss */
#main {
  height: 100%;
  min-width: 560px;
}

/* line 9, ../scss/modules/layout.scss */
.content-column {
  height: 100%;
  position: relative;
  overflow: hidden;
  min-width: 510px;
  -webkit-transition: width 700ms;
  -moz-transition: width 700ms;
  -o-transition: width 700ms;
  transition: width 700ms;
}
/* line 16, ../scss/modules/layout.scss */
.content-column #content {
  height: 100%;
  overflow: auto;
  padding: 40px 50px 40px 50px;
  -webkit-transition: padding-left 700ms, padding-right 700ms;
  -moz-transition: padding-left 700ms, padding-right 700ms;
  -o-transition: padding-left 700ms, padding-right 700ms;
  transition: padding-left 700ms, padding-right 700ms;
}
/* line 22, ../scss/modules/layout.scss */
.content-column #content h2.mainheadline {
  margin-top: 35px;
}
/* line 26, ../scss/modules/layout.scss */
.content-column #content h1:first-child {
  margin-top: 0;
}
/* line 30, ../scss/modules/layout.scss */
.content-column #content .content-tabs-content {
  padding-top: 80px;
}
/* line 34, ../scss/modules/layout.scss */
.content-column #content.no-left-space {
  padding-left: 0;
}
/* line 38, ../scss/modules/layout.scss */
.content-column #content.no-right-space {
  padding-right: 0;
}
/* line 42, ../scss/modules/layout.scss */
.content-column #content.no-transitions {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 47, ../scss/modules/layout.scss */
.content-column #content.no-top-space {
  margin-top: -40px;
}
/* line 52, ../scss/modules/layout.scss */
.content-column .sulu-app-shrink {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  cursor: pointer;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: #21272E;
  color: white;
  text-align: center;
  border-radius: 0 0 0 2px;
  font-size: 20px;
  line-height: 32px;
}
/* line 67, ../scss/modules/layout.scss */
.content-column .sulu-app-shrink .fa-chevron-right {
  padding-left: 3px;
}
/* line 70, ../scss/modules/layout.scss */
.content-column .sulu-app-shrink .fa-chevron-left {
  padding-right: 3px;
}
/* line 75, ../scss/modules/layout.scss */
.content-column.max {
  float: none;
  width: auto;
}
/* line 80, ../scss/modules/layout.scss */
.content-column.fixed {
  width: 900px;
  float: left;
}
/* line 84, ../scss/modules/layout.scss */
.content-column.fixed.small-fixed {
  width: 480px;
}
/* line 86, ../scss/modules/layout.scss */
.content-column.fixed.small-fixed #content {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 94, ../scss/modules/layout.scss */
.sidebar-column {
  height: 100%;
  overflow: hidden;
  z-index: 101;
  position: relative;
}
/* line 100, ../scss/modules/layout.scss */
.sidebar-column.fixed {
  width: 450px;
  float: right;
}
/* line 105, ../scss/modules/layout.scss */
.sidebar-column.max {
  float: none;
  width: auto;
}
/* line 110, ../scss/modules/layout.scss */
.sidebar-column.hidden {
  width: 0;
  height: 0;
  display: block;
}

@media only screen and (max-width: 1010px) {
  /* line 124, ../scss/modules/layout.scss */
  .sidebar-column.fixed {
    width: 0;
    height: 0;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 137, ../scss/modules/layout.scss */
  .has-visible-sidebar .content-column.fixed {
    width: 690px;
  }
}
@media only screen and (max-width: 990px) {
  /* line 143, ../scss/modules/layout.scss */
  .has-visible-sidebar .content-column.fixed {
    width: 480px;
  }
}
@media only screen and (max-width: 780px) {
  /* line 149, ../scss/modules/layout.scss */
  .sidebar-column.max {
    width: 0;
    height: 0;
  }

  /* line 154, ../scss/modules/layout.scss */
  .has-visible-sidebar .content-column.fixed {
    float: none;
    width: auto;
    max-width: 900px;
  }

  /* line 161, ../scss/modules/layout.scss */
  .sulu-app-shrink {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  /* line 173, ../scss/modules/layout.scss */
  .has-no-visible-sidebar .content-column.fixed {
    float: none;
    width: auto;
    max-width: 900px;
  }
}
/* line 1, ../scss/modules/login.scss */
#main.login {
  width: 100%;
  height: 100%;
}

/* line 5, ../scss/modules/login.scss */
#login-wrapper {
  position: relative;
  top: 0px;
  left: 50%;
  margin-left: -150px;
  display: table;
  width: 300px;
  height: 100%;
}

/* line 14, ../scss/modules/login.scss */
#login {
  display: table-cell;
  vertical-align: middle;
}
/* line 18, ../scss/modules/login.scss */
#login .icon {
  margin-bottom: 30px;
  text-align: center;
}
/* line 23, ../scss/modules/login.scss */
#login #placeholderLogoRemoveLater {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #D8D8D8;
  line-height: 100px;
  text-align: center;
  color: #f1f1f1;
  font-size: 50px;
  display: inline-block;
}

/* line 1, ../scss/modules/labels.scss */
#labels-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 50px 0 50px;
}

/* line 1, ../scss/modules/header.scss */
.sulu-header {
  background-color: #28b6ca;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
}
/* line 11, ../scss/modules/header.scss */
.sulu-header .inner {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 50px;
  height: 150px;
  -webkit-transition: margin 700ms;
  -moz-transition: margin 700ms;
  -o-transition: margin 700ms;
  transition: margin 700ms;
}
/* line 20, ../scss/modules/header.scss */
.sulu-header .headline {
  position: absolute;
  top: 45px;
  left: 0;
}
/* line 25, ../scss/modules/header.scss */
.sulu-header .headline::after {
  display: table;
  content: "";
  clear: both;
}
/* line 31, ../scss/modules/header.scss */
.sulu-header .headline .back {
  position: absolute;
  top: 22px;
  left: -22px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 41, ../scss/modules/header.scss */
.sulu-header .headline .h1 {
  float: left;
}
/* line 44, ../scss/modules/header.scss */
.sulu-header .headline .title-color {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  float: left;
  margin-top: 19px;
  margin-right: 10px;
}
/* line 52, ../scss/modules/header.scss */
.sulu-header .headline .title-color.color-set {
  display: block;
}
/* line 58, ../scss/modules/header.scss */
.sulu-header .bottom-row {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* line 64, ../scss/modules/header.scss */
.sulu-header .bottom-row::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 73, ../scss/modules/header.scss */
.sulu-header .bottom-row .bottom-content {
  float: left;
  line-height: 29px;
}
/* line 76, ../scss/modules/header.scss */
.sulu-header .bottom-row .bottom-content * {
  color: white;
}
/* line 82, ../scss/modules/header.scss */
.sulu-header .tabs {
  height: 50px;
}
/* line 84, ../scss/modules/header.scss */
.sulu-header .tabs .tabs-container {
  -webkit-transition: padding 700ms;
  -moz-transition: padding 700ms;
  -o-transition: padding 700ms;
  transition: padding 700ms;
}
/* line 89, ../scss/modules/header.scss */
.sulu-header .info {
  position: absolute;
  top: 10px;
  left: 0px;
}
/* line 96, ../scss/modules/header.scss */
.sulu-header + #content {
  margin-top: 150px;
  padding-bottom: 190px;
}
/* line 100, ../scss/modules/header.scss */
.sulu-header.has-tabs + #content {
  margin-top: 200px;
  padding-bottom: 240px;
}

/* line 106, ../scss/modules/header.scss */
.sulu-header-background {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #28b6ca;
  height: 150px;
  width: 100%;
}
/* line 113, ../scss/modules/header.scss */
.sulu-header-background.has-tabs {
  height: 200px;
  border-bottom: 50px solid white;
}

/* line 120, ../scss/modules/header.scss */
.small-fixed .sulu-header .inner {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 124, ../scss/modules/header.scss */
.small-fixed .tabs-container {
  padding-left: 10px;
}
/* line 127, ../scss/modules/header.scss */
.small-fixed .sulu-header .back {
  opacity: 0;
}

/*----------------------------------------*/
/* line 4, ../scss/modules/sidebar.scss */
.sulu-sidebar {
  width: 100%;
  height: 100%;
  background: white;
  overflow: auto;
}
/* line 10, ../scss/modules/sidebar.scss */
.sulu-sidebar .sidebar-loader {
  margin-top: 40px;
}

/* line 5, ../scss/modules/gridgroup.scss */
.sulu-grid-group {
  padding-top: 35px;
}
/* line 8, ../scss/modules/gridgroup.scss */
.sulu-grid-group .group-slide {
  width: 100%;
  padding-left: 18px;
  padding-bottom: 40px;
}
/* line 12, ../scss/modules/gridgroup.scss */
.sulu-grid-group .group-slide .grid-container {
  min-height: 140px;
}
/* line 19, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
/* line 25, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head .icon {
  float: left;
  font-size: 18px;
  width: 25px;
  color: #3E3E3E;
  line-height: 40px;
  text-align: center;
}
/* line 33, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head::after {
  display: table;
  content: "";
  clear: both;
}
/* line 39, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .color {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
}
/* line 46, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .entity-title {
  float: left;
  font-size: 18px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  line-height: 28px;
}
