/*----------------------------------------*/
/* line 6, ../scss/modules/base.scss */
body {
  background-color: #f1f1f1;
}

/*----------------------------------------*/
/* line 12, ../scss/modules/base.scss */
.control-label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 20, ../scss/modules/base.scss */
input, select {
  font-family: Helvetica, Arial;
}

/*----------------------------------------*/
/* line 27, ../scss/modules/base.scss */
.pointer {
  cursor: pointer;
}

/* line 31, ../scss/modules/base.scss */
.block {
  display: block;
}

/*----------------------------------------*/
/* line 38, ../scss/modules/base.scss */
.m-top-1 {
  margin-top: 1px !important;
}

/*----------------------------------------*/
/* line 4, ../scss/modules/layout.scss */
#main {
  height: 100%;
  min-width: 560px;
}

/* line 9, ../scss/modules/layout.scss */
.content-column {
  height: 100%;
  position: relative;
  overflow: hidden;
  min-width: 510px;
  -moz-transition: width 700ms;
  -o-transition: width 700ms;
  -webkit-transition: width 700ms;
  transition: width 700ms;
}
/* line 16, ../scss/modules/layout.scss */
.content-column .page {
  height: 100%;
}
/* line 20, ../scss/modules/layout.scss */
.content-column #content {
  height: 100%;
  overflow: auto;
  padding: 40px 50px 40px 50px;
  -moz-transition: padding-left 700ms, padding-right 700ms;
  -o-transition: padding-left 700ms, padding-right 700ms;
  -webkit-transition: padding-left 700ms, padding-right 700ms;
  transition: padding-left 700ms, padding-right 700ms;
}
/* line 26, ../scss/modules/layout.scss */
.content-column #content h2.mainheadline {
  margin-top: 35px;
}
/* line 30, ../scss/modules/layout.scss */
.content-column #content h1:first-child {
  margin-top: 0;
}
/* line 34, ../scss/modules/layout.scss */
.content-column #content .content-tabs-content {
  padding-top: 80px;
}
/* line 38, ../scss/modules/layout.scss */
.content-column #content.no-left-space {
  padding-left: 0;
}
/* line 42, ../scss/modules/layout.scss */
.content-column #content.no-right-space {
  padding-right: 0;
}
/* line 46, ../scss/modules/layout.scss */
.content-column #content.no-top-space {
  padding-top: 0;
}
/* line 51, ../scss/modules/layout.scss */
.content-column.no-transitions {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 53, ../scss/modules/layout.scss */
.content-column.no-transitions #content {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 58, ../scss/modules/layout.scss */
.content-column .sulu-app-shrink {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  cursor: pointer;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: #21272E;
  color: #fff;
  text-align: center;
  border-radius: 0 0 0 2px;
  font-size: 20px;
  line-height: 32px;
}
/* line 73, ../scss/modules/layout.scss */
.content-column .sulu-app-shrink .fa-chevron-right {
  padding-left: 3px;
}
/* line 76, ../scss/modules/layout.scss */
.content-column .sulu-app-shrink .fa-chevron-left {
  padding-right: 3px;
}
/* line 81, ../scss/modules/layout.scss */
.content-column.max {
  float: none;
  width: auto;
}
/* line 86, ../scss/modules/layout.scss */
.content-column.fixed {
  width: 900px;
  float: left;
}
/* line 90, ../scss/modules/layout.scss */
.content-column.fixed.small-fixed {
  width: 510px;
}
/* line 92, ../scss/modules/layout.scss */
.content-column.fixed.small-fixed #content {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 100, ../scss/modules/layout.scss */
.sidebar-column {
  height: 100%;
  overflow: hidden;
  z-index: 101;
  position: relative;
}
/* line 106, ../scss/modules/layout.scss */
.sidebar-column.fixed {
  width: 450px;
  float: right;
}
/* line 111, ../scss/modules/layout.scss */
.sidebar-column.max {
  float: none;
  width: auto;
}
/* line 116, ../scss/modules/layout.scss */
.sidebar-column.hidden {
  width: 0;
  height: 0;
  display: block;
}

@media only screen and (max-width: 1110px) {
  /* line 130, ../scss/modules/layout.scss */
  .sidebar-column.fixed {
    width: 0;
    height: 0;
  }
}
@media only screen and (max-width: 1290px) {
  /* line 143, ../scss/modules/layout.scss */
  .has-visible-sidebar .content-column.fixed {
    width: 700px;
  }
}
@media only screen and (max-width: 1090px) {
  /* line 149, ../scss/modules/layout.scss */
  .has-visible-sidebar .content-column.fixed {
    width: 510px;
  }
}
@media only screen and (max-width: 900px) {
  /* line 155, ../scss/modules/layout.scss */
  .sidebar-column.max {
    width: 0;
    height: 0;
  }

  /* line 160, ../scss/modules/layout.scss */
  .has-visible-sidebar .content-column.fixed {
    float: none;
    width: auto;
    max-width: 900px;
  }

  /* line 167, ../scss/modules/layout.scss */
  .sulu-app-shrink {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  /* line 179, ../scss/modules/layout.scss */
  .has-no-visible-sidebar .content-column.fixed {
    float: none;
    width: auto;
    max-width: 900px;
  }
}
@media only screen and (max-width: 1600px) {
  /* line 193, ../scss/modules/layout.scss */
  .has-visible-sidebar .sidebar-column.fixed + .content-column.fixed {
    float: none;
    width: auto;
    max-width: 900px;
  }
}
/* line 3, ../scss/modules/login.scss */
.sulu-login {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  overflow: hidden;
  position: relative;
}
/* line 10, ../scss/modules/login.scss */
.sulu-login .box {
  width: 400px;
  height: 430px;
  background-color: #e9e9e9;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 30;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.08) 3px 3px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 3px 3px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.08) 3px 3px 0px 0px;
  overflow: hidden;
  transition: height 200ms;
}
/* line 27, ../scss/modules/login.scss */
.sulu-login .box.larger {
  height: 450px;
}
/* line 32, ../scss/modules/login.scss */
.sulu-login .box .husky-validate-error .error-message {
  height: 50px;
}
/* line 35, ../scss/modules/login.scss */
.sulu-login .box .husky-validate-error.login .bottom-container span:not(.website-switch) {
  color: #000;
}
/* line 40, ../scss/modules/login.scss */
.sulu-login .box .frames {
  height: 100%;
  width: 50px;
  white-space: nowrap;
  position: relative;
  top: 0px;
  left: 0px;
  transition: left 300ms;
}
/* line 50, ../scss/modules/login.scss */
.sulu-login .box .frame {
  height: 100%;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;
  padding: 0 50px;
}
/* line 59, ../scss/modules/login.scss */
.sulu-login .box .frame .hide {
  display: none;
}
/* line 65, ../scss/modules/login.scss */
.sulu-login .box .inputs .form-element {
  padding-left: 5px;
}
/* line 71, ../scss/modules/login.scss */
.sulu-login .box .error-message {
  color: #EA524E;
  display: block;
  height: 0px;
  overflow: hidden;
  transition: height 200ms;
}
/* line 79, ../scss/modules/login.scss */
.sulu-login .box .login-logo {
  width: 100%;
  height: 180px;
  background: url("../img/logo.png") no-repeat center center;
  background-size: auto 122px;
  margin-bottom: 10px;
}
/* line 86, ../scss/modules/login.scss */
.sulu-login .box .login-loader {
  float: right;
  margin: 20px 15px 0 0;
}
/* line 90, ../scss/modules/login.scss */
.sulu-login .box .reset-mail-message .login-loader {
  float: none;
  margin-right: 0;
  margin-left: 0;
}
/* line 95, ../scss/modules/login.scss */
.sulu-login .box .btn.action {
  float: right;
  margin-top: 10px;
  padding-left: 45px;
  padding-right: 45px;
}
/* line 102, ../scss/modules/login.scss */
.sulu-login .box .bottom-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0 50px;
}
/* line 32, ../js/vendor/husky/scss/mixins.scss */
.sulu-login .box .bottom-container:after {
  clear: both;
  content: ' ';
  display: block;
}
/* line 110, ../scss/modules/login.scss */
.sulu-login .box .bottom-container span {
  display: block;
  padding: 10px 0 10px 10px;
  cursor: pointer;
  color: #999;
  float: right;
}
/* line 116, ../scss/modules/login.scss */
.sulu-login .box .bottom-container span:hover {
  color: #000;
}
/* line 120, ../scss/modules/login.scss */
.sulu-login .box .bottom-container .website-switch {
  float: left;
  padding-left: 0;
}
/* line 127, ../scss/modules/login.scss */
.sulu-login .box .reset-mail .bottom-container span:not(.website-switch) {
  color: #000;
}
/* line 132, ../scss/modules/login.scss */
.sulu-login .box .reset-mail-message {
  text-align: center;
}
/* line 134, ../scss/modules/login.scss */
.sulu-login .box .reset-mail-message .message {
  display: block;
  color: #999;
  padding-bottom: 20px;
}
/* line 139, ../scss/modules/login.scss */
.sulu-login .box .reset-mail-message .btn.action {
  float: none;
  margin: 0;
  padding: 0 15px;
}
/* line 146, ../scss/modules/login.scss */
.sulu-login .box label {
  text-align: center;
  padding-bottom: 5px;
}
/* line 152, ../scss/modules/login.scss */
.sulu-login .background {
  display: none;
  position: absolute;
}
/* line 156, ../scss/modules/login.scss */
.sulu-login .background .image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: url(../img/blur.svg#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  z-index: 10;
}
/* line 168, ../scss/modules/login.scss */
.sulu-login .background .darkener {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.35;
  transition: opacity 450ms;
  z-index: 20;
}
/* line 182, ../scss/modules/login.scss */
.sulu-login .background.active .darkener {
  opacity: 0.15;
}

/* line 1, ../scss/modules/labels.scss */
#labels-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 50px 0 50px;
}

/* line 10, ../scss/modules/labels.scss */
.login #labels-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  padding: 0;
}

/* line 1, ../scss/modules/header.scss */
.sulu-header {
  background-color: #52B6CA;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}
/* line 10, ../scss/modules/header.scss */
.sulu-header .inner {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 50px;
  height: 150px;
  -moz-transition: margin 700ms;
  -o-transition: margin 700ms;
  -webkit-transition: margin 700ms;
  transition: margin 700ms;
}
/* line 19, ../scss/modules/header.scss */
.sulu-header .headline {
  position: absolute;
  top: 45px;
  left: 0;
}
/* line 24, ../scss/modules/header.scss */
.sulu-header .headline::after {
  display: table;
  content: "";
  clear: both;
}
/* line 30, ../scss/modules/header.scss */
.sulu-header .headline .back {
  display: block;
  padding: 10px;
  position: absolute;
  top: 12px;
  left: -30px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 42, ../scss/modules/header.scss */
.sulu-header .headline .h1 {
  float: left;
}
/* line 45, ../scss/modules/header.scss */
.sulu-header .headline .title-color {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  float: left;
  margin-top: 19px;
  margin-right: 10px;
}
/* line 53, ../scss/modules/header.scss */
.sulu-header .headline .title-color.color-set {
  display: block;
}
/* line 59, ../scss/modules/header.scss */
.sulu-header .bottom-row {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* line 65, ../scss/modules/header.scss */
.sulu-header .bottom-row::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 74, ../scss/modules/header.scss */
.sulu-header .bottom-row .bottom-content {
  float: left;
  line-height: 29px;
}
/* line 77, ../scss/modules/header.scss */
.sulu-header .bottom-row .bottom-content * {
  color: #fff;
}
/* line 83, ../scss/modules/header.scss */
.sulu-header .tabs {
  height: 50px;
}
/* line 85, ../scss/modules/header.scss */
.sulu-header .tabs .tabs-container {
  -moz-transition: padding 700ms;
  -o-transition: padding 700ms;
  -webkit-transition: padding 700ms;
  transition: padding 700ms;
}
/* line 90, ../scss/modules/header.scss */
.sulu-header .info {
  position: absolute;
  top: 10px;
  left: 0px;
}
/* line 97, ../scss/modules/header.scss */
.sulu-header + .page {
  margin-top: 150px;
  padding-bottom: 150px;
}
/* line 101, ../scss/modules/header.scss */
.sulu-header.has-tabs + .page {
  margin-top: 200px;
  padding-bottom: 200px;
}

/* line 107, ../scss/modules/header.scss */
.sulu-header-background {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #52B6CA;
  height: 150px;
  width: 100%;
  z-index: -1;
}
/* line 116, ../scss/modules/header.scss */
.sulu-header-background.has-tabs {
  height: 200px;
  border-bottom: 50px solid #fff;
}

/* line 123, ../scss/modules/header.scss */
.small-fixed .sulu-header .inner {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 127, ../scss/modules/header.scss */
.small-fixed .tabs-container {
  padding-left: 10px;
}
/* line 130, ../scss/modules/header.scss */
.small-fixed .sulu-header .back {
  opacity: 0;
}

/*----------------------------------------*/
/* line 4, ../scss/modules/sidebar.scss */
.sulu-sidebar {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
  border-left: 1px solid #f1f1f1;
}
/* line 11, ../scss/modules/sidebar.scss */
.sulu-sidebar.dark-border {
  border-left: 1px solid #666;
}
/* line 15, ../scss/modules/sidebar.scss */
.sulu-sidebar .sidebar-loader {
  position: relative;
  left: 0;
  top: 50%;
  margin-top: -50px;
}
/* line 22, ../scss/modules/sidebar.scss */
.sulu-sidebar .action {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
/* line 28, ../scss/modules/sidebar.scss */
.sulu-sidebar .label {
  font-weight: 600;
  margin: 0 0 5px 0;
  color: #999;
}
/* line 34, ../scss/modules/sidebar.scss */
.sulu-sidebar .blue-icon {
  width: 30px;
  height: 20px;
  cursor: pointer;
  color: #fff;
  background: #52b6ca;
  text-align: center;
  border-radius: 2px;
  margin-left: 10px;
  display: inline-block;
  font-size: 15px;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -webkit-transition-delay: 200ms;
  -moz-transition: opacity 100ms ease-in 200ms;
  -o-transition: opacity 100ms ease-in 200ms;
  transition: opacity 100ms ease-in 200ms;
}
/* line 53, ../scss/modules/sidebar.scss */
.sulu-sidebar h2 .blue-icon > span {
  vertical-align: text-top;
  margin-top: -4px;
}
/* line 58, ../scss/modules/sidebar.scss */
.sulu-sidebar .show-icon:hover .blue-icon {
  opacity: 1;
}
/* line 62, ../scss/modules/sidebar.scss */
.sulu-sidebar hr {
  border: 0;
  height: 1px;
  background: #ddd;
}

/* line 70, ../scss/modules/sidebar.scss */
.sidebar-padding-50 > div {
  padding: 50px;
}

/* line 5, ../scss/modules/gridgroup.scss */
.sulu-grid-group {
  border-bottom: 2px solid #cccccc;
}
/* line 8, ../scss/modules/gridgroup.scss */
.sulu-grid-group .group-slide {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 1px;
}
/* line 15, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity:last-child {
  margin-bottom: -1px;
}
/* line 19, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
/* line 25, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head .icon {
  float: left;
  font-size: 16px;
  padding: 0 10px 0 5px;
  color: #3E3E3E;
  line-height: 50px;
  text-align: center;
}
/* line 33, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head::after {
  display: table;
  content: "";
  clear: both;
}
/* line 39, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .color {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
}
/* line 46, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .entity-title {
  float: left;
  font-size: 14px;
  margin-top: 5px;
  padding-right: 5px;
  border-radius: 3px;
  line-height: 38px;
}

/** header options menu toggle **/
/** ========================== **/
/** only shown when parent has class
    .option-dropdown-toggler
**/
/* line 7, ../scss/modules/headlines.scss */
.options-dropdown-container {
  display: none;
}
/* line 10, ../scss/modules/headlines.scss */
.options-dropdown-container.is-active {
  display: block;
}
/* line 13, ../scss/modules/headlines.scss */
.options-dropdown-container span {
  background-color: #f1f1f1;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 22, ../scss/modules/headlines.scss */
.options-dropdown-toggler:hover .options-dropdown-container {
  display: block;
}
