/*----------------------------------------*/
/* line 6, ../scss/modules/base.scss */
body {
  background-color: #f1f1f1;
}

/*----------------------------------------*/
/* line 12, ../scss/modules/base.scss */
.control-label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 20, ../scss/modules/base.scss */
input, select {
  font-family: Helvetica, Arial;
}

/*----------------------------------------*/
/* line 27, ../scss/modules/base.scss */
.pointer {
  cursor: pointer;
}

/* line 31, ../scss/modules/base.scss */
.block {
  display: block;
}

/*----------------------------------------*/
/* line 38, ../scss/modules/base.scss */
.m-top-1 {
  margin-top: 1px !important;
}

/*----------------------------------------*/
/* line 4, ../scss/modules/layout.scss */
#main {
  height: 100%;
  min-width: 560px;
}

/* line 9, ../scss/modules/layout.scss */
.content-column {
  height: 100%;
  position: relative;
  overflow: hidden;
  min-width: 510px;
  -webkit-transition: width 700ms;
  -moz-transition: width 700ms;
  -o-transition: width 700ms;
  transition: width 700ms;
}
/* line 16, ../scss/modules/layout.scss */
.content-column .page {
  height: 100%;
}
/* line 20, ../scss/modules/layout.scss */
.content-column #content {
  height: 100%;
  overflow: auto;
  padding: 40px 50px 40px 50px;
  -webkit-transition: padding-left 700ms, padding-right 700ms;
  -moz-transition: padding-left 700ms, padding-right 700ms;
  -o-transition: padding-left 700ms, padding-right 700ms;
  transition: padding-left 700ms, padding-right 700ms;
}
/* line 26, ../scss/modules/layout.scss */
.content-column #content h2.mainheadline {
  margin-top: 35px;
}
/* line 30, ../scss/modules/layout.scss */
.content-column #content h1:first-child {
  margin-top: 0;
}
/* line 34, ../scss/modules/layout.scss */
.content-column #content .content-tabs-content {
  padding-top: 80px;
}
/* line 38, ../scss/modules/layout.scss */
.content-column #content.no-left-space {
  padding-left: 0;
}
/* line 42, ../scss/modules/layout.scss */
.content-column #content.no-right-space {
  padding-right: 0;
}
/* line 46, ../scss/modules/layout.scss */
.content-column #content.no-top-space {
  padding-top: 0;
}
/* line 51, ../scss/modules/layout.scss */
.content-column.no-transitions {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 53, ../scss/modules/layout.scss */
.content-column.no-transitions #content {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 58, ../scss/modules/layout.scss */
.content-column .sulu-app-shrink {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  cursor: pointer;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: #21272E;
  color: white;
  text-align: center;
  border-radius: 0 0 0 2px;
  font-size: 20px;
  line-height: 32px;
}
/* line 73, ../scss/modules/layout.scss */
.content-column .sulu-app-shrink .fa-chevron-right {
  padding-left: 3px;
}
/* line 76, ../scss/modules/layout.scss */
.content-column .sulu-app-shrink .fa-chevron-left {
  padding-right: 3px;
}
/* line 81, ../scss/modules/layout.scss */
.content-column.max {
  float: none;
  width: auto;
}
/* line 86, ../scss/modules/layout.scss */
.content-column.fixed {
  width: 900px;
  float: left;
}
/* line 90, ../scss/modules/layout.scss */
.content-column.fixed.small-fixed {
  width: 480px;
}
/* line 92, ../scss/modules/layout.scss */
.content-column.fixed.small-fixed #content {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 100, ../scss/modules/layout.scss */
.sidebar-column {
  height: 100%;
  overflow: hidden;
  z-index: 101;
  position: relative;
}
/* line 106, ../scss/modules/layout.scss */
.sidebar-column.fixed {
  width: 450px;
  float: right;
}
/* line 111, ../scss/modules/layout.scss */
.sidebar-column.max {
  float: none;
  width: auto;
}
/* line 116, ../scss/modules/layout.scss */
.sidebar-column.hidden {
  width: 0;
  height: 0;
  display: block;
}

@media only screen and (max-width: 1010px) {
  /* line 130, ../scss/modules/layout.scss */
  .sidebar-column.fixed {
    width: 0;
    height: 0;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 143, ../scss/modules/layout.scss */
  .has-visible-sidebar .content-column.fixed {
    width: 690px;
  }
}
@media only screen and (max-width: 990px) {
  /* line 149, ../scss/modules/layout.scss */
  .has-visible-sidebar .content-column.fixed {
    width: 480px;
  }
}
@media only screen and (max-width: 780px) {
  /* line 155, ../scss/modules/layout.scss */
  .sidebar-column.max {
    width: 0;
    height: 0;
  }

  /* line 160, ../scss/modules/layout.scss */
  .has-visible-sidebar .content-column.fixed {
    float: none;
    width: auto;
    max-width: 900px;
  }

  /* line 167, ../scss/modules/layout.scss */
  .sulu-app-shrink {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  /* line 179, ../scss/modules/layout.scss */
  .has-no-visible-sidebar .content-column.fixed {
    float: none;
    width: auto;
    max-width: 900px;
  }
}
@media only screen and (max-width: 1600px) {
  /* line 193, ../scss/modules/layout.scss */
  .has-visible-sidebar .sidebar-column.fixed + .content-column.fixed {
    float: none;
    width: auto;
    max-width: 900px;
  }
}
/* line 1, ../scss/modules/login.scss */
#main.login {
  width: 100%;
  height: 100%;
}

/* line 5, ../scss/modules/login.scss */
#login-wrapper {
  position: relative;
  top: 0px;
  left: 50%;
  margin-left: -150px;
  display: table;
  width: 300px;
  height: 100%;
}

/* line 14, ../scss/modules/login.scss */
#login {
  display: table-cell;
  vertical-align: middle;
}
/* line 18, ../scss/modules/login.scss */
#login .icon {
  margin-bottom: 30px;
  text-align: center;
}
/* line 23, ../scss/modules/login.scss */
#login #logo {
  width: 100%;
  height: 120px;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjMwcHgiIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDMwIDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4wLjEgKDc1OTcpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlNsaWNlIDE8L3RpdGxlPgogICAgPGRlc2NyaXB0aW9uPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjcmlwdGlvbj4KICAgIDxkZWZzPgogICAgICAgIDxsaW5lYXJHcmFkaWVudCB4MT0iNDkuOTk5NTk2OCUiIHkxPSItMC4wMDAzNDQ2MDg1MjYlIiB4Mj0iNDkuOTk5NTk2OCUiIHkyPSIxMDAuMDAyNTUlIiBpZD0ibGluZWFyR3JhZGllbnQtMSI+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiM3QUM5NDMiIG9mZnNldD0iMCUiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iIzNGQTlGNSIgb2Zmc2V0PSIxMDAlIj48L3N0b3A+CiAgICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiPgogICAgICAgIDxnIGlkPSIwMy1TdWx1LVNpZ25ldC1Db2xvcigyKSIgc2tldGNoOnR5cGU9Ik1TTGF5ZXJHcm91cCIgZmlsbD0idXJsKCNsaW5lYXJHcmFkaWVudC0xKSI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0yOS44NTUsMTMuNzg1IEMzMC4xMjgsMTMuMzQgMzAuMDA1LDEyLjcyNSAyOS41ODMsMTIuNDE4IEwyMi40ODksNy4yNjQgQzIyLjA2Nyw2Ljk1NyAyMS42NzcsNi4yODEgMjEuNjIyLDUuNzYyIEwyMS4xMjYsMS4wMzYgQzIxLjA3MiwwLjUxNyAyMC42MjIsMC4yMjggMjAuMTI3LDAuMzkzIEwwLjY0NSw2LjkwOCBDMC4xNSw3LjA3NCAtMC4xMTgsNy42MTMgMC4wNSw4LjEwOCBMMy43MzksMTguOTcxIEMzLjkwNywxOS40NjUgNC40NjIsMTkuOTYgNC45NzIsMjAuMDcgTDIyLjYxNiwyMy44ODUgQzIzLjEyNiwyMy45OTUgMjMuNzY3LDIzLjcyMSAyNC4wMzksMjMuMjc2IEwyOS44NTUsMTMuNzg1IEwyOS44NTUsMTMuNzg1IFogTTEzLjgwMyw4Ljk2MSBDMTMuNDk1LDkuMzgzIDEyLjgyNiw5LjYzNiAxMi4zMTYsOS41MjQgTDQuMDMyLDcuNzAyIEMzLjUyMiw3LjU5IDMuNTEsNy4zNjMgNC4wMDUsNy4xOTcgTDE3Ljc2OSwyLjU5NCBDMTguMjY0LDIuNDI4IDE4LjQxNywyLjYzOCAxOC4xMSwzLjA2IEwxMy44MDMsOC45NjEgTDEzLjgwMyw4Ljk2MSBaIE0xOS40MDUsMy41NTggQzE5LjcxMywzLjEzNiAyMC4wMDksMy4yMTYgMjAuMDY0LDMuNzM1IEwyMS43NTcsMTkuODggQzIxLjgxMSwyMC4zOTkgMjEuNjA1LDIwLjQ3OCAyMS4yOTksMjAuMDU1IEwxNC45MTMsMTEuMjQ0IEMxNC42MDcsMTAuODIxIDE0LjYwOCwxMC4xMzEgMTQuOTE2LDkuNzA5IEwxOS40MDUsMy41NTggTDE5LjQwNSwzLjU1OCBaIE0xLjkxNyw5LjQzOSBDMS43NDksOC45NDUgMi4wMjksOC42MzIgMi41MzksOC43NDQgTDEyLjIwOCwxMC44NzEgQzEyLjcxOCwxMC45ODMgMTMuMzg2LDExLjQyMSAxMy42OTIsMTEuODQzIEwyMC42NTYsMjEuNDUgQzIwLjk2MiwyMS44NzMgMjAuNzk2LDIyLjEyOCAyMC4yODUsMjIuMDE3IEw1Ljk5NiwxOC45MjIgQzUuNDg2LDE4LjgxMSA0LjkzMSwxOC4zMTcgNC43NjMsMTcuODIyIEwxLjkxNyw5LjQzOSBMMS45MTcsOS40MzkgWiBNMjIuMDA4LDkuNDQzIEMyMS45NTQsOC45MjQgMjIuMjU1LDguNzUgMjIuNjc3LDkuMDU3IEwyNy43OTQsMTIuNzc1IEMyOC4yMTYsMTMuMDgyIDI4LjMzOSwxMy42OTcgMjguMDY2LDE0LjE0MiBMMjMuODEsMjEuMDk4IEMyMy41MzgsMjEuNTQzIDIzLjI3LDIxLjQ4MyAyMy4yMTYsMjAuOTY0IEwyMi4wMDgsOS40NDMgTDIyLjAwOCw5LjQ0MyBaIiBpZD0iU2hhcGUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  background-position: center center;
}

/* line 1, ../scss/modules/labels.scss */
#labels-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 50px 0 50px;
}

/* line 1, ../scss/modules/header.scss */
.sulu-header {
  background-color: #52b6ca;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}
/* line 10, ../scss/modules/header.scss */
.sulu-header .inner {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 50px;
  height: 150px;
  -webkit-transition: margin 700ms;
  -moz-transition: margin 700ms;
  -o-transition: margin 700ms;
  transition: margin 700ms;
}
/* line 19, ../scss/modules/header.scss */
.sulu-header .headline {
  position: absolute;
  top: 45px;
  left: 0;
}
/* line 24, ../scss/modules/header.scss */
.sulu-header .headline::after {
  display: table;
  content: "";
  clear: both;
}
/* line 30, ../scss/modules/header.scss */
.sulu-header .headline .back {
  display: block;
  padding: 10px;
  position: absolute;
  top: 12px;
  left: -30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 42, ../scss/modules/header.scss */
.sulu-header .headline .h1 {
  float: left;
}
/* line 45, ../scss/modules/header.scss */
.sulu-header .headline .title-color {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  float: left;
  margin-top: 19px;
  margin-right: 10px;
}
/* line 53, ../scss/modules/header.scss */
.sulu-header .headline .title-color.color-set {
  display: block;
}
/* line 59, ../scss/modules/header.scss */
.sulu-header .bottom-row {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* line 65, ../scss/modules/header.scss */
.sulu-header .bottom-row::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 74, ../scss/modules/header.scss */
.sulu-header .bottom-row .bottom-content {
  float: left;
  line-height: 29px;
}
/* line 77, ../scss/modules/header.scss */
.sulu-header .bottom-row .bottom-content * {
  color: white;
}
/* line 83, ../scss/modules/header.scss */
.sulu-header .tabs {
  height: 50px;
}
/* line 85, ../scss/modules/header.scss */
.sulu-header .tabs .tabs-container {
  -webkit-transition: padding 700ms;
  -moz-transition: padding 700ms;
  -o-transition: padding 700ms;
  transition: padding 700ms;
}
/* line 90, ../scss/modules/header.scss */
.sulu-header .info {
  position: absolute;
  top: 10px;
  left: 0px;
}
/* line 97, ../scss/modules/header.scss */
.sulu-header + .page {
  margin-top: 150px;
  padding-bottom: 150px;
}
/* line 101, ../scss/modules/header.scss */
.sulu-header.has-tabs + .page {
  margin-top: 200px;
  padding-bottom: 200px;
}

/* line 107, ../scss/modules/header.scss */
.sulu-header-background {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #52b6ca;
  height: 150px;
  width: 100%;
}
/* line 114, ../scss/modules/header.scss */
.sulu-header-background.has-tabs {
  height: 200px;
  border-bottom: 50px solid white;
}

/* line 121, ../scss/modules/header.scss */
.small-fixed .sulu-header .inner {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 125, ../scss/modules/header.scss */
.small-fixed .tabs-container {
  padding-left: 10px;
}
/* line 128, ../scss/modules/header.scss */
.small-fixed .sulu-header .back {
  opacity: 0;
}

/*----------------------------------------*/
/* line 4, ../scss/modules/sidebar.scss */
.sulu-sidebar {
  width: 100%;
  height: 100%;
  background: white;
  overflow: auto;
  border-left: 1px solid #f1f1f1;
}
/* line 11, ../scss/modules/sidebar.scss */
.sulu-sidebar.dark-border {
  border-left: 1px solid #666;
}
/* line 15, ../scss/modules/sidebar.scss */
.sulu-sidebar .sidebar-loader {
  position: relative;
  left: 0;
  top: 50%;
  margin-top: -50px;
}
/* line 22, ../scss/modules/sidebar.scss */
.sulu-sidebar .action {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
/* line 28, ../scss/modules/sidebar.scss */
.sulu-sidebar .label {
  font-weight: 600;
  margin: 0 0 5px 0;
  color: #999999;
}
/* line 34, ../scss/modules/sidebar.scss */
.sulu-sidebar .blue-icon {
  width: 30px;
  height: 20px;
  cursor: pointer;
  color: #fff;
  background: #52b6ca;
  text-align: center;
  border-radius: 2px;
  margin-left: 10px;
  display: inline-block;
  font-size: 15px;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -webkit-transition-delay: 200ms;
  -moz-transition: opacity 100ms ease-in 200ms;
  -o-transition: opacity 100ms ease-in 200ms;
  transition: opacity 100ms ease-in 200ms;
}
/* line 53, ../scss/modules/sidebar.scss */
.sulu-sidebar .blue-icon > span {
  vertical-align: text-top;
  margin-top: -3px;
}
/* line 58, ../scss/modules/sidebar.scss */
.sulu-sidebar .show-icon:hover .blue-icon {
  opacity: 1;
}

/* line 64, ../scss/modules/sidebar.scss */
.sidebar-padding-50 > div {
  padding: 50px;
}

/* line 5, ../scss/modules/gridgroup.scss */
.sulu-grid-group {
  border-bottom: 2px solid #cccccc;
}
/* line 8, ../scss/modules/gridgroup.scss */
.sulu-grid-group .group-slide {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 1px;
}
/* line 15, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity:last-child {
  margin-bottom: -1px;
}
/* line 19, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
/* line 25, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head .icon {
  float: left;
  font-size: 16px;
  padding: 0 10px 0 5px;
  color: #3E3E3E;
  line-height: 50px;
  text-align: center;
}
/* line 33, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .head::after {
  display: table;
  content: "";
  clear: both;
}
/* line 39, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .color {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
}
/* line 46, ../scss/modules/gridgroup.scss */
.sulu-grid-group .entity .entity-title {
  float: left;
  font-size: 14px;
  margin-top: 5px;
  padding-right: 5px;
  border-radius: 3px;
  line-height: 38px;
}
