/* line 6, ../scss/modules/base.scss */
body {
  background-color: #f1f1f1;
}

/* line 10, ../scss/modules/base.scss */
.control-label {
  padding-left: 10px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 17, ../scss/modules/base.scss */
#content {
  max-width: 920px;
  min-width: 300px;
  margin-left: 250px;
  padding-left: 50px;
  margin-top: 40px;
  padding-right: 50px;
  margin-bottom: 40px;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
}
/* line 27, ../scss/modules/base.scss */
#content h2.mainheadline {
  margin-top: 35px;
}
/* line 31, ../scss/modules/base.scss */
#content h1:first-child {
  margin-top: 0;
}
/* line 35, ../scss/modules/base.scss */
#content .content-tabs-content {
  padding-top: 80px;
}

/* line 41, ../scss/modules/base.scss */
#edit-toolbar-container {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 50px;
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 40px;
}

/* line 52, ../scss/modules/base.scss */
#edit-toolbar {
  max-width: 820px;
}

/* line 56, ../scss/modules/base.scss */
#list-toolbar-container {
  padding-bottom: 20px;
}

/* line 61, ../scss/modules/base.scss */
#page-functions + #edit-toolbar .edit-toolbar-left {
  margin-left: -50px;
}

/* line 66, ../scss/modules/base.scss */
#sulu-app-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

/*----------------------------------------*/
/* line 76, ../scss/modules/base.scss */
.control-label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/*----------------------------------------*/
/* line 84, ../scss/modules/base.scss */
input, select {
  font-family: Helvetica, Arial;
}

/*----------------------------------------*/
/* line 91, ../scss/modules/base.scss */
.navigation-container {
  z-index: 101;
}

/*----------------------------------------*/
/* line 98, ../scss/modules/base.scss */
.pointer {
  cursor: pointer;
}

/* line 102, ../scss/modules/base.scss */
.block {
  display: block;
}

/*----------------------------------------*/
/* line 109, ../scss/modules/base.scss */
.m-top-1 {
  margin-top: 1px !important;
}

/* line 2, ../scss/modules/icons.scss */
.icon-floppy::after {
  content: "\e444";
  display: inline-block;
}

/* line 1, ../scss/modules/login.scss */
#login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 190px;
  margin-left: -150px;
  margin-top: -95px;
}

/* line 1, ../scss/modules/labels.scss */
#labels-container {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 50px;
  width: 100%;
}
