@import '../Application/colors.scss';
@import '../Application/variables.scss';

.overlay {
    display: flex;
    flex-direction: column;
    padding: $viewPadding;
}

.column-option {
    display: flex;
    font-size: 14px;
    padding: 15px 20px;
    margin: 0 5px;
    width: 100%;

    &:hover {
        background: $dustyGray;
    }

    .drag-handle {
        cursor: pointer;
        padding: 0 10px;
    }

    .label {
        flex-grow: 1;
    }

    .icon {
        align-self: flex-end;
        font-size: 20px;
    }
}

.column-option-disabled {
    color: $doveGray;
}
