@import '../Application/colors.scss';
@import '../Application/variables.scss';

$dragBoxShadowColor: rgba($black, .1);

.overlay {
    display: flex;
    flex-direction: column;
    padding: $viewPadding;
}

.column-option {
    display: flex;
    font-size: 14px;
    padding: 15px 0;
    margin: 5px 0;
    user-select: none;
    width: 100%;
    z-index: 100;

    &:hover {
        background: $silver;
    }

    .drag-handle {
        cursor: move;
        padding: 0 20px;
    }

    .label {
        flex-grow: 1;
    }

    .icon {
        align-self: flex-end;
        font-size: 20px;
        padding: 0 20px;
    }

    &.dragging {
        box-shadow:
                0 3px 6px $dragBoxShadowColor,
                0 -3px 6px $dragBoxShadowColor;
    }
}

.column-option-disabled {
    color: $dustyGray;

    &:hover {
        background: $mercury;
    }
}
