.datagrid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-container {
    display: flex;
    margin-bottom: 40px;

    .toolbar {
        flex-grow: 1;
    }
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > * {
        height: 30px;
        margin-right: 10px;
        width: auto;

        &:last-child {
            margin-right: 0;
        }
    }
}
