$datagridToolbarHeight: 30px;
$datagridHeaderMarginBottom: 40px;

.datagrid {
    display: flex;
    flex-direction: column;
    height: calc(100% - $datagridToolbarHeight - $datagridHeaderMarginBottom);
}

.header-container {
    display: flex;
    margin-bottom: $datagridHeaderMarginBottom;
    align-items: center;

    .toolbar {
        flex-grow: 1;
    }
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > * {
        height: $datagridToolbarHeight;
        margin-right: 10px;
        width: auto;

        &:last-child {
            margin-right: 0;
        }
    }
}
