.datagrid {
    display: flex;
    flex-direction: column;
}

.toolbar {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;

    & > * {
        height: 30px;
        margin-right: 10px;
        width: auto;

        &:last-child {
            margin-right: 0;
        }
    }
}
