@import '../../containers/Application/colors.scss';

$length: 16px;
$primaryColor: $blueZodiac;
$secondaryColor: $white;

.checkbox {
    width: $length;
    height: $length;

    input + span {
        display: block;
        width: 100%;
        height: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        border: 1px solid $primaryColor;
        color: $secondaryColor;
        text-align: center;
        line-height: $length;

        & > * {
            position: relative;
            top: -1px;
            left: -1px;
            font-size: $length;
        }
    }

    input:checked + span {
        background: $primaryColor;
    }
}

.checkbox.light {
    input + span {
        border-color: $secondaryColor;
        color: $primaryColor;
    }

    input:checked + span {
        background: $secondaryColor;
    }
}
