@import '../../containers/Application/colors.scss';
@import './variables.scss';

.column {
    border-right: $columnBorder;
    vertical-align: top;
    width: $columnWidth;
    height: 100%;
    overflow-y: auto;

    &.scrolling:last-child {
        border-right: none;
        width: calc($columnWidth - 1px);
    }
}

.loading {
    display: flex;
}
