@import '../../containers/Application/colors.scss';

$columnHeight: 60vh;
$columnWidth: 270px;

$columnBackgroundColor: $white;
$columnBorderColor: $silver;

.container {
    overflow: scroll;
}

.column-list {
    align-items: baseline;
    display: inline-flex;
}

.column {
    background: $columnBackgroundColor;
    border-right: 1px solid $columnBorderColor;
    vertical-align: top;
    width: $columnWidth;
    height: calc($columnHeight - 50px);
    overflow: hidden;
}
.column-container:first-child {
    .column {
        border-radius: 3px 0 0 3px;
    }
}

.column-container:last-child {
    .column {
        border-radius: 0 3px 3px 0;
        border-right: none;
    }
}

.column-container {
    height: $columnHeight;

    &.is-active {
        .column {
            border-radius: 0;
        }
    }
}
