@import '../../containers/Application/colors.scss';

$itemBackgroundColorSelected: $alabaster;
$itemBackgroundColorHover: $blueZodiac;
$itemColorHover: $white;

.item {
    padding: 9px 30px 9px 6px;
    cursor: pointer;

    span {
        line-height: 24px;
    }

    .text {
        font-size: 12px;
    }

    &.active {
        background: $itemBackgroundColorSelected;
        font-weight: bold;
    }

    &:hover {
        background: $itemBackgroundColorHover;
        color: $itemColorHover;
    }

    .children {
        float: right;
        font-weight: normal;
    }
}

.buttons {
    padding-right: 16px;
}

.button {
    height: 20px;
    width: 20px;
    visibility: hidden;
}

.item:hover {
    .button {
        visibility: visible;
    }
}
