@import '../../containers/Application/colors.scss';

$itemBackgroundColorSelected: $alabaster;
$itemBackgroundColorHover: $blueZodiac;
$itemColorHover: $white;

.item {
    height: 40px;
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0 20px;

    .text {
        font-size: 12px;
        flex-grow: 1;
        width: 0;
        padding-right: 10px;
    }

    &.active {
        background: $itemBackgroundColorSelected;
        font-weight: bold;
    }

    &:hover {
        background: $itemBackgroundColorHover;
        color: $itemColorHover;
    }

    .children {
        font-weight: normal;
    }
}

.button {
    height: 20px;
    width: 20px;
    font-size: 20px;
    text-align: center;
    visibility: hidden;

    &:last-child {
        margin-right: 5px;
    }
}

.item:hover,
.item.selected {
    .button {
        visibility: visible;
    }
}
