@import '../../containers/Application/colors.scss';

$optionTextColor: $blueZodiac;
$optionTextColorHover: $shakespeare;
$optionTextColorDisabled: $dustyGray;

.option {
    display: block;
    overflow: hidden;
    min-width: 120px;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    border: 0;
    font-weight: inherit;
    background-color: transparent;
    color: $optionTextColor;

    &:disabled {
        color: $optionTextColorDisabled;
    }

    &:not(:disabled) {
        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            color: $optionTextColorHover;
        }
    }
}
