@import '../../containers/Application/colors.scss';

$listBackgroundColorPrimary: $silver;
$listBackgroundColorSecondary: $shakespeare;
$listShadowColor: $silver;

$listBoxShadow: 2px 6px 12px 0 rgba($silver, .22);

.list-container {
    font-size: 12px;
    margin: 0;
    overflow: auto;
    box-shadow: $listBoxShadow;

    .primary {
        background: $listBackgroundColorPrimary;
    }

    .secondary {
        background: $listBackgroundColorSecondary;
    }
}

.list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-shadow: 2px 6px 12px 0 rgba($listShadowColor, .5);

    & > li {
        display: block;
    }
}

.button-arrow-icon {
    margin-left: 5px;
}
