@import '../../containers/Application/colors.scss';

$columnListBackgroundColor: $white;
$columnBorderColor: $silver;
$columnBorderWidth: 1px;
$columnBorder: $columnBorderWidth solid $columnBorderColor;
$columnListBorderRadius: 3px;
$columnWidth: 270px;

$toolbarHeight: 30px;
