@import '../../containers/Application/colors.scss';

$folderBackgroundColor: $silver;
$metaFontColor: $silverChalice;

.folder {
    width: 240px;
    height: 80px;
    display: flex;
    padding: 10px;
    border: 1px solid $folderBackgroundColor;
    border-radius: 3px;
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.title {
    overflow: hidden;
    max-height: 35px;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 5px;
}

.meta {
    font-size: 10px;
    color: $metaFontColor;
}

.icon-container {
    padding: 10px;
    font-size: 26px;
}
