Tests/app/cache
Tests/app/logs
Tests/app/data
composer.lock
vendor

/node_modules/
/composer.phar
/composer.lock
/.sass-cache/

# IDEs
.idea/*
*.iml
*~

#npm
npm-debug.log

# System files
.DS_Store

#PHPunit
phpunit.xml
