@import '../../containers/Application/colors.scss';

$borderRadius: 2px;
$buttonActiveBackgroundColor: $white;

.button {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background-color: transparent;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    margin: 10px 5px 0 0;
    padding: 0;
    text-align: center;

    &.active {
        background-color: $buttonActiveBackgroundColor;
        border-radius: $borderRadius;
    }
}
