@import '../../containers/Application/colors.scss';

$borderRadius: 3px;
$backgroundColor: $alto;

.toolbar {
    border-radius: $borderRadius;
    background-color: $backgroundColor;
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    overflow: hidden;
}
