@import '../../containers/Application/colors.scss';

$borderRadius: 4px;
$buttonWidth: 34px;
$paginationColor: $gray;
$buttonBackgroundColor: $wildSand;
$buttonBorderColor: $scorpion;
$buttonActiveColor: $blueZodiac;

.pagination {
    color: $paginationColor;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.loader {
    flex-grow: 1;
}

.display {
    margin-right: 20px;
}

.inputContainer {
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
}

.next,
.previous {
    display: inline-block;
    height: 30px;
    width: $buttonWidth;
    background-color: $buttonBackgroundColor;
    border: 1px solid $buttonBorderColor;
    text-align: center;
    font-size: 12px;

    &:not(:disabled) {
        color: $buttonActiveColor;
        cursor: pointer;
    }

    span {
        line-height: 28px;
    }
}

.previous {
    border-radius: $borderRadius 0 0 $borderRadius;
}

.next {
    border-radius: 0 $borderRadius $borderRadius 0;
    border-left: none;
}
