@import '../../containers/Application/colors.scss';

$borderRadius: 4px;
$buttonWidth: 34px;
$paginationColor: $gray;
$buttonBackgroundColor: $wildSand;
$buttonBorderColor: $scorpion;
$buttonActiveColor: $blueZodiac;

.pagination {
    color: $paginationColor;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.loader {
    flex-grow: 1;
}

.display {
    margin-right: 20px;
}

.inputContainer {
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
}
