/* line 6, ../scss/modules/collection-list.scss */
#collections-list-container .toggle-all {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
}
/* line 10, ../scss/modules/collection-list.scss */
#collections-list-container .toggle-all .icon {
  font-size: 14px;
  color: #3E3E3E;
  margin-right: 5px;
}

/* line 1, ../scss/modules/collection.scss */
.datagrid-container {
  margin-top: 30px;
}
