<div data-aura-component="toolbar@husky"
     data-aura-instance-name="sidebar"
     data-aura-groups='[{"id":1,"align":"left"},{"id":2,"align":"left"}]'
     data-aura-data='[{"icon":"plus-circle","class":"highlight","group":1,"id":"loadit"},{"icon":"trash-o","group":1,"disabled":true},{"icon":"asterisk","group":1,"disabled":true},{"icon":"cloud-upload","group":1,"disabled":true},{"icon":"cloud-download","title":"export","group":1},{"icon":"gear","group":1}]'
        ></div>
