@import 'sulu-admin-bundle/containers/Application/colors.scss';

$dropzoneSize: 400px;
$uploadIconColor: $white;
$uploadIndicatorBackgroundColor: rgba($nobel, .5);


.media-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $dropzoneSize;
    height: $dropzoneSize;
    background-image: url('./checkerBackground.gif');
    background-size: 10px;
    cursor: pointer;

    &:hover {
        .upload-indicator {
            opacity: 1;
            transform: scale(1);
        }
    }

    &.show-upload-indicator {
        .upload-indicator {
            opacity: 1;
            transform: scale(1);
        }
    }

    &.show-progressbar {
        .upload-indicator {
            opacity: 0;
        }

        .progressbar {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.progressbar,
.upload-indicator-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressbar,
.upload-indicator {
    opacity: 0;
    transform: scale(.5);
    transition: all .25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.upload-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: $uploadIndicatorBackgroundColor;
}

.upload-icon {
    font-size: 45px;
    color: $uploadIconColor;
}
