/*----------------------------------------*/
/* line 1, ../scss/modules/search-results.scss */
.search-results-container {
  width: 550px;
  margin: 0 auto;
}

/* line 6, ../scss/modules/search-results.scss */
.search-results-section-content {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-width: 2px 0;
}
/* line 13, ../scss/modules/search-results.scss */
.search-results-section-content > li {
  padding: 10px 0;
  overflow: hidden;
  border-top: 1px solid #ccc;
}
/* line 18, ../scss/modules/search-results.scss */
.search-results-section-content > li:first-child {
  border-top: 0;
}
/* line 22, ../scss/modules/search-results.scss */
.search-results-section-content > li[data-url]:hover {
  cursor: pointer;
}

/* line 28, ../scss/modules/search-results.scss */
.search-results-section {
  margin-top: 40px;
}
/* line 32, ../scss/modules/search-results.scss */
.search-results-section.is-contacts .search-results-thumb img {
  border-radius: 100%;
}

/* line 38, ../scss/modules/search-results.scss */
.search-results-thumb {
  float: left;
  min-width: 50px;
  min-height: 30px;
  margin-right: 10px;
  text-align: center;
}
/* line 45, ../scss/modules/search-results.scss */
.search-results-thumb img {
  display: block;
}
/* line 49, ../scss/modules/search-results.scss */
.search-results-thumb [class*="fa-"] {
  font-size: 20px;
  color: #999;
  position: relative;
  top: 5px;
}

/* line 57, ../scss/modules/search-results.scss */
.search-results-thumb-image {
  width: 50px;
}

/* line 61, ../scss/modules/search-results.scss */
.search-results-description {
  overflow: hidden;
}

/* line 65, ../scss/modules/search-results.scss */
.search-results-section-header {
  margin-bottom: 5px;
  font-size: 16px;
  color: #999;
}

/* line 71, ../scss/modules/search-results.scss */
.search-results-title .info {
  font-size: 12px;
  color: #999;
}

/* line 76, ../scss/modules/search-results.scss */
.search-results-details {
  width: 250px;
  white-space: nowrap;
  font-size: 12px;
  color: #999;
}
/* line 82, ../scss/modules/search-results.scss */
.search-results-details p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 89, ../scss/modules/search-results.scss */
.search-results-loader-container {
  margin: 50px 0 0;
}

/* line 93, ../scss/modules/search-results.scss */
.search-results-info-subline {
  margin: 20px 0;
  text-align: center;
  color: #999;
  font-size: 12px;
}

/* line 100, ../scss/modules/search-results.scss */
.search-results-no-results {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #999;
  text-align: center;
  margin: 60px;
}

/* line 1, ../scss/modules/search-totals.scss */
.search-totals-wrapper {
  background-color: #ccc;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 9, ../scss/modules/search-totals.scss */
.search-totals-wrapper h2 {
  color: #666;
  font-size: 16px;
  line-height: 22px;
}
/* line 15, ../scss/modules/search-totals.scss */
.search-totals-wrapper .name {
  color: #666;
}
/* line 19, ../scss/modules/search-totals.scss */
.search-totals-wrapper a {
  text-decoration: none;
  color: #000;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 25, ../scss/modules/search-totals.scss */
.search-totals-wrapper a.active {
  font-weight: bold;
}
/* line 31, ../scss/modules/search-totals.scss */
.search-totals-wrapper table td {
  width: 33%;
  font-size: 14px;
}

/* line 1, ../scss/modules/dropdown-input.scss */
.dropdown-input-container,
.dropdown-input-entry {
  height: 40px;
}

/* line 8, ../scss/modules/dropdown-input.scss */
.dropdown-input-container.is-filled .dropdown-input-clear {
  display: block;
}

/* line 14, ../scss/modules/dropdown-input.scss */
.dropdown-input {
  display: inline-table;
  width: 100%;
}

/* line 19, ../scss/modules/dropdown-input.scss */
.dropdown-input-trigger-container,
.dropdown-input-entry-container {
  display: table-cell;
}

/* line 24, ../scss/modules/dropdown-input.scss */
.dropdown-input-entry-container {
  width: 75%;
  position: relative;
}

/* line 29, ../scss/modules/dropdown-input.scss */
.dropdown-input-trigger-container {
  width: 25%;
  background-color: #28B6CA;
  vertical-align: middle;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
}
/* line 36, ../scss/modules/dropdown-input.scss */
.dropdown-input-trigger-container .dropdown-label {
  font-size: 14px;
  line-height: 40px;
  background-color: transparent;
  color: #fff;
}
/* line 42, ../scss/modules/dropdown-input.scss */
.dropdown-input-trigger-container .dropdown-label .toggle-icon {
  line-height: 40px;
}
/* line 47, ../scss/modules/dropdown-input.scss */
.dropdown-input-trigger-container .dropdown-list {
  color: #000;
}

/* line 52, ../scss/modules/dropdown-input.scss */
.dropdown-input-entry {
  width: 100%;
  border: 0;
  font-size: 24px;
  padding: 0 70px 0 10px;
  border-radius: 0 2px 2px 0;
}
/* line 59, ../scss/modules/dropdown-input.scss */
.dropdown-input-entry:focus {
  outline: 0;
}

/* line 64, ../scss/modules/dropdown-input.scss */
.dropdown-input-action-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* line 72, ../scss/modules/dropdown-input.scss */
.dropdown-input-clear {
  display: none;
  position: absolute;
  top: 13px;
  right: 45px;
  font-size: 16px;
  color: #999;
  cursor: pointer;
}
