#seo-form {
    .inline-input {
        width: 30px;
    }

    .inline-label {
        display: inline;
        color: black;

        position: relative;
        top: -8px;
        left: -10px;
    }
}
