//
// Smart Content
// --------------------------------------------------

.smart-content-overlay {
    .column-navigation-slide {
        .overlay-header {
            margin-bottom: 1px;
        }
        .overlay-content {
            margin: 0px;
        }

        .overlay-footer {
            margin: 0px;
        }
    }

    .overlay-header {
        margin-bottom: 15px;
    }
    .overlay-footer {
        margin-top: 5px;
    }
}

.smart-overlay-content {
    height: 100%;
    font-size: $smallFontSize;

    .form-element {
        margin: 0;
    }
    .desc {
        font-size: $baseFontSize;
        color: $grayLight;
        padding-bottom: 5px;
        display: block;
    }
    .item, .item-half {
        margin-bottom: 25px;
        min-height: 55px;
    }
    label {
        color: $black;
        font-size: $smallFontSize;
    }
    .sublabel {
        font-size: $reallySmallFontSize;
        color: $grayLight;
    }
    .item-half {
        float: left;
        width: 270px;
    }
    .item {
        padding-right: 20px;
    }
    .left {
        margin-right: 20px;
    }
    .full {
        padding-right: 0;
    }
    .check {
        margin-top: 30px;
        .description {
            padding-left: 5px;
        }
        &.disabled {
            display: none;
        }
    }
    .sortMethod {
        margin-top: 25px;
    }
    input.limit-to,
    input.data-source {
        padding-left: 10px;
        border-radius: 0;
    }
    .tags.disabled {
        display: none;
    }
    .tag-list {
        border-radius: $borderRadius $borderRadius 0 0;
        input {
            margin: 7px 0 0 0;
        }
    }
}
