@import '../../../../AdminBundle/Resources/public/scss/variables',
        '../../../../AdminBundle/Resources/public/scss/mixins',
        'modules/collection',
        'modules/masonry-decorator',
        'modules/media-selection-overlay',
        'modules/collection-select-overlay',
        'modules/media-edit-overlay',
        'modules/media-play-video-overlay';

