@import '../../containers/Application/colors.scss';

$urlBackgroundColor: $white;
$urlBorderColor: $silver;
$urlButtonColor: $dustyGray;
$urlErrorBorderColor: $persianRed;

.url {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    border: 1px solid $urlBorderColor;
    background-color: $urlBackgroundColor;
    font-size: 12px;

    &.error {
        border-color: $urlErrorBorderColor;
    }

    .protocols {
        color: $urlButtonColor;
        border-right: 1px solid $urlBorderColor;
    }

    input {
        flex-grow: 1;
        border: none;
        height: 28px;
        padding: 0 10px;
    }
}
