@import '../../containers/Application/colors.scss';

$urlBackgroundColor: $white;
$urlBorderColor: $silver;
$urlButtonColor: $dustyGray;
$urlInputColor: $black;
$urlErrorBorderColor: $persianRed;

$urlInputDisabledColor: $gray;
$urlInputDisabledBackgroundColor: $wildSand;

.url {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $urlBorderColor;
    background-color: $urlBackgroundColor;
    font-size: 12px;
    overflow: hidden;

    &.error {
        border-color: $urlErrorBorderColor;
    }

    .protocols {
        color: $urlButtonColor;
        border-right: 1px solid $urlBorderColor;
    }

    input {
        color: $urlInputColor;
        flex-grow: 1;
        border: none;
        padding: 0 10px;
        width: 0;

        &:disabled {
            color: $urlInputDisabledColor;
            background-color: $urlInputDisabledBackgroundColor;
        }
    }
}
