# Ignore everything in this directory
vendor/*

# Except this files
!vendor/.gitignore

# Backbone
!vendor/backbone/backbone.js
!vendor/backbone/backbone-min.js
!vendor/backbone/backbone-min.map

# Backbone Relational
!vendor/backbone-relational/backbone-relational.js

# Husky
!vendor/husky/dist/*

# JQuery
!vendor/jquery/jquery.js
!vendor/jquery/jquery.min.js
!vendor/jquery/jquery.min.map

# RequireJS
!vendor/requirejs/require.js

# RequireJS-Text
!vendor/requirejs-text/text.js

# Underscore
!vendor/underscore/underscore.js
!vendor/underscore/underscore-min.js
!vendor/underscore/underscore-min.map
