<label for="{{ property.name }}" class="pointer {{ (property.mandatory is defined and property.mandatory == true) ? 'required' : '' }}">{{ property.name }}</label>
<input type="text" class="form-element" id="{{ property.name }}"/>
