/*----------------------------------------*/
/* line 1, ../scss/modules/table-view.scss */
.husky-table tbody td .row-gray .cell-content {
  color: #666 !important;
}

/* line 5, ../scss/modules/table-view.scss */
.categories-container {
  max-height: 350px;
  overflow: auto;
}

/* line 2, ../scss/modules/move-overlay.scss */
.move-categories .move-categories-container {
  height: calc(100vh - 250px);
  overflow: scroll;
}
