<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" version="1.2">

    <file source-language="de" datatype="plaintext" original="%uuid_snippet_0%">
        <body>
            <!-- title: text_line -->
            <trans-unit id="0" resname="title">
                <source>Title1</source>
                <target>Title1 imported</target>
            </trans-unit>

            <!-- description: text_editor -->
            <trans-unit id="1" resname="description" datatype="html">
                <source><![CDATA[<p>Description1</p>]]></source>
                <target><![CDATA[<p>Description1 imported</p>]]></target>
            </trans-unit>
        </body>
    </file>

    <file source-language="de" datatype="plaintext" original="%uuid_snippet_1%">
            <body>
                <!-- title: text_line -->
                <trans-unit id="0" resname="title">
                    <source>Title2</source>
                    <target>Title2 imported</target>
                </trans-unit>

                <!-- description: text_editor -->
                <trans-unit id="1" resname="description" datatype="html">
                    <source><![CDATA[<p>Description2</p>]]></source>
                    <target><![CDATA[<p>Description2 imported</p>]]></target>
                </trans-unit>
            </body>
        </file>

</xliff>

