@import '../../containers/Application/colors.scss';

$fieldBlockTypeColor: $gray;

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.type {
    color: $fieldBlockTypeColor;
    margin-right: 10px;
    text-align: right;
    font-size: 10px;
}
