table#codes {

  tbody tr {
    border-color:#fff;
  }

  tbody td {
    vertical-align: top !important;
  }

  textarea {
    font-size: inherit !important;
  }

  textarea[readonly] {
    padding: 10px 0;
    overflow: hidden;
  }

  .additional-options {
    background: #f8f8f8;
  }

  .show-options {
    bottom: -5px;
    left: -15px;
  }

  .custom-icon-arrow-right {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 0 4px 6px;
    border-color: transparent transparent transparent #000000;
  }

  .custom-icon-arrow-down {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #000000 transparent transparent transparent;
  }

}


