@import '../../containers/Application/colors.scss';

$headerTextColor: $white;
$headerCellBackgroundColor: $blueZodiac;
$headerControlCellTextColor: rgba($silverChalice, .25);
$headerControlCellBorderColor: rgba($silverChalice, .25);
$cellTextColor: $blueZodiac;
$cellTextColorActive: $white;
$cellBackgroundColor: $white;
$cellBorderColor: $cellBackgroundColor;
$cellBorderColorActive: $shakespeare;
$cellBackgroundColorActive: $shakespeare;
$controlCellBorderColor: $white;

.table {
    border-collapse: separate;
    border-spacing: 0 5px;
    margin: -5px 0;
    overflow: hidden;
}

.header {
    color: $headerTextColor;

    .row {
        height: 60px;
    }
}

.header-cell {
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    background-color: $headerCellBackgroundColor;

    &:first-child {
        border-radius: 3px 0 0 3px;
    }

    &:last-child {
        border-radius: 0 3px 3px 0;
    }

    & > button {
        height: 60px;
        padding: 20px;
        color: inherit;
        border: none;
        background: none;

        &:not(:disabled) {
            cursor: pointer;
        }
    }
}

.cell,
.header-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
    text-align: left;
}

.header-cell-sort-icon {
    padding-left: 10px;
}

.header-control-cell {
    border-right: 1px solid $headerControlCellBorderColor;
    color: $headerControlCellTextColor;
    text-align: center;
}

.row {
    height: 40px;

    &:hover {
        .cell {
            border-color: $cellBorderColorActive;
        }
    }
}

.cell {
    margin: 0;
    padding: 9px 20px;
    font-size: 12px;
    border-width: 1px 0;
    border-style: solid;
    border-color: $cellBorderColor;
    color: $cellTextColor;
    background-color: $cellBackgroundColor;

    &:first-child {
        border-radius: 3px 0 0 3px;
        border-left-width: 1px;
    }

    &:last-child {
        border-radius: 0 3px 3px 0;
        border-right-width: 1px;
    }
}

.control-cell {
    padding: 0;
    background-color: $cellBackgroundColor;
    color: $cellTextColorActive;
    text-align: center;

    &:hover {
        button {
            visibility: visible;
            background-color: $cellBackgroundColorActive;
            border-right: 1px solid $controlCellBorderColor;
        }
    }

    button {
        visibility: hidden;
        width: 55px;
        height: 38px;
        border: none;
        color: inherit;
        cursor: pointer;
        background-color: transparent;
    }
}
