@import '../../containers/Application/colors.scss';

$headerTextColor: $white;
$headerCellBackgroundColor: $blueZodiac;
$headerControlCellTextColor: rgba($silverChalice, .25);
$headerControlCellBorderColor: rgba($silverChalice, .25);
$cellTextColor: $blueZodiac;
$cellTextColorActive: $white;
$cellBackgroundColor: $white;
$cellBorderColor: $cellBackgroundColor;
$cellBorderColorActive: $shakespeare;
$cellBackgroundColorActive: $shakespeare;
$controlCellBorderColor: $white;

.tableContainer {
    overflow: scroll;
}

.table {
    border-collapse: separate;
    border-spacing: 0 5px;
    margin: -5px 0;
    overflow: hidden;
    
    /* Remove the following lines */
    background: #e5e5e5;
    padding: 10px;
}

.header {
    color: $headerTextColor;

    .row {
        height: 60px;
    }
}

.header-cell {
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    background-color: $headerCellBackgroundColor;

    &:first-child {
        border-radius: 3px 0 0 3px;
    }

    &:last-child {
        border-radius: 0 3px 3px 0;
    }
}

.header-control-cell {
    border-right: 1px solid $headerControlCellBorderColor;
    color: $headerControlCellTextColor;
}

.row {
    height: 40px;

    &:hover {
        .cell {
            border-color: $cellBorderColorActive;
        }

        .control-cell {
            button {
                visibility: visible;
                background-color: $cellBackgroundColorActive;
                border-right: 1px solid $controlCellBorderColor;
            }
        }
    }
}

.cell {
    margin: 0;
    padding: 9px;
    text-align: center;
    font-size: 12px;
    border-width: 1px 0;
    border-style: solid;
    border-color: $cellBorderColor;
    color: $cellTextColor;
    background-color: $cellBackgroundColor;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;

    &:first-child {
        border-radius: 3px 0 0 3px;
        border-width: 1px 0 1px 1px;
    }

    &:last-child {
        border-radius: 0 3px 3px 0;
        border-width: 1px 1px 1px 0;
    }
}

.control-cell {
    padding: 0;
    background-color: $cellBackgroundColor;
    color: $cellTextColorActive;

    button {
        visibility: hidden;
        width: 55px;
        height: 40px;
        border: none;
        color: inherit;
        cursor: pointer;
        background-color: transparent;
    }
}
