<div class="grid">
    <div class="grid-row">
        <div class="grid-col-12">
            <h1>
                <%=translate('tag.tags.title')%>
            </h1>
        </div>
        <div class="grid-col-12">
            {% block options %}
                <div id="list-toolbar-container" class="pull-right"></div>
            {% endblock %}
        </div>
    </div>
</div>

<div id="tags-list"></div>

<div id="dialog"></div>
