{% block options %}
    <div id="list-toolbar-container" class="list-toolbar-container"></div>
{% endblock %}

<div id="tags-list-info"></div>
<div id="tags-list" class="datagrid-container"></div>

<div id="dialog"></div>
