<form id="category-form">
    <div class="grid">
        <div class="grid-row">
            <label for="change-name"><%= translate('public.name') %></label>
            <input class="form-element input-bold" type="text" id="change-name" placeholder="<%= placeholder %>"
                   data-validation-required="true"
                   data-mapper-property="name"/>
        </div>
        <div class="grid-row">
            <label for="change-key"><%= translate('public.key') %></label>
            <input class="form-element" type="text" id="change-key" placeholder="<%= translate('sulu.category.category-key') %>"
                   data-validation-required="false"
                   data-mapper-property="key"/>
        </div>
    </div>
</form>
