<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../TestBundle/Resources/app/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="SuluAutomationBundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="Tests/app"/>
        <var name="APP_DB" value="mysql"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
</phpunit>
