/*----------------------------------------*/
/* line 1, ../scss/modules/general.scss */
#language-selector {
  width: 95px;
}

/* line 33, ../../../../AdminBundle/Resources/public/js/vendor/husky/scss/mixins.scss */
#content-form:after {
  clear: both;
  content: ' ';
  display: block;
}
/* line 8, ../scss/modules/general.scss */
#content-form .highlight-section .content {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 13, ../scss/modules/general.scss */
#content-form .validate-error {
  color: #EA524E;
}

/* line 18, ../scss/modules/general.scss */
.sortable-placeholder {
  margin-bottom: 20px;
}

/* smart content extension for internal links */
/* line 24, ../scss/modules/general.scss */
.smart-header .add {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 16px;
  line-height: 15px;
  color: white;
  background-color: #52b6ca;
  padding: 5px 10px;
  border: 0px solid #ccc;
  border-radius: 2px;
}

/* line 40, ../scss/modules/general.scss */
.node .overlay-content {
  margin: 0px;
}
/* line 44, ../scss/modules/general.scss */
.node .overlay-header {
  margin-bottom: 0px !important;
}
/* line 48, ../scss/modules/general.scss */
.node .overlay-footer {
  margin-top: -1px !important;
}

/* smart content for column view */
/* line 54, ../scss/modules/general.scss */
.column-navigation-wrapper {
  overflow: inherit;
}

/* block add-button */
/* line 60, ../scss/modules/general.scss */
.text-block-footer.full .action .dropdown-label {
  background-color: #ccc;
  cursor: default;
}

/** multiple property */
/* line 68, ../scss/modules/general.scss */
#sulu-content-container .multiple-property .move::before {
  left: -18px;
  top: 2px;
}

/* line 74, ../scss/modules/general.scss */
#changelog-container {
  color: #999;
}

/* line 1, ../scss/modules/seo.scss */
.seo-excerpt {
  background: #fff;
  width: 440px;
  position: relative;
  padding: 10px;
  margin-top: 10px;
}
/* line 8, ../scss/modules/seo.scss */
.seo-excerpt .title {
  color: #1111BD;
  font-size: 16px;
}
/* line 12, ../scss/modules/seo.scss */
.seo-excerpt .url {
  color: #307F3A;
  font-size: 12px;
  line-height: 15px;
}
/* line 17, ../scss/modules/seo.scss */
.seo-excerpt .description {
  font-size: 14px;
  color: #000;
  line-height: 16px;
}

/* line 25, ../scss/modules/seo.scss */
.seo-warning {
  color: #EA524E;
}

/* line 2, ../scss/modules/resource-locator.scss */
.resource-locator input {
  width: 200px;
}
/* line 5, ../scss/modules/resource-locator.scss */
.resource-locator .show {
  padding-left: 5px;
}
/* line 8, ../scss/modules/resource-locator.scss */
.resource-locator .show .icon {
  font-size: 14px;
  padding-right: 2px;
}
/* line 13, ../scss/modules/resource-locator.scss */
.resource-locator .loader {
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 5px;
}

/* line 20, ../scss/modules/resource-locator.scss */
.resource-locator-history {
  list-style-type: none;
  padding: 0 40px 0 30px;
}
/* line 24, ../scss/modules/resource-locator.scss */
.resource-locator-history::after {
  display: table;
  content: "";
  clear: both;
}
/* line 30, ../scss/modules/resource-locator.scss */
.resource-locator-history li::after {
  clear: both;
}
/* line 34, ../scss/modules/resource-locator.scss */
.resource-locator-history .url,
.resource-locator-history .date,
.resource-locator-history .options-delete {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 43, ../scss/modules/resource-locator.scss */
.resource-locator-history .url,
.resource-locator-history .date {
  float: left;
  width: 47.5%;
}
/* line 49, ../scss/modules/resource-locator.scss */
.resource-locator-history .options-delete {
  float: right;
  width: 5%;
  text-align: center;
}
/* line 55, ../scss/modules/resource-locator.scss */
.resource-locator-history .url {
  text-align: left;
}
/* line 58, ../scss/modules/resource-locator.scss */
.resource-locator-history .date {
  text-align: center;
}

/* line 7, ../scss/modules/smart-content.scss */
.husky-overlay-container .data-source-slide .overlay-content {
  margin: 0px;
}
/* line 11, ../scss/modules/smart-content.scss */
.husky-overlay-container .data-source-slide .column-navigation-wrapper .column-navigation {
  height: 381px;
}

/* line 17, ../scss/modules/smart-content.scss */
.smart-overlay-content {
  height: 100%;
  font-size: 12px;
}
/* line 21, ../scss/modules/smart-content.scss */
.smart-overlay-content .form-element {
  margin: 0;
}
/* line 24, ../scss/modules/smart-content.scss */
.smart-overlay-content .desc {
  font-size: 14px;
  color: #999;
  padding-bottom: 5px;
  display: block;
}
/* line 30, ../scss/modules/smart-content.scss */
.smart-overlay-content .item, .smart-overlay-content .item-half {
  margin-bottom: 25px;
  min-height: 55px;
}
/* line 34, ../scss/modules/smart-content.scss */
.smart-overlay-content label {
  color: #000;
  font-size: 12px;
}
/* line 38, ../scss/modules/smart-content.scss */
.smart-overlay-content .sublabel {
  font-size: 10px;
  color: #999;
}
/* line 42, ../scss/modules/smart-content.scss */
.smart-overlay-content .item-half {
  float: left;
  width: 260px;
}
/* line 46, ../scss/modules/smart-content.scss */
.smart-overlay-content .item {
  padding-right: 20px;
}
/* line 49, ../scss/modules/smart-content.scss */
.smart-overlay-content .left {
  margin-right: 20px;
}
/* line 52, ../scss/modules/smart-content.scss */
.smart-overlay-content .full {
  padding-right: 0;
}
/* line 55, ../scss/modules/smart-content.scss */
.smart-overlay-content .check {
  margin-top: 30px;
}
/* line 57, ../scss/modules/smart-content.scss */
.smart-overlay-content .check .description {
  padding-left: 5px;
}
/* line 60, ../scss/modules/smart-content.scss */
.smart-overlay-content .check.disabled {
  display: none;
}
/* line 64, ../scss/modules/smart-content.scss */
.smart-overlay-content .sortMethod {
  margin-top: 25px;
}
/* line 67, ../scss/modules/smart-content.scss */
.smart-overlay-content input.limit-to,
.smart-overlay-content input.data-source {
  padding-left: 10px;
  border-radius: 0;
}
/* line 72, ../scss/modules/smart-content.scss */
.smart-overlay-content .tags.disabled {
  display: none;
}
/* line 75, ../scss/modules/smart-content.scss */
.smart-overlay-content .tag-list {
  border-radius: 3px 3px 0 0;
}
/* line 77, ../scss/modules/smart-content.scss */
.smart-overlay-content .tag-list input {
  margin: 7px 0 0 0;
}

/* line 85, ../scss/modules/smart-content.scss */
.smart-content-container.no-content .header .text {
  display: none;
}

/* line 93, ../scss/modules/smart-content.scss */
.smart-content-container.is-loading .header .text {
  display: none;
}

/**
 * Copy locales
 */
/* line 5, ../scss/modules/node.scss */
.copy-locales-overlay-content,
.copy-locale-overlay-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
}
/* line 11, ../scss/modules/node.scss */
.copy-locales-overlay-content label,
.copy-locale-overlay-content label {
  display: inline-block;
  color: #000;
  vertical-align: top;
  width: 476px;
  white-space: normal;
}
/* line 19, ../scss/modules/node.scss */
.copy-locales-overlay-content label.disabled,
.copy-locale-overlay-content label.disabled {
  color: #999;
  cursor: default;
}
/* line 24, ../scss/modules/node.scss */
.copy-locales-overlay-content .info,
.copy-locale-overlay-content .info {
  font-size: 14px;
  color: #999;
}

/* line 30, ../scss/modules/node.scss */
#copy-locale-overlay-select {
  margin-left: 20px;
  margin-top: 10px;
  width: 50%;
}

/* line 1, ../scss/modules/order-table.scss */
.order-table {
  list-style-type: none;
  padding: 0 40px 0 30px;
}
/* line 5, ../scss/modules/order-table.scss */
.order-table::after {
  display: table;
  content: "";
  clear: both;
}
/* line 11, ../scss/modules/order-table.scss */
.order-table li::after {
  clear: both;
}
/* line 15, ../scss/modules/order-table.scss */
.order-table .node-name,
.order-table .options-select {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 23, ../scss/modules/order-table.scss */
.order-table .node-name {
  text-align: left;
  float: left;
  width: 95%;
}
/* line 29, ../scss/modules/order-table.scss */
.order-table .options-select {
  float: right;
  width: 5%;
  text-align: center;
}

/* line 2, ../scss/modules/webspace-settings.scss */
.webspace-settings.general p.label {
  display: block;
  font-size: 14px;
  color: #999;
  white-space: nowrap;
}
/* line 9, ../scss/modules/webspace-settings.scss */
.webspace-settings.general p.value {
  color: #999;
  font-size: 14px;
}
/* line 13, ../scss/modules/webspace-settings.scss */
.webspace-settings.general p.value.big {
  font-size: 24px;
  line-height: 40px;
  height: 40px;
}
/* line 19, ../scss/modules/webspace-settings.scss */
.webspace-settings.general p.value.bold {
  font-weight: bolder;
}
/* line 24, ../scss/modules/webspace-settings.scss */
.webspace-settings.general .webspace-name {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 2, ../scss/modules/single-internal-link.scss */
.single-internal-link.container {
  position: relative;
  width: 100%;
  height: 32px;
  border: 1px solid #ddd;
  padding: 0 5px;
  font-size: 14px;
  border-radius: 3px;
  background: #fff;
}
/* line 14, ../scss/modules/single-internal-link.scss */
.single-internal-link .choose {
  position: absolute;
  padding: 0 8px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 20px;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 2px;
  color: #fff;
  background: #52B6CA;
}
/* line 29, ../scss/modules/single-internal-link.scss */
.single-internal-link .clear {
  position: absolute;
  right: 10px;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  margin: auto;
  padding-left: 3px;
  text-decoration: none;
  color: #3e3e3e;
}
/* line 42, ../scss/modules/single-internal-link.scss */
.single-internal-link input {
  background-color: #fff;
  padding-left: 40px;
  padding-right: 10px;
  border: 0;
  margin: 0;
  color: #3e3e3e;
}

/* line 2, ../scss/modules/ckeditor.scss */
#ckeditor-form .input-description.matrix {
  margin-top: -20px;
}

/* line 4, ../scss/modules/teaser-selection.scss */
.teaser-selection .white-box .content {
  max-height: inherit;
}
/* line 10, ../scss/modules/teaser-selection.scss */
.teaser-selection .header .fa-plus-circle .dropdown-toggle::after {
  border-top: 6px solid #fff;
}
/* line 14, ../scss/modules/teaser-selection.scss */
.teaser-selection .header .fa-plus-circle .husky-dropdown-trigger {
  width: 45px !important;
}
/* line 19, ../scss/modules/teaser-selection.scss */
.teaser-selection .header .selected-counter {
  left: 75px !important;
}
/* line 23, ../scss/modules/teaser-selection.scss */
.teaser-selection .header .present-as.icon {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 28, ../scss/modules/teaser-selection.scss */
.teaser-selection .header .present-as.icon .selected-text {
  font-size: 14px;
  padding-left: 5px;
}
/* line 35, ../scss/modules/teaser-selection.scss */
.teaser-selection .husky-overlay-container.type-content .overlay-content {
  padding: 0;
}
/* line 39, ../scss/modules/teaser-selection.scss */
.teaser-selection .image .image-content {
  font-size: 46px;
  color: #ddd;
  position: relative;
  top: 8px;
}
/* line 46, ../scss/modules/teaser-selection.scss */
.teaser-selection .view {
  width: 100%;
}
/* line 49, ../scss/modules/teaser-selection.scss */
.teaser-selection .view .value {
  float: left;
  width: 65%;
}
/* line 53, ../scss/modules/teaser-selection.scss */
.teaser-selection .view .value .image {
  float: left;
}
/* line 57, ../scss/modules/teaser-selection.scss */
.teaser-selection .view .value .description {
  line-height: 14px;
  margin-top: -10px;
  margin-bottom: 0;
  font-size: 12px;
}
/* line 65, ../scss/modules/teaser-selection.scss */
.teaser-selection .view .type {
  float: left;
  width: 20%;
}
/* line 70, ../scss/modules/teaser-selection.scss */
.teaser-selection .view .options {
  float: left;
  line-height: 50px;
  width: 15%;
}
/* line 76, ../scss/modules/teaser-selection.scss */
.teaser-selection .view::after {
  clear: both;
}
/* line 81, ../scss/modules/teaser-selection.scss */
.teaser-selection .move, .teaser-selection .num, .teaser-selection .remove {
  vertical-align: top;
  line-height: 50px;
}
/* line 86, ../scss/modules/teaser-selection.scss */
.teaser-selection .remove {
  top: inherit !important;
  margin-top: 5px !important;
}
/* line 91, ../scss/modules/teaser-selection.scss */
.teaser-selection a.btn {
  display: inline-block;
}
/* line 94, ../scss/modules/teaser-selection.scss */
.teaser-selection a.btn.edit-teaser {
  padding: 0;
}
/* line 100, ../scss/modules/teaser-selection.scss */
.teaser-selection .edit .image {
  float: left;
  width: 50px;
}
/* line 104, ../scss/modules/teaser-selection.scss */
.teaser-selection .edit .image .image-content {
  height: 50px;
  overflow: hidden;
  display: inline-block;
}
/* line 110, ../scss/modules/teaser-selection.scss */
.teaser-selection .edit .image img {
  padding: 0 !important;
}
/* line 115, ../scss/modules/teaser-selection.scss */
.teaser-selection .edit .form {
  width: calc(100% - 56px);
  margin-left: 55px;
}
/* line 120, ../scss/modules/teaser-selection.scss */
.teaser-selection .edit .edit-hint {
  width: 100%;
  height: 50px;
  position: relative;
  top: -60px;
  left: 0;
  opacity: 0;
  cursor: pointer;
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}
/* line 130, ../scss/modules/teaser-selection.scss */
.teaser-selection .edit .edit-hint::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  border-radius: 0 0 3px 3px;
}
/* line 143, ../scss/modules/teaser-selection.scss */
.teaser-selection .edit .edit-hint span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}
/* line 150, ../scss/modules/teaser-selection.scss */
.teaser-selection .edit .edit-hint:hover {
  opacity: 1;
}

/* line 159, ../scss/modules/teaser-selection.scss */
.teaser-selection-container .view, .teaser-selection-container .edit {
  display: inline-block;
}
/* line 162, ../scss/modules/teaser-selection.scss */
.teaser-selection-container .view .hidden, .teaser-selection-container .edit .hidden {
  display: none;
}
/* line 167, ../scss/modules/teaser-selection.scss */
.teaser-selection-container .edit {
  width: 90%;
}
