/* line 5, ../scss/modules/preview.scss */
.preview-wrapper {
  overflow: scroll;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  /* because of a css bug in the toolbar */
}

/* line 15, ../scss/modules/preview.scss */
.preview-iframe {
  border: 0;
  height: 100%;
  border-left: 1px solid #666;
}

/* line 21, ../scss/modules/preview.scss */
.preview-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  height: 30px;
  color: #fff;
  font-weight: 100;
}
/* line 30, ../scss/modules/preview.scss */
.preview-toolbar .right {
  float: right;
  background: #3e3e3e;
  height: 100%;
}
/* line 35, ../scss/modules/preview.scss */
.preview-toolbar .right .new-window {
  width: 30px;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  border-left: 1px solid #4d4d4d;
  height: 30px;
}
/* line 47, ../scss/modules/preview.scss */
.preview-toolbar .right .resolutions .drop-down-trigger {
  color: #fff;
  padding: 5px 10px;
}
/* line 52, ../scss/modules/preview.scss */
.preview-toolbar .right .resolutions .dropdown-toggle {
  display: inline-block;
}
/* line 54, ../scss/modules/preview.scss */
.preview-toolbar .right .resolutions .dropdown-toggle::after {
  top: -1px;
  margin-left: 0px;
  margin-right: 5px;
  border-top: 6px solid #fff;
}
/* line 62, ../scss/modules/preview.scss */
.preview-toolbar .right .resolutions .dropdown-menu {
  background: #3e3e3e;
  color: #fff;
  z-index: 105;
  top: 35px;
  left: -5px;
  border: 0;
  width: auto;
}
/* line 74, ../scss/modules/preview.scss */
.preview-toolbar .left {
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: #3e3e3e;
  text-align: center;
  padding-top: 5px;
}

/* line 1, ../scss/modules/basic.scss */
#language-selector {
  width: 95px;
}
