/*----------------------------------------*/
/* line 1, ../scss/modules/preview.scss */
.sulu-content-preview {
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}
/* line 8, ../scss/modules/preview.scss */
.sulu-content-preview::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
/* line 16, ../scss/modules/preview.scss */
.sulu-content-preview .wrapper {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
}
/* line 23, ../scss/modules/preview.scss */
.sulu-content-preview iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
/* line 30, ../scss/modules/preview.scss */
.sulu-content-preview.auto .wrapper {
  width: 100%;
  height: 100%;
}
/* line 34, ../scss/modules/preview.scss */
.sulu-content-preview.auto .viewport {
  width: 100%;
  height: 100%;
}
/* line 39, ../scss/modules/preview.scss */
.sulu-content-preview.desktop {
  background: #999999;
}
/* line 41, ../scss/modules/preview.scss */
.sulu-content-preview.desktop .wrapper {
  width: 100%;
  height: 100%;
}
/* line 45, ../scss/modules/preview.scss */
.sulu-content-preview.desktop .viewport {
  width: 1024px;
  height: 100%;
}
/* line 50, ../scss/modules/preview.scss */
.sulu-content-preview.smartphone {
  background: #999999;
}
/* line 52, ../scss/modules/preview.scss */
.sulu-content-preview.smartphone .wrapper {
  width: 378px;
  height: 794px;
  background-image: url("../img/smartphone_portrait.png");
  background-size: 378px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 115px;
  padding-left: 30px;
}
/* line 62, ../scss/modules/preview.scss */
.sulu-content-preview.smartphone .viewport {
  width: 320px;
  height: 568px;
}
/* line 67, ../scss/modules/preview.scss */
.sulu-content-preview.tablet {
  background: #999999;
}
/* line 69, ../scss/modules/preview.scss */
.sulu-content-preview.tablet .wrapper {
  width: 836px;
  height: 1282px;
  background-image: url("../img/tablet_portrait.png");
  background-size: 836px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 122px;
  padding-left: 30px;
}
/* line 79, ../scss/modules/preview.scss */
.sulu-content-preview.tablet .viewport {
  width: 768px;
  height: 1024px;
}

/* line 86, ../scss/modules/preview.scss */
.sulu-preview-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  height: 30px;
  color: #fff;
  font-weight: 100;
}
/* line 95, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right {
  background: #21272E;
  height: 100%;
  border-radius: 0 0 0 3px;
}
/* line 100, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .new-window {
  width: 30px;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  height: 30px;
  font-size: 18px;
  padding-left: 2px;
  line-height: 24px;
}
/* line 111, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .refresh {
  width: 30px;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  height: 30px;
  font-size: 18px;
  padding-left: 2px;
  line-height: 24px;
  border-right: 1px solid #fff;
}
/* line 123, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .start {
  width: 30px;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  height: 30px;
  font-size: 18px;
  padding-left: 2px;
  line-height: 24px;
  border-right: 1px solid #fff;
}
/* line 135, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions {
  border-right: 1px solid #fff;
  min-width: 125px;
}
/* line 139, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .drop-down-trigger {
  color: #fff;
  padding: 5px 10px;
}
/* line 144, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .dropdown-toggle {
  display: inline-block;
}
/* line 146, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .dropdown-toggle::after {
  top: -1px;
  margin-left: 5px;
  margint-right: 0;
  border-top: 6px solid #fff;
}
/* line 154, ../scss/modules/preview.scss */
.sulu-preview-toolbar .right .resolutions .dropdown-menu {
  background: #21272E;
  color: #fff;
  z-index: 105;
  top: 35px;
  left: -5px;
  border: 0;
  width: 100%;
}
/* line 166, ../scss/modules/preview.scss */
.sulu-preview-toolbar .left {
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: #21272E;
  text-align: center;
  line-height: 28px;
  border-radius: 0 0 0 2px;
  font-size: 20px;
  line-height: 32px;
}

@media only screen and (max-width: 900px) {
  /* line 183, ../scss/modules/preview.scss */
  .sulu-preview-toolbar .resolutions {
    display: none;
  }
  /* line 186, ../scss/modules/preview.scss */
  .sulu-preview-toolbar .new-window {
    border-radius: 0 0 0 2px;
  }
}
/* line 192, ../scss/modules/preview.scss */
.hidden .sulu-preview-toolbar {
  display: none;
}

/* line 196, ../scss/modules/preview.scss */
.v-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 101;
  height: 40px;
  width: 180px;
}
/* line 204, ../scss/modules/preview.scss */
.v-center .btn {
  margin-left: -90px;
  margin-right: 90px;
  overflow: hidden;
  text-align: center;
  color: #000000;
}

/* line 1, ../scss/modules/general.scss */
#language-selector {
  width: 95px;
}

/* line 5, ../scss/modules/general.scss */
.sortable-placeholder {
  margin-bottom: 20px;
}

/* smart content extension for internal links */
/* line 11, ../scss/modules/general.scss */
.smart-header .add {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 16px;
  line-height: 15px;
  color: white;
  background-color: #52b6ca;
  padding: 5px 10px;
  border: 0px solid #ccc;
  border-radius: 2px;
}

/* line 29, ../scss/modules/general.scss */
.internal-links-overlay .overlay-header,
.single-internal-overlay .overlay-header,
.overlay-container .overlay-header {
  margin-bottom: 1px;
}
/* line 32, ../scss/modules/general.scss */
.internal-links-overlay .overlay-content,
.single-internal-overlay .overlay-content,
.overlay-container .overlay-content {
  margin: 0px;
}
/* line 36, ../scss/modules/general.scss */
.internal-links-overlay .overlay-footer,
.single-internal-overlay .overlay-footer,
.overlay-container .overlay-footer {
  margin: 0px;
}

/* smart content for column view */
/* line 42, ../scss/modules/general.scss */
.column-navigation-wrapper {
  overflow: inherit;
}

/* block add-button */
/* line 48, ../scss/modules/general.scss */
.text-block-footer.full .action .dropdown-label {
  background-color: #ccc;
  cursor: default;
}

/** multiple property */
/* line 56, ../scss/modules/general.scss */
#sulu-content-container .multiple-property .move::before {
  left: -18px;
  top: 2px;
}

/* line 62, ../scss/modules/general.scss */
#changelog-container {
  color: #999;
}

/* line 1, ../scss/modules/seo.scss */
.seo-excerpt {
  background: #fff;
  width: 440px;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 8, ../scss/modules/seo.scss */
.seo-excerpt .title {
  color: #1111BD;
  font-size: 16px;
}
/* line 12, ../scss/modules/seo.scss */
.seo-excerpt .url {
  color: #307F3A;
  font-size: 12px;
  line-height: 15px;
}
/* line 17, ../scss/modules/seo.scss */
.seo-excerpt .description {
  font-size: 14px;
  color: #000;
  line-height: 16px;
}

/* line 25, ../scss/modules/seo.scss */
.seo-warning {
  color: #EA524E;
}

/* line 2, ../scss/modules/resource-locator.scss */
.resource-locator input {
  width: 200px;
}
/* line 5, ../scss/modules/resource-locator.scss */
.resource-locator .show {
  padding-left: 5px;
}
/* line 8, ../scss/modules/resource-locator.scss */
.resource-locator .show .icon {
  font-size: 14px;
  padding-right: 2px;
}
/* line 13, ../scss/modules/resource-locator.scss */
.resource-locator .loader {
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 5px;
}

/* line 20, ../scss/modules/resource-locator.scss */
.resource-locator-history {
  list-style-type: none;
  padding: 0 40px 0 30px;
}
/* line 24, ../scss/modules/resource-locator.scss */
.resource-locator-history::after {
  display: table;
  content: "";
  clear: both;
}
/* line 30, ../scss/modules/resource-locator.scss */
.resource-locator-history li::after {
  clear: both;
}
/* line 34, ../scss/modules/resource-locator.scss */
.resource-locator-history .url,
.resource-locator-history .date,
.resource-locator-history .options-restore,
.resource-locator-history .options-delete {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 44, ../scss/modules/resource-locator.scss */
.resource-locator-history .url,
.resource-locator-history .date {
  float: left;
  width: 45%;
}
/* line 50, ../scss/modules/resource-locator.scss */
.resource-locator-history .options-restore {
  float: left;
  width: 5%;
  text-align: center;
}
/* line 56, ../scss/modules/resource-locator.scss */
.resource-locator-history .options-delete {
  float: right;
  width: 5%;
  text-align: center;
}
/* line 62, ../scss/modules/resource-locator.scss */
.resource-locator-history .url {
  text-align: left;
}
/* line 65, ../scss/modules/resource-locator.scss */
.resource-locator-history .date {
  text-align: center;
}

/* line 7, ../scss/modules/smart-content.scss */
.smart-content-overlay .column-navigation-slide .overlay-header {
  margin-bottom: 1px;
}
/* line 10, ../scss/modules/smart-content.scss */
.smart-content-overlay .column-navigation-slide .overlay-content {
  margin: 0px;
}
/* line 14, ../scss/modules/smart-content.scss */
.smart-content-overlay .column-navigation-slide .overlay-footer {
  margin: 0px;
}
/* line 19, ../scss/modules/smart-content.scss */
.smart-content-overlay .overlay-header {
  margin-bottom: 15px;
}
/* line 22, ../scss/modules/smart-content.scss */
.smart-content-overlay .overlay-footer {
  margin-top: 5px;
}

/* line 27, ../scss/modules/smart-content.scss */
.smart-overlay-content {
  height: 100%;
  font-size: 12px;
}
/* line 31, ../scss/modules/smart-content.scss */
.smart-overlay-content .form-element {
  margin: 0;
}
/* line 34, ../scss/modules/smart-content.scss */
.smart-overlay-content .desc {
  font-size: 14px;
  color: #999;
  padding-bottom: 5px;
  display: block;
}
/* line 40, ../scss/modules/smart-content.scss */
.smart-overlay-content .item, .smart-overlay-content .item-half {
  margin-bottom: 25px;
  min-height: 55px;
}
/* line 44, ../scss/modules/smart-content.scss */
.smart-overlay-content label {
  color: #000;
  font-size: 12px;
}
/* line 48, ../scss/modules/smart-content.scss */
.smart-overlay-content .sublabel {
  font-size: 10px;
  color: #999;
}
/* line 52, ../scss/modules/smart-content.scss */
.smart-overlay-content .item-half {
  float: left;
  width: 270px;
}
/* line 56, ../scss/modules/smart-content.scss */
.smart-overlay-content .item {
  padding-right: 20px;
}
/* line 59, ../scss/modules/smart-content.scss */
.smart-overlay-content .left {
  margin-right: 20px;
}
/* line 62, ../scss/modules/smart-content.scss */
.smart-overlay-content .full {
  padding-right: 0;
}
/* line 65, ../scss/modules/smart-content.scss */
.smart-overlay-content .check {
  margin-top: 30px;
}
/* line 67, ../scss/modules/smart-content.scss */
.smart-overlay-content .check .description {
  padding-left: 5px;
}
/* line 70, ../scss/modules/smart-content.scss */
.smart-overlay-content .check.disabled {
  display: none;
}
/* line 74, ../scss/modules/smart-content.scss */
.smart-overlay-content .sortMethod {
  margin-top: 25px;
}
/* line 77, ../scss/modules/smart-content.scss */
.smart-overlay-content input.limit-to,
.smart-overlay-content input.data-source {
  padding-left: 10px;
  border-radius: 0;
}
/* line 82, ../scss/modules/smart-content.scss */
.smart-overlay-content .tags.disabled {
  display: none;
}
/* line 85, ../scss/modules/smart-content.scss */
.smart-overlay-content .tag-list {
  border-radius: 3px 3px 0 0;
}
/* line 87, ../scss/modules/smart-content.scss */
.smart-overlay-content .tag-list input {
  margin: 7px 0 0 0;
}

/**
 * Copy locales
 */
/* line 5, ../scss/modules/node.scss */
.copy-locales-overlay-content,
.copy-locale-overlay-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
}
/* line 11, ../scss/modules/node.scss */
.copy-locales-overlay-content label,
.copy-locale-overlay-content label {
  display: inline;
  color: #000;
}
/* line 16, ../scss/modules/node.scss */
.copy-locales-overlay-content label.disabled,
.copy-locale-overlay-content label.disabled {
  color: #999;
  cursor: default;
}
/* line 21, ../scss/modules/node.scss */
.copy-locales-overlay-content .info,
.copy-locale-overlay-content .info {
  font-size: 14px;
  color: #999;
}

/* line 27, ../scss/modules/node.scss */
#copy-locale-overlay-select {
  margin-left: 20px;
  margin-top: 10px;
  width: 50%;
}

/* line 1, ../scss/modules/order-table.scss */
.order-table {
  list-style-type: none;
  padding: 0 40px 0 30px;
}
/* line 5, ../scss/modules/order-table.scss */
.order-table::after {
  display: table;
  content: "";
  clear: both;
}
/* line 11, ../scss/modules/order-table.scss */
.order-table li::after {
  clear: both;
}
/* line 15, ../scss/modules/order-table.scss */
.order-table .node-name,
.order-table .options-select {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 23, ../scss/modules/order-table.scss */
.order-table .node-name {
  text-align: left;
  float: left;
  width: 95%;
}
/* line 29, ../scss/modules/order-table.scss */
.order-table .options-select {
  float: right;
  width: 5%;
  text-align: center;
}
