/* line 5, ../scss/modules/preview.scss */
.previewWrapper {
  overflow: scroll;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  /* because of a css bug in the toolbar */
}

/* line 15, ../scss/modules/preview.scss */
.previewIframe {
  border: 0;
  height: 100%;
  border-left: 1px solid #666;
}

/* line 21, ../scss/modules/preview.scss */
.previewToolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  height: 30px;
  color: #fff;
}
/* line 33, ../scss/modules/preview.scss */
.previewToolbar .left {
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: #3e3e3e;
  text-align: center;
}
