@import '../../containers/Application/colors.scss';

$radius: 8px;
$color: $blueZodiac;
$borderWidth: 3px;
$borderColor: $white;
$marginBottom: 10px;
$fontSize: 12px;

.radio {
    display: flex;
    margin-bottom: $marginBottom;
    align-items: center;
    cursor: pointer;

    & > span:nth-child(1) {
        display: block;
        width: calc(2 * $radius);
        height: calc(2 * $radius);
        position: relative;
    }

    & > span:nth-child(2) {
        display: block;
        margin-left: 10px;
        font-size: $fontSize;
    }

    input {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
    }

    input + span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $radius;
        background: $wildSand;
        border: $borderWidth solid $borderColor;
    }

    input:checked + span {
        background: $color;
    }
}
