@import '../../components/Overlay/variables.scss';
@import '../../components/ColumnList/variables.scss';

.list {
    padding: 30px 60px 60px;
}

.overlay {
    &.adapter-container.column_list {
        margin-top: -$columnBorderWidth;
        height: calc(100vh - $overlayHeaderHeight - $overlayFooterHeight - $overlayMarginBottom);
        overflow: hidden;
    }

    .adapter.column_list {
        padding: 0;
        height: calc(100vh - $overlayHeaderHeight - $overlayFooterHeight - $overlayMarginBottom + $columnBorderWidth);
    }
}

.dialog {
    text-align: left;
    margin: 0 -30px -30px;

    &.adapter-container.column_list {
        height: calc(100vh - $overlayHeaderHeight - $overlayFooterHeight - $overlayMarginBottom);
        overflow: hidden;
    }

    .adapter.column_list {
        padding: 0;
        height: calc(100vh - $overlayHeaderHeight - $overlayFooterHeight - $overlayMarginBottom + $columnBorderWidth);
    }
}
