<form id="media-copyright" class="grid">
    <div class="grid-row">
        <div class="grid-col-12">
            <div class="form-group m-bottom-20">
                <label for="media-edit-copyright"><%= translate('sulu.media.copyright-information') %></label>
                <textarea id="media-edit-copyright"
                          class="form-element"
                          data-mapper-property="copyright"></textarea>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-col-12">
            <div class="form-group m-bottom-20">
                <label for="media-edit-credits"><%= translate('sulu.media.credits-information') %></label>
                <textarea id="media-edit-credits"
                          class="form-element"
                          data-mapper-property="credits"></textarea>
            </div>
        </div>
    </div>
</form>
