<form id="media-info" class="grid">
    <div class="grid-row">
        <div class="grid-col-4 media-info-preview">
            <div class="<%= icon %> icon media-edit-preview-image">
<% if (!!media.thumbnails && !!media.thumbnails[thumbnailFormat]) { %>
                <img src="<%=media.thumbnails[thumbnailFormat]%>"/>
<% } %>
                <div id="file-version-change" class="file-version-change"></div>
            </div>
            <span class="description action-navigator"><%= crop(media.mimeType + ',' + formatBytes(media.size), 32) %></span>
        </div>
        <div class="grid-col-8">
            <div class="form-group m-bottom-20">
                <label for="media-edit-title"><%= translate('public.title') %></label>
                <input class="form-element" type="text" id="media-edit-title" value=""
                       data-validation-required="true"
                       data-mapper-property="title"/>
            </div>
            <div class="form-group">
                <label for="media-edit-description"><%= translate('public.description') %></label>
                <textarea class="small noResize form-element description" id="media-edit-description"
                          data-mapper-property="description"></textarea>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <label for="media-info-<%= media.id %>"><%= translate('public.tags') %></label>

        <div id="media-tags"
             data-mapper-property="tags"
             data-type="tagList"
             data-form="true"
             data-aura-component="auto-complete-list@husky"
             data-aura-instance-name="media-info-<%= media.id %>"
             data-aura-remote-url="/admin/api/tags?flat=true&sortBy=name&searchFields=name"
             data-aura-get-parameter="search">
        </div>
    </div>
</form>
