<form id="media-preview" class="grid">
    <div class="grid-row">
        <% if (!!media.thumbnails && !!media.thumbnails['200x200']) { %>
        <div class="grid-col-6">
            <div class="media-edit-preview-image"
                 style="background-image: url('<%=media.thumbnails['200x200']%>');">
                <div id="preview-img-change"></div>
            </div>
        </div>
        <div class="grid-col-6">
            <% } else { %>
            <div class="grid-col-12">
                <% } %>
            </div>
        </div>
    </div>
</form>
