<form id="media-preview" class="grid">
    <div class="grid-row">
        <div class="grid-col-4">
            <div class="media-edit-preview-image-container">
                <% if (!!media.thumbnails && !!media.thumbnails['sulu-260x']) { %>
                    <div class="media-edit-preview-image">
                        <img src="<%=media.thumbnails['sulu-260x']%>"/>
                    </div>
                <% } else { %>
                        <div class="media-edit-preview-image"></div>
                <% } %>
                    <div id="preview-image-change"></div>
                </div>
            </div>
        </div>
        <div class="grid-col-6"></div>
    </div>
</form>
