@import 'sulu-admin-bundle/containers/Application/colors.scss';

$containerBackgroundColor: $white;
$containerBorderColor: $alto;
$metaInfoTextColor: $silverChalice;
$mediaOverlayBackgroundColor: rgba($black, .5);
$mediaOverlayIconTextColor: $white;
$containerBorderRadius: 3px;
$imageBorderRadiusBottom: $containerBorderRadius;

.media-card {
    width: 260px;
    border-radius: $containerBorderRadius;
    border: 1px solid $containerBorderColor;
    background-color: $containerBackgroundColor;

    &:hover,
    &.selected {
        .checkbox {
            margin-left: 0;
        }
    }
}

.header {
    position: relative;
    padding: 20px;
    cursor: pointer;
}

.header-click-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.checkbox {
    margin-left: -26px;
    transition: margin-left .15s linear;
}

.title {
    pointer-events: none;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: hidden;
}

.title-text {
    width: 160px;
}

.meta {
    color: $metaInfoTextColor;
    font-size: 10px;
}

.media {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-image: url("./checkerBackground.gif");

    img {
        width: 100%;
        display: block;
        transform: scale(1);
        border-radius: 0 0 $imageBorderRadiusBottom;
        transition: transform .2s linear;
    }

    &:hover {
        .media-overlay {
            opacity: 1;
        }

        img {
            transform: scale(1.05);
        }
    }
}

.media-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: $mediaOverlayBackgroundColor;
    transition: opacity .2s linear;
}

.media-icon {
    display: flex;
    color: $mediaOverlayIconTextColor;
    font-size: 20px;
}
