<form class="form-horizontal" id="permissions-form">
    <div class="changeListener">
        <div class="grid-row small">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="username" class="required"><%=translate('security.permission.username')%></label>
                    <input name="username" id="username" type="text" class="form-element" value="<%= (!!user) ? user.username : '' %>" data-validation-required="true" data-validation-min-length="3"/>
                </div>
            </div>
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="email"><%=translate('security.permission.email')%></label>
                    <div data-form="true"
                         data-value="<%= (!!user) ? user.email : '' %>"
                         data-type="husky-input"
                         data-aura-component="input@husky"
                         data-aura-skin="email"
                         data-aura-instance-name="email"
                         data-aura-input-id="email"
                         data-aura-input-name="email"></div>
                </div>
            </div>
        </div>

        <div class="grid-row small">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="password"><%=translate('security.permission.password')%></label>
                    <input name="password" id="password" type="password" class="form-element" data-validation-equal="passwords"/>
                </div>
            </div>
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="passwordRepeat"><%=translate('security.permission.passwordRepeat')%></label>
                    <input name="passwordRepeat" id="passwordRepeat" type="password" class="form-element" data-validation-equal="passwords"/>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-6">
                <div class="form-group">
                    <label for="locale"><%=translate('security.permission.locale')%></label>

                    <div id="systemLanguage"></div>
                </div>
            </div>
            <div class="grid-col-6"></div>
        </div>
        <div class="grid-row">
            <h2 class="divider">
                <%=translate('security.permission.titlePermissions')%></h2>

            <div id="permissions-grid"></div>
        </div>
    </div>
</form>
