<form class="form-horizontal" id="role-form">
    <% if(!!data.id) { %>
    <input id="id" type="hidden" value="<%= data.id %>"/>
    <% } %>
    <div class="grid-row small">
        <div class="grid-col-12">
            <div class="form-group">
                <label for="name" class="required"><%= translate('security.roles.name') %></label>
                <input class="form-element input-bold" type="text" id="name" value="<%= data.name %>"
                       data-validation-required="true"/>
            </div>
        </div>
    </div>
    <div class="grid-row small">
        <div class="grid-col-6">
            <div class="form-group">
                <label for="system" class="required"><%= translate('security.roles.system') %></label>
                <div id="system"
                     data-aura-component="select@husky"
                     data-aura-instance-name="system"
                     data-aura-default-label="<%=translate('dropdown.please-choose')%>"
                     data-aura-data='{{ systems|json_encode() }}'
                    <% if(data.system == '') { %>
                     data-aura-pre-selected-elements='["{{ systems[0] }}"]'
                    <% } else { %>
                     data-aura-pre-selected-elements='["<%= data.system %>"]'
                    <% } %>
                     ></div>
            </div>
        </div>

        {% if (security_types) %}
        <div class="grid-col-6">
            <div class="form-group">
                <label for="security-type"><%= translate('security.roles.security-type') %></label>
                <div id="security-type"
                     data-aura-component="select@husky"
                     data-aura-instance-name="security-type"
                     data-aura-default-label="<%=translate('dropdown.please-choose')%>"
                     data-aura-data='{{ security_types|json_encode() }}'
                    <% if(data.securityType) { %>
                    data-aura-pre-selected-elements='["<%= data.securityType.name %>"]'
                    <% } %>
                ></div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="grid-row">
        <h2 class="divider"><%= translate('security.roles.permissions') %></h2>

        <div id="change-all" class="btn fit m-bottom-20">
            <%= translate('security.roles.none') %>
        </div>

        <div id="matrix-container"></div>
    </div>
</form>
