@import '../../containers/Application/colors.scss';

$textareaBorderColor: $silver;
$textareaErrorBorderColor: $persianRed;

.text-area {
    width: 100%;
    min-height: 75px;
    padding: 10px;
    border: 1px solid $textareaBorderColor;
    border-radius: 3px;
    resize: vertical;
    font-size: 12px;
    line-height: 20px;

    &.error {
        border-color: $textareaErrorBorderColor;
    }
}
