<form id="address-form" class="form-vertical">
    <div id="addresses">
        <div class="addresses-item m-bottom-10">


            <!-- TODO remove old address type -->
            <div class="grid-row m-bottom-0">
                <div class="m-bottom-10 pull-left">
                    <input type="hidden" data-mapper-property="id" class="id-value"/>
                    <label class="pull-left hidden">
                            <span class=""
                                  data-form="true"
                                  data-mapper-property="addressType"
                                  data-type="label"
                                  data-type-label="name"
                                  data-type-id="id">
                            </span>
                    </label>
                </div>
            </div>

            <div class="grid-row small">
                <div class="grid-col-6">
                    <label for="addressType"><%=translate('contact.address.type')%></label>
                </div>

                <div class="grid-col-4 form-horizontal">
                    <div class="form-group">
                        <label for="primaryAddress"><%=translate('contact.address.primaryAddress')%></label>
                        <div>
                            <div class="custom-checkbox">
                                <input id="primaryAddress" type="checkbox" class="form-element" data-mapper-property="primaryAddress"/>
                                <span class="icon"></span></div>
                        </div>
                    </div>
                </div>

            </div> <!-- first row -->

            <div class="grid-row small">
                <div class="grid-col-6">
                    <!--<div id="addressType"-->
                    <!--data-aura-component="select@husky"-->
                    <!--data-aura-data="[]"-->
                    <!--data-aura-default-label="<%=translate('contact.address.type.select')%>"-->
                    <!--data-aura-value-name="translation"-->
                    <!--data-aura-multiple-select="false"-->
                    <!--data-aura-instance-name="addressType"-->
                    <!--data-type-label="translation"-->
                    <!--data-type-required="translation"-->
                    <!--data-mapper-property="addressType"-->
                    <!--data-type="husky-select"-->
                    <!--data-validation-required="true"-->
                    <!--data-aura-pre-selected-elements="[]"-->
                    <!--data-form="true">-->
                    <!--</div>-->
                </div>

                <div class="grid-col-6 form-horizontal">
                    <div class="form-group">
                        <label for="billingAddress"><%=translate('contact.address.billingAddress')%></label>
                        <div>
                            <div class="custom-checkbox">
                                <input id="billingAddress" type="checkbox" class="form-element" data-mapper-property="billingAddress"/>
                                <span class="icon"></span></div>
                        </div>
                    </div>
                </div>
            </div> <!-- second row -->


            <div class="grid-row">
                <div class="grid-col-6"></div>
                <div class="grid-col-6 form-horizontal">
                    <div class="form-group">
                        <label for="deliveryAddress"><%=translate('contact.address.deliveryAddress')%></label>
                        <div>
                            <div class="custom-checkbox">
                                <input id="deliveryAddress" type="checkbox" class="form-element" data-mapper-property="deliveryAddress"/>
                                <span class="icon"></span></div>
                        </div>
                    </div>
                </div>
            </div> <!-- third row -->

            <hr class="dark-divider"/>

            <div class="grid-row small">
                <div class="grid-col-6">
                    <div class="form-group-vertical">
                        <label for="street"><%=translate('contact.address.street')%></label>
                        <input id="street" type="text" class="form-element street-value"
                               data-mapper-property="street"/>
                    </div>
                </div>
                <div class="grid-col-2">
                    <div class="form-group-vertical">
                        <label for="number"><%=translate('contact.address.number')%></label>
                        <input id="number" type="text" class="form-element number-value"
                               data-mapper-property="number"/>
                    </div>
                </div>
                <div class="grid-col-4">
                    <div class="form-group-vertical">
                        <label for="addition"><%=translate('contact.address.additional')%></label>
                        <input id="addition" type="text" class="form-element addition-value"
                               data-mapper-property="addition"/>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="grid-col-2">
                    <div class="form-group-vertical">
                        <label for="zip"><%=translate('contact.address.zip')%></label>
                        <input id="zip" type="text" class="form-element zip-value"
                               data-mapper-property="zip"/>
                    </div>
                </div>
                <div class="grid-col-4">
                    <div class="form-group-vertical">
                        <label for="city"><%=translate('contact.address.city')%></label>
                        <input id="city" type="text" class="form-element city-value"
                               data-mapper-property="city"/>
                    </div>
                </div>
                <div class="grid-col-2">
                    <div class="form-group-vertical">
                        <label for="state"><%=translate('contact.address.state')%></label>
                        <input id="state" type="text" class="form-element state-value"
                               data-mapper-property="state"/>
                    </div>
                </div>
                <div class="grid-col-4">
                    <div class="form-group-vertical">
                        <label for="country-select"><%=translate('contact.address.country')%></label>

                        <select id="country" class="country-value form-element" data-mapper-property="country"
                                data-type="select">
                            <% _.each(countries, function(country) { if(country.id === 15) { %>
                            <option value="<%= country.id %>" selected><%=translate(country.name)%></option>
                            <% } else { %>
                            <option value="<%= country.id %>"><%=translate(country.name)%></option>
                            <% } }); %>
                        </select>

                        <div id="country-select"></div>
                    </div>
                </div>
            </div>

            <hr class="dark-divider"/>

            <div class="grid-row m-bottom-40">
                <div class="grid-col-6">
                    <div class="form-group-vertical">
                        <label for="postboxNumber"><%=translate('contact.address.postbox.number')%></label>
                        <input id="postboxNumber" type="text" class="form-element"
                               data-mapper-property="postboxNumber"/>
                    </div>
                </div>
                <div class="grid-col-2">
                    <div class="form-group-vertical">
                        <label for="postboxPostcode"><%=translate('contact.address.postbox.postcode')%></label>
                        <input id="postboxPostcode" type="text" class="form-element"
                               data-mapper-property="postboxPostcode"/>
                    </div>
                </div>
                <div class="grid-col-4">
                    <div class="form-group-vertical">
                        <label for="postboxCity"><%=translate('contact.address.postbox.city')%></label>
                        <input id="postboxCity" type="text" class="form-element"
                               data-mapper-property="postboxCity"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
