/node_modules/
/vendor/
/composer.phar
/composer.lock
/.sass-cache/
*~

# temp file / folders
TEMP_*/

# IDEs
.idea/*
*.iml

# Jackrabbit
/bin/jackrabbit-standalone*
/bin/jackrabbit/*

# test cache
/Tests/Resources/app/admin/cache/*
/Tests/Resources/app/admin/logs/*
