/* line 2, ../scss/modules/utility.scss */
#contact-form img.logo {
  padding-top: 30px;
  max-height: 140px;
}
/* line 7, ../scss/modules/utility.scss */
#contact-form .control-label {
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;
}
/* line 15, ../scss/modules/utility.scss */
#contact-form div.remove-email,
#contact-form div.remove-phone,
#contact-form div.remove-address {
  display: none;
}
/* line 21, ../scss/modules/utility.scss */
#contact-form #phones div:hover > div.remove-phone,
#contact-form #addresses div:hover > div.remove-address,
#contact-form #emails div:hover > div.remove-email {
  display: block;
}
/* line 27, ../scss/modules/utility.scss */
#contact-form #emails .husky-validate-success label::after,
#contact-form #phones .husky-validate-success label::after,
#contact-form #addresses .husky-validate-success label::after {
  content: "";
}
/* line 31, ../scss/modules/utility.scss */
#contact-form .address-add {
  padding: 3px;
}
/* line 35, ../scss/modules/utility.scss */
#contact-form .m-left-140 {
  margin-left: 140px;
}
/* line 39, ../scss/modules/utility.scss */
#contact-form .address-remove {
  display: none;
  padding: 3px;
}
/* line 44, ../scss/modules/utility.scss */
#contact-form .address-row:hover .address-remove {
  display: inline;
}

/* line 50, ../scss/modules/utility.scss */
.dark-divider {
  height: 0;
  margin: 0 0 20px 0;
  border: 0;
  outline: none;
  border-bottom: 1px solid #ccc;
}

/* line 58, ../scss/modules/utility.scss */
#contact-options-dropdown {
  display: none;
}
/* line 61, ../scss/modules/utility.scss */
#contact-options-dropdown.is-active {
  display: block;
}

/* line 68, ../scss/modules/utility.scss */
#contact-edit-form:hover #contact-options-dropdown {
  display: block;
}
/* line 74, ../scss/modules/utility.scss */
#contact-edit-form .comma-before:before {
  content: ',';
  margin-left: -4px;
  margin-right: 4px;
}
/* line 81, ../scss/modules/utility.scss */
#contact-edit-form label {
  line-height: 14px;
  text-overflow: hidden;
}
/* line 84, ../scss/modules/utility.scss */
#contact-edit-form label.hidden {
  display: none;
}

/* line 91, ../scss/modules/utility.scss */
.form-horizontal .form-group .checkbox-container-left {
  text-align: left;
  width: 35px;
}
