/*----------------------------------------*/
/* line 2, ../scss/modules/utility.scss */
#contact-form img.logo, #account-form img.logo, #financials-form img.logo {
  padding-top: 30px;
  max-height: 140px;
}
/* line 7, ../scss/modules/utility.scss */
#contact-form .highlight-section .content, #account-form .highlight-section .content, #financials-form .highlight-section .content {
  padding: 20px 50px 0 20px;
}
/* line 11, ../scss/modules/utility.scss */
#contact-form .control-label, #account-form .control-label, #financials-form .control-label {
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;
}
/* line 17, ../scss/modules/utility.scss */
#contact-form div.remove-email,
#contact-form div.remove-phone,
#contact-form div.remove-address, #account-form div.remove-email,
#account-form div.remove-phone,
#account-form div.remove-address, #financials-form div.remove-email,
#financials-form div.remove-phone,
#financials-form div.remove-address {
  display: none;
}
/* line 23, ../scss/modules/utility.scss */
#contact-form #phones div:hover > div.remove-phone,
#contact-form #addresses div:hover > div.remove-address,
#contact-form #emails div:hover > div.remove-email, #account-form #phones div:hover > div.remove-phone,
#account-form #addresses div:hover > div.remove-address,
#account-form #emails div:hover > div.remove-email, #financials-form #phones div:hover > div.remove-phone,
#financials-form #addresses div:hover > div.remove-address,
#financials-form #emails div:hover > div.remove-email {
  display: block;
}
/* line 29, ../scss/modules/utility.scss */
#contact-form #emails .husky-validate-success label::after,
#contact-form #phones .husky-validate-success label::after,
#contact-form #addresses .husky-validate-success label::after, #account-form #emails .husky-validate-success label::after,
#account-form #phones .husky-validate-success label::after,
#account-form #addresses .husky-validate-success label::after, #financials-form #emails .husky-validate-success label::after,
#financials-form #phones .husky-validate-success label::after,
#financials-form #addresses .husky-validate-success label::after {
  content: "";
}
/* line 35, ../scss/modules/utility.scss */
#contact-form .m-left-140, #account-form .m-left-140, #financials-form .m-left-140 {
  margin-left: 140px;
}
/* line 39, ../scss/modules/utility.scss */
#contact-form .bank-account-remove,
#contact-form .address-remove, #account-form .bank-account-remove,
#account-form .address-remove, #financials-form .bank-account-remove,
#financials-form .address-remove {
  display: none;
  padding: 3px;
}
/* line 45, ../scss/modules/utility.scss */
#contact-form .address-row, #account-form .address-row, #financials-form .address-row {
  padding-top: 5px;
}
/* line 49, ../scss/modules/utility.scss */
#contact-form .bank-account-row:hover .bank-account-remove,
#contact-form .address-row:hover .address-remove, #account-form .bank-account-row:hover .bank-account-remove,
#account-form .address-row:hover .address-remove, #financials-form .bank-account-row:hover .bank-account-remove,
#financials-form .address-row:hover .address-remove {
  display: inline;
}

/* line 56, ../scss/modules/utility.scss */
.dark-divider {
  height: 0;
  margin: 0 0 20px 0;
  border: 0;
  outline: none;
  border-bottom: 1px solid #ccc;
}

/* line 64, ../scss/modules/utility.scss */
#contact-options-dropdown {
  display: block;
  cursor: pointer;
}

/* line 71, ../scss/modules/utility.scss */
#contact-edit-form .comma-before:before {
  content: ',';
  margin-left: -4px;
  margin-right: 4px;
}
/* line 78, ../scss/modules/utility.scss */
#contact-edit-form label {
  line-height: 14px;
  text-overflow: hidden;
}
/* line 81, ../scss/modules/utility.scss */
#contact-edit-form label.hidden {
  display: none;
}

/* line 87, ../scss/modules/utility.scss */
#categories .husky-datagrid .husky-table {
  overflow: auto;
  max-height: 350px;
}

/* line 92, ../scss/modules/utility.scss */
.form-horizontal .form-group .checkbox-container-left {
  text-align: left;
  width: 35px;
}

/* line 3, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .empty-list, #companies-list .card-grid-container .empty-list {
  background: none;
}
/* line 7, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid, #companies-list .card-grid-container .card-grid {
  margin: 0 -20px -30px 0;
}
/* line 10, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item, #companies-list .card-grid-container .card-grid .card-item {
  width: 190px;
  height: 260px;
  margin: 0 20px 30px 0;
  position: relative;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
}
/* line 23, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item:hover .item-head .head-checkbox, #companies-list .card-grid-container .card-grid .card-item:hover .item-head .head-checkbox {
  display: block;
}
/* line 29, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-head, #companies-list .card-grid-container .card-grid .card-item .item-head {
  width: 100%;
  height: 190px;
  padding-top: 30px;
}
/* line 34, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-head .head-container, #companies-list .card-grid-container .card-grid .card-item .item-head .head-container {
  width: 160px;
  margin: 0 auto;
  text-align: center;
}
/* line 39, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-head .head-container .head-image, #companies-list .card-grid-container .card-grid .card-item .item-head .head-container .head-image {
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100px;
  z-index: 0;
}
/* line 48, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-head .head-container .head-image.no-default .image-default, #companies-list .card-grid-container .card-grid .card-item .item-head .head-container .head-image.no-default .image-default {
  display: none;
}
/* line 53, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-head .head-container .head-image .image-default, #companies-list .card-grid-container .card-grid .card-item .item-head .head-container .head-image .image-default {
  position: relative;
  font-size: 100px;
  color: #e9e9e9;
}
/* line 59, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-head .head-container .head-image .image-content, #companies-list .card-grid-container .card-grid .card-item .item-head .head-container .head-image .image-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 71, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-head .head-container .head-name, #companies-list .card-grid-container .card-grid .card-item .item-head .head-container .head-name {
  margin-top: 14px;
  line-height: 18px;
}
/* line 77, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-head .head-checkbox, #companies-list .card-grid-container .card-grid .card-item .item-head .head-checkbox {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
}
/* line 87, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-info, #companies-list .card-grid-container .card-grid .card-item .item-info {
  width: 100%;
  height: 70px;
  padding: 15px;
  background-color: #ddd;
  border-radius: 0 0 3px 3px;
}
/* line 95, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-info .info-row, #companies-list .card-grid-container .card-grid .card-item .item-info .info-row {
  white-space: nowrap;
  overflow: hidden;
}
/* line 99, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-info .info-row .info-icon, #companies-list .card-grid-container .card-grid .card-item .item-info .info-row .info-icon {
  width: 15px;
  margin-right: 8px;
  color: white;
  text-align: center;
}
/* line 107, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .item-info .info-row .info-text, #companies-list .card-grid-container .card-grid .card-item .item-info .info-row .info-text {
  color: #999;
  font-size: 12px;
}
/* line 114, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item .action-navigator, #companies-list .card-grid-container .card-grid .card-item .action-navigator {
  cursor: pointer;
}
/* line 119, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .card-item.selected .head-checkbox, #companies-list .card-grid-container .card-grid .card-item.selected .head-checkbox {
  display: block;
}
/* line 125, ../scss/modules/card-grid.scss */
#people-list .card-grid-container .card-grid .empty-list, #companies-list .card-grid-container .card-grid .empty-list {
  background: none;
}

/* line 133, ../scss/modules/card-grid.scss */
#people-list .head-image {
  border: 1px solid #e9e9e9;
  border-radius: 50px;
}
/* line 137, ../scss/modules/card-grid.scss */
#people-list .head-image .image-default {
  top: 15px;
}
/* line 141, ../scss/modules/card-grid.scss */
#people-list .head-image .image-content {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 148, ../scss/modules/card-grid.scss */
#companies-list .head-image {
  border: none;
}
/* line 151, ../scss/modules/card-grid.scss */
#companies-list .head-image .image-default {
  top: 0;
}
/* line 155, ../scss/modules/card-grid.scss */
#companies-list .head-image .image-content {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 2, ../scss/modules/edit-detail.scss */
#contact-form .image, #account-form .image {
  position: relative;
  background-color: #fff;
  text-align: center;
}
/* line 8, ../scss/modules/edit-detail.scss */
#contact-form .image.no-default .image-default, #account-form .image.no-default .image-default {
  display: none;
}
/* line 13, ../scss/modules/edit-detail.scss */
#contact-form .image .image-default, #account-form .image .image-default {
  font-size: 250px;
  color: #ddd;
  position: relative;
  top: 15px;
}
/* line 20, ../scss/modules/edit-detail.scss */
#contact-form .image #image-content, #contact-form .image #image-dropzone, #account-form .image #image-content, #account-form .image #image-dropzone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 28, ../scss/modules/edit-detail.scss */
#contact-form .image #image-content, #account-form .image #image-content {
  background-repeat: no-repeat;
  background-position: center;
}

/* line 37, ../scss/modules/edit-detail.scss */
#contact-form .image #image-content {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 45, ../scss/modules/edit-detail.scss */
#account-form .image #image-content {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 51, ../scss/modules/edit-detail.scss */
#image-delete {
  z-index: 100;
  width: 30px;
  position: relative;
  display: none;
  border-radius: 3px;
  font-size: 12px;
  color: white;
  background-color: #52B6CA;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

/* line 69, ../scss/modules/edit-detail.scss */
#image-download {
  z-index: 100;
  width: 30px;
  position: relative;
  display: none;
  border-radius: 3px;
  font-size: 12px;
  color: white;
  background-color: #52B6CA;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

/* line 88, ../scss/modules/edit-detail.scss */
.no-default #image-delete {
  display: inline-block;
  left: 150px;
  top: 240px;
}
/* line 93, ../scss/modules/edit-detail.scss */
.no-default #image-download {
  display: inline-block;
  left: 80px;
  top: 240px;
}
