@import '../../containers/Application/colors.scss';

$loginTextColor: $white;
$formContainerBackgroundColor: rgba($black, .7);

.login {
    height: 100vh;
    background-image: url('./background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $loginTextColor;
    border-radius: 3px;
    font-size: 14px;
}

.logo {
    display: block;
    margin: 100px auto 120px;
}

.back-link {
    color: $loginTextColor;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.back-link-icon {
    margin-right: 10px;
}

.form-container {
    background-color: $formContainerBackgroundColor;
    padding: 40px;
    width: 500px;
    height: 680px;
}
