@import '../../containers/Application/colors.scss';

$formTextColor: $white;
$submitBackgroundColor: $shakespeare;

.form {
    width: 260px;
    margin: 0 auto;
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-in-out;

    &.visible {
        opacity: 1;
        pointer-events: auto;
    }
}

.login-form {
    transform: translateY(-20px);

    &.visible {
        transform: translateY(0);
    }
}

.reset-form {
    transform: translateY(-150px);

    &.visible {
        transform: translateY(-170px);
    }
}

.input-field {
    display: block;
    margin-bottom: 20px;
}

.label-text {
    margin-bottom: 10px;
}

.submit {
    width: 100%;
    height: 30px;
    color: $formTextColor;
    background-color: $submitBackgroundColor;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.change-form-button {
    background-color: transparent;
    border: 0;
    color: $formTextColor;
    margin-top: 10px;
    font-size: 10px;
    padding: 0;
    cursor: pointer;
}
