@import '../../containers/Application/colors.scss';

$formTextColor: $white;
$submitBackgroundColor: $shakespeare;

.form {
    margin: 0 auto;
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-in-out;

    &.visible {
        opacity: 1;
        pointer-events: auto;
    }

    fieldset {
        padding: 0;
        border: 0;
    }
}

.logo {
    display: block;
    margin: 0 auto 20px;
}

.header {
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
    margin: 20px auto 80px 0;
    text-align: center;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.login-form {
    transform: translateY(-20px);

    &.visible {
        transform: translateY(0);
    }
}

.reset-form {
    transform: translateY(-150px);

    &.visible {
        transform: translateY(-170px);
    }
}

.input-field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    margin-bottom: 10px;
}
