@import '../../containers/Application/colors.scss';

$loginTextColor: $black;
$borderColor: $mercury;
$formContainerBackgroundColor: $white;
$formContainerBoxShadow: 0 2px 18px 0 rgba($black, .22);

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $loginTextColor;
    border-radius: 3px;
    font-size: 14px;
}

.login-container {
    background-color: $formContainerBackgroundColor;
    box-shadow: $formContainerBoxShadow;
    width: 480px;
    min-height: 615px;
}

.logo-container {
    font-size: 70px;
    text-align: center;
}

.loader-container {
    flex-grow: 1;
    display: flex;
    height: 100%;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    min-height: 550px;
    padding: 70px 60px 60px;
}

.back-link-container {
    border-top: 1px solid $borderColor;
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.back-link {
    color: $loginTextColor;
    text-decoration: none;
}

.back-link-icon {
    margin-right: 10px;
}
