#language-selector {
    width: 95px;
}

#content-form {
    @include clear-float;

    .highlight-section .content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .validate-error {
        color: $red;
    }
}

.sortable-placeholder {
    margin-bottom: 20px;
}

/* smart content extension for internal links */
.smart-header {
    .add {
        display: block;
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 16px;
        line-height: 15px;
        color: white;
        background-color: #52b6ca;
        padding: 5px 10px;
        border: 0px solid $grayLighter;
        border-radius: 2px;
    }
}

.node {
    .overlay-content {
        margin: 0px;
    }

    .overlay-header {
        margin-bottom: 0px !important;
    }

    .overlay-footer {
        margin-top: -1px !important;
    }
}

/* smart content for column view */
.column-navigation-wrapper {
    overflow: inherit;
}

/* block add-button */
.text-block-footer.full {
    .action .dropdown-label {
        background-color: $grayLighter;
        cursor: default;
    }
}

/** multiple property */
#sulu-content-container .multiple-property {
    .move::before {
        left: -18px;
        top: 2px;
    }
}

#changelog-container {
    color: $grayLight;
}
