/**
 * Copy locales
 */

.copy-locales-overlay-content {
    margin-left: 20px;
    margin-right: 20px;

    label {
        display: inline;
    }

    .info {
        font-size: 12px;
        color: #999;
    }
}
