.order-table {
    list-style-type: none;
    padding: 0 40px 0 30px;

    &::after {
        display: table;
        content: "";
        clear: both;
    }

    li::after {
        clear: both;
    }

    .node-name,
    .options-select {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $grayLighterer;
    }

    .node-name {
        text-align: left;
        float: left;
        width: 95%;
    }

    .options-select {
        float: right;
        width: 5%;
        text-align: center;
    }
}
