.sulu-content-preview {
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: auto;

    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .wrapper {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
    }

    iframe {
        border: 0;
        width: 100%;
        height: 100%;
    }

    &.auto {
        .wrapper {
            width: 100%;
            height: 100%;
        }
        .viewport {
            width: 100%;
            height: 100%;
        }
    }
    &.desktop {
        background: #999999;
        .wrapper {
            width: 100%;
            height: 100%;
        }
        .viewport {
            width: 1024px;
            height: 100%;
        }
    }
    &.smartphone {
        background: #999999;
        .wrapper {
            width: 378px;
            height: 794px;
            background-image: url('../img/smartphone_portrait.png');
            background-size: 378px;
            background-repeat: no-repeat;
            background-position: 0 0;
            padding-top: 115px;
            padding-left: 30px;
        }
        .viewport {
            width: (640px)/2;
            height: (1136px)/2;
        }
    }
    &.tablet {
        background: #999999;
        .wrapper {
            width: 836px;
            height: 1282px;
            background-image: url('../img/tablet_portrait.png');
            background-size: 836px;
            background-repeat: no-repeat;
            background-position: 0 0;
            padding-top: 122px;
            padding-left: 30px;
        }
        .viewport {
            width: (1536px)/2;
            height: (2048px)/2;
        }
    }
}

.sulu-preview-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    height: 30px;
    color: #fff;
    font-weight: 100;

    .right {
        background: #21272E;
        height: 100%;
        border-radius: 0 0 0 3px;

        .new-window {
            width: 30px;
            overflow: hidden;
            text-align: center;
            padding-top: 5px;
            height: 30px;
            font-size: 18px;
            padding-left: 2px;
            line-height: 24px;
        }

        .refresh {
            width: 30px;
            overflow: hidden;
            text-align: center;
            padding-top: 5px;
            height: 30px;
            font-size: 18px;
            padding-left: 2px;
            line-height: 24px;
            border-right: 1px solid #fff;
        }

        .resolutions {
            border-right: 1px solid #fff;
            min-width: 125px;

            .drop-down-trigger {
                color: #fff;
                padding: 5px 10px;
            }

            .dropdown-toggle {
                display: inline-block;
                &::after {
                    top: -1px;
                    margin-left: 5px;
                    margint-right: 0;
                    border-top: 6px solid #fff;
                }
            }

            .dropdown-menu {
                background: #21272E;
                color: #fff;
                z-index: 105;
                top: 35px;
                left: -5px;
                border: 0;
                width: 100%;
            }
        }
    }

    .left {
        float: left;
        width: 30px;
        height: 30px;
        overflow: hidden;
        background: #21272E;
        text-align: center;
        line-height: 28px;
        border-radius: 0 0 0 2px;
        font-size: 20px;
        line-height: 32px;
    }
}

// screen max-width = width of navigation + width of fixed content + min width of maximum-sized sidebar
@media only screen and (max-width: 50px + $contentFixedSmallWidth + $sidebarMaxCollapseWidth) {
    .sulu-preview-toolbar {
        .resolutions {
            display: none;
        }
        .new-window {
            border-radius: 0 0 0 2px;
        }
    }
}

.hidden .sulu-preview-toolbar {
    display: none;
}
