.sulu-content-preview {
  width: 100%;
  height: 100%;
  border-left: 1px solid #666;

  iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }
}

.preview-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    height: 30px;
    color: #fff;
    font-weight: 100;

    .right {
        float: right;
        background: #21272E;
        height: 100%;
        border-radius: 0 0 0 3px;

        .new-window {
            width: 30px;
            overflow: hidden;
            text-align: center;
            padding-top: 5px;
            border-left: 1px solid #fff;
            height: 30px;
            font-size: 20px;
            line-height: 24px;
        }

        .resolutions {
            .drop-down-trigger {
                color: #fff;
                padding: 5px 10px;
            }

            .dropdown-toggle {
                display: inline-block;
                &::after {
                    top: -1px;
                    margin-left: 5px;
                    margint-right: 0;
                    border-top: 6px solid #fff;
                }
            }

            .dropdown-menu {
                background: #21272E;
                color: #fff;
                z-index: 105;
                top: 35px;
                left: -5px;
                border: 0;
                width: auto;
            }
        }
    }

    .left {
        float: left;
        width: 30px;
        height: 30px;
        overflow: hidden;
        background: #21272E;
        text-align: center;
        line-height: 28px;
        border-radius: 0 0 0 2px;
        font-size: 20px;
        line-height: 32px;
    }
}
