.resource-locator {
    input {
        width: 200px;
    }
    .show {
        padding-left: 5px;

        .icon {
            font-size: 14px;
            padding-right: 2px;
        }
    }
    .loader {
        display: inline-block;
        margin-bottom: -3px;
        margin-left: 5px;
    }
}

.resource-locator-history {
    padding: 20px 40px 20px 30px;

    .resource-locator-history-table {
        table-layout: fixed;
    }

    .url,
    .date,
    .options-delete {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $grayLighterer;
    }

    .url {
        width: 72.5%;
        word-wrap: break-word;
    }

    .date {
        width: 22.5%;
    }

    .options-delete {
        width: 5%;
        text-align: center;
    }

    .url {
        text-align: left;
    }
    .date {
        text-align: center;
    }
}
