.seo-excerpt {
    background: $white;
    width: 440px;
    position: relative;
    padding: 10px;
    margin-top: 10px;

    .title {
        color: #1111BD;
        font-size: 16px;
    }
    .url {
        color: #307F3A;
        font-size: 12px;
        line-height: 15px;
    }
    .description {
        font-size: 14px;
        color: $black;
        line-height: 16px;
    }
}

// FXIME: general warning class?
.seo-warning {
    color: $red;
}
