.seo-excerpt {
    background: #fff;
    width: 440px;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    .title {
        color: #1111BD;
        font-size: 16px;
    }
    .url {
        color: #307F3A;
        font-size: 12px;
        line-height: 15px;
    }
    .description {
        font-size: 14px;
        color: #000;
        line-height: 16px;
    }
}

// FXIME: general warning class?
.seo-warning {
    color: #EA524E;
}
