.teaser-selection {
    $effectDuration: 200ms;

    .white-box .content {
        max-height: inherit;
    }

    .dropdown-toggle::after {
        border-top: 6px solid #fff;
    }

    .husky-dropdown-trigger {
        width: 45px;
    }

    .selected-counter {
        left: 75px;
    }

    .present-as.icon {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;

        .selected-text {
            font-size: $baseFontSize;
            padding-left: 5px;
        }
    }

    .husky-overlay-container.type-content .overlay-content {
        margin: 0px;
    }

    .image .image-content {
        font-size: 46px;
        color: #ddd;
        position: relative;
        top: 8px;
    }

    .view {
        .value {
            float: left;
            width: 350px;

            .image {
                float: left;
            }

            .description {
                line-height: 14px;
                margin-top: -10px;
                margin-bottom: 0;
                font-size: 12px;
            }
        }

        .type {
            float: left;
            width: 140px;
        }

        .options {
            float: left;
            line-height: 50px;
        }

        &::after {
            clear: both;
        }
    }

    .move, .num, .remove {
        vertical-align: top;
        line-height: 50px;
    }

    .remove {
        top: inherit !important;
        margin-top: 5px !important;
    }

    a.btn {
        display: inline-block;
    }

    .edit {
        .edit-hint {
            width: 50px;
            height: 50px;
            position: relative;
            top: -53px;
            left: 0;
            opacity: 0;
            cursor: pointer;
            @include transition(opacity $effectDuration);

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background: black;
                opacity: 0.6;
                width: 100%;
                height: 100%;
                border-radius: 0 0 $borderRadius $borderRadius;
            }

            span {
                display: block;
                @include centerBlock;
                color: $white;
                font-size: 24px;
            }

            &:hover {
                opacity: 1;
            }
        }

    }
}

.teaser-selection-container {
    .view, .edit {
        display: inline-block;

        .hidden {
            display: none;
        }
    }

    .edit {
        width: 90%;
    }
}
