.webspace-settings.general {
    p.label {
        display: block;
        font-size: $baseFontSize;
        color: $grayLight;
        white-space: nowrap;
    }

    p.value {
        color: $grayLight;
        font-size: $baseFontSize;

        &.big {
            font-size: $reallyBigFontSize;
            line-height: 40px;
            height: 40px;
        }

        &.bold {
            font-weight: bolder;
        }
    }

    .webspace-name {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
