/* line 3, ../scss/modules/codes.scss */
table#codes tbody tr {
  border-color: #fff;
}
/* line 7, ../scss/modules/codes.scss */
table#codes tbody td {
  vertical-align: top !important;
}
/* line 11, ../scss/modules/codes.scss */
table#codes textarea {
  font-size: inherit !important;
}
/* line 15, ../scss/modules/codes.scss */
table#codes textarea[readonly] {
  padding: 10px 0;
  overflow: hidden;
}
/* line 20, ../scss/modules/codes.scss */
table#codes .additional-options {
  background: #f8f8f8;
}
/* line 24, ../scss/modules/codes.scss */
table#codes .show-options {
  bottom: -5px;
  left: -15px;
}
/* line 29, ../scss/modules/codes.scss */
table#codes .custom-icon-arrow-right {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent #000000;
}
/* line 37, ../scss/modules/codes.scss */
table#codes .custom-icon-arrow-down {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #000000 transparent transparent transparent;
}

/* line 1, ../scss/modules/utility.scss */
.grey {
  color: grey;
}

/* line 5, ../scss/modules/utility.scss */
.label-small {
  font-size: 14px;
}

/* line 9, ../scss/modules/utility.scss */
.relative {
  position: relative;
}

/* line 13, ../scss/modules/utility.scss */
.absolute {
  position: absolute;
}
