<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../TestBundle/Resources/app/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Sulu AdminBundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="KERNEL_CLASS" value="Sulu\Bundle\AdminBundle\Tests\Functional\AppKernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
</phpunit>
