@import '../../containers/Application/colors.scss';

$itemColor: $shakespeare;
$itemBorderColor: $shakespeare;

$itemBackgroundColorSelected: $shakespeare;
$itemColorSelected: $white;

.title {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.matrix {
    background: $white;
    border-radius: 3px;
    margin-top: 10px;
}

.row {
    border-bottom: 1px solid $mercury;
    padding: 8px 20px;

    > div:first-child {
        font-size: 12px;
        line-height: 22px;
        display: inline-block;
        width: 35%;
    }

    > div:last-child {
        display: inline-block;
        width: 65%;
    }

    &:last-child {
        border-bottom: none;
    }
}

.item {
    border-radius: 6px;
    border: 1px solid $itemBorderColor;
    color: $itemColor;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    height: 26px;
    width: 26px;

    &.selected {
        background-color: $itemBackgroundColorSelected;
        color: $itemColorSelected;
    }
}
