@import '../../containers/Application/colors.scss';

$rowFontColor: $blueZodiac;
$rowBorderColor: $mercury;

.row {
    color: $rowFontColor;

    .name,
    .items {
        border-bottom: 1px solid $rowBorderColor;
        width: 50%;
        padding: 8px 20px;
    }

    .name {
        font-size: 12px;
        line-height: 22px;
    }

    &:last-child {
        .name,
        .items {
            border-bottom: none;
        }
    }

    &:hover {
        .row-button {
            display: inline-block;
        }
    }
}

.row-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    line-height: 22px;
    margin: 0 7px;
    display: none;
}
