@import '../../containers/Application/colors.scss';

$focusColor: $shakespeare;
$fontColor: $black;

.action {
    width: 100%;
    position: relative;
    line-height: 20px;
    padding: 0 20px 0 30px;
    color: $fontColor;
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    font-size: 12px;

    &:focus {
        color: $focusColor;
    }
}
