@import '../../containers/Application/colors.scss';

$lineHeight: 28px;
$fontSize: 12px;
$color: $blueZodiac;
$backgroundColor: $white;
$borderSize: 1px;
$borderColor: $frenchGray;
$iconSize: 10px;
$hoverColor: $shakespeare;

.displayValue {
    cursor: pointer;
    position: relative;
    padding: 7px 30px 7px 10px;

    &.flat {
        border: none;
        background-color: transparent;
        color: inherit;
    }

    &.default {
        display: block;
        width: 100%;
        border: $borderSize solid $borderColor;
        border-radius: 3px;
        text-align: left;
        font-size: $fontSize;
        color: $blueZodiac;
        background: $backgroundColor;

        &:hover {
            color: $hoverColor;
        }
    }
}

.has-icon {
    padding-left: 30px;
    text-align: center;
}

.front-icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    line-height: calc($lineHeight - $borderSize);
    vertical-align: middle;
    font-size: $iconSize;
}

.toggle {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    line-height: calc($lineHeight - $borderSize);
    vertical-align: middle;
    font-size: $iconSize;
}
