@import '../../containers/Application/colors.scss';

$borderColor: $frenchGray;
$backgroundColor: $wildSand;

.dropdown {
    display: inline-block;
    position: absolute;
    border-radius: 2px;
    padding: 5px 0;
    border: 1px solid $borderColor;
    background: $backgroundColor;
    font-size: 12px;
    list-style-type: none;
    box-shadow: 2px 6px 12px 0 rgba($silver, .22);
    z-index: 1;
    margin: 0 0 0 -15px;
    overflow: auto;
}
