@import '../../containers/Application/colors.scss';

$hoverColor: $shakespeare;

.option {
    padding-left: 30px;
    padding-right: 20px;
    line-height: 20px;

    button {
        border: none;
        background: transparent;
        cursor: pointer;

        &:hover {
            color: $hoverColor;
        }
    }
}
