@import '../../containers/Application/colors.scss';

$lineHeight: 24px;
$fontSize: 12px;
$color: $blueZodiac;
$borderColor: $frenchGray;
$iconSize: 10px;
$hoverColor: $shakespeare;

.button {
    display: block;
    border: 1px solid $borderColor;
    padding: 0 20px;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    text-align: left;
    line-height: $lineHeight;
    font-size: $fontSize;
    color: $blueZodiac;

    &:hover {
        color: $hoverColor;
    }
}

.icon {
    position: relative;
    top: -1px;
    font-size: $iconSize;
    padding-left: 10px;
}

.dropdown {
    display: inline-block;
    border-radius: 2px;
    padding: 5px 0;
    margin: 0;
    border: 1px solid $borderColor;
    font-size: 12px;
    list-style-type: none;
    box-shadow: 2px 6px 12px 0 rgba($silver, .22);
}
