/*----------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/* line 5, ../scss/modules/location.scss */
.location-content-container {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 0 0 1px 1px;
}

/* line 12, ../scss/modules/location.scss */
.location-header {
  position: relative;
  top: 0px;
  left: 0px;
  height: 50px;
  border-bottom: 1px solid #dddddd;
  line-height: 50px;
  padding-left: 20px;
  font-size: 12px;
}
/* line 22, ../scss/modules/location.scss */
.location-header .desc {
  color: #999999;
  padding-right: 3px;
}
/* line 27, ../scss/modules/location.scss */
.location-header .location-content-configure {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px;
  line-height: 15px;
  color: black;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
/* line 39, ../scss/modules/location.scss */
.location-header .location-content-configure:hover {
  background: #efefef;
}

/* line 45, ../scss/modules/location.scss */
.location-content {
  position: relative;
  top: 0px;
  left: 0px;
}
/* line 50, ../scss/modules/location.scss */
.location-content .loader {
  padding: 50px 0;
}
/* line 54, ../scss/modules/location.scss */
.location-content .container {
  padding: 20px;
}
/* line 56, ../scss/modules/location.scss */
.location-content .container .field {
  color: #999999;
  text-align: right;
}
/* line 62, ../scss/modules/location.scss */
.location-content .source {
  color: #999999;
  display: block;
}

/* line 69, ../scss/modules/location.scss */
.location-footer {
  padding: 15px 20px 30px 20px;
  line-height: 14px;
  color: #999999;
  font-size: 12px;
}
/* line 74, ../scss/modules/location.scss */
.location-footer span {
  padding-right: 5px;
}
/* line 77, ../scss/modules/location.scss */
.location-footer .view-toggler {
  color: black;
  cursor: pointer;
}

/* line 85, ../scss/modules/location.scss */
.location-content-overlay .column-navigation-slide .overlay-header {
  margin-bottom: 1px;
}
/* line 88, ../scss/modules/location.scss */
.location-content-overlay .column-navigation-slide .overlay-content {
  margin: 0px;
}
/* line 92, ../scss/modules/location.scss */
.location-content-overlay .column-navigation-slide .overlay-footer {
  margin: 0px;
}
/* line 97, ../scss/modules/location.scss */
.location-content-overlay .overlay-header {
  margin-bottom: 15px;
}
/* line 100, ../scss/modules/location.scss */
.location-content-overlay .overlay-footer {
  margin-top: 5px;
}

/* line 105, ../scss/modules/location.scss */
.location-overlay-content {
  height: 100%;
  font-size: 12px;
}
/* line 109, ../scss/modules/location.scss */
.location-overlay-content .form-element {
  margin: 0;
}
/* line 112, ../scss/modules/location.scss */
.location-overlay-content .desc {
  font-size: 14px;
  color: #999999;
  padding-bottom: 5px;
  display: block;
}
/* line 118, ../scss/modules/location.scss */
.location-overlay-content .item, .location-overlay-content .item-half {
  margin-bottom: 25px;
  min-height: 55px;
}
/* line 122, ../scss/modules/location.scss */
.location-overlay-content .sublabel {
  font-size: 10px;
  color: #999999;
}
/* line 126, ../scss/modules/location.scss */
.location-overlay-content .item-half {
  float: left;
  width: 270px;
}
/* line 130, ../scss/modules/location.scss */
.location-overlay-content .item {
  padding-right: 20px;
}
/* line 133, ../scss/modules/location.scss */
.location-overlay-content .left {
  margin-right: 20px;
}
/* line 136, ../scss/modules/location.scss */
.location-overlay-content .full {
  padding-right: 0;
}
/* line 139, ../scss/modules/location.scss */
.location-overlay-content .check {
  margin-top: 30px;
}
/* line 141, ../scss/modules/location.scss */
.location-overlay-content .check .description {
  padding-left: 5px;
}
/* line 144, ../scss/modules/location.scss */
.location-overlay-content .check.disabled {
  display: none;
}
/* line 148, ../scss/modules/location.scss */
.location-overlay-content .sortMethod {
  margin-top: 25px;
}
/* line 152, ../scss/modules/location.scss */
.location-overlay-content input.limit-to,
.location-overlay-content input.data-source {
  padding-left: 10px;
  border-radius: 0;
}
/* line 156, ../scss/modules/location.scss */
.location-overlay-content .tags.disabled {
  display: none;
}
/* line 159, ../scss/modules/location.scss */
.location-overlay-content .tag-list {
  border-radius: 1px 1px 0 0;
}
/* line 161, ../scss/modules/location.scss */
.location-overlay-content .tag-list input {
  margin: 7px 0 0 0;
}

/* line 167, ../scss/modules/location.scss */
.location-map, .location-overlay-map {
  height: 230px;
}
