/*----------------------------------------*/
/* line 5, ../scss/modules/location.scss */
.content .location-map {
  margin: 20px;
}

/* line 9, ../scss/modules/location.scss */
.content .location-content-field-container {
  padding: 20px;
}

/* line 13, ../scss/modules/location.scss */
.location-map, .location-overlay-map {
  height: 230px;
}

/* line 17, ../scss/modules/location.scss */
.content.location-content {
  overflow: hidden;
}
