<form id="target-group-form" class="grid">
    <div class="highlight-section">
        <div class="grid-row fixed-width">
            <div class="content m-top-20 m-bottom-20">
                <div class="grid-row">
                    <div class="form-group grid-col-12 floating">
                        <label for="title" class="pointer required"><%= translations.title %></label>
                        <input id="title"
                               class="form-element input-bold"
                               type="text"
                               data-mapper-property="title"
                               data-validation-required="true"
                               data-validation-max-length="255"/>
                    </div>
                    <div class="form-group grid-col-12 floating">
                        <label for="details"><%= translations.description %></label>
                        <textarea id="details"
                                  name="details"
                                  class="small form-element"
                                  data-mapper-property="description"></textarea>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="form-group grid-col-6 floating">
                        <div class="form-group">
                            <label for="webspaces"><%= translations.webspaces %></label>
                            <div id="webspaces"
                                 data-type="husky-select"
                                 data-form="true"
                                 data-aura-component="select@husky"
                                 data-aura-pre-selected-elements='<%= JSON.stringify(data.webspaces) %>'
                                 data-aura-checked-all-label="<%= translations.all %>"
                                 data-aura-default-label="<%= translations.pleaseChoose %>"
                                 data-aura-multiple-select="true"
                                 data-aura-data="{{ webspaces|json_encode }}"></div>
                        </div>
                    </div>
                    <div class="form-group grid-col-4 floating">
                        <div class="form-group">
                            <label for="priority" class="required"><%= translations.priority %></label>
                            <div id="priority"
                                 data-type="husky-select"
                                 data-form="true"
                                 data-aura-component="select@husky"
                                 data-mapper-property="priority"
                                 data-mapper-return-value="value"
                                 data-aura-default-label="<%= translations.pleaseChoose %>"
                                 data-aura-data="{{ priorities|json_encode }}"
                                 data-aura-multiple-select="false"
                                 data-validation-required="true"></div>
                        </div>
                    </div>
                    <div class="form-group grid-col-2 floating">
                        <label for="is-active"><%= translations.active %></label>
                        <div id="is-active"
                             class="preview-update trigger-save-button"
                             data-form="true"
                             data-aura-component="toggler@husky"
                             data-aura-instance-name="is-active"
                             data-checked="true"
                             data-type="toggler"
                             data-mapper-property="active"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-width">
        <div class="grid-row">
            <div class="form-group grid-col-12">
                <label><%= translations.ruleSets %></label>
                <div class="input-description"><%= translations.ruleSetsDescription %></div>
            </div>
        </div>
        <div class="grid-row">
            <div id="rules-list-toolbar"/>
            <div id="rules-list"/>
        </div>
    </div>
</form>
