<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="../TestBundle/Resources/app/bootstrap.php"
    processIsolation="false"
>
    <testsuites>
        <testsuite name="Sulu DocumentManager Bundle">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>Resources/</directory>
                <directory>Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="APP_ENV" value="test"/>
        <env name="KERNEL_CLASS" value="Sulu\Bundle\DocumentManagerBundle\Tests\Functional\AppKernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
</phpunit>

