{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('sulu_admin.login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ username }}"/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password"/>

    <input type="hidden" name="_target_path" value="/admin"/>

    <button type="submit">login</button>
</form>